Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-dockerfile, setup-order, setup-installation, update-breeze-file, update-local-yml-file, update-extras, pydevd, dont-use-safe-filter, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, check-integrations, check-apache-license, airflow-config-yaml, pre-commit-descriptions, helm-lint, shellcheck, bats-tests, sort-in-the-wild, markdownlint, mypy, flake8, bats-in-container-tests

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py

setup-installation:
  name: Checks if all the libraries in setup.py are listed in installation.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_installation.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

python2-fastcheck:
  name: Find common Python 3 vs. 2.7 compatibility problems
  language: pygrep
  ...

python2-compile:
  name: Compile code using python2
  language: system
  entry: python2.7 -m py_compile
  pass_filenames: true
  require_serial: true

incorrect-use-of-LoggingMixin:
  language: pygrep
  name: Make sure LoggingMixin is not used alone
  entry: LoggingMixin\(\)
  pass_filenames: true

check-integrations:
  name: Check if integration list is aligned
  entry: ./scripts/ci/pre_commit/pre_commit_check_integrations.sh
  language: system
  pass_filenames: false

check-apache-license:
  name: Check if licenses are OK for Apache
  entry: ./scripts/ci/pre_commit/pre_commit_check_license.sh
  language: system
  pass_filenames: false

airflow-config-yaml:
  name: Checks for consistency between config.yml and default_config.cfg
  language: python
  entry: ./scripts/ci/pre_commit/pre_commit_yaml_to_cfg.py
  pass_filenames: false
  require_serial: true
  additional_dependencies:
  - pyyaml

pre-commit-descriptions:
  name: Check if pre-commits are described
  entry: ./scripts/ci/pre_commit/pre_commit_check_pre_commits.sh
  language: system
  require_serial: true

helm-lint:
  name: Lint Helm Chart
  entry: ./scripts/ci/pre_commit/pre_commit_helm_lint.sh
  language: system
  pass_filenames: false
  require_serial: true

Skip identity pre-commit in ci and always display it first (#13106)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: language-matters, python2-fastcheck, pre-commit-descriptions, sort-in-the-wild

Annotate DagRun methods with return types (#11486)
  airflow/models/dagrun.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Update docs link in REST API spec (#13107)
  airflow/api_connexion/openapi/v1.yaml
Due: language-matters, python2-fastcheck

Add The Dyrt to INTHEWILD.md (#13098)
  INTHEWILD.md
Due: language-matters, python2-fastcheck, sort-in-the-wild, markdownlint

Add Trade Republic to list of Airflow users (#13111)
  INTHEWILD.md
Due: language-matters, python2-fastcheck, sort-in-the-wild, markdownlint

Avoid confusion in doc for CeleryKubernetesExecutor (#13116)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/celery_kubernetes_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, airflow-config-yaml, mypy, flake8

For v2 target branches python 2.7 and 3.5 images are skipped (#13118)
  .github/workflows/build-images-workflow-run.yml
Due: language-matters, python2-fastcheck

Add guidelines for promoting Committers to PMC (#13090)
  CONTRIBUTING.rst
Due: update-extras, language-matters, python2-fastcheck

Cleans all DBs on ./breeze stop (#13119)
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
  scripts/ci/docker-compose/backend-sqlite.yml
  scripts/ci/docker-compose/base.yml
Due: language-matters

Remove Kaxil's old record in INTHEWILD.md (#13123)
  INTHEWILD.md
Due: language-matters, python2-fastcheck, sort-in-the-wild, markdownlint

Fix spelling (#13130)
  Dockerfile
  IMAGES.rst
  UPDATING.md
  airflow/api_connexion/openapi/v1.yaml
  airflow/sentry.py
  airflow/www/templates/airflow/tree.html
  docs/apache-airflow/concepts.rst
  scripts/ci/libraries/_build_images.sh
  setup.py
  tests/core/test_configuration.py
  tests/lineage/test_lineage.py
  tests/models/test_taskinstance.py
  tests/providers/google/suite/hooks/test_sheets.py
Due: lint-dockerfile, setup-order, setup-installation, update-extras, pydevd, dont-use-safe-filter, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, shellcheck, bats-tests, markdownlint, mypy, flake8

Fix Google BigQueryHook method get_schema() (#13136)
  airflow/providers/google/cloud/hooks/bigquery.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Add system tests for CloudKMSHook (#13122)
  airflow/providers/google/cloud/hooks/kms.py
  tests/providers/google/cloud/hooks/test_kms_system.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/test_utils/gcp_system_helpers.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Fix typo in provider name - Oracle (#13147)
  airflow/providers/oracle/provider.yaml
Due: language-matters, python2-fastcheck

The default value in chart should be 2.0.0 (#13125)
  chart/values.yaml
Due: language-matters, helm-lint

Fix spelling (#13135)
  airflow/providers/amazon/aws/hooks/batch_client.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Add Airflow 2.0.0 to requirements table (#13140)
  README.md
Due: language-matters, python2-fastcheck, markdownlint

Fix Headings in CONTRIBUTING.rst (#13120)
  CONTRIBUTING.rst
Due: update-extras, language-matters, python2-fastcheck

Use generic information in UpdateMask component (#13146)
  airflow/api_connexion/openapi/v1.yaml
Due: language-matters, python2-fastcheck

Fix invalid provider name - Apache Kylin (#13157)
  airflow/providers/apache/kylin/provider.yaml
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
Due: pydevd, language-matters, python2-fastcheck, incorrect-use-of-LoggingMixin, mypy, flake8

Minor style fix in docs/extra-packages-ref (#13159)
  docs/apache-airflow/extra-packages-ref.rst
Due: language-matters

Add missing version information to recently added configs (#13161)
  airflow/config_templates/config.yml
Due: language-matters, python2-fastcheck, airflow-config-yaml

Remove duplicate pre-commit checks (#13167)
  .pre-commit-config.yaml
Due: language-matters, python2-fastcheck, pre-commit-descriptions, sort-in-the-wild

Sync Updating Guide with 2.0.0 (#13168)
  UPDATING.md
Due: language-matters, python2-fastcheck, markdownlint

Replace deprecated dummy operator path in test_zip.zip (#13172)
  tests/dags/test_zip.zip
Due: language-matters, python2-fastcheck

Fix typos in TESTING.rst (#13169)
  TESTING.rst
Due: language-matters, python2-fastcheck

Filter DagRuns with Task Instances in removed State while Scheduling (#13165)
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Stop sending Callback Requests if no callbacks are defined on DAG (#13163)
  airflow/models/dagrun.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

User werkzeug's own type conversion for request args (#13184)
  airflow/www/views.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Display alternative tooltip when a Task has yet to run (no TI) (#13162)
  airflow/www/static/js/task-instances.js
  airflow/www/templates/airflow/graph.html
Due: dont-use-safe-filter, language-matters, python2-fastcheck

Use new logging options on values.yaml (#13173)
  chart/values.yaml
Due: language-matters, helm-lint

Add documentation about webserver_config.py (#13155)
  airflow/config_templates/default_webserver_config.py
  docs/apache-airflow/security/webserver.rst
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Update pylint to 2.6.0 (#13174)
  pylintrc
  setup.py
  tests/jobs/test_scheduler_job.py
Due: setup-order, setup-installation, update-extras, pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Remove unused libraries - flask-swagger, funcsigs (#13178)
  Dockerfile.ci
  setup.cfg
Due: lint-dockerfile, language-matters, python2-fastcheck

Fix brokend master (#13201)
  CHANGELOG.txt
  tests/operators/test_python.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Fix parenthesis preventing Keda ScaledObject creation (#13183)
  chart/templates/workers/worker-kedaautoscaler.yaml
  chart/tests/helm_template_generator.py
  chart/tests/test_keda.py
Due: pydevd, language-matters, incorrect-use-of-LoggingMixin, helm-lint, mypy, flake8

Make function purpose clearer in example_kubernetes_executor example dag (#13216)
  airflow/example_dags/example_kubernetes_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Update chart readme to remove astronomer references (#13210)
  chart/README.md
Due: language-matters, helm-lint, markdownlint

Add Mutt Data to INTHEWILD.md (#13227)
  INTHEWILD.md
Due: language-matters, python2-fastcheck, sort-in-the-wild, markdownlint

Path conditions:
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$
  setup-installation: any of: ^setup.py$|^docs/installation.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  language-matters: any file but: (?x) ^airflow/contrib/hooks/cassandra_hook.py$| ^airflow/operators/hive_stats_operator.py$| ^tests/contrib/hooks/test_cassandra_hook.py| ^CHANGELOG.txt

  python2-fastcheck: any file but: ^dev|^scripts|^docs|^chart
  python2-compile: any of: \.py$, but not: ^dev|^scripts|^docs|^chart
  incorrect-use-of-LoggingMixin: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container/.*bats$|^scripts/in_container/.*sh$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  mypy: (any of: \.py$, but not: ^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$, but not: ^dev)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
