Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Update unit tests for Datastore operators
  tests/providers/google/cloud/operators/test_datastore.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add links for Cloud Datastore operators
  airflow/providers/google/cloud/links/datastore.py
  airflow/providers/google/cloud/operators/datastore.py
  airflow/providers/google/provider.yaml
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Change CloudDatastoreExportEntitiesLink to StorageLink
  airflow/providers/google/cloud/links/datastore.py
  airflow/providers/google/cloud/operators/datastore.py
  airflow/providers/google/provider.yaml
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Fix pre-commit check
  airflow/providers/google/cloud/links/datastore.py
  airflow/providers/google/cloud/operators/datastore.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Change ComputeSSH to throw provider import error instead paramiko (#23035)
  airflow/providers/google/cloud/hooks/compute_ssh.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Simplify Task exception trackback truncation to never warn (#23121)
  airflow/models/taskinstance.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Use separate flag to bubble expansion info
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  tests/models/test_dagrun.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Ensure that we don't schedule all mapped TIs when one is cleared (#23130)
  airflow/models/dagrun.py
  tests/models/test_dagrun.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! Add configuration option for extras
  CONTRIBUTING.rst
  dev/provider_packages/README.md
  docs/apache-airflow/installation/installing-from-pypi.rst
  scripts/tools/initialize_virtualenv.py
Due: update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, flynt, mypy, flake8

When expanding a task end up skipping it, ensure we don't deadlock the DagRun (#23134)
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  tests/models/test_dagrun.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

code review fixes
  docs/docker-stack/build.rst
Due: language-matters, provider-yamls

recipes documentation: update airflow version
  docs/docker-stack/recipes.rst
Due: language-matters, provider-yamls

add script to initialise virtualenv (#22971)
  BREEZE.rst
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  dev/provider_packages/README.md
  docs/apache-airflow/installation/installing-from-pypi.rst
  scripts/tools/initialize_virtualenv.py
Due: update-breeze-file, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, flynt, mypy, flake8

Change `[api] auth_backends` to be comma separated
  airflow/api/__init__.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/www/extensions/init_security.py
  docs/apache-airflow/security/api.rst
  tests/api_connexion/test_auth.py
  tests/core/test_configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Task actions UI for individual mapped instances (#23127)
  airflow/www/static/js/dag.js
  airflow/www/static/js/tree/Table.jsx
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useConfirmMarkTask.js
  airflow/www/static/js/tree/api/useMarkFailedTask.js
  airflow/www/static/js/tree/api/useMarkSuccessTask.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/details/content/taskInstance/MappedInstances.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Run.jsx
  airflow/www/templates/airflow/dag.html
  airflow/www/utils.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix TI failure handling when task cannot be unmapped. (#23119)
  airflow/dag_processing/processor.py
  airflow/models/taskfail.py
  airflow/models/taskinstance.py
  tests/api/common/test_delete_dag.py
  tests/callbacks/test_callback_requests.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix Build docs failure
  docs/docker-stack/build.rst
Due: language-matters, provider-yamls

Fix timezone display for logs on UI (#23075)
  airflow/www/static/js/datetime_utils.js
  airflow/www/static/js/ti_log.js
Due: language-matters

KubernetesHook should try incluster first when not otherwise configured (#23126)
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

minor callable fix
  docs/apache-airflow/concepts/tasks.rst
Due: language-matters, provider-yamls

Allow bulk mapped task actions
  airflow/www/static/js/tree/Table.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Run.jsx
Due: language-matters

Readd mapped instance table selection
  airflow/www/static/js/tree/Table.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Run.jsx
Due: language-matters

Fix gantt/graph modal
  airflow/www/static/js/dag.js
Due: language-matters

Fix grid error handling
  airflow/www/static/js/tree/api/useClearRun.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useMarkFailedRun.js
  airflow/www/static/js/tree/api/useMarkFailedTask.js
  airflow/www/static/js/tree/api/useMarkSuccessRun.js
  airflow/www/static/js/tree/api/useMarkSuccessTask.js
  airflow/www/static/js/tree/api/useQueueRun.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/api/useTreeData.js
  airflow/www/static/js/tree/details/content/dagRun/ClearRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkFailedRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkSuccessRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/QueueRun.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
  airflow/www/static/js/tree/useErrorToast.js
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix incorrect rebase
  airflow/www/static/js/dag.js
Due: language-matters

Change `[api] auth_backends` to be comma separated (#23138)
  airflow/api/__init__.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/www/extensions/init_security.py
  docs/apache-airflow/security/api.rst
  tests/api_connexion/test_auth.py
  tests/core/test_configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, json-schema, flynt, mypy, pylint, flake8

add "description" fields in the variable API json response
  airflow/api_connexion/endpoints/variable_endpoint.py
  airflow/api_connexion/schemas/variable_schema.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Updating constraints. Build id:2203149733
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: language-matters

Fix error handling in Grid view (#23152)
  airflow/www/static/js/tree/api/useClearRun.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useMarkFailedRun.js
  airflow/www/static/js/tree/api/useMarkFailedTask.js
  airflow/www/static/js/tree/api/useMarkSuccessRun.js
  airflow/www/static/js/tree/api/useMarkSuccessTask.js
  airflow/www/static/js/tree/api/useQueueRun.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/api/useTreeData.js
  airflow/www/static/js/tree/details/content/dagRun/ClearRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkFailedRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkSuccessRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/QueueRun.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
  airflow/www/static/js/tree/useErrorToast.js
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add isLoading to ConfirmDialog
  airflow/www/static/js/tree/api/useConfirmMarkTask.js
  airflow/www/static/js/tree/details/content/ConfirmDialog.jsx
  airflow/www/static/js/tree/details/content/dagRun/ClearRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkFailedRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkSuccessRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/QueueRun.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
Due: language-matters

Add isLoading to ConfirmDialog (#23155)
  airflow/www/static/js/tree/api/useConfirmMarkTask.js
  airflow/www/static/js/tree/details/content/ConfirmDialog.jsx
  airflow/www/static/js/tree/details/content/dagRun/ClearRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkFailedRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkSuccessRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/QueueRun.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
Due: language-matters

Fix false warnings re non-JSON extra params
  airflow/models/connection.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add support for multiple codespace configuration
  .devcontainer/mysql/devcontainer.json
  .devcontainer/postgres/devcontainer.json
Due: language-matters

Initialize finished counter at zero
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix false warnings re non-JSON extra params (#23157)
  airflow/models/connection.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add force remove option
  airflow/providers/docker/operators/docker.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Adding support for multiple hostnames in Task Instances (2/?)
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/utils/log/file_task_handler.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix deprecated and updated env var config handling
  airflow/configuration.py
  tests/core/test_configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add support for multiple codespace configuration (#23158)
  .devcontainer/mysql/devcontainer.json
  .devcontainer/postgres/devcontainer.json
Due: language-matters

Parse error for task added to multiple groups
  airflow/exceptions.py
  airflow/utils/task_group.py
  tests/utils/test_task_group.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
