Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-and-lint-javascript, run-mypy, run-flake8, update-migration-references, update-er-diagram

Path conditions:
  replace-bad-characters: any file but: ^airflow/_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$|^airflow/providers/.*/provider.yaml$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration.py|^airflow/providers|^scripts/in_container/verify_providers.py
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^.*\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$|^\.pre-commit-config\.yaml$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^airflow/_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-and-lint-javascript: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1.yaml and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$, \.(yaml|yml)$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev|^tests/system/providers|^tests/providers)) or (any of: ^airflow/providers/.*\.py$|^tests/system/providers/\*.py|^tests/providers/\*.py)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Refactor rename LivyHookAsync to LivyAsyncHook
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/triggers/livy.py
  tests/providers/apache/livy/hooks/test_livy.py
  tests/providers/apache/livy/triggers/test_livy.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

test(providers/apache/livy): catch uncaught TaskDeferred exception
  tests/providers/apache/livy/operators/test_livy.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

Avoid unneeded Connexion constructs (#29631)
  airflow/www/extensions/init_views.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

introduce dag processor job (#28799)
  airflow/cli/commands/dag_processor_command.py
  airflow/jobs/dag_processor_job.py
  tests/cli/commands/test_dag_processor_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add test for list of serializable fields.
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Make deserialize serde-compatible
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Remove redundant fields from serialized dictionary
  airflow/models/taskinstance.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Clarify deserialize error message.
  airflow/models/taskinstance.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Apply reviewers comments
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fix test_recursive_serialize_calls_must_forward_kwargs test
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

separate stale jobs to dedicate jobs in different intervals
  .github/workflows/recheck-old-bug-report.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

avoid PRs modifications
  .github/workflows/recheck-old-bug-report.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Adding documentation & fixing log path
  airflow/providers/google/suite/hooks/drive.py
  airflow/providers/google/suite/transfers/local_to_drive.py
  tests/providers/google/suite/hooks/test_drive.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

docs: fix typo
  docs/apache-airflow-providers-amazon/logging/s3-task-handler.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Add wait_for_completion param in RedshiftCreateClusterOperator
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  tests/providers/amazon/aws/operators/test_redshift_cluster.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add wait_for_completion param in RedshiftCreateClusterOperator
  airflow/providers/amazon/aws/operators/redshift_cluster.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Remove references to botocore non-public APIs
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

docs: fix typo (#29658)
  docs/apache-airflow-providers-amazon/logging/s3-task-handler.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Fixing tests + adding max nested level
  airflow/providers/google/suite/hooks/drive.py
  tests/providers/google/suite/hooks/test_drive.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Formatting
  airflow/providers/google/suite/hooks/drive.py
  tests/providers/google/suite/hooks/test_drive.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Removing more unwanted formatting
  airflow/providers/google/suite/hooks/drive.py
  tests/providers/google/suite/hooks/test_drive.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Fixup linting
  tests/providers/amazon/aws/hooks/test_base_aws.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

Add example to documentation
  docs/apache-airflow-providers-amazon/connections/aws.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Quarantine `test_cli_internal_api_background`
  tests/cli/commands/test_internal_api_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Quarantine `test_cli_internal_api_background` (#29665)
  tests/cli/commands/test_internal_api_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add wait_for_completion param in RedshiftCreateClusterOperator
  tests/providers/amazon/aws/operators/test_redshift_cluster.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

Add Maciej Obuchowski to triage to help with AIP-53 issues
  .asf.yaml
Due: replace-bad-characters, check-for-inclusive-language

Add Maciej Obuchowski to triage to help with AIP-53 issues (#29668)
  .asf.yaml
Due: replace-bad-characters, check-for-inclusive-language

Disable unixodbc and related packages from Microsoft APT repo
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_mssql.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, check-for-inclusive-language, run-shellcheck, update-inlined-dockerfile-scripts

Address feedbacks
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

remove <2.0.0 limit from google-cloud-bigtable
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/index.rst
  generated/provider_dependencies.json
Due: replace-bad-characters, update-providers-dependencies, update-version, check-for-inclusive-language, check-provider-yaml-valid, check-system-tests-tocs

sort and appease mypy
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/operators/bigtable.py
  airflow/providers/google/cloud/sensors/bigtable.py
  tests/providers/google/cloud/hooks/test_bigtable.py
  tests/providers/google/cloud/operators/test_bigtable.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

one more
  airflow/providers/google/cloud/hooks/bigtable.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

bump minimum past 1.x series
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/index.rst
  generated/provider_dependencies.json
Due: replace-bad-characters, update-providers-dependencies, update-version, check-for-inclusive-language, check-provider-yaml-valid, check-system-tests-tocs

basic path changes
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/operators/bigtable.py
  airflow/providers/google/cloud/sensors/bigtable.py
  tests/providers/google/cloud/hooks/test_bigtable.py
  tests/providers/google/cloud/operators/test_bigtable.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Avoid modifying PRs in Recheck old bug reports workflow (#29653)
  .github/workflows/recheck-old-bug-report.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

support endpoint field in airflow
  airflow/providers/yandex/hooks/yandex.py
  docs/apache-airflow-providers-yandex/connections/yandexcloud.rst
  tests/providers/yandex/hooks/test_yandex.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

typing
  airflow/providers/yandex/hooks/yandex.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

FIx formatting of Dataset inlet/outlet note in TaskFlow concepts
  docs/apache-airflow/core-concepts/taskflow.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid
