Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-dockerfile, setup-order, setup-installation, update-breeze-file, update-local-yml-file, update-extras, pydevd, dont-use-safe-filter, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, check-integrations, check-apache-license, airflow-config-yaml, pre-commit-descriptions, helm-lint, shellcheck, bats-tests, sort-in-the-wild, markdownlint, mypy, flake8, bats-in-container-tests

Path conditions:
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$
  setup-installation: any of: ^setup.py$|^docs/installation.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  language-matters: any file but: (?x) ^airflow/contrib/hooks/cassandra_hook.py$| ^airflow/operators/hive_stats_operator.py$| ^tests/contrib/hooks/test_cassandra_hook.py| ^CHANGELOG.txt

  python2-fastcheck: any file but: ^dev|^scripts|^docs|^chart
  python2-compile: any of: \.py$, but not: ^dev|^scripts|^docs|^chart
  incorrect-use-of-LoggingMixin: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container/.*bats$|^scripts/in_container/.*sh$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  mypy: (any of: \.py$, but not: ^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$, but not: ^dev)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[FIX] 修复没有速度曲线的曲线显示
  airflow/entities/curve_storage.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Add Google Cloud Workflows Operators
  airflow/providers/google/cloud/hooks/workflows.py
  airflow/providers/google/cloud/operators/workflows.py
  setup.py
  tests/providers/google/cloud/hooks/test_workflows.py
  tests/providers/google/cloud/operators/test_workflows.py
Due: setup-order, setup-installation, update-extras, pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Add system test, example and sensor
  airflow/providers/google/cloud/example_dags/example_workflows.py
  airflow/providers/google/cloud/hooks/workflows.py
  airflow/providers/google/cloud/operators/workflows.py
  airflow/providers/google/cloud/sensors/workflows.py
  tests/providers/google/cloud/hooks/test_workflows.py
  tests/providers/google/cloud/operators/test_workflows.py
  tests/providers/google/cloud/operators/test_workflows_system.py
  tests/providers/google/cloud/sensors/test_workflows.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Improve GCS system test envs
  airflow/providers/google/cloud/example_dags/example_gcs.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

fixup! Pass Flag to not load operator links for Scheduler
  airflow/models/dagbag.py
  airflow/models/serialized_dag.py
  airflow/serialization/serialized_objects.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Rename operators and add docs
  airflow/providers/google/cloud/example_dags/example_workflows.py
  airflow/providers/google/cloud/hooks/workflows.py
  airflow/providers/google/cloud/operators/workflows.py
  airflow/providers/google/cloud/sensors/workflows.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/workflows.rst
  setup.py
  tests/providers/google/cloud/operators/test_workflows.py
  tests/providers/google/cloud/sensors/test_workflows.py
Due: setup-order, setup-installation, update-extras, pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

removed trailing whitespace from oracle.rst
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

change http to doc link
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

Revert "change http to doc link"
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

added links and tips to oracle.rst
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

Update oracle.rst
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

Update docs/apache-airflow-providers-oracle/connections/oracle.rst
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

remove trailing whitespace from oracle.rst
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

Better formatting
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Due: language-matters

Fix ssh-key access issue
  chart/files/pod-template-file.kubernetes-helm-yaml
Due: language-matters, helm-lint

Created DatabaseVersionCheckRule class
  airflow/upgrade/rules/postgres_mysql_sqlite_version_upgrade_check.py
  tests/upgrade/rules/test_postgres_mysql_sqlite_version_upgrade_check.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

remove unneeded check
  airflow/executors/mesos_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Update INTHEWILD.md
  INTHEWILD.md
Due: language-matters, python2-fastcheck, sort-in-the-wild, markdownlint

Use template strings for string concatenation in JS code in dags.html
  airflow/www/templates/airflow/dags.html
Due: dont-use-safe-filter, language-matters, python2-fastcheck

fixed typo
  airflow/upgrade/rules/postgres_mysql_sqlite_version_upgrade_check.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Updating constraints. Build id:518588055
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
Due: language-matters, python2-fastcheck

Allow getting details of a DAG with null start_date
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_dag_endpoint.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Fixed reading from zip package to default to text.
  airflow/utils/file.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

fix celery kubernetes bug
  airflow/executors/celery_kubernetes_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

fix slots available issue
  airflow/executors/celery_kubernetes_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

celery worker must always use CeleryExecutor
  airflow/cli/cli_parser.py
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_worker.py
  docs/apache-airflow/executor/celery_kubernetes.rst
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, helm-lint, mypy, flake8

flower to also use celeryexecutor
  airflow/cli/cli_parser.py
  chart/templates/flower/flower-deployment.yaml
  chart/tests/test_celery.py
  tests/executors/test_celery_kubernetes_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, helm-lint, mypy, flake8

use setter approach
  airflow/executors/celery_kubernetes_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

add test for job id setter
  tests/executors/test_celery_kubernetes_executor.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

fixup! Fix DB Migration for SQLite to upgrade to 2.0
  airflow/migrations/versions/cf5dc11e79ad_drop_user_and_chart.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Fix DB Migration for SQLite to upgrade to 2.0
  airflow/migrations/versions/cf5dc11e79ad_drop_user_and_chart.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

fix spelling
  docs/spelling_wordlist.txt
Due: language-matters

fix typo to IGNOREABLE
  airflow/ti_deps/deps/not_previously_skipped_dep.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

fix typo
  airflow/models/taskinstance.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Add test for Public role permissions.
  tests/www/test_security.py
Due: pydevd, language-matters, python2-fastcheck, python2-compile, incorrect-use-of-LoggingMixin, mypy, flake8

Fix docs on scheduler latency
  docs/apache-airflow/faq.rst
  docs/apache-airflow/scheduler.rst
  docs/build_docs.py
Due: pydevd, language-matters, incorrect-use-of-LoggingMixin, mypy, flake8

Updated taskflow api doc to show dependency with sensor Updated the taskflow api tutorial document to show how to setup a dependency to a python-based decorated task from a classic FileSensor task.
  docs/apache-airflow/tutorial_taskflow_api.rst
Due: language-matters
