Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Add test for ProviderManager change
  airflow-core/tests/unit/always/test_providers_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Enhance CLI warnings for missing 'cli' sections in provider info for executors and auth managers
  airflow-core/src/airflow/cli/cli_parser.py
  airflow-core/tests/unit/cli/test_cli_parser.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Refactor skip_cli_test function to simplify logic and remove unnecessary condition for Airflow 3.2+
  devel-common/src/tests_common/test_utils/cli.py
  providers/fab/tests/unit/fab/auth_manager/cli_commands/test_db_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Doc: mention provider-level CLI in airflow-core doc
  airflow-core/docs/cli-and-env-variables-ref.rst
  airflow-core/docs/core-concepts/auth-manager/index.rst
  airflow-core/docs/core-concepts/executor/index.rst
Due: replace-bad-characters

Doc: Move generate doc get_parser to .cli.definition for each provider
  providers/amazon/docs/cli-ref.rst
  providers/amazon/src/airflow/providers/amazon/aws/auth_manager/aws_auth_manager.py
  providers/amazon/src/airflow/providers/amazon/aws/cli/definition.py
  providers/celery/docs/cli-ref.rst
  providers/celery/src/airflow/providers/celery/cli/definition.py
  providers/celery/src/airflow/providers/celery/executors/celery_executor.py
  providers/cncf/kubernetes/docs/cli-ref.rst
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/cli/definition.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/edge3/docs/cli-ref.rst
  providers/edge3/src/airflow/providers/edge3/cli/definition.py
  providers/edge3/src/airflow/providers/edge3/executors/edge_executor.py
  providers/fab/docs/cli-ref.rst
  providers/fab/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/fab/src/airflow/providers/fab/cli/definition.py
  providers/keycloak/docs/auth-manager/manage/permissions.rst
  providers/keycloak/docs/cli-ref.rst
  providers/keycloak/docs/index.rst
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/keycloak_auth_manager.py
  providers/keycloak/src/airflow/providers/keycloak/cli/definition.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix tests
  airflow-core/src/airflow/providers_manager.py
  airflow-core/tests/unit/cli/test_cli_parser.py
  devel-common/src/tests_common/test_utils/cli.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/cli/test_definition.py
  providers/edge3/tests/unit/edge3/cli/test_definition.py
  providers/edge3/tests/unit/edge3/cli/test_worker.py
  providers/fab/tests/unit/fab/auth_manager/cli_commands/test_db_command.py
  providers/keycloak/tests/unit/keycloak/auth_manager/cli/test_commands.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Improve cli_parser speed by skipping _correctness_check for AuthManager and Executor
  airflow-core/src/airflow/cli/cli_parser.py
  airflow-core/src/airflow/providers_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Fix mypy error and import for test
  airflow-core/src/airflow/providers_manager.py
  providers/amazon/tests/unit/amazon/aws/cli/__init__.py
  providers/amazon/tests/unit/amazon/aws/cli/test_definition.py
  providers/fab/tests/unit/fab/cli/__init__.py
  providers/fab/tests/unit/fab/cli/test_definition.py
  providers/keycloak/tests/unit/keycloak/cli/__init__.py
  providers/keycloak/tests/unit/keycloak/cli/test_definition.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Doc: add CLI section to provider documentation and clarify CLI command usage
  providers-summary-docs/howto/create-custom-providers.rst
  providers-summary-docs/index.rst
Due: replace-bad-characters

Finialize compatibility test
  devel-common/src/tests_common/test_utils/cli.py
  providers/celery/tests/unit/celery/cli/test_definition.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/cli/test_definition.py
  providers/edge3/tests/unit/edge3/cli/test_definition.py
  providers/edge3/tests/unit/edge3/cli/test_worker.py
  providers/fab/tests/unit/fab/auth_manager/cli_commands/test_db_command.py
  providers/keycloak/tests/unit/keycloak/auth_manager/cli/test_commands.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Fix list has no add attribute error
  airflow-core/src/airflow/providers_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

fixing failing tests
  task-sdk/src/airflow/sdk/plugins_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Improve backfill E2E test reliability
  airflow-core/src/airflow/ui/tests/e2e/pages/BackfillPage.ts
  airflow-core/src/airflow/ui/tests/e2e/specs/backfill.spec.ts
Due: replace-bad-characters

#59475 (docs): added few clarification docs for OAuth Authentication type (#60109)
  providers/fab/docs/auth-manager/configuring-flask-app.rst
  providers/fab/docs/auth-manager/sso.rst
Due: replace-bad-characters

Don't poll HITL details when no pending dagrun on DAG page
  airflow-core/src/airflow/ui/src/pages/Dag/Dag.tsx
Due: replace-bad-characters

Fix HITL polling when latestRun is undefined
  airflow-core/src/airflow/ui/src/pages/Dag/Dag.tsx
Due: replace-bad-characters

style: fix ci
  airflow-core/src/airflow/ui/src/pages/Dag/Dag.tsx
Due: replace-bad-characters

Upgrade SQLAlchemy (SQLA) to 2.0 (#59218)
  airflow-core/pyproject.toml
  airflow-core/src/airflow/utils/db.py
  airflow-core/src/airflow/utils/db_manager.py
  providers/fab/docs/index.rst
  providers/fab/pyproject.toml
  providers/fab/tests/unit/fab/auth_manager/test_fab_auth_manager.py
Due: check-shared-distributions-usage, replace-bad-characters, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Make FAB AirflowAppBuilder use scoped_session (#59953)
  providers/fab/src/airflow/providers/fab/www/app.py
  providers/fab/src/airflow/providers/fab/www/extensions/init_appbuilder.py
  providers/fab/src/airflow/providers/fab/www/static/dist/743.0c0bf201ae17e66a9a3f.js
  providers/fab/src/airflow/providers/fab/www/static/dist/airflowDefaultTheme.ef6fc04c9b6920cd75c9.js
  providers/fab/src/airflow/providers/fab/www/static/dist/flash.eaaf777ec1b3628cf7be.js
  providers/fab/src/airflow/providers/fab/www/static/dist/loadingDots.76f4332c0a932c3dc08f.js
  providers/fab/src/airflow/providers/fab/www/static/dist/main.bc1f701c3d133e2a3bab.js
  providers/fab/src/airflow/providers/fab/www/static/dist/materialIcons.ad07a489b2f0fc1a96bf.js
  providers/fab/src/airflow/providers/fab/www/static/dist/moment.5b85b4f6be2fe9c405ac.js
  providers/fab/www-hash.txt
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Update worker-deployment.yaml to conditionally include volumeClaimTemplates based on persistence settings
  chart/templates/workers/worker-deployment.yaml
Due: replace-bad-characters

Add tests for volumeClaimTemplates behavior with logs persistence enabled
  helm-tests/tests/helm_tests/airflow_core/test_worker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fixup! Remove unused __future__.annotations
  providers/amazon/src/airflow/providers/amazon/aws/auth_manager/cli/__init__.py
  providers/fab/src/airflow/providers/fab/auth_manager/cli_commands/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Align gcp.rst note formatting with existing docs style
  providers/google/docs/connections/gcp.rst
Due: replace-bad-characters

Clarify note re: webserver_config.py deprecation (#59529)
  providers/fab/docs/auth-manager/webserver-authentication.rst
Due: replace-bad-characters

fixing failing tests
  airflow-core/src/airflow/plugins_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

prek formatting
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_xcoms.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

fixed mypy error with params dict
  task-sdk/src/airflow/sdk/api/client.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

added test for Xcom delete with a specified map index
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_xcoms.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

updated xcom bulk delete tests
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_xcoms.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Removed wild card logic from task execution api delete endpoint and added optional query params
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_xcoms.py
  task-sdk/src/airflow/sdk/api/client.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Implemented bulk deletion for xcoms
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_xcoms.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/bases/xcom.py
  task-sdk/src/airflow/sdk/execution_time/comms.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Clean up stale banned apis (#60115)
  pyproject.toml
Due: replace-bad-characters

Fix: Persist runtime errors from GitDagBundle to import_error table
  airflow-core/src/airflow/dag_processing/processor.py
  airflow-core/tests/unit/dag_processing/test_collection.py
  airflow-core/tests/unit/dag_processing/test_processor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Add MariaDB support to Breeze development environment
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  scripts/ci/docker-compose/backend-mariadb-port.yml
  scripts/ci/docker-compose/backend-mariadb.yml
  scripts/ci/docker-compose/devcontainer-mariadb.yml
  scripts/ci/docker-compose/devcontainer.env
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, lint-json-schema, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Remove dags update
  airflow-ctl-tests/tests/airflowctl_tests/test_airflowctl_commands.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add MariaDB to latest versions testing in selective checks
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Fix scheduler slowdown with large numbers of completed dag runs
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/models/dagrun.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

lowercase
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/datamodels/token.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

lowercase
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/datamodels/token.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/openapi/v2-keycloak-auth-manager-generated.yaml
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
