Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-2-compatibility, update-breeze-cmd-output, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-system-tests-tocs, create-missing-init-py-files-tests, run-mypy, run-flake8, lint-javascript, update-migration-references

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-2-2-compatibility:
  name: Check that providers are 2.2 compatible.
  entry: ./scripts/ci/pre_commit/pre_commit_check_2_2_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-breeze-cmd-output:
  name: Update output of breeze commands in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4
  - rich-click>=1.5

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_supported_versions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tabulate

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

Updating constraints. Github run id:4777861023
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

move serialization test to test_serde module
  tests/serialization/test_serde.py
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

`ExternalTaskSensor`: add `external_task_group_id` to `template_fields` (#30401)
  airflow/sensors/external_task.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Update log level in scheduler critical section edge case (#30694)
  airflow/jobs/scheduler_job_runner.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Count mapped upstreams only if all are finished (#30641)
  airflow/models/xcom_arg.py
  tests/models/test_taskinstance.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Remove protobuf limitation from eager upgrade (#30182)
  Dockerfile
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/utils/find_newer_dependencies.py
Due: lint-dockerfile, update-breeze-cmd-output, check-extras-order, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-inlined-dockerfile-scripts, run-mypy, run-flake8

Optimize parallel test execution for unit tests (#30705)
  BREEZE.rst
  Dockerfile.ci
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing_tests.svg
  scripts/docker/entrypoint_ci.sh
Due: lint-dockerfile, update-breeze-cmd-output, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-breeze-top-dependencies-limited, check-docstring-param-types, update-inlined-dockerfile-scripts, run-mypy, run-flake8

Adapt to better resolver of pip (#30758)
  .github/actions/build-ci-images/action.yml
  BREEZE.rst
  Dockerfile
  Dockerfile.ci
  dev/TRACKING_BACKTRACKING_ISSUES.md
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_commands_config.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/find_newer_dependencies.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_ci.svg
  images/breeze/output_ci_find-newer-dependencies.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
Due: lint-dockerfile, update-breeze-cmd-output, check-extras-order, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, update-inlined-dockerfile-scripts, run-mypy, run-flake8

Upgrade to pip 23.1.1 (#30808)
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/docker/common.sh
Due: lint-dockerfile, update-breeze-cmd-output, check-extras-order, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-provider-yaml-valid, check-breeze-top-dependencies-limited, check-docstring-param-types, update-inlined-dockerfile-scripts, run-mypy, run-flake8

Fix dev index building for suspended providers (#30812)
  docs/exts/docs_build/dev_index_generator.py
Due: update-version, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, run-mypy, run-flake8

Make eager upgrade additional dependencies optional (#30811)
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_additional_dependencies.sh
Due: lint-dockerfile, check-extras-order, check-for-inclusive-language, run-shellcheck, update-inlined-dockerfile-scripts

Update the error message for invalid use of poke-only sensors (#30821)
  airflow/sensors/base.py
  tests/sensors/test_base.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix XCom deserialization when it contains nonprimitive values (#30819)
  airflow/serialization/serde.py
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Add Fail Fast feature for DAGs (#29406)
  airflow/exceptions.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/taskinstance.py
  tests/models/test_baseoperator.py
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

restore the test to test_json and replace pandas by Z class
  tests/serialization/__init__.py
  tests/serialization/test_serde.py
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

add location to get_service test
  tests/providers/google/cloud/hooks/test_bigquery.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

add a test for not serialized object deserialization
  tests/serialization/test_serde.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

duplicate Z class in each module
  tests/serialization/__init__.py
  tests/serialization/test_serde.py
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

make test consitent
  tests/serialization/test_serde.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Make test consistent
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix
  tests/serialization/test_serde.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix assertion condtion
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Apply suggestions from code review
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Optimize away pytest collection steps
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

Updating constraints. Github run id:4779388718
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Apply suggestions from code review
  docs/apache-airflow/start.rst
Due: update-version, check-provider-yaml-valid

Apply review suggestions
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/triggers/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
  tests/providers/databricks/triggers/test_databricks.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Improve nested_dict serialization test (#30823)
  tests/serialization/test_serde.py
  tests/utils/test_json.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Improve Quick Start instructions (#30820)
  docs/apache-airflow/start.rst
Due: update-version, check-provider-yaml-valid

Update Release Note
  RELEASE_NOTES.rst
Due: none

Updating constraints. Github run id:4780185964
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Add retry param in databrics async operator (#30744)
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/triggers/databricks.py
  tests/providers/databricks/triggers/test_databricks.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix unit tests for python 3.7 by monkey-patching awaitable
  tests/providers/amazon/aws/deferrable/hooks/test_batch_client.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Updating constraints. Github run id:4780536681
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Optimize docs building in CI
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Due: update-breeze-cmd-output, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, run-mypy, run-flake8

fixup! Optimize docs building in CI
  dev/breeze/SELECTIVE_CHECKS.md
Due: update-breeze-cmd-output, check-for-inclusive-language, check-breeze-top-dependencies-limited, lint-markdown

fixup! fixup! Optimize docs building in CI
  dev/breeze/tests/test_selective_checks.py
Due: update-breeze-cmd-output, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, run-mypy, run-flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-2-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
