Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Update airflow/providers/amazon/aws/operators/neptune.py
  airflow/providers/amazon/aws/operators/neptune.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Replace to broad exceptions into the Core
  airflow/api_connexion/schemas/common_schema.py
  airflow/configuration.py
  airflow/hooks/package_index.py
  airflow/jobs/base_job_runner.py
  airflow/models/taskinstance.py
  airflow/providers_manager.py
  airflow/utils/dates.py
  airflow/utils/email.py
  airflow/utils/log/logging_mixin.py
  airflow/utils/python_virtualenv.py
  airflow/www/extensions/init_auth_manager.py
  tests/always/test_providers_manager.py
  tests/api_connexion/schemas/test_common_schema.py
  tests/hooks/test_package_index.py
  tests/models/test_taskinstance.py
  tests/operators/test_python.py
  tests/utils/test_dates.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Revert Add TaskFail entries to Gantt chart (#38339)
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useTaskFails.ts
  airflow/www/static/js/dag/details/gantt/Row.tsx
  airflow/www/static/js/dag/details/gantt/TaskFail.tsx
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

Adding max consecutive failed dag runs info in UI (#38229)
  airflow/www/templates/airflow/dag.html
Due: replace-bad-characters, check-safe-filter-usage-in-html

Fix test
  tests/providers/amazon/aws/auth_manager/views/test_auth.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Update dev/refresh_images.sh script with recent changes (#38331)
  dev/refresh_images.sh
Due: replace-bad-characters, shellcheck

Fix bash command formatting in docs (#38335)
  contributing-docs/03_contributors_quick_start.rst
  contributing-docs/quick-start-ide/contributors_quick_start_gitpod.rst
  dev/breeze/doc/01_installation.rst
  dev/breeze/doc/05_test_commands.rst
Due: replace-bad-characters, check-breeze-top-dependencies-limited, update-breeze-cmd-output

Fix set deprecated slack operators arguments in `MappedOperator`
  airflow/providers/slack/operators/slack.py
  airflow/providers/slack/transfers/sql_to_slack_webhook.py
  tests/providers/slack/operators/test_slack.py
  tests/providers/slack/transfers/test_sql_to_slack_webhook.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Remove unused loop variable from airflow package
  airflow/dag_processing/manager.py
  airflow/jobs/scheduler_job_runner.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/weaviate/hooks/weaviate.py
  airflow/www/utils.py
  airflow/www/views.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-providers

Revert CodeCell formatting changes (#38343)
  airflow/www/static/js/components/NewTable/NewCells.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

Limit `cohere` to <5
  airflow/providers/cohere/hooks/cohere.py
  airflow/providers/cohere/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Due: ruff, replace-bad-characters, check-extra-packages-references, check-airflow-provider-compatibility, update-providers-dependencies, update-extras, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-aiobotocore-optional, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-providers, check-provider-yaml-valid

Remove unused loop variable from airflow package (#38308)
  airflow/dag_processing/manager.py
  airflow/jobs/scheduler_job_runner.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/weaviate/hooks/weaviate.py
  airflow/www/utils.py
  airflow/www/views.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-providers

fix a bug in the change
  tests/models/test_taskinstance.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Limit `cohere` to <5 (#38348)
  airflow/providers/cohere/hooks/cohere.py
  airflow/providers/cohere/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Due: ruff, replace-bad-characters, check-extra-packages-references, check-airflow-provider-compatibility, update-providers-dependencies, update-extras, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-aiobotocore-optional, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-providers, check-provider-yaml-valid

Fix deprecated apache.hive operators arguments in `MappedOperator`
  airflow/providers/apache/hive/operators/hive_stats.py
  tests/providers/apache/hive/operators/test_hive_stats.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Fix set deprecated amazon operators arguments in `MappedOperator`
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_batch.py
  tests/providers/amazon/aws/operators/test_ecs.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

test: adapt broken unit test due to connexion_app
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/www/app.py
  airflow/www/extensions/init_views.py
  tests/api_connexion/test_security.py
  tests/api_experimental/auth/backend/test_basic_auth.py
  tests/auth/managers/test_base_auth_manager.py
  tests/cli/commands/test_internal_api_command.py
  tests/cli/commands/test_webserver_command.py
  tests/providers/amazon/aws/auth_manager/test_aws_auth_manager.py
  tests/providers/amazon/aws/auth_manager/views/test_auth.py
  tests/providers/fab/auth_manager/conftest.py
  tests/providers/fab/auth_manager/test_security.py
  tests/providers/google/common/auth_backend/test_google_openid.py
  tests/sensors/test_external_task_sensor.py
  tests/test_utils/decorators.py
  tests/utils/test_helpers.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

Add asset compilation when testing openapi client
  .github/workflows/basic-tests.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Update migrations files for
  airflow/migrations/versions/0074_2_0_0_resource_based_permissions.py
  airflow/migrations/versions/0078_2_0_1_remove_can_read_permission_on_config_.py
  airflow/migrations/versions/0084_2_1_0_resource_based_permissions_for_default_.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, update-migration-references, update-er-diagram

fix: fix static check.
  setup.cfg
Due: replace-bad-characters, check-setup-order

Fix problem with static checks
  airflow/api_connexion/exceptions.py
  airflow/www/extensions/init_appbuilder.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix static checks
  airflow/api_connexion/exceptions.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/www/extensions/init_appbuilder.py
  airflow/www/extensions/init_views.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-providers

fix: fix react www test
  airflow/www/yarn.lock
Due: replace-bad-characters

Update setup.cfg and encoding
  airflow/auth/managers/base_auth_manager.py
  airflow/cli/commands/internal_api_command.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/utils/json.py
  airflow/www/app.py
  airflow/www/extensions/init_views.py
  setup.cfg
Due: ruff, replace-bad-characters, check-setup-order, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-providers

Update methods to use Connexion v3, Ginucorn command and encoding
  airflow/api_connexion/exceptions.py
  airflow/auth/managers/base_auth_manager.py
  airflow/cli/commands/internal_api_command.py
  airflow/cli/commands/webserver_command.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/utils/json.py
  airflow/www/app.py
  airflow/www/extensions/init_views.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-providers

feat: implement brefore_request to handle CSRF exemption logic.
  airflow/www/app.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

handle swagger ui installation.
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/www/extensions/init_appbuilder_links.py
  airflow/www/extensions/init_views.py
  airflow/www/package.json
  airflow/www/views.py
  airflow/www/yarn.lock
  pyproject.toml
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-providers

changed set with get
  airflow/auth/managers/base_auth_manager.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Add Pytest fixture to create directory that starlette needs
  tests/conftest.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

fix: adapt few test of www module.
  airflow/www/app.py
  tests/www/test_app.py
  tests/www/test_auth.py
  tests/www/test_utils.py
  tests/www/views/conftest.py
  tests/www/views/test_anonymous_as_admin_role.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Update methods to use Connexion v3, Ginucorn command and encoding
  airflow/www/extensions/init_views.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Adapt unittest with environ override.
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_config_endpoint.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/api_connexion/endpoints/test_dag_warning_endpoint.py
  tests/api_connexion/endpoints/test_dataset_endpoint.py
  tests/api_connexion/endpoints/test_event_log_endpoint.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_connexion/endpoints/test_forward_to_fab_endpoint.py
  tests/api_connexion/endpoints/test_import_error_endpoint.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_plugin_endpoint.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/endpoints/test_provider_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/api_connexion/test_security.py
  tests/providers/fab/auth_manager/api_endpoints/test_role_and_permission_endpoint.py
  tests/providers/fab/auth_manager/api_endpoints/test_user_endpoint.py
  tests/test_utils/remote_user_api_auth_backend.py
Due: ruff, replace-bad-characters, lint-openapi, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core

fix: fixing test_auth of connexion api.
  tests/api_connexion/test_auth.py
  tests/test_utils/api_connexion_utils.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

fix: add missing import which was removed while rebasing, add connexion dependencies in pyproject.toml.
  airflow/www/extensions/init_views.py
  pyproject.toml
  tests/api_connexion/endpoints/test_dataset_endpoint.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Refactored the code since the functions return None. Replaced 'get' with 'set'
  airflow/auth/managers/base_auth_manager.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/www/extensions/init_views.py
  docs/apache-airflow/core-concepts/auth-manager.rst
  tests/auth/managers/test_base_auth_manager.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

Fixed StaleDataError by adding session.refresh(user)
  tests/providers/fab/auth_manager/api_endpoints/test_user_endpoint.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Modified assert 'title' and 'type' accodringly.
  tests/providers/fab/auth_manager/api_endpoints/test_user_endpoint.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Added '/auth/fab/v1' to the base_paths to avoid coroutine not callable errors
  airflow/www/extensions/init_views.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

fix: test_should_respond_200_with_anonymous_user fixed.
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core
