Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-1-compatibility, update-breeze-file, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-example-dags-urls, run-mypy, run-flake8, lint-javascript, update-migration-references

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-1-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-file: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-example-dags-urls: any of: ^docs/.*index\.rst$|^docs/.*example-dags\.rst$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

update comments
  airflow/www/static/js/components/Table.tsx
Due: none

make MsSQL tests runnable on Python 3.8 (#25214)
  tests/providers/google/cloud/transfers/test_mssql_to_gcs.py
  tests/providers/microsoft/mssql/hooks/test_mssql.py
  tests/providers/microsoft/mssql/operators/test_mssql.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Migrate Google example bigquery_to_mssql to new design AIP-47 (#25174)
  tests/system/providers/google/cloud/bigquery/example_bigquery_to_mssql.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

make MsSQL tests runnable on Python 3.8 (2nd) I missed the hive provider from the commit in https://github.com/apache/airflow/pull/25214
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

call updateNodeLabels after expandGroup
  airflow/www/static/js/graph.js
Due: lint-javascript

Upgrade to Pip 22.2
  Dockerfile
  Dockerfile.ci
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
Due: lint-dockerfile, check-extras-order, check-for-inclusive-language, run-shellcheck, update-inlined-dockerfile-scripts

MR feedback - remove rsplit
  airflow/dag_processing/manager.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Build id:2711323502
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

call updateNodeLabels after expandGroup (#25217)
  airflow/www/static/js/graph.js
Due: lint-javascript

make MsSQL tests runnable on Python 3.8 (2nd) (#25216)
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Improve version check for kubectl (#24882)
  scripts/ci/libraries/_kind.sh
Due: check-for-inclusive-language, run-shellcheck

Add more selective provider tests (#24666)
  BREEZE.rst
  Dockerfile.ci
  TESTING.rst
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-tests.svg
  scripts/docker/entrypoint_ci.sh
Due: lint-dockerfile, update-breeze-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, update-inlined-dockerfile-scripts, run-mypy, run-flake8

Don't add init.py files to __pycache__ folders. (#24896)
  scripts/ci/pre_commit/pre_commit_check_init_in_tests.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Remove full provider's specification from TEST_TYPES (#24901)
  scripts/ci/testing/ci_run_airflow_testing.sh
Due: check-for-inclusive-language, run-shellcheck

Make sure builder is created as needed before warming up (#24875)
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Due: update-breeze-file, update-local-yml-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, run-mypy, run-flake8

Run "fix-ownership" with sudo rather than docker image if specified (#24871)
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-fix-ownership.svg
Due: update-breeze-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, run-mypy, run-flake8

Fix tests
  tests/providers/oracle/hooks/test_oracle.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Airflow `2.3.3` has been released (#24942)
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  Dockerfile
  RELEASE_NOTES.rst
Due: lint-dockerfile, check-extras-order, check-for-inclusive-language, update-inlined-dockerfile-scripts

Add `--clean-build` option for breeze build-docs (#24951)
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/provider_packages/build_provider_documentation.sh
  images/breeze/output-build-docs.svg
  images/breeze/output-commands-hash.txt
Due: update-breeze-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, run-mypy, run-flake8

Add Kubernetes-related files to trigger helm tests (#24950)
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Due: update-breeze-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, run-mypy, run-flake8

Old "Core" SQL database config used in breeze for old airflow versions (#25009)
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Due: lint-dockerfile, check-for-inclusive-language, run-shellcheck, update-inlined-dockerfile-scripts

Stop failing image refreshing on "warm-up" failure (#25046)
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Due: update-breeze-file, update-local-yml-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, run-mypy, run-flake8

Update `check_files.py` to support many provider releases (#25077)
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/check_files.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, lint-markdown, check-docstring-param-types, run-mypy, run-flake8

Fix markdown error in Airflow Readme (#25120)
  dev/README_RELEASE_AIRFLOW.md
Due: check-for-inclusive-language, lint-markdown

Add table alias to SQLTableCheckOperator query
  airflow/providers/common/sql/operators/sql.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Fix formatting error in operator
  airflow/providers/common/sql/operators/sql.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Also compile assets in non-main
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

Fix bug with multiple table checks
  airflow/providers/common/sql/operators/sql.py
  tests/providers/common/sql/operators/test_sql.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Add batching to SQL Check Operators
  airflow/providers/common/sql/operators/sql.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Update test failure logic
  airflow/providers/common/sql/operators/sql.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Move alias to proper query build statement
  airflow/providers/common/sql/operators/sql.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Also compile assets in non-main (#25220)
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

don't trunc uri
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8
