Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Make args in Timetable's interface keyword-only
  airflow/models/dag.py
  airflow/timetables/base.py
  airflow/timetables/interval.py
  airflow/timetables/simple.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Allow custom timetable as a DAG argument
  airflow/api/common/experimental/mark_tasks.py
  airflow/jobs/backfill_job.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/timetables/base.py
  airflow/timetables/interval.py
  airflow/timetables/schedules.py
  airflow/timetables/simple.py
  airflow/utils/module_loading.py
  airflow/www/views.py
  tests/jobs/test_backfill_job.py
  tests/models/test_dag.py
  tests/providers/amazon/aws/sensors/test_s3_keys_unchanged.py
  tests/providers/amazon/aws/transfers/test_s3_to_sftp.py
  tests/providers/amazon/aws/transfers/test_sftp_to_s3.py
  tests/providers/google/cloud/sensors/test_gcs.py
  tests/providers/sftp/operators/test_sftp.py
  tests/providers/ssh/operators/test_ssh.py
  tests/serialization/test_dag_serialization.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Separate Managed Services for Airflow
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Due: none

Add example of TaskFlow to declare task dependencies
  docs/apache-airflow/concepts/tasks.rst
Due: language-matters, provider-yamls

static cheks
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

test
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

tests
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

docs
  airflow/providers/amazon/aws/secrets/secrets_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Get connection URI with AWS Secrets Manager
  airflow/providers/amazon/aws/secrets/secrets_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

new test
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

backwards compatibility
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

error
  airflow/providers/amazon/aws/secrets/secrets_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

fix
  airflow/providers/amazon/aws/secrets/secrets_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

tests
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  docs/apache-airflow-providers-amazon/img/aws-secrets-manager.png
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

pre-commit && documentation-build
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, flynt, mypy, pylint, flake8

Update error message to guide the user into self-help mostly
  airflow/www/templates/airflow/traceback.html
Due: dont-use-safe-filter, language-matters

enable setting of pod specific annotations
  chart/templates/flower/flower-deployment.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

Add dags.gitSync.sshKeyCustomFile parameter to allow other SSH key sources
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/_helpers.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

reformat files
  airflow/providers/sftp/example_dags/__init__.py
  docs/apache-airflow-providers-sftp/operators/index.rst
  tests/providers/sftp/operators/test_sftp.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

PR#17342 Tring to have static tests run proprely.
  airflow/config_templates/default_airflow.cfg
  airflow/security/kerberos.py
  tests/security/test_kerberos.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, flynt, mypy, pylint, flake8

Add documentation
  docs/helm-chart/manage-dags-files.rst
Due: language-matters, provider-yamls

Clean spaces
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
Due: language-matters, helm-lint

Always upgrade to newer dependencies in main
  scripts/ci/selective_ci_checks.sh
Due: language-matters, shellcheck, bats-tests

Fix instantiating Vault Secret Backend during configuration
  airflow/providers/hashicorp/secrets/vault.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fix docs about login for hdfs connections
  docs/apache-airflow-providers-apache-hdfs/connections.rst
Due: language-matters, provider-yamls

Refactor BranchDayOfWeekOperator, DayOfWeekSensor. 1. Extract shared code to utils. 2. Allow any iterable as week_day.
  airflow/operators/weekday.py
  airflow/sensors/weekday.py
  airflow/utils/weekday.py
  tests/operators/test_weekday.py
  tests/sensors/test_weekday_sensor.py
  tests/utils/test_weekday.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Enable multiple cors url & doc
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/extensions/init_views.py
  docs/apache-airflow/security/api.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Update docs/apache-airflow/start/docker.rst
  docs/apache-airflow/start/docker.rst
Due: language-matters, provider-yamls

Fix grammar in `traceback.html`
  airflow/www/templates/airflow/traceback.html
Due: dont-use-safe-filter, language-matters

Adding backward
  airflow/configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Adding TaskGroup support in BaseOperator.chain()
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove default_args pattern
  airflow/example_dags/example_bash_operator.py
  airflow/example_dags/example_branch_datetime_operator.py
  airflow/example_dags/example_branch_day_of_week_operator.py
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_python_dop_operator_3.py
  airflow/example_dags/example_dag_decorator.py
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/example_short_circuit_operator.py
  airflow/example_dags/example_skip_dag.py
  airflow/example_dags/example_trigger_controller_dag.py
  airflow/example_dags/example_trigger_target_dag.py
  airflow/example_dags/example_xcom.py
  airflow/example_dags/example_xcomargs.py
  airflow/example_dags/tutorial_taskflow_api_etl.py
  airflow/example_dags/tutorial_taskflow_api_etl_virtualenv.py
Due: pydevd, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, flynt, mypy, pylint, flake8

Updating to alleviate DAG failures
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/tutorial_taskflow_api_etl_virtualenv.py
Due: pydevd, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, flynt, mypy, pylint, flake8

Removing get_current_context() use from example_trigger_target_dag
  airflow/example_dags/example_trigger_target_dag.py
Due: pydevd, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, flynt, mypy, pylint, flake8

Updating docstring for example_trigger_target_dag
  airflow/example_dags/example_trigger_target_dag.py
Due: pydevd, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, flynt, mypy, pylint, flake8

Reverting param change to example_passing_params_via_test_command DAG
  airflow/example_dags/example_passing_params_via_test_command.py
Due: pydevd, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, flynt, mypy, pylint, flake8

Updating run_this_func() to use direct access of the DagRun object
  airflow/example_dags/example_trigger_target_dag.py
Due: pydevd, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, flynt, mypy, pylint, flake8

Address review comments: use requirements.txt directly
  airflow/operators/python.py
  airflow/utils/python_virtualenv.py
  tests/config_templates/requirements.txt
  tests/operators/test_python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update param docs for the function
  airflow/operators/python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8
