Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

[v3-2-test] Align Dag capitalization from "DAG" to "Dag" for airflow-ctl/ (#66112)
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/assets.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_sources.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_stats.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_tags.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_versions.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_warning.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-ctl/docs/howto/index.rst
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_assets.svg
  airflow-ctl/docs/images/output_backfill.svg
  airflow-ctl/docs/images/output_dagrun.svg
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/src/airflowctl/api/client.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  airflow-ctl/src/airflowctl/api/operations.py
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/config_command.py
  airflow-ctl/src/airflowctl/ctl/commands/dag_command.py
  airflow-ctl/src/airflowctl/ctl/help_texts.yaml
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels

Fix CI for #65452: single-line newsfragment, real fernet decrypt mock, regenerate openapi spec + UI/airflowctl datamodels
  airflow-core/newsfragments/65452.bugfix.rst
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_variables.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Allow null values for Variable value field to handle decryption failures gracefully
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels

Fix CI for #65452: handle nullable Variable.value in UI, regenerate openapi/airflowctl datamodels, single-line newsfragment, real fernet decrypt mock
  airflow-core/src/airflow/ui/src/pages/Variables/ManageVariable/EditVariableButton.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/Variables.tsx
Due: replace-bad-characters

Document rationale in code, add a regression test, and add newsfragment 65452.bugfix.rst
  airflow-core/newsfragments/65452.bugfix.rst
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/variables.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels, check-contextmanager-class-decorators

making tests parametrized with flags
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_task_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[airflow-ctl-v0-1-test] Align Dag capitalization from "DAG" to "Dag" for airflow-ctl/ (#66112)
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/assets.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_sources.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_stats.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_tags.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_versions.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_warning.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-ctl/docs/howto/index.rst
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_assets.svg
  airflow-ctl/docs/images/output_backfill.svg
  airflow-ctl/docs/images/output_dagrun.svg
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/src/airflowctl/api/client.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  airflow-ctl/src/airflowctl/api/operations.py
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/config_command.py
  airflow-ctl/src/airflowctl/ctl/commands/dag_command.py
  airflow-ctl/src/airflowctl/ctl/help_texts.yaml
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels

UI: Fix "Mark state as..." buttons grayed out when task/DAGRun already in target state
  airflow-core/src/airflow/ui/src/components/MarkAs/Run/MarkRunAsButton.test.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/Run/MarkRunAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskGroup/MarkTaskGroupAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkTaskInstanceAsButton.tsx
Due: replace-bad-characters

Add airflowctl tasks clear and states-for-dag-run commands (AIP-94)
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/task_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

UI: Fix SearchBar state rewind bug and improve UX responsiveness
  airflow-core/src/airflow/ui/src/components/SearchBar.tsx
Due: replace-bad-characters

Add newsfragment for PR #66219
  airflow-core/newsfragments/66219.bugfix.rst
Due: replace-bad-characters

Fix CLI JSON output pollution by redirecting logs to stderr
  airflow-core/newsfragments/66139.bugfix.rst
  airflow-core/src/airflow/cli/commands/asset_command.py
  airflow-core/src/airflow/cli/commands/dag_command.py
  airflow-core/src/airflow/cli/commands/pool_command.py
  airflow-core/src/airflow/cli/commands/task_command.py
  airflow-core/src/airflow/utils/cli.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Implement global CLI log redirection and add regression test
  airflow-core/src/airflow/__main__.py
  airflow-core/tests/unit/cli/test_cli_output_pollution.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Update newsfragment for global CLI fix
  airflow-core/newsfragments/66139.bugfix.rst
Due: replace-bad-characters

Fix syntax errors in regression test
  airflow-core/tests/unit/cli/test_cli_output_pollution.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix TypeError in PercentFormatRender when numeric callsite parameters are missing
  airflow-core/newsfragments/66195.bugfix.rst
  shared/logging/src/airflow_shared/logging/percent_formatter.py
  shared/logging/tests/logging/test_issue_66195.py
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Rename test to `test_overwrite_queue_keda_query` according to review
  helm-tests/tests/helm_tests/airflow_core/test_worker_sets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Drop redundant test_overwrite_parent_keda_propagates_to_sets per review
  helm-tests/tests/helm_tests/airflow_core/test_worker_sets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Also assert parent keda override flows through in test_overwrite_queue_keda_query
  helm-tests/tests/helm_tests/airflow_core/test_worker_sets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Split test_overwrite_queue_keda_query into focused cases per review feedback
  helm-tests/tests/helm_tests/airflow_core/test_worker_sets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add test coverage for per-set queue in default KEDA query in Helm chart
  helm-tests/tests/helm_tests/airflow_core/test_worker_sets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add default parameter
  helm-tests/tests/helm_tests/airflow_core/test_worker_sets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix deprecation warning
  chart/templates/NOTES.txt
Due: replace-bad-characters

Add MwaaServerlessStartWorkflowRunOperator
  providers/amazon/docs/operators/mwaa_serverless.rst
  providers/amazon/provider.yaml
  providers/amazon/src/airflow/providers/amazon/aws/operators/mwaa_serverless.py
  providers/amazon/src/airflow/providers/amazon/get_provider_info.py
  providers/amazon/tests/system/amazon/aws/example_mwaa_serverless.py
  providers/amazon/tests/unit/amazon/aws/operators/test_mwaa_serverless.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Rename newsfragment to match PR number #66230
  airflow-core/newsfragments/66230.bugfix.rst
Due: replace-bad-characters

Add `S3TablesDeleteTableBucketOperator`
  providers/amazon/docs/operators/s3_tables.rst
  providers/amazon/src/airflow/providers/amazon/aws/operators/s3_tables.py
  providers/amazon/tests/system/amazon/aws/example_s3_tables.py
  providers/amazon/tests/unit/amazon/aws/operators/test_s3_tables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[chart/v1-2x-test] Fix launcher RBAC for executor class paths (#66208) (cherry picked from commit 8f5ac08c439758289fa236df958def266a5b312c)
  chart/templates/rbac/job-launcher-rolebinding.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  helm-tests/tests/helm_tests/airflow_aux/test_job_launcher_role.py
  helm-tests/tests/helm_tests/airflow_aux/test_pod_launcher_role.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[chart/v1-2x-test] Add test coverage for per-set queue in default KEDA query in Helm chart (#65486)
  helm-tests/tests/helm_tests/airflow_core/test_worker_sets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add `S3VectorsCreateIndexOperator`
  providers/amazon/docs/operators/s3_vectors.rst
  providers/amazon/src/airflow/providers/amazon/aws/operators/s3_vectors.py
  providers/amazon/tests/system/amazon/aws/example_s3_vectors.py
  providers/amazon/tests/unit/amazon/aws/operators/test_s3_vectors.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Update providers metadata 2026-05-02
  generated/provider_metadata.json
Due: replace-bad-characters

Fix deprecation warning (#66238)
  chart/templates/NOTES.txt
Due: replace-bad-characters

fix: update dependencies to fix dependabot alarms in providers.common.ai
  providers/common/ai/src/airflow/providers/common/ai/plugins/www/package.json
  providers/common/ai/src/airflow/providers/common/ai/plugins/www/pnpm-lock.yaml
Due: replace-bad-characters

Mark Edge communication test xfail to reduce noise on CI
  providers/edge3/tests/unit/edge3/cli/test_worker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[v3-2-test] Use SQLite for import and OpenAPI spec generation scripts (#66209) (cherry picked from commit ee0dc3f3867431807505acd7dadd23cfd165b14f)
  scripts/ci/prek/check_imports_in_providers.py
  scripts/ci/prek/generate_openapi_spec_providers.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

Fix edge3 worker deadlock regression test on Python 3.14
  providers/edge3/tests/unit/edge3/cli/test_worker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[v3-2-test] Fix variable access in triggerer for deferrable operators (#63387) (cherry picked from commit e6170ddb5b1f13dac5dada8e8bc5e4d6bd4b5529)
  task-sdk/src/airflow/sdk/execution_time/secrets/execution_api.py
  task-sdk/tests/task_sdk/execution_time/test_secrets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add pluggable retry policies for Airflow tasks (AIP-105)
  airflow-core/docs/core-concepts/tasks.rst
  airflow-core/docs/migrations-ref.rst
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/__init__.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/v2026_06_16.py
  airflow-core/src/airflow/example_dags/example_retry_policy.py
  airflow-core/src/airflow/migrations/versions/0113_3_3_0_add_retry_policy_fields_to_ti.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/models/taskinstancehistory.py
  airflow-core/src/airflow/serialization/definitions/baseoperator.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  airflow-core/tests/unit/models/test_taskinstance.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  airflow-core/tests/unit/serialization/test_serialized_objects.py
  providers/google/src/airflow/providers/google/cloud/operators/pubsub.py
  task-sdk/docs/api.rst
  task-sdk/docs/index.rst
  task-sdk/src/airflow/sdk/__init__.py
  task-sdk/src/airflow/sdk/__init__.pyi
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/src/airflow/sdk/bases/operator.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
  task-sdk/src/airflow/sdk/definitions/retry_policy.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/definitions/test_retry_policy.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-revision-heads-map, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Add UsageLimits support to common.ai operators
  providers/common/ai/docs/operators/agent.rst
  providers/common/ai/docs/operators/llm.rst
  providers/common/ai/src/airflow/providers/common/ai/example_dags/example_llm.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm_branch.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm_file_analysis.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm_schema_compare.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm_sql.py
  providers/common/ai/tests/unit/common/ai/decorators/test_agent.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_branch.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_file_analysis.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_sql.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_branch.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_file_analysis.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_schema_compare.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_sql.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add LLMRetryPolicy to common-ai provider
  providers/common/ai/docs/index.rst
  providers/common/ai/docs/retry_policies.rst
  providers/common/ai/src/airflow/providers/common/ai/example_dags/example_llm_retry_policy.py
  providers/common/ai/src/airflow/providers/common/ai/policies/__init__.py
  providers/common/ai/src/airflow/providers/common/ai/policies/retry.py
  providers/common/ai/tests/unit/common/ai/policies/__init__.py
  providers/common/ai/tests/unit/common/ai/policies/test_retry.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
