Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Prefix an iterated task's id with its task group once
  airflow-core/tests/unit/models/test_taskinstance.py
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/definitions/test_iterate.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

AIP-104: Task Iteration
  .github/CODEOWNERS
  airflow-core/tests/unit/models/test_taskinstance.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  devel-common/src/tests_common/test_utils/mock_context.py
  docs/spelling_wordlist.txt
  task-sdk/docs/deferred-vs-async-operators.rst
  task-sdk/docs/dynamic-task-mapping-vs-iteration.rst
  task-sdk/docs/index.rst
  task-sdk/src/airflow/sdk/bases/decorator.py
  task-sdk/src/airflow/sdk/bases/operator.py
  task-sdk/src/airflow/sdk/bases/xcom.py
  task-sdk/src/airflow/sdk/definitions/_internal/contextmanager.py
  task-sdk/src/airflow/sdk/definitions/_internal/expandinput.py
  task-sdk/src/airflow/sdk/definitions/context.py
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
  task-sdk/src/airflow/sdk/definitions/xcom_arg.py
  task-sdk/src/airflow/sdk/execution_time/context.py
  task-sdk/src/airflow/sdk/execution_time/executor.py
  task-sdk/src/airflow/sdk/execution_time/lazy_sequence.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/bases/test_decorator.py
  task-sdk/tests/task_sdk/bases/test_operator.py
  task-sdk/tests/task_sdk/bases/test_xcom.py
  task-sdk/tests/task_sdk/definitions/_internal/test_expandinput.py
  task-sdk/tests/task_sdk/definitions/conftest.py
  task-sdk/tests/task_sdk/definitions/test_context.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterate.py
  task-sdk/tests/task_sdk/definitions/test_xcom_arg.py
  task-sdk/tests/task_sdk/execution_time/conftest.py
  task-sdk/tests/task_sdk/execution_time/test_context.py
  task-sdk/tests/task_sdk/execution_time/test_executor.py
  task-sdk/tests/task_sdk/execution_time/test_lazy_sequence.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
  task-sdk/tests/task_sdk/serde/test_serde.py
Due: replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-spelling-wordlist-to-be-sorted, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Give a copy of an iterated task its own lock
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Push an item's other XComs again when a retry skips it
  airflow-core/tests/unit/models/test_taskinstance.py
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Keep a finished item's checkpoint when publishing its result fails
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Name Variable.aget/aset among the async accessors in the docstring
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Correct what the iteration docs say about threads, the benchmark and connections
  task-sdk/docs/dynamic-task-mapping-vs-iteration.rst
Due: replace-bad-characters

Accept asyncio's TimeoutError in the async timeout tests on Python 3.10
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Rename the iteration docs page to Mapped tasks vs iterable tasks
  task-sdk/docs/deferred-vs-async-operators.rst
  task-sdk/docs/index.rst
  task-sdk/docs/mapped-tasks-vs-iterable-tasks.rst
Due: replace-bad-characters

Say which helper threads see an iteration's context
  task-sdk/docs/dynamic-task-mapping-vs-iteration.rst
  task-sdk/tests/task_sdk/execution_time/test_context.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Hide the comms from every thread serving an in-process supervisor request
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Make the in-process supervisor of dag.test() safe to call from several threads
  airflow-core/src/airflow/models/connection.py
  airflow-core/src/airflow/models/variable.py
  airflow-core/src/airflow/utils/helpers.py
  airflow-core/tests/unit/models/test_taskinstance.py
  airflow-core/tests/unit/utils/test_helpers.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/src/airflow/sdk/log.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Make the concurrent iterations context test read while both are inside
  task-sdk/tests/task_sdk/execution_time/test_context.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Skip an iterated task over an empty input, as a mapped task is
  airflow-core/tests/unit/models/test_taskinstance.py
  task-sdk/docs/dynamic-task-mapping-vs-iteration.rst
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Declare iterate and iterate_kwargs on the Task protocol of @task
  task-sdk/src/airflow/sdk/bases/decorator.py
  task-sdk/tests/task_sdk/bases/test_decorator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Report an iterated task's own class as its task_type
  airflow-core/tests/unit/serialization/test_serialized_objects.py
  providers/openlineage/tests/unit/openlineage/extractors/test_manager.py
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Leave caching to a caller's CachePoint and document when caching costs more
  providers/common/ai/docs/operators/agent.rst
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/src/airflow/providers/common/ai/utils/logging.py
  providers/common/ai/src/airflow/providers/common/ai/utils/prompt_cache.py
  providers/common/ai/tests/unit/common/ai/conftest.py
  providers/common/ai/tests/unit/common/ai/durable/test_fingerprint.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
  providers/common/ai/tests/unit/common/ai/utils/test_logging.py
  providers/common/ai/tests/unit/common/ai/utils/test_prompt_cache.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Cache repeated agent prompts by default with AgentOperator cache_prompt
  providers/common/ai/docs/operators/agent.rst
  providers/common/ai/src/airflow/providers/common/ai/durable/fingerprint.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/src/airflow/providers/common/ai/utils/logging.py
  providers/common/ai/src/airflow/providers/common/ai/utils/prompt_cache.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_file_analysis.py
  providers/common/ai/tests/unit/common/ai/durable/test_fingerprint.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_file_analysis.py
  providers/common/ai/tests/unit/common/ai/utils/test_logging.py
  providers/common/ai/tests/unit/common/ai/utils/test_prompt_cache.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add pydantic-ai capability names to the docs spelling wordlist
  docs/spelling_wordlist.txt
Due: replace-bad-characters, update-version, update-spelling-wordlist-to-be-sorted

Expect PromptCaching after capabilities passed to AgentOperator
  providers/common/ai/tests/unit/common/ai/decorators/test_agent.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add a vendor-neutral managed-agent hook contract to Common AI (#73532)
  dev/breeze/tests/test_selective_checks.py
  providers/amazon/docs/index.rst
  providers/amazon/docs/operators/bedrock.rst
  providers/amazon/pyproject.toml
  providers/amazon/src/airflow/providers/amazon/aws/hooks/bedrock.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_bedrock.py
  providers/common/ai/docs/toolsets/index.rst
  providers/common/ai/docs/toolsets/managed_agent.rst
  providers/common/ai/src/airflow/providers/common/ai/durable/caching_toolset.py
  providers/common/ai/src/airflow/providers/common/ai/exceptions.py
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/__init__.py
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/base.py
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/failover.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/__init__.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/managed_agent.py
  providers/common/ai/tests/unit/common/ai/durable/test_caching_toolset.py
  providers/common/ai/tests/unit/common/ai/managed_agents/__init__.py
  providers/common/ai/tests/unit/common/ai/managed_agents/test_base.py
  providers/common/ai/tests/unit/common/ai/managed_agents/test_failover.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_managed_agent.py
  providers/google/docs/index.rst
  providers/google/docs/operators/cloud/vertex_ai.rst
  providers/google/pyproject.toml
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/agent_engine.py
  providers/google/tests/unit/google/cloud/hooks/vertex_ai/test_agent_engine.py
  shared/observability/src/airflow_shared/observability/metrics/metrics_template.yaml
  uv.lock
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

fixup! Correctly shutdown async DB engine on exit.
  airflow-core/src/airflow/api_fastapi/app.py
  airflow-core/src/airflow/api_fastapi/execution_api/app.py
  airflow-core/src/airflow/settings.py
  airflow-core/tests/unit/api_fastapi/conftest.py
  airflow-core/tests/unit/api_fastapi/execution_api/test_app.py
  airflow-core/tests/unit/api_fastapi/test_app.py
  airflow-core/tests/unit/core/test_settings.py
  airflow-core/tests/unit/state/test_metastore.py
  airflow-core/tests/unit/utils/test_session.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Fix button style
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
Due: replace-bad-characters

Add async client to `AnthropicHook` (#73967)
  providers/anthropic/pyproject.toml
  providers/anthropic/src/airflow/providers/anthropic/hooks/anthropic.py
  providers/anthropic/tests/unit/anthropic/hooks/test_anthropic.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. GitHub run id:36851499633
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-3.14.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-no-providers-3.14.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
  constraints-source-providers-3.14.txt
Due: replace-bad-characters

Go SDK: bring the coordinator-protocol models back to the supervisor schema (#73963)
  .pre-commit-config.yaml
  go-sdk/README.md
  go-sdk/pkg/execution/genmodels/models.gen.go
  scripts/ci/prek/check_go_sdk_generated_drift.py
  scripts/ci/prek/check_go_sdk_spec_drift.py
  scripts/tests/ci/prek/test_check_go_sdk_generated_drift.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-markdown, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Cache repeated agent prompts by default in AgentOperator (#73994)
  docs/spelling_wordlist.txt
  providers/common/ai/docs/operators/agent.rst
  providers/common/ai/src/airflow/providers/common/ai/durable/fingerprint.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/src/airflow/providers/common/ai/utils/logging.py
  providers/common/ai/src/airflow/providers/common/ai/utils/prompt_cache.py
  providers/common/ai/tests/unit/common/ai/conftest.py
  providers/common/ai/tests/unit/common/ai/decorators/test_agent.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_file_analysis.py
  providers/common/ai/tests/unit/common/ai/durable/test_fingerprint.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_file_analysis.py
  providers/common/ai/tests/unit/common/ai/utils/test_logging.py
  providers/common/ai/tests/unit/common/ai/utils/test_prompt_cache.py
Due: replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-spelling-wordlist-to-be-sorted, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Declare asset sensor dependencies and support minimum event counts
  providers/standard/docs/sensors/asset.rst
  providers/standard/src/airflow/providers/standard/example_dags/example_asset_sensor.py
  providers/standard/src/airflow/providers/standard/sensors/asset.py
  providers/standard/tests/unit/standard/conftest.py
  providers/standard/tests/unit/standard/sensors/test_asset.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Reject ambiguous asset sensor targets and invalid event counts
  providers/standard/docs/sensors/asset.rst
  providers/standard/src/airflow/providers/standard/sensors/asset.py
  providers/standard/tests/unit/standard/sensors/test_asset.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Go SDK: reject a task handler and a Dag that share a dag_id (#73876)
  go-sdk/airflow/bundle.go
  go-sdk/airflow/bundle_test.go
Due: none

Take a task reference for If and Switch in ADR-0008
  airflow-core/adr/lang-sdk/0008-control-flow-constructs.md
Due: replace-bad-characters, lint-markdown

Correctly shutdown async sessions on exit. (#73838)
  airflow-core/src/airflow/api_fastapi/app.py
  airflow-core/src/airflow/api_fastapi/execution_api/app.py
  airflow-core/src/airflow/settings.py
  airflow-core/tests/unit/api_fastapi/auth/managers/simple/conftest.py
  airflow-core/tests/unit/api_fastapi/conftest.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_auth.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_backfills.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_bundles.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_parsing.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
  airflow-core/tests/unit/api_fastapi/execution_api/test_app.py
  airflow-core/tests/unit/api_fastapi/test_app.py
  airflow-core/tests/unit/core/test_settings.py
  airflow-core/tests/unit/state/test_metastore.py
  airflow-core/tests/unit/utils/test_session.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Back off between GitDagBundle bare clone attempts so a fresh GitHub App token can propagate (#73878)
  providers/git/src/airflow/providers/git/bundles/git.py
  providers/git/src/airflow/providers/git/hooks/git.py
  providers/git/tests/unit/git/bundles/test_git.py
  providers/git/tests/unit/git/hooks/test_git.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Check auth_manager inherites from FabAuthManager to sync dag perms
  airflow-core/src/airflow/dag_processing/collection.py
  airflow-core/tests/unit/dag_processing/test_collection.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Render the HITL review workflow as a Mermaid diagram
  providers/common/ai/docs/hitl_review.rst
Due: replace-bad-characters

Document the unknown platform tag on managed agent metrics
  providers/common/ai/docs/toolsets/managed_agent.rst
  shared/observability/src/airflow_shared/observability/metrics/metrics_template.yaml
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters

Document HTTP statuses that route helpers raise
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_state_store.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/calendar.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/hitl.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  scripts/ci/prek/check_openapi_exception_doc_in_sync.py
  scripts/tests/ci/prek/test_check_openapi_exception_doc_in_sync.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-dev, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Move the Dag file processor's shared plumbing into a base class
  airflow-core/src/airflow/dag_processing/processor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Let a coordinator parse the Dag files of the bundles it serves
  task-sdk/src/airflow/sdk/coordinators/_subprocess.py
  task-sdk/src/airflow/sdk/coordinators/executable/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/java/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/node/coordinator.py
  task-sdk/src/airflow/sdk/execution_time/coordinator.py
  task-sdk/src/airflow/sdk/importers/base.py
  task-sdk/tests/task_sdk/coordinators/test_subprocess.py
  task-sdk/tests/task_sdk/execution_time/test_coordinator.py
  task-sdk/tests/task_sdk/importers/test_registry.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Check that a serialized Dag can be stored and loaded
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
