Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Fix last tests.
  airflow/www/.eslintrc
  airflow/www/static/js/grid/dagRuns/index.test.jsx
  airflow/www/static/js/grid/details/content/taskInstance/index.jsx
  airflow/www/templates/airflow/grid.html
Due: dont-use-safe-filter, language-matters

Update following bbovenzi code review
  airflow/www/static/js/grid/FilterBar.jsx
  airflow/www/static/js/grid/api/useGridData.js
  airflow/www/static/js/grid/utils/useFilters.js
Due: language-matters

Handle timezone
  airflow/www/static/js/datetime_utils.js
  airflow/www/static/js/grid/FilterBar.jsx
  airflow/www/static/js/grid/utils/testUtils.jsx
  airflow/www/static/js/grid/utils/useFilters.js
  airflow/www/static/js/grid/utils/useFilters.test.jsx
Due: language-matters

Fix tests for useTreeData
  airflow/www/static/js/grid/Grid.jsx
  airflow/www/static/js/grid/api/useGridData.js
  airflow/www/static/js/grid/api/useGridData.test.jsx
  airflow/www/static/js/grid/details/content/taskInstance/index.jsx
Due: language-matters

Use default_dag_run_display_number in the filter options
  airflow/www/jest-setup.js
  airflow/www/static/js/grid/utils/useFilters.js
  airflow/www/static/js/grid/utils/useFilters.test.jsx
  airflow/www/templates/airflow/grid.html
  airflow/www/views.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Refact to use existing SimpleStatus component
  airflow/www/static/js/grid/FilterBar.jsx
  airflow/www/static/js/grid/LegendRow.jsx
Due: language-matters

Additional fix after rebase.
  airflow/www/static/js/grid/api/useGridData.test.jsx
  airflow/www/static/js/grid/context/useFilters.js
  airflow/www/static/js/grid/dagRuns/index.test.jsx
  airflow/www/static/js/grid/utils/useFilters.js
  airflow/www/static/js/grid/utils/useFilters.jsx
  airflow/www/static/js/grid/utils/useFilters.test.jsx
  airflow/www/static/js/grid/utils/useSelection.js
  airflow/www/templates/airflow/grid.html
Due: dont-use-safe-filter, language-matters

Fix `PostgresToGCSOperator` does not allow nested JSON (#23063)
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  airflow/providers/google/cloud/transfers/mysql_to_gcs.py
  airflow/providers/google/cloud/transfers/oracle_to_gcs.py
  airflow/providers/google/cloud/transfers/postgres_to_gcs.py
  airflow/providers/google/cloud/transfers/presto_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/google/cloud/transfers/trino_to_gcs.py
  tests/providers/google/cloud/transfers/test_postgres_to_gcs.py
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fix conn close error on retrieving log events (#23470)
  airflow/providers/amazon/aws/operators/ecs.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Temporarily pin xmltodict to 0.12.0 to fix main failure
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Temporarily pin xmltodict to 0.12.0 to fix main failure (#23577)
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Update dags.rst
  docs/apache-airflow/concepts/dags.rst
Due: language-matters, provider-yamls

Add test for template fields
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update dags.rst (#23579)
  docs/apache-airflow/concepts/dags.rst
Due: language-matters, provider-yamls

Fix dag-processor fetch metabase config (#23575)
  airflow/cli/commands/dag_processor_command.py
  tests/cli/commands/test_dag_processor_command.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Updating constraints. Build id:2293062944
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: language-matters

Fixed option name in Breeze description
  BREEZE.rst
Due: update-breeze-file, language-matters

Fixed option name in Breeze description (#23582)
  BREEZE.rst
Due: update-breeze-file, language-matters

Updating constraints. Build id:2293499725
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: language-matters

Add support for queued state in DagRun update endpoint. (#23481)
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_run_schema.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix scheduler crash when expanding with mapped task that returned none (#23486)
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update pod_manager.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fixed review comments
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fixed defect
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

fix black formating
  airflow/operators/python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix code formatting issues
  airflow/www/views.py
  tests/www/views/test_views_graph_gantt.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Load requested dagrun even when there are many dagruns at (almost) the same time
  airflow/www/views.py
  tests/www/views/test_views_graph_gantt.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Apply specific ID collation to root_dag_id too
  airflow/migrations/versions/0045_b3b105409875_add_root_dag_id_to_dag.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add `device_requests` parameter to `DockerOperator` (#23554)
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Pools with negative open slots should not block other pools (#23143)
  airflow/jobs/scheduler_job.py
  airflow/models/pool.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix `PythonVirtualenvOperator` templated_fields (#23559)
  airflow/operators/python.py
  tests/operators/test_python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Clean up in-line f-string concatenation
  airflow/providers/amazon/aws/utils/redshift.py
  airflow/providers/apache/drill/hooks/drill.py
  airflow/providers/databricks/operators/databricks_repos.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/hashicorp/_internal_client/vault_client.py
  airflow/utils/cli.py
  dev/assign_cherry_picked_prs_with_milestone.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/prepare_release_issue.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow/security/webserver.rst
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
  tests/cli/test_cli_parser.py
  tests/system/providers/google/bigquery/example_bigquery_tables.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Fix doc
  docs/apache-airflow-providers-amazon/operators/s3.rst
Due: language-matters, provider-yamls

Fix broken dagrun links when many runs start at the same time (#23462)
  airflow/www/views.py
  tests/www/views/test_views_graph_gantt.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

1.6.0 chart annotations
  chart/Chart.yaml
Due: language-matters, helm-lint

Helm chart 1.6.0rc1
  chart/RELEASE_NOTES.rst
  chart/newsfragments/23386.significant.rst
Due: language-matters, helm-lint

Fix static checks
  .pre-commit-config.yaml
Due: language-matters, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
