Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Improve graph view load time for dags with open groups (#17821)
  airflow/www/static/js/graph.js
Due: language-matters

Fix provider.yaml errors due to exit(0) in test (#17858)
  airflow/providers/amazon/provider.yaml
  airflow/providers/microsoft/psrp/provider.yaml
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, flynt, mypy, flake8

Fix missing whitespace in ``apply_default`` deprecation message (#17799)
  airflow/utils/decorators.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update to Celery 5 (#17397)
  airflow/cli/commands/celery_command.py
  setup.py
  tests/cli/commands/test_celery_command.py
  tests/executors/test_celery_executor.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

(docs): update README.md (#17806)
  README.md
Due: language-matters, markdownlint

Add pre/post execution hooks (#17576)
  airflow/models/baseoperator.py
  airflow/operators/subdag.py
  tests/models/test_baseoperator.py
  tests/serialization/test_dag_serialization.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Prepare release for Kubernetes Provider (#17798)
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/provider.yaml
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
Due: language-matters, provider-yamls

Add an Amazon EMR on EKS provider package (#16766)
  airflow/providers/amazon/aws/example_dags/example_emr_eks_job.py
  airflow/providers/amazon/aws/hooks/emr_containers.py
  airflow/providers/amazon/aws/operators/emr_containers.py
  airflow/providers/amazon/aws/sensors/emr_containers.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/emr_eks.rst
  tests/providers/amazon/aws/hooks/test_emr_containers.py
  tests/providers/amazon/aws/operators/test_emr_containers.py
  tests/providers/amazon/aws/sensors/test_emr_containers.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Secrets backend failover (#16404)
  airflow/configuration.py
  airflow/models/connection.py
  airflow/models/variable.py
  tests/core/test_configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add Brent to Committers list (#17873)
  docs/apache-airflow/project.rst
Due: language-matters, provider-yamls

[Airflow 13779] use provided parameters in the wait_for_pipeline_state hook (#17137)
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/operators/datafusion.py
  tests/providers/google/cloud/hooks/test_datafusion.py
  tests/providers/google/cloud/operators/test_datafusion.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Allow omission of `initial_node_count` if `node_pools` is specified (#17820)
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fix using XCom with ``KubernetesPodOperator`` (#17760)
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fix dag_processing.last_duration metric random holes (#17769)
  airflow/dag_processing/manager.py
  tests/dag_processing/test_manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add Triggerer to Helm Chart (#17743)
  chart/templates/_helpers.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/triggerer/triggerer-serviceaccount.yaml
  chart/tests/test_trigerrer.py
  chart/values.schema.json
  chart/values.yaml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, flynt, mypy, pylint, flake8

Add Brent to ``CODEOWNERS`` (#17877)
  .github/CODEOWNERS
Due: none

Bump `pip` version to `21.2.4` (#17746)
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/libraries/_initialization.sh
Due: lint-dockerfile, language-matters, shellcheck, bats-tests, provider-yamls

Improve discoverability of Provider packages' functionality
  docs/apache-airflow-providers-amazon/logging/cloud-watch-task-handlers.rst
  docs/apache-airflow-providers-amazon/logging/s3-task-handler.rst
  docs/apache-airflow-providers-elasticsearch/index.rst
  docs/apache-airflow-providers-elasticsearch/logging/index.rst
  docs/apache-airflow-providers-elasticsearch/redirects.txt
  docs/apache-airflow-providers-google/logging/gcs.rst
  docs/apache-airflow-providers-google/logging/stackdriver.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-microsoft-azure/logging/index.rst
  docs/apache-airflow-providers-microsoft-azure/redirects.txt
  docs/apache-airflow-providers/core-extensions/auth-backends.rst
  docs/apache-airflow-providers/core-extensions/connections.rst
  docs/apache-airflow-providers/core-extensions/extra-links.rst
  docs/apache-airflow-providers/core-extensions/index.rst
  docs/apache-airflow-providers/core-extensions/logging.rst
  docs/apache-airflow-providers/core-extensions/secrets-backends.rst
  docs/apache-airflow-providers/index.rst
  docs/apache-airflow/concepts/connections.rst
  docs/apache-airflow/concepts/operators.rst
  docs/apache-airflow/howto/define_extra_link.rst
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
  docs/apache-airflow/security/secrets/secrets-backend/index.rst
  docs/build_docs.py
  docs/exts/auth_backend.rst.jinja2
  docs/exts/connections.rst.jinja2
  docs/exts/extra_links.rst.jinja2
  docs/exts/logging.rst.jinja2
  docs/exts/operators_and_hooks_ref.py
  docs/exts/secret_backend.rst.jinja2
  docs/helm-chart/manage-logs.rst
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Improve dag/task concurrency check (#17786)
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix clean-logs after improper skipping of lost+found (#17739)
  scripts/in_container/prod/clean-logs.sh
Due: language-matters, shellcheck, bats-in-container-tests

Move instriuctions of constraint/image refreshing to dev
  CONTRIBUTING.rst
  dev/REFRESHING_CI_CACHE.md
  dev/refresh_images.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Due: update-extras, language-matters, shellcheck, bats-tests, markdownlint

Remove deprecated metrics from metrics.rst (#17772)
  docs/apache-airflow/logging-monitoring/metrics.rst
Due: language-matters, provider-yamls

make the providers operators/hooks reference much more usable (#17768)
  docs/apache-airflow-providers/operators-and-hooks-ref/apache.rst
  docs/apache-airflow-providers/operators-and-hooks-ref/aws.rst
  docs/apache-airflow-providers/operators-and-hooks-ref/azure.rst
  docs/apache-airflow-providers/operators-and-hooks-ref/google.rst
  docs/apache-airflow-providers/operators-and-hooks-ref/index.rst
  docs/apache-airflow-providers/operators-and-hooks-ref/protocol.rst
  docs/apache-airflow-providers/operators-and-hooks-ref/services.rst
  docs/apache-airflow-providers/operators-and-hooks-ref/software.rst
Due: language-matters, provider-yamls

Fix broken MSSQL test (#17797)
  tests/task/task_runner/test_standard_task_runner.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove Marshmallow schema warnings (#17753)
  airflow/api_connexion/schemas/dag_run_schema.py
  airflow/api_connexion/schemas/task_instance_schema.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix failing main spellcheck build (#17761)
  docs/spelling_wordlist.txt
Due: language-matters, provider-yamls

Fix: Mysql 5.7 id utf8mb3 (#14535)
  airflow/migrations/versions/03afc6b6f902_increase_length_of_fab_ab_view_menu_.py
  airflow/migrations/versions/0a2a5b66e19d_add_task_reschedule_table.py
  airflow/migrations/versions/1b38cef5b76e_add_dagrun.py
  airflow/migrations/versions/64de9cddf6c9_add_task_fails_journal_table.py
  airflow/migrations/versions/7939bcff74ba_add_dagtags_table.py
  airflow/migrations/versions/852ae6c715af_add_rendered_task_instance_fields_table.py
  airflow/migrations/versions/8646922c8a04_change_default_pool_slots_to_1.py
  airflow/migrations/versions/8d48763f6d53_add_unique_constraint_to_conn_id.py
  airflow/migrations/versions/952da73b5eff_add_dag_code_table.py
  airflow/migrations/versions/b25a55525161_increase_length_of_pool_name.py
  airflow/migrations/versions/cc1e65623dc7_add_max_tries_column_to_task_instance.py
  airflow/migrations/versions/d38e04c12aa2_add_serialized_dag_table.py
  airflow/migrations/versions/e38be357a868_update_schema_for_smart_sensor.py
  airflow/migrations/versions/e3a246e0dc1_current_schema.py
  airflow/migrations/versions/f2ca10b85618_add_dag_stats_table.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Move Model collation args tests to correct folder (#17791)
  tests/models/test_base.py
  tests/sensors/test_base.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add links to provider's documentation (#17736)
  airflow/utils/docs.py
  airflow/www/templates/airflow/providers.html
  airflow/www/views.py
  tests/www/views/test_views.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Convert issue templates into forms (#17855)
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_doc_issue_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/~free_form.yml
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, sort-in-the-wild, provider-yamls, pre-commit-descriptions, pre-commit-hook-names, markdownlint, flynt, mypy, flake8

Move setting of project ID after activating service account (#17866)
  tests/test_utils/gcp_system_helpers.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fixes unbound variable during remote image check in Breeze (#17807)
  scripts/ci/libraries/_build_images.sh
Due: language-matters, shellcheck, bats-tests

fix EXTRA_LOGGER_NAMES param and related docs (#17808)
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, json-schema, flynt, mypy, pylint, flake8

Chart: Add loadBalancerSourceRanges in webserver and flower services (#17666)
  chart/templates/flower/flower-service.yaml
  chart/templates/webserver/webserver-service.yaml
  chart/tests/test_flower.py
  chart/tests/test_webserver.py
  chart/values.schema.json
  chart/values.yaml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, flynt, mypy, pylint, flake8

Fetching and logging livy session logs for LivyOperrator (#17393)
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/livy.py
  tests/providers/apache/livy/operators/test_livy.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fix ``TimeSensorAsync`` (#17748)
  airflow/sensors/time_sensor.py
  airflow/triggers/base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update INTHEWILD.md (#17832)
  INTHEWILD.md
Due: language-matters, sort-in-the-wild, markdownlint

Remove ``[core] store_dag_code`` & use DB to get Dag Code (#16342)
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/manager.py
  airflow/models/dag.py
  airflow/models/dagcode.py
  airflow/settings.py
  airflow/www/views.py
  docs/apache-airflow/dag-serialization.rst
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/core/test_configuration.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagcode.py
  tests/www/views/test_views_log.py
  tests/www/views/test_views_tasks.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, markdownlint, json-schema, flynt, mypy, pylint, flake8

Remove airflow dependency from http provider
  airflow/providers/http/provider.yaml
Due: language-matters, provider-yamls

Only show import errors for DAGs a user can access (#17835)
  airflow/www/views.py
  tests/www/views/test_views_base.py
  tests/www/views/test_views_home.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8
