Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Add retry logic for KubernetesCreateResourceOperator and KubernetesJobOperator (#39201)
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/kubernetes_helper_functions.py
  airflow/providers/cncf/kubernetes/operators/resource.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_resource.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Update standard_task_runner.py
  airflow/task/task_runner/standard_task_runner.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Add compatibility note for Listeners
  docs/apache-airflow/administration-and-deployment/listeners.rst
Due: replace-bad-characters, update-version

Add compatibility note for Listeners (#39544)
  docs/apache-airflow/administration-and-deployment/listeners.rst
Due: replace-bad-characters, update-version

Display endDate in task instance tooltip.
  airflow/www/static/js/dag/InstanceTooltip.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

Fix up documentation typo
  airflow/providers/databricks/triggers/databricks.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Add Cache-Control "no-store" to all dynamically generated content
  airflow/www/app.py
  airflow/www/extensions/init_security.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Add Cache-Control "no-store" to all dynamically generated content (#39550)
  airflow/www/app.py
  airflow/www/extensions/init_security.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Faster airflow_version import for iceberg provider init
  airflow/providers/apache/iceberg/__init__.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Add tests
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_aux/test_placeholder.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, lint-helm-chart, lint-json-schema, update-vendored-in-k8s-json-schema, check-docstring-param-types, lint-chart-schema, check-lazy-logging, mypy-core

Fix tabular provider version 1.5.0 removal
  airflow/providers/tabular/__init__.py
  airflow/providers/tabular/provider.yaml
  docs/apache-airflow-providers-tabular/index.rst
Due: ruff, replace-bad-characters, check-extra-packages-references, check-airflow-provider-compatibility, update-providers-dependencies, update-extras, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-aiobotocore-optional, check-docstring-param-types, check-system-tests-tocs, check-lazy-logging, mypy-providers, check-provider-yaml-valid

Add statsd uses tags to generate metric
  airflow/metrics/statsd_logger.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix BigQuery jobs Labl Regex
  airflow/providers/google/cloud/operators/bigquery.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

yandex provider: bump version for yq http client package
  airflow/providers/yandex/provider.yaml
Due: replace-bad-characters, check-extra-packages-references, update-providers-dependencies, update-extras, check-aiobotocore-optional, check-provider-yaml-valid

enh(amazon_hook): raise not found exception instead of general exception when download file (#39509)
  airflow/providers/amazon/aws/hooks/s3.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Remove Airflow 2.6 back compact code
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/workflows.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

fix boring-cyborg.yml
  .github/boring-cyborg.yml
Due: replace-bad-characters

Group id is mandatory configurtion option for confluent_kafka 2.4.0+
  airflow/providers/apache/kafka/hooks/base.py
  airflow/utils/db.py
  tests/integration/providers/apache/kafka/hooks/test_admin_client.py
  tests/integration/providers/apache/kafka/operators/test_produce.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

fix
  .github/boring-cyborg.yml
Due: replace-bad-characters

clean up commented code
  airflow/www/views.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

indent fix tab to 2 indent
  airflow/www/templates/appbuilder/navbar.html
Due: replace-bad-characters, check-safe-filter-usage-in-html

Update best-practices.rst: fix Connection.get -> Connection. get_connection_from_secrets
  docs/apache-airflow/best-practices.rst
Due: replace-bad-characters, update-version

Group id is mandatory configurtion option for confluent_kafka 2.4.0+ (#39559)
  airflow/providers/apache/kafka/hooks/base.py
  airflow/utils/db.py
  tests/integration/providers/apache/kafka/hooks/test_admin_client.py
  tests/integration/providers/apache/kafka/operators/test_produce.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

fix boring-cyborg.yml (#39557)
  .github/boring-cyborg.yml
Due: replace-bad-characters

Update uv to 0.42
  Dockerfile
  Dockerfile.ci
Due: replace-bad-characters, lint-dockerfile, check-extras-order, update-inlined-dockerfile-scripts

Remove Airflow 2.6 back compact code (#39558)
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/workflows.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Update uv to 0.42 (#39561)
  Dockerfile
  Dockerfile.ci
Due: replace-bad-characters, lint-dockerfile, check-extras-order, update-inlined-dockerfile-scripts

fix test case
  tests/providers/google/cloud/operators/test_bigquery.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Update generated/provider_dependencies.json
  generated/provider_dependencies.json
Due: replace-bad-characters, update-breeze-cmd-output

add test
  tests/providers/databricks/operators/test_databricks.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

add test for termination before defer
  tests/providers/databricks/operators/test_databricks.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Update INSTALL
  INSTALL
Due: replace-bad-characters, update-extras

call execute in tests
  tests/providers/databricks/operators/test_databricks.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Update INSTALL (#39563)
  INSTALL
Due: replace-bad-characters, update-extras

add comment for linter
  airflow/www/static/js/toggle_theme.js
Due: replace-bad-characters, ts-compile-format-lint-www

add run id in tests
  tests/providers/databricks/operators/test_databricks.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase
