Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Add some more clarifications on edge roles
  providers/edge3/docs/architecture.rst
  providers/edge3/docs/ui_plugin.rst
Due: replace-bad-characters

Fix spelling
  providers/edge3/docs/architecture.rst
Due: replace-bad-characters

Clarify beginner quick start duration
  contributing-docs/03a_contributors_quick_start_beginners.rst
Due: replace-bad-characters

Add some more clarifications on edge roles (#67379)
  providers/edge3/docs/architecture.rst
  providers/edge3/docs/ui_plugin.rst
Due: replace-bad-characters

Bump google-cloud-aiplatform to force upgrade of litellm
  providers/google/docs/index.rst
  providers/google/pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Update providers metadata 2026-05-23 (#67377)
  generated/provider_metadata.json
Due: replace-bad-characters

Amend install airflow and provider to cover airflowctl
  scripts/in_container/install_airflow_and_providers.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

Change airflow-core usage for ctl and amend installation in docker
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

Prepare airflowctl for tests in CI
  .github/workflows/test-providers.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Change airflow-core usage for ctl
  airflow-core/pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Increment version of airflowctl for RC
  airflow-ctl/src/airflowctl/__init__.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Increment version of airflowctl for RC (#67295)
  .github/workflows/test-providers.yml
  Dockerfile
  airflow-core/pyproject.toml
  airflow-ctl/src/airflowctl/__init__.py
  scripts/docker/install_from_docker_context_files.sh
  scripts/in_container/install_airflow_and_providers.py
Due: check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-extras-order, prevent-deprecated-sqlalchemy-usage, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, shellcheck, update-pyproject-toml, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-inlined-dockerfile-scripts, check-lazy-logging, mypy-dev

Cleup older/outddated uv cooldown exception
  pyproject.toml
Due: replace-bad-characters

[airflow-ctl/v0-1-test] Increment version of airflowctl for RC (#67295)
  .github/workflows/test-providers.yml
  Dockerfile
  airflow-core/pyproject.toml
  airflow-ctl/src/airflowctl/__init__.py
  scripts/docker/install_from_docker_context_files.sh
  scripts/in_container/install_airflow_and_providers.py
Due: check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-extras-order, prevent-deprecated-sqlalchemy-usage, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, shellcheck, update-pyproject-toml, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-inlined-dockerfile-scripts, check-lazy-logging, mypy-dev

[airflow-ctl/v0-1-test] Increment version of airflowctl for RC (#67295) (#67384)
  .github/workflows/test-providers.yml
  Dockerfile
  airflow-core/pyproject.toml
  airflow-ctl/src/airflowctl/__init__.py
  scripts/docker/install_from_docker_context_files.sh
  scripts/in_container/install_airflow_and_providers.py
Due: check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-extras-order, prevent-deprecated-sqlalchemy-usage, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, shellcheck, update-pyproject-toml, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-inlined-dockerfile-scripts, check-lazy-logging, mypy-dev

Remove pin in uv.lock
  uv.lock
Due: replace-bad-characters

Fix deferrable execution_timeout handling in AirbyteTriggerSyncOperator
  providers/airbyte/src/airflow/providers/airbyte/operators/airbyte.py
  providers/airbyte/tests/unit/airbyte/operators/test_airbyte.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add airflowctl dags next-execution command #66172
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/dag_command.py
  airflow-ctl/src/airflowctl/ctl/help_texts.yaml
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_dag_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add generated OpenAPI spec and UI types
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Due: replace-bad-characters

Revert "Add generated OpenAPI spec and UI types"
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-ctl-tests/tests/airflowctl_tests/test_airflowctl_commands.py
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/src/airflowctl/ctl/commands/dag_command.py
  airflow-ctl/src/airflowctl/ctl/help_texts.yaml
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_dag_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Update help text Dag definition
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/src/airflowctl/ctl/cli_config.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Amend hooks
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/help_texts.yaml
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add unit tests for TasksOperations in airflow-ctl
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add tasks and tasks clear to help image generation and help_texts
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_tasks.svg
  airflow-ctl/src/airflowctl/ctl/help_texts.yaml
  scripts/in_container/run_capture_airflowctl_help.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

Add airflowctl tasks clear command
  airflow-ctl-tests/tests/airflowctl_tests/test_airflowctl_commands.py
  airflow-ctl/src/airflowctl/api/client.py
  airflow-ctl/src/airflowctl/api/operations.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix missing --output flag for tasks clear operation
  airflow-ctl/src/airflowctl/ctl/cli_config.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add dags next execution command #66172 (#66188)
  airflow-ctl-tests/tests/airflowctl_tests/test_airflowctl_commands.py
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/dag_command.py
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_dag_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[airflow-ctl/v0-1-test] Add dags next execution command #66172 (#66188)
  airflow-ctl-tests/tests/airflowctl_tests/test_airflowctl_commands.py
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/dag_command.py
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_dag_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix KubernetesExecutor retry losing hostname
  airflow-core/newsfragments/67372.bugfix.rst
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/src/airflow/models/taskinstancehistory.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

[airflow-ctl/v0-1-test] airflowctl: make required CLI params positional, keep optional as --flag (#66768)
  airflow-ctl-tests/tests/airflowctl_tests/test_airflowctl_commands.py
  airflow-ctl-tests/tests/airflowctl_tests/test_config_sensitive_masking.py
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/tests/airflow_ctl/ctl/test_cli_config.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix securecookie session TypeError with Werkzeug 3.0+
  providers/fab/src/airflow/providers/fab/www/session.py
  providers/fab/tests/unit/fab/www/test_session.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Accept Sequence[UserContent] prompts in common.ai TaskFlow decorators
  providers/common/ai/docs/changelog.rst
  providers/common/ai/docs/operators/agent.rst
  providers/common/ai/docs/operators/llm.rst
  providers/common/ai/docs/operators/llm_branch.rst
  providers/common/ai/docs/operators/llm_schema_compare.rst
  providers/common/ai/docs/operators/llm_sql.rst
  providers/common/ai/src/airflow/providers/common/ai/decorators/agent.py
  providers/common/ai/src/airflow/providers/common/ai/decorators/llm.py
  providers/common/ai/src/airflow/providers/common/ai/decorators/llm_branch.py
  providers/common/ai/src/airflow/providers/common/ai/decorators/llm_file_analysis.py
  providers/common/ai/src/airflow/providers/common/ai/decorators/llm_schema_compare.py
  providers/common/ai/src/airflow/providers/common/ai/decorators/llm_sql.py
  providers/common/ai/src/airflow/providers/common/ai/mixins/approval.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm_sql.py
  providers/common/ai/src/airflow/providers/common/ai/utils/validation.py
  providers/common/ai/tests/unit/common/ai/decorators/test_agent.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_branch.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_schema_compare.py
  providers/common/ai/tests/unit/common/ai/decorators/test_llm_sql.py
  providers/common/ai/tests/unit/common/ai/mixins/test_approval.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_sql.py
  providers/common/ai/tests/unit/common/ai/utils/test_validation.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-changelog-has-no-duplicates, check-changelog-format, check-lazy-logging, check-contextmanager-class-decorators

Correctly pre-allocate `external_exeuctor_id` with multiple executors.
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Drop manually-authored 0.4.0 changelog block
  providers/common/ai/docs/changelog.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates, check-changelog-format

Updated ValueError to AirflowException
  providers/amazon/src/airflow/providers/amazon/aws/operators/batch.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Renamed apply_upstream_relationship to register_with_dag
  task-sdk/src/airflow/sdk/bases/decorator.py
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
  task-sdk/src/airflow/sdk/definitions/partitionedoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

docs: clarify AssetAlias usage
  airflow-core/docs/authoring-and-scheduling/assets.rst
Due: replace-bad-characters

docs: clarify Redis maintenance for CeleryExecutor
  providers/celery/docs/celery_executor.rst
Due: replace-bad-characters

Handle no next run in next-execution table output
  airflow-core/src/airflow/cli/commands/dag_command.py
  airflow-core/tests/unit/cli/commands/test_dag_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

docs: add Italian translation skill guidelines
  .github/skills/airflow-translations/locales/it.md
Due: replace-bad-characters, lint-markdown

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
