Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Pin triggerer start_from_trigger DAG resolution to the dagrun's version
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/tests/unit/jobs/test_triggerer_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Re-trigger CI (runner disk exhaustion flake on Compat 3.3.0 job)
  task-sdk/src/airflow/sdk/definitions/dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix documented Breeze selective checks command (#69861)
  AGENTS.md
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/ci/04_selective_checks.md
  dev/skill-evals/last-eval-hash.txt
  scripts/tests/ci/prek/test_generate_agent_skills.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Add Dag run context fields to the Java SDK Context (#69100)
  java-sdk/sdk/src/main/kotlin/org/apache/airflow/sdk/Context.kt
  java-sdk/sdk/src/main/kotlin/org/apache/airflow/sdk/execution/Logger.kt
  java-sdk/sdk/src/test/kotlin/org/apache/airflow/sdk/ContextTest.kt
Due: replace-bad-characters

fixup! [v3-3-test] Fix partition key display and input handling (#69702)
  airflow-core/src/airflow/ui/src/pages/Asset/CreateAssetEventModal.test.tsx
Due: replace-bad-characters

Remove redundant Docker Swarm service name test
  providers/docker/tests/unit/docker/operators/test_docker_swarm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Decouple Docker provider service naming from Airflow core
  providers/docker/src/airflow/providers/docker/operators/docker_swarm.py
  providers/docker/tests/unit/docker/operators/test_docker_swarm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Stop sending None callbacks to the Dag processor
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Add optional AI agent rules to React plugin template
  dev/react-plugin-tools/README.md
  dev/react-plugin-tools/bootstrap.py
  dev/react-plugin-tools/react_plugin_template/ai-agent-rules/README.md
  dev/react-plugin-tools/react_plugin_template/ai-agent-rules/airflow-plugin.md
  dev/react-plugin-tools/react_plugin_template/ai-agent-rules/react-typescript.md
  dev/react-plugin-tools/react_plugin_template/ai-agent-rules/testing.md
  scripts/tests/test_react_plugin_bootstrap.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, lint-markdown, check-docstring-param-types, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Sort Dags by latest run after
  airflow-core/src/airflow/api_fastapi/common/db/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/dags.py
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/public/i18n/locales/en/dags.json
  airflow-core/src/airflow/ui/src/constants/sortParams.ts
  airflow-core/src/airflow/ui/src/mocks/handlers/dags.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.test.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
  airflow-core/src/airflow/ui/src/queries/useDags.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_dags.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Update providers/common/ai/src/airflow/providers/common/ai/hooks/pydantic_ai.py
  providers/common/ai/src/airflow/providers/common/ai/hooks/pydantic_ai.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Update task-sdk/src/airflow/sdk/bases/hook.py
  task-sdk/src/airflow/sdk/bases/hook.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Strip connection headers on cross-host redirect in HttpHook
  providers/http/src/airflow/providers/http/hooks/http.py
  providers/http/tests/unit/http/hooks/test_http.py
  providers/http/tests/unit/http/sensors/test_http.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fix(providers/google): support sovereign console links
  providers/google/src/airflow/providers/google/cloud/bundles/gcs.py
  providers/google/src/airflow/providers/google/cloud/log/stackdriver_task_handler.py
  providers/google/tests/unit/google/cloud/bundles/test_gcs.py
  providers/google/tests/unit/google/cloud/log/test_stackdriver_task_handler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add GitSyncDagBundle for externally synchronized checkouts (git-sync)
  providers/git/docs/bundles/index.rst
  providers/git/provider.yaml
  providers/git/src/airflow/providers/git/bundles/gitsync.py
  providers/git/tests/unit/git/bundles/test_gitsync.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add missing Dutch translations (#68742)
  airflow-core/src/airflow/ui/public/i18n/locales/nl/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/hitl.json
Due: replace-bad-characters

Support multiple fallback paths in VaultBackend
  providers/hashicorp/docs/secrets-backends/hashicorp-vault.rst
  providers/hashicorp/src/airflow/providers/hashicorp/secrets/vault.py
  providers/hashicorp/tests/unit/hashicorp/secrets/test_vault.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[v3-3-test] Add missing Dutch translations (#68742)
  airflow-core/src/airflow/ui/public/i18n/locales/nl/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/hitl.json
Due: replace-bad-characters

Fix postgres scheme now that TaskSDKConnection.from_json normalizes postgres scheme
  providers/hashicorp/tests/unit/hashicorp/secrets/test_vault.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Suppress noisy Alembic plugin setup logs
  shared/logging/src/airflow_shared/logging/structlog.py
  shared/logging/tests/logging/test_structlog.py
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix common.ai durable execution skipping Toolset-capability tools (#69881)
  providers/common/ai/src/airflow/providers/common/ai/durable/storage.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/tests/unit/common/ai/durable/test_storage.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Emit queued and running Dag run counts as metrics
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  shared/observability/src/airflow_shared/observability/metrics/metrics_template.yaml
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Skip stored credentials when a connection test overrides host or port (#69957)
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/connections.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Document semantic theme tokens for ui_color and ui_fgcolor
  airflow-core/docs/howto/custom-operator.rst
  airflow-core/newsfragments/68760.significant.rst
  task-sdk/src/airflow/sdk/definitions/taskgroup.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Authorize Dag reparse against the file's Dags, not the query-string dag_id
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_parsing.py
  airflow-core/src/airflow/api_fastapi/core_api/security.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_parsing.py
  scripts/ci/prek/extract_permissions.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-dev, check-contextmanager-class-decorators

Fix CI
  airflow-core/src/airflow/api_fastapi/core_api/security.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Update airflow-core/src/airflow/api_fastapi/core_api/security.py
  airflow-core/src/airflow/api_fastapi/core_api/security.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Fix database connection leaks in resetdb functions
  airflow-core/src/airflow/utils/db.py
  airflow-core/src/airflow/utils/db_manager.py
Due: replace-bad-characters, check-revision-heads-map, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Fix ZipFile resource leak in open_maybe_zipped
  airflow-core/src/airflow/utils/file.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Rework per review: pin_symlink_on_refresh option on LocalDagBundle instead of a new bundle class
  airflow-core/docs/administration-and-deployment/dag-bundles.rst
  airflow-core/newsfragments/70003.feature.rst
  airflow-core/src/airflow/dag_processing/bundles/local.py
  airflow-core/tests/unit/dag_processing/bundles/test_local.py
  providers/git/docs/bundles/index.rst
  providers/git/provider.yaml
  providers/git/src/airflow/providers/git/bundles/gitsync.py
  providers/git/tests/unit/git/bundles/test_gitsync.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Update build system backend
  providers/dq/provider.yaml
  providers/dq/pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Update docs
  providers/common/dataquality/docs/assets.rst
  providers/common/dataquality/docs/rules.rst
  providers/common/dataquality/src/airflow/providers/common/dataquality/example_dags/example_dq_require_quality.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/skills/dataquality-rule-authoring/SKILL.md
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, lint-markdown, check-docstring-param-types, check-lazy-logging

Add reusable data quality execution helpers to run quality checks from any tasks
  providers/common/dataquality/docs/operators.rst
  providers/common/dataquality/src/airflow/providers/common/dataquality/decorators/dq_check.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/example_dags/example_dq_in_taskflow.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/execution.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/operators/dq_check.py
  providers/common/dataquality/tests/unit/common/dataquality/decorators/test_dq_check.py
  providers/common/dataquality/tests/unit/common/dataquality/operators/test_dq_check.py
  providers/common/dataquality/tests/unit/common/dataquality/test_execution.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fixup tests
  airflow-core/tests/unit/always/test_project_structure.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fixup observed values usage
  providers/common/dataquality/src/airflow/providers/common/dataquality/engines/sql.py
  providers/common/dataquality/tests/unit/common/dataquality/engines/test_sql.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Resolve conflicts
  .github/boring-cyborg.yml
  providers/common/dataquality/docs/index.rst
  providers/common/dataquality/provider.yaml
  providers/common/dataquality/pyproject.toml
  providers/common/dataquality/src/airflow/providers/common/dataquality/get_provider_info.py
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging

Resolve copilot comments
  airflow-core/tests/unit/always/test_project_structure.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/backends/object_storage.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/example_dags/example_dq_check_custom_sql.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/example_dags/example_dq_check_decorator_dynamic.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/example_dags/example_dq_llm_generated_ruleset.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/example_dags/example_dq_require_quality.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/example_dags/example_dq_ruleset_from_yaml.py
  providers/common/dataquality/src/airflow/providers/common/dataquality/operators/dq_check.py
  providers/common/dataquality/tests/system/common/dataquality/example_dq_check.py
  providers/common/dataquality/tests/unit/common/dataquality/backends/test_object_storage.py
  providers/common/dataquality/tests/unit/common/dataquality/operators/test_dq_check.py
  providers/common/dataquality/tests/unit/common/dataquality/test_exceptions.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Remove unused location
  providers/dq/src/airflow/providers/dq/backends/object_storage.py
  providers/dq/tests/unit/dq/backends/test_object_storage.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators
