Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Add AssetAndTimeSchedule timetable for time + asset gated scheduling
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/serialization/encoders.py
  airflow-core/src/airflow/timetables/assets.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/timetables/test_assets_timetable.py
  task-sdk/src/airflow/sdk/__init__.py
  task-sdk/src/airflow/sdk/__init__.pyi
  task-sdk/src/airflow/sdk/definitions/timetables/assets.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Refactor asset gated DAG run creation logic for clarity and efficiency
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Use timetable behavior flags for asset-aware scheduling
  airflow-core/docs/migrations-ref.rst
  airflow-core/newsfragments/58543.feature.rst
  airflow-core/src/airflow/dag_processing/collection.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/migrations/versions/0131_3_4_0_add_timetable_asset_gated_to_dagmodel.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/timetables/assets.py
  airflow-core/src/airflow/timetables/base.py
  airflow-core/src/airflow/timetables/simple.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/tests/unit/dag_processing/test_collection.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/timetables/test_assets_timetable.py
  task-sdk/src/airflow/sdk/bases/timetable.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/definitions/timetables/assets.py
  task-sdk/tests/task_sdk/definitions/test_dag.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-revision-heads-map, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Route asset-gated Dags through the standard scheduled-run path
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dag.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Keep core AssetAndTimeSchedule free of SDK asset classes
  airflow-core/src/airflow/timetables/assets.py
  airflow-core/tests/unit/timetables/test_assets_timetable.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Enhance asset scheduling by adding event exclusion logic and refactoring validation checks
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/timetables/assets.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Add regression test to prevent reattribution of consumed asset events in gated runs
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. GitHub run id:31457493501
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-3.14.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-no-providers-3.14.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
  constraints-source-providers-3.14.txt
Due: replace-bad-characters

Move the evaluation breaking change to 23.0.0 and make the guard mypy-clean
  providers/google/docs/changelog.rst
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  providers/google/tests/unit/google/cloud/hooks/vertex_ai/test_generative_model.py
  providers/google/tests/unit/google/cloud/operators/vertex_ai/test_generative_model.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-changelog-has-no-duplicates, check-changelog-format, check-lazy-logging, check-contextmanager-class-decorators

Gate Java SDK dependency changes
  .github/dependabot.yml
  .github/workflows/java-sdk-dependency-security.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Verify Java SDK build dependencies
  .github/workflows/java-sdk-release-verify.yml
  .pre-commit-config.yaml
  java-sdk/README.md
  java-sdk/build.gradle.kts
  java-sdk/buildSrc/build.gradle.kts
  java-sdk/buildSrc/src/main/kotlin/airflow-jvm-conventions.gradle.kts
  java-sdk/gradle/verification-metadata.xml
  java-sdk/plugin/build.gradle.kts
  java-sdk/settings.gradle.kts
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-markdown, check-persist-credentials-disabled-in-github-workflows, update-breeze-cmd-output

Track partial_subset matches as a single id set, not id set + object list
  airflow-core/src/airflow/serialization/definitions/dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Use fs.find for containment check to avoid per-key isdir calls
  task-sdk/src/airflow/sdk/io/path.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Strip Connection headers on cross-host redirect in HttpAsyncHook
  devel-common/src/tests_common/test_utils/aiohttp.py
  providers/http/docs/changelog.rst
  providers/http/src/airflow/providers/http/hooks/http.py
  providers/http/tests/unit/http/hooks/test_http.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-changelog-has-no-duplicates, check-changelog-format, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Eager-load Assets list relationships with selectinload and refresh it after new events (#70997)
  airflow-core/src/airflow/api_fastapi/common/db/assets.py
  airflow-core/src/airflow/ui/src/pages/Asset/CreateAssetEventModal.test.tsx
  airflow-core/src/airflow/ui/src/pages/Asset/CreateAssetEventModal.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_assets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

docs: clarify limited Podman support in Breeze quick-start guide
  contributing-docs/03a_contributors_quick_start_beginners.rst
Due: replace-bad-characters

handling review comments from kaxil
  providers/amazon/docs/operators/glue.rst
  providers/amazon/src/airflow/providers/amazon/aws/exceptions.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/glue.py
  providers/amazon/tests/unit/amazon/aws/operators/test_glue.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add TypeScript SDK dependency security checks (#71397)
  .github/dependabot.yml
  .github/workflows/ts-sdk-dependency-review.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Verify Java SDK build dependencies (#71400)
  .github/workflows/java-sdk-release-verify.yml
  .pre-commit-config.yaml
  java-sdk/README.md
  java-sdk/build.gradle.kts
  java-sdk/buildSrc/build.gradle.kts
  java-sdk/buildSrc/src/main/kotlin/airflow-jvm-conventions.gradle.kts
  java-sdk/gradle/verification-metadata.xml
  java-sdk/plugin/build.gradle.kts
  java-sdk/settings.gradle.kts
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-markdown, check-persist-credentials-disabled-in-github-workflows, update-breeze-cmd-output

comments from jason
  airflow-core/docs/core-concepts/resumable-tasks.rst
Due: replace-bad-characters

disable external entities when parsing SAML idp response
  providers/amazon/src/airflow/providers/amazon/aws/hooks/base_aws.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_base_aws.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

comments from jason
  providers/amazon/docs/operators/redshift/redshift_data.rst
  providers/apache/spark/docs/operators.rst
  providers/databricks/docs/operators/run_now.rst
  providers/databricks/docs/operators/submit_run.rst
  providers/snowflake/docs/operators/snowflake.rst
Due: replace-bad-characters

Cover populated partition_date in Dag run version tests
  airflow-core/tests/unit/api_fastapi/execution_api/versions/v2026_06_30/test_dag_runs.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix airflowctl traceback when a proxy returns a non-JSON error
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/tests/airflow_ctl/ctl/test_cli_config.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Respect latest Dag version when clearing active Dag runs
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/tests/unit/models/test_cleartasks.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Require existing-connection read access when testing an existing connection (#67620)
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/connections.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix Calendar view hanging for Dags with high-frequency cron schedules (#71263)
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/calendar.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_calendar.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Honor FORWARDED_ALLOW_IPS when the API server runs under gunicorn
  airflow-core/docs/howto/run-behind-proxy.rst
  airflow-core/newsfragments/71429.significant.rst
  airflow-core/src/airflow/api_fastapi/gunicorn_app.py
  airflow-core/tests/unit/cli/commands/test_gunicorn_monitor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Address review: keep run conf out of logs and deliver Dag callbacks when only the task is gone
  airflow-core/src/airflow/dag_processing/processor.py
  airflow-core/tests/unit/dag_processing/test_processor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

fixup! Address review: keep run conf out of logs and deliver Dag callbacks when only the task is gone
  airflow-core/src/airflow/dag_processing/processor.py
  airflow-core/tests/unit/dag_processing/test_processor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix one bad callback request crashing the Dag processor and dropping the rest
  airflow-core/src/airflow/dag_processing/processor.py
  airflow-core/tests/unit/dag_processing/test_processor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Serialize callback request once per loop iteration
  airflow-core/src/airflow/dag_processing/processor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Always tag providers from the wave tag during release
  dev/README_RELEASE_PROVIDERS.md
Due: replace-bad-characters, lint-markdown

Update providers metadata 2026-08-10 (#71385)
  generated/provider_metadata.json
Due: replace-bad-characters

fix: add ssl_ciphers CLI option for API server (#71426)
  airflow-core/src/airflow/cli/cli_config.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

fix: add ssl_ciphers CLI option for API server (#71426)
  airflow-core/src/airflow/cli/commands/api_server_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

fix: add ssl_ciphers CLI option for API server (#71426)
  airflow-core/src/airflow/api_fastapi/gunicorn_app.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

fix: add ssl_ciphers CLI option for API server (#71426)
  airflow-core/src/airflow/config_templates/config.yml
Due: replace-bad-characters

fix: add ssl_ciphers CLI option for API server (#71426)
  airflow-core/tests/unit/cli/commands/test_api_server_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
