Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Clean up graph/grid UI
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ca/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/fr/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/hi/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/hu/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/dag.json
  airflow-core/src/airflow/ui/src/components/Graph/TaskNode.tsx
  airflow-core/src/airflow/ui/src/components/Graph/elkGraphUtils.ts
  airflow-core/src/airflow/ui/src/components/TaskName.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/GridFilters.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
  airflow-core/src/airflow/ui/src/pages/GroupTaskInstance/Header.tsx
Due: replace-bad-characters

Allow `AthenaOperator` queries without a `database` argument (#69846)
  providers/amazon/src/airflow/providers/amazon/aws/operators/athena.py
  providers/amazon/tests/unit/amazon/aws/operators/test_athena.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Allow multiple routes to show active NavButtons
  airflow-core/src/airflow/ui/src/layouts/Nav/AdminButton.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/BrowseButton.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/Nav.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/NavButton.test.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/NavButton.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/PluginMenus.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/SecurityButton.tsx
Due: replace-bad-characters

Fix SSHRemoteJobOperator cleanup failing with custom remote_base_dir
  providers/ssh/src/airflow/providers/ssh/operators/ssh_remote_job.py
  providers/ssh/src/airflow/providers/ssh/utils/remote_job.py
  providers/ssh/tests/unit/ssh/operators/test_ssh_remote_job.py
  providers/ssh/tests/unit/ssh/utils/test_remote_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Harden assertions on DB test
  airflow-core/tests/unit/plugins/test_plugins_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Make cheat sheet command test ignore Rich padding changes
  airflow-core/tests/unit/cli/commands/test_cheat_sheet_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Requeue KubernetesExecutor tasks whose pod failed before execution started
  providers/cncf/kubernetes/provider.yaml
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/get_provider_info.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/executors/test_kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix KubernetesExecutor pre-execution requeue tests hanging in CI
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/executors/test_kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix mypy: narrow task_queue before requeuing pod launch job
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Set version_added to 10.20.0 for new KubernetesExecutor pod-launch configs
  providers/cncf/kubernetes/provider.yaml
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/get_provider_info.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging

Address review feedback on KubernetesExecutor pre-execution requeue
  providers/cncf/kubernetes/docs/changelog.rst
  providers/cncf/kubernetes/provider.yaml
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/get_provider_info.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/executors/test_kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-changelog-has-no-duplicates, check-changelog-format, check-lazy-logging, check-contextmanager-class-decorators

Fix CI: skip pre-execution DB lookup for untracked pods; whitelist 'requeues'
  docs/spelling_wordlist.txt
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
Due: replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-spelling-wordlist-to-be-sorted, check-docstring-param-types, check-lazy-logging

Document that KubernetesExecutor pod_launch_attempts is ephemeral across scheduler restarts
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Make Redshift system-test clusters non-public in sql_to_s3/s3_to_sql
  providers/amazon/tests/system/amazon/aws/example_s3_to_sql.py
  providers/amazon/tests/system/amazon/aws/example_sql_to_s3.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Declare callback /run route in NON_DEFAULT_TOKEN_POLICY
  airflow-core/tests/unit/api_fastapi/execution_api/test_token_scope_boundaries.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Make Redshift system-test clusters non-public in sql_to_s3/s3_to_sql (#69890)
  providers/amazon/tests/system/amazon/aws/example_s3_to_sql.py
  providers/amazon/tests/system/amazon/aws/example_sql_to_s3.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Make cheat-sheet test independent of rich table padding (#69802)
  airflow-core/tests/unit/cli/commands/test_cheat_sheet_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[v3-3-test] Make cheat-sheet test independent of rich table padding (#69802) (cherry picked from commit fc51ac92017b154d76ca6e8ffa23a2a382e33ec7)
  airflow-core/tests/unit/cli/commands/test_cheat_sheet_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix SQL value checks for negative expected values
  providers/common/sql/src/airflow/providers/common/sql/operators/sql.py
  providers/common/sql/tests/unit/common/sql/operators/test_sql.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add option to include resolved package versions in venv cache hash
  providers/standard/docs/operators/python.rst
  providers/standard/src/airflow/providers/standard/exceptions.py
  providers/standard/src/airflow/providers/standard/operators/python.py
  providers/standard/src/airflow/providers/standard/utils/python_virtualenv.py
  providers/standard/tests/unit/standard/decorators/test_python_virtualenv.py
  providers/standard/tests/unit/standard/operators/test_python.py
  providers/standard/tests/unit/standard/utils/test_python_virtualenv.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Pin lang-SDK k8s test's Go/Java SDKs to upstream main (#69545)
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
  dev/breeze/tests/test_kubernetes_lang_sdk_commands.py
  kubernetes-tests/lang_sdk/README.md
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Move Elasticsearch and OpenSearch handler changes to stacked PRs
  providers/elasticsearch/src/airflow/providers/elasticsearch/log/es_task_handler.py
  providers/elasticsearch/tests/unit/elasticsearch/log/test_es_task_handler.py
  providers/opensearch/src/airflow/providers/opensearch/log/os_task_handler.py
  providers/opensearch/tests/unit/opensearch/log/test_os_task_handler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Make Elasticsearch log handler respect the per-run log ID template
  providers/elasticsearch/src/airflow/providers/elasticsearch/log/es_task_handler.py
  providers/elasticsearch/tests/unit/elasticsearch/log/test_es_task_handler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Make OpenSearch log handler respect the per-run log ID template
  providers/opensearch/src/airflow/providers/opensearch/log/os_task_handler.py
  providers/opensearch/tests/unit/opensearch/log/test_os_task_handler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Secure AWS auth cookies behind TLS proxies
  providers/amazon/src/airflow/providers/amazon/aws/auth_manager/routes/login.py
  providers/amazon/tests/unit/amazon/aws/auth_manager/routes/test_login.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Keep Go SDK variable lookups consistent
  go-sdk/pkg/execution/client.go
  go-sdk/sdk/client.go
Due: none

Fix OpenAPI helper typing
  scripts/in_container/in_container_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

Bump azure-mgmt-datafactory to 10.0 and fix compat
  providers/microsoft/azure/README.rst
  providers/microsoft/azure/docs/index.rst
  providers/microsoft/azure/pyproject.toml
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/hooks/data_factory.py
  providers/microsoft/azure/tests/unit/microsoft/azure/hooks/test_data_factory.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix Azure Data Factory hook broken by azure-mgmt-datafactory 10
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/hooks/data_factory.py
  providers/microsoft/azure/tests/unit/microsoft/azure/hooks/test_data_factory.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix Azure Data Factory hook broken by azure-mgmt-datafactory 10
  providers/microsoft/azure/README.rst
  providers/microsoft/azure/docs/index.rst
  providers/microsoft/azure/pyproject.toml
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/hooks/data_factory.py
  providers/microsoft/azure/tests/unit/microsoft/azure/hooks/test_data_factory.py
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Skip dag bundle test if import of bundles doesn't exist
  providers/common/compat/tests/unit/common/compat/bundles/test_dag_bundle.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Check if BaseDagBundle has a _log property as checking existence of attribute is too weak
  providers/common/compat/src/airflow/providers/common/compat/bundles/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix HttpSensor deferrable error allowlist
  providers/http/src/airflow/providers/http/sensors/http.py
  providers/http/src/airflow/providers/http/triggers/http.py
  providers/http/tests/unit/http/sensors/test_http.py
  providers/http/tests/unit/http/triggers/test_http.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Build Java SDK e2e example bundles natively in CI
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/airflow-e2e-tests.yml
  .github/workflows/ci-amd.yml
  .github/workflows/ci-arm.yml
  airflow-e2e-tests/tests/airflow_e2e_tests/conftest.py
  airflow-e2e-tests/tests/airflow_e2e_tests/constants.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Construct default token_endpoint for msgraph filesystem (#69463) (#69522)
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/fs/msgraph.py
  providers/microsoft/azure/tests/unit/microsoft/azure/fs/test_msgraph.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add option to expose git-sync metrics port
  chart/templates/_helpers.yaml
  chart/values.schema.json
  chart/values.yaml
  helm-tests/tests/helm_tests/other/test_git_sync_scheduler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, lint-json-schema, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix passphrase quoting in decrypt_remote_file_to_string for Windows remotes
  providers/teradata/src/airflow/providers/teradata/utils/encryption_utils.py
  providers/teradata/tests/unit/teradata/utils/test_encryption_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Prevent malformed Elasticsearch log entries from crashing task log fetch (#69306)
  providers/elasticsearch/src/airflow/providers/elasticsearch/log/es_task_handler.py
  providers/elasticsearch/tests/unit/elasticsearch/log/test_es_task_handler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Rename coordinator label to area:coordinator and align CODEOWNERS
  .github/CODEOWNERS
  .github/boring-cyborg.yml
Due: replace-bad-characters

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
