Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Adds initial router, routes, and placeholder views
  airflow/ui/.neutrinorc.js
  airflow/ui/package.json
  airflow/ui/src/App.tsx
  airflow/ui/src/index.tsx
  airflow/ui/src/views/Access/Roles.tsx
  airflow/ui/src/views/Access/Users.tsx
  airflow/ui/src/views/Access/index.tsx
  airflow/ui/src/views/Activity/EventLogs.tsx
  airflow/ui/src/views/Config/index.tsx
  airflow/ui/src/views/Docs.tsx
  airflow/ui/src/views/NotFound.tsx
  airflow/ui/src/views/Pipeline/index.tsx
  airflow/ui/src/views/Pipelines.tsx
  airflow/ui/yarn.lock
Due: language-matters

fix router tests
  airflow/ui/package.json
  airflow/ui/test/App.test.tsx
  airflow/ui/tsconfig.json
  airflow/ui/yarn.lock
Due: language-matters

Upgrade to latest Chakra release
  airflow/ui/yarn.lock
Due: language-matters

Updating constraints. Build id:674455313
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
Due: language-matters

fixed tests for labels and descriptions
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

update docs in operator
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

added labels and desriptions to run_load
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

added tests for labels and description
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

tests for bigquery hook
  tests/providers/google/cloud/hooks/test_bigquery.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

gcs to bq labels and desc
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

fix reference to destinationTableProperties object
  airflow/providers/google/cloud/hooks/bigquery.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

update docs
  airflow/providers/google/cloud/hooks/bigquery.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

pylint fixes
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fixed `conn` type checks in `get_autocommit()` and `set_autocommit()` according to dstandish's suggestion
  airflow/providers/mysql/hooks/mysql.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

apply suggestions from code review
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/event_log_endpoint.py
  airflow/api_connexion/endpoints/task_endpoint.py
  tests/api_connexion/endpoints/test_event_log_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! Add sort and order to get_dag_runs endpoint
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add sort and order to get_dag_runs endpoint
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add sort and order parameters for get dags endpoint
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_dag_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Use sqlalchemy column property instead of hasattr for column lookup
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/event_log_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add sort and order parameters for get tasks endpoint
  airflow/api_connexion/endpoints/task_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_task_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add sort and order parameters for get event logs endpoint
  airflow/api_connexion/endpoints/event_log_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_event_log_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add sort and order to roles and users endpoint
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/api_connexion/endpoints/user_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_role_and_permission_endpoint.py
  tests/api_connexion/endpoints/test_user_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! add sort and order to roles and users endpoint
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/api_connexion/endpoints/user_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add sort and order to pool endpoint
  airflow/api_connexion/endpoints/pool_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_pool_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add sort and order to import errors and connections endpoint
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_import_error_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! Add sort and order to import errors and connections endpoint
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_connexion/endpoints/import_error_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add sort and order to variables endpoint
  airflow/api_connexion/endpoints/variable_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_variable_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! Remove role and Permission models as they are not needed at this time
  docs/spelling_wordlist.txt
Due: language-matters, provider-yamls

Move auth code to security manager and fix tests
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/www/security.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
  tests/api_connexion/test_webserver_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

remove username and password schema in api spec and use headers as in review
  airflow/api_connexion/openapi/v1.yaml
Due: lint-openapi, language-matters

separate models into different schemas
  airflow/api_connexion/schemas/permission_schema.py
  airflow/api_connexion/schemas/view_menu_schema.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Create a login endpoint with JWT authentication
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/role_schema.py
  airflow/api_connexion/security.py
  airflow/api_connexion/webserver_auth.py
  tests/api_connexion/test_webserver_auth.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! fixup! Create a login endpoint with JWT authentication
  airflow/api_connexion/schemas/role_schema.py
  airflow/api_connexion/webserver_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Resolve conflict
  airflow/api_connexion/openapi/v1.yaml
Due: lint-openapi, language-matters

improve code and test
  airflow/api_connexion/security.py
  airflow/api_connexion/webserver_auth.py
  tests/api_connexion/test_webserver_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! Add configuration to disable DB login for REST API
  airflow/api_connexion/webserver_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Don't handle auth in login endpoint and make login endpoint handle remote_user
  airflow/api_connexion/webserver_auth.py
  tests/api_connexion/test_webserver_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Use auto refreshing of tokens and add models back in openapi spec with suggestions from code review
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/permission_schema.py
  airflow/api_connexion/webserver_auth.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/extensions/init_security.py
  tests/api_connexion/test_webserver_auth.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, json-schema, flynt, mypy, pylint, flake8

Use remote user auth backend in test
  tests/api_connexion/test_webserver_auth.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! Create a login endpoint with JWT authentication
  tests/api_connexion/test_webserver_auth.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
