Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-openapi, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date-in-default_args-in-example_dags, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

Path conditions:
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/PROVIDERS_CHANGES_*| ^airflow/providers/apache/hive/README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/howto/connection/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date-in-default_args-in-example_dags: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$

Fixes versioning for pre-release provider packages (#11586)
  dev/README.md
Due: language-matters

Update node installation cmd (#10744)
  CONTRIBUTING.rst
Due: update-extras, language-matters

Fix typos in Dockerfile.ci (#11187)
  Dockerfile.ci
Due: lint-dockerfile, language-matters

Add missing doc dependency in CI (#11678)
  .github/workflows/ci.yml
Due: language-matters

The .pypirc file is read from docker-context-files (#11779)
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, language-matters, bat-tests

Enables splitting tests into smaller chunks (#11659)
  .github/workflows/ci.yml
  breeze
  scripts/ci/libraries/_initialization.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/in_container/entrypoint_ci.sh
  tests/bats/breeze/test_breeze_complete.bats
Due: shellcheck, update-breeze-file, language-matters, bat-tests

Improves stability of K8S tests by caching binaries and repeats (#11634)
  .github/workflows/ci.yml
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_repeats.sh
Due: shellcheck, language-matters, bat-tests

Add Airflow 1.10.12 to breeze-complete (#10592)
  BREEZE.rst
  breeze-complete
Due: shellcheck, update-breeze-file, language-matters, check-integrations, bat-tests

Enables back duplicate cancelling on push/schedule (#11471)
  .github/workflows/build-images-workflow-run.yml
Due: language-matters

Fixes ROVIDERS -> PROVIDERS typo in Dockerfile (#11738)
  Dockerfile
Due: lint-dockerfile, language-matters

Add test types displayed in CI (#11770)
  .github/workflows/ci.yml
Due: language-matters

Add pypirc initialization (#11386)
  .dockerignore
  .gitignore
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, language-matters, bat-tests

Fix typo in BREEZE.rst (#11637)
  BREEZE.rst
Due: update-breeze-file, language-matters

Push and schedule duplicates are not cancelled. (#11397)
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/codeql-cancel.yml
Due: language-matters

Dumps more logs in case of CI failure (#11614)
  .github/workflows/ci.yml
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/mysql/conf.d/airflow.cnf
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_ci_tests.sh
Due: shellcheck, language-matters, bat-tests

Selective tests - depends on files changed in the commit. (#11417)
  .github/workflows/ci.yml
  scripts/ci/selective_tests.sh
  scripts/ci/tools/ci_check_if_tests_should_be_run.sh
  scripts/ci/tools/ci_count_changed_files.sh
  tests/contrib/sensors/test_hdfs_sensor.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/sensors/test_hdfs_sensor.py
  tests/task/task_runner/test_standard_task_runner.py
Due: shellcheck, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8, bat-tests

Fixes SHA used for cancel-workflow-action (#11400)
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/codeql-cancel.yml
Due: language-matters

Fixes cancelling of too many workflows. (#11403)
  .github/workflows/build-images-workflow-run.yml
Due: language-matters

Use LocalExecutor by default with tmux + Breeze (#11791)
  scripts/in_container/run_tmux.sh
Due: shellcheck, language-matters, bat-tests

Adds capability of installing wheel packages in CI image (#11527)
  BREEZE.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  breeze
  breeze-complete
  docker-context-files/README.md
  docs/production-deployment.rst
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, lint-dockerfile, update-breeze-file, language-matters, check-integrations, bat-tests

Fixes remaining test-type strategy problems (#11522)
  .github/workflows/ci.yml
Due: language-matters

Clarify breeze docs --install-airflow-version/-reference (#11570)
  BREEZE.rst
  breeze
  breeze-complete
Due: shellcheck, update-breeze-file, language-matters, check-integrations, bat-tests

Better file extension for Helm template (#11702)
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/configmap.yaml
  scripts/ci/kubernetes/ci_run_helm_testing.sh
Due: shellcheck, language-matters, bat-tests

Update download url for Airflow Version (#11800)
  setup.py
Due: setup-order, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Removes separate cancel codeql workflow (#11672)
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/codeql-cancel.yml
Due: language-matters

Also cancel duplicated Build Image runs for master pushes (#11655)
  .github/workflows/build-images-workflow-run.yml
Due: language-matters

The .pypirc file is read from docker-context-files (#11779)
  .dockerignore
  Dockerfile
  docs/production-deployment.rst
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, lint-dockerfile, language-matters, bat-tests

Add Project URLs for PyPI page (#11801)
  setup.py
Due: setup-order, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update CONTRIBUTING.rst (#11461)
  CONTRIBUTING.rst
Due: update-extras, language-matters

Fixing problem with missing output in pre-commits in some cases (#11684)
  scripts/ci/libraries/_start_end.sh
Due: shellcheck, language-matters, bat-tests

Moves Commiter's guide to CONTRIBUTING.rst (#11314)
  CONTRIBUTING.rst
Due: update-extras, language-matters

Fix link to static checks in CONTRIBUTING.rst (#11271)
  CONTRIBUTING.rst
Due: update-extras, language-matters

Improve Committer's guide docs (#11338)
  CONTRIBUTING.rst
Due: update-extras, language-matters

Expose flower and redis ports in breeze (#11624)
  BREEZE.rst
  breeze
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/integration-redis.yml
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, update-breeze-file, language-matters, bat-tests

Brings back fixup to CI optimisation (#11671)
  scripts/ci/selective_ci_checks.sh
Due: shellcheck, language-matters, bat-tests

More stable kubernetes port forwarding (#11538)
  .github/workflows/ci.yml
  kubernetes_tests/test_kubernetes_executor.py
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
Due: shellcheck, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, flake8, bat-tests

Adds --install-wheels flag to breeze command line (#11317)
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/entrypoint_ci.sh
Due: shellcheck, update-breeze-file, language-matters, check-integrations, bat-tests

Switch postgres from 10 to 13 (#11785)
  BREEZE.rst
  README.md
  breeze-complete
  scripts/ci/libraries/_initialization.sh
  tests/bats/breeze/test_breeze_complete.bats
Due: shellcheck, update-breeze-file, language-matters, check-integrations, bat-tests

Fix typo in scripts/ci/libraries/_initialization.sh (#11517)
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, language-matters, bat-tests

[AIRFLOW-3607] Only query DB once per DAG run for TriggerRuleDep (#4751)
  airflow/jobs/scheduler_job.py
  airflow/models/dagrun.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagrun.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8
