Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

i18n(ko): Align particles after Dag with the agreed pronunciation
  airflow-core/src/airflow/ui/public/i18n/locales/ko/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dags.json
Due: replace-bad-characters

Mask CLI secrets in the audit log by parsed argument, not argv position
  airflow-core/src/airflow/utils/cli.py
  airflow-core/tests/unit/utils/test_cli_util.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Mask long-form password options on every CLI subcommand in the audit log
  airflow-core/src/airflow/utils/cli.py
  airflow-core/tests/unit/utils/test_cli_util.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Add newsfragment
  airflow-core/newsfragments/73791.improvement.rst
Due: replace-bad-characters

Add reparsing to the spelling wordlist
  docs/spelling_wordlist.txt
Due: replace-bad-characters, update-version, update-spelling-wordlist-to-be-sorted

Add idp to the spelling wordlist
  docs/spelling_wordlist.txt
Due: replace-bad-characters, update-version, update-spelling-wordlist-to-be-sorted

Drop stale entries from the Java SDK dependency trust list
  java-sdk/gradle/verification-metadata.xml
Due: replace-bad-characters

Mask registered secrets at any nesting depth
  shared/secrets_masker/src/airflow_shared/secrets_masker/secrets_masker.py
  shared/secrets_masker/tests/secrets_masker/test_secrets_masker.py
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Scope UI next_run_assets endpoint to assets the caller may read
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/assets.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_assets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Mask provider-declared sensitive connection extras by connection type
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/connections.py
  airflow-core/tests/unit/api_fastapi/core_api/datamodels/test_connections.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Add newsfragment
  airflow-core/newsfragments/73793.improvement.rst
Due: replace-bad-characters

Add newsfragment
  airflow-core/newsfragments/73794.improvement.rst
Due: replace-bad-characters

Drop stale entries from the Java SDK dependency trust list (#73792)
  java-sdk/gradle/verification-metadata.xml
Due: replace-bad-characters

Check admin-only views against a dedicated Keycloak resource in multi-team mode (#73696)
  docs/spelling_wordlist.txt
  providers/keycloak/docs/auth-manager/manage/permissions.rst
  providers/keycloak/docs/changelog.rst
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/cli/commands.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/keycloak_auth_manager.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/resources.py
  providers/keycloak/tests/unit/keycloak/auth_manager/cli/test_commands.py
  providers/keycloak/tests/unit/keycloak/auth_manager/test_keycloak_auth_manager.py
Due: replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-spelling-wordlist-to-be-sorted, check-docstring-param-types, check-changelog-has-no-duplicates, check-changelog-format, check-lazy-logging, check-contextmanager-class-decorators

Stop Keycloak middleware from reissuing a JWT revoked during the request (#73695)
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/middleware.py
  providers/keycloak/tests/unit/keycloak/auth_manager/test_middleware.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Go SDK e2e: assert binding warnings by record field
  airflow-e2e-tests/tests/airflow_e2e_tests/go_sdk_tests/test_go_sdk_taskflow_binding.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add task state store API to the Java SDK
  airflow-core/docs/authoring-and-scheduling/language-sdks/java.rst
  java-sdk/README.md
  java-sdk/capabilities.yaml
  java-sdk/sdk/module.md
  java-sdk/sdk/src/main/kotlin/org/apache/airflow/sdk/Client.kt
  java-sdk/sdk/src/main/kotlin/org/apache/airflow/sdk/execution/Client.kt
  java-sdk/sdk/src/main/kotlin/org/apache/airflow/sdk/execution/Comm.kt
  java-sdk/sdk/src/main/kotlin/org/apache/airflow/sdk/execution/Frame.kt
  java-sdk/sdk/src/test/kotlin/org/apache/airflow/sdk/ArgTestSupport.kt
  java-sdk/sdk/src/test/kotlin/org/apache/airflow/sdk/ClientTest.kt
  java-sdk/sdk/src/test/kotlin/org/apache/airflow/sdk/execution/CommTest.kt
  java-sdk/sdk/src/test/kotlin/org/apache/airflow/sdk/execution/TaskTest.kt
Due: replace-bad-characters, lint-markdown

Cap azure-datalake-store below 1 in the Microsoft Azure provider
  providers/microsoft/azure/README.rst
  providers/microsoft/azure/pyproject.toml
  pyproject.toml
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Redact Connection extra fields that providers declare as secrets
  airflow-core/src/airflow/providers_manager.py
  airflow-core/tests/unit/always/test_providers_manager.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/hooks/asb.py
  shared/secrets_masker/src/airflow_shared/secrets_masker/secrets_masker.py
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Document the particles after Dag in the Korean translation guide
  .agents/skills/airflow-translations/locales/ko.md
Due: replace-bad-characters, lint-markdown

Add dag_bundle_name option to subprocess coordinators
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/tests/unit/dag_processing/bundles/test_dag_bundle_manager.py
  task-sdk/src/airflow/sdk/coordinators/_subprocess.py
  task-sdk/src/airflow/sdk/coordinators/executable/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/java/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/node/coordinator.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/coordinators/executable/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/java/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/node/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/test_subprocess.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Pass runtime values to example Dag shell commands through env
  .pre-commit-config.yaml
  airflow-core/src/airflow/example_dags/example_dag_decorator.py
  providers/edge3/src/airflow/providers/edge3/example_dags/integration_test.py
  providers/standard/src/airflow/providers/standard/example_dags/example_bash_decorator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_bash_operator.py
  scripts/ci/prek/check_example_dag_shell_commands.py
  scripts/tests/ci/prek/test_check_example_dag_shell_commands.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Resolve coordinator Dag bundles without importing the task runner
  airflow-core/docs/authoring-and-scheduling/language-sdks/go.rst
  airflow-core/docs/authoring-and-scheduling/language-sdks/java.rst
  airflow-core/docs/authoring-and-scheduling/language-sdks/typescript.rst
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/tests/integration/otel/test_otel.py
  airflow-core/tests/unit/dag_processing/bundles/test_dag_bundle_manager.py
  generated/known_airflow_exceptions.txt
  task-sdk/src/airflow/sdk/coordinators/_subprocess.py
  task-sdk/src/airflow/sdk/coordinators/executable/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/java/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/node/coordinator.py
  task-sdk/src/airflow/sdk/execution_time/bundles.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/src/airflow/sdk/execution_time/tracing.py
  task-sdk/tests/task_sdk/coordinators/executable/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/java/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/node/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/test_subprocess.py
  task-sdk/tests/task_sdk/execution_time/test_bundles.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
  task-sdk/tests/task_sdk/execution_time/test_tracing.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Harden subprocess coordinator artifact bundle resolution
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/tests/unit/dag_processing/bundles/test_dag_bundle_manager.py
  task-sdk/src/airflow/sdk/coordinators/_subprocess.py
  task-sdk/src/airflow/sdk/coordinators/executable/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/java/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/node/coordinator.py
  task-sdk/tests/task_sdk/coordinators/executable/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/java/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/node/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/test_subprocess.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Make JavaCoordinator main_class optional in co-located mode
  airflow-core/docs/authoring-and-scheduling/language-sdks/java.rst
  task-sdk/src/airflow/sdk/coordinators/_subprocess.py
  task-sdk/src/airflow/sdk/coordinators/java/coordinator.py
  task-sdk/tests/task_sdk/coordinators/java/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/test_subprocess.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Read the Dag bundle configuration through a single entry point
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/tests/unit/dag_processing/bundles/test_dag_bundle_manager.py
  devel-common/src/tests_common/pytest_plugin.py
  devel-common/src/tests_common/test_utils/config.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Make task bundle access dependencies explicit
  task-sdk/src/airflow/sdk/execution_time/bundles.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Preserve custom subprocess coordinator compatibility
  contributing-docs/30_new_language_sdk.rst
  task-sdk/src/airflow/sdk/coordinators/_subprocess.py
  task-sdk/src/airflow/sdk/coordinators/executable/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/java/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/node/coordinator.py
  task-sdk/tests/task_sdk/coordinators/executable/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/java/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/node/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/test_subprocess.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Document dag_bundle_name option for language-SDK coordinators
  airflow-core/docs/authoring-and-scheduling/language-sdks/go.rst
  airflow-core/docs/authoring-and-scheduling/language-sdks/java.rst
  airflow-core/docs/authoring-and-scheduling/language-sdks/typescript.rst
  contributing-docs/30_new_language_sdk.rst
Due: replace-bad-characters

Reject concurrent subprocess coordinator execution consistently
  task-sdk/src/airflow/sdk/coordinators/_subprocess.py
  task-sdk/tests/task_sdk/coordinators/test_subprocess.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Reject empty subprocess coordinator artifact roots
  airflow-core/docs/authoring-and-scheduling/language-sdks/go.rst
  airflow-core/docs/authoring-and-scheduling/language-sdks/java.rst
  airflow-core/docs/authoring-and-scheduling/language-sdks/typescript.rst
  task-sdk/src/airflow/sdk/coordinators/_bundle_metadata.py
  task-sdk/src/airflow/sdk/coordinators/executable/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/java/coordinator.py
  task-sdk/src/airflow/sdk/coordinators/node/coordinator.py
  task-sdk/tests/task_sdk/coordinators/executable/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/java/test_coordinator.py
  task-sdk/tests/task_sdk/coordinators/node/test_coordinator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Pass file_count to the bash decorator example as a string
  providers/standard/src/airflow/providers/standard/example_dags/example_bash_decorator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging

Java SDK: Describe native Java Dags without reference to Python
  airflow-core/docs/authoring-and-scheduling/language-sdks/java.rst
  java-sdk/example/src/java/org/apache/airflow/example/nativedag/InterfaceExample.java
  java-sdk/sdk/src/main/kotlin/org/apache/airflow/sdk/Deps.kt
Due: replace-bad-characters

Regenerate provider requirement tables after the floor bumps
  providers/amazon/README.rst
  providers/amazon/docs/index.rst
  providers/databricks/docs/index.rst
  providers/google/README.rst
  providers/google/docs/index.rst
  providers/hashicorp/docs/index.rst
  providers/microsoft/azure/docs/index.rst
Due: replace-bad-characters

Explicitly convert map_index to str
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Address comments
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix misleading md5 wrapper docstring
  airflow-core/src/airflow/utils/hashlib_wrapper.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Add config option [secrets]backends_order
  airflow-core/docs/security/secrets/secrets-backend/index.rst
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/config.py
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/configuration.py
  airflow-core/src/airflow/secrets/__init__.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/public/i18n/locales/en/admin.json
  airflow-core/src/airflow/ui/src/pages/Variables/BackendsOrderButton.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/BackendsOrderCard.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/BackendsOrderModal.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/Variables.tsx
  airflow-core/tests/unit/always/test_secrets.py
  task-sdk/src/airflow/sdk/configuration.py
  task-sdk/tests/task_sdk/execution_time/test_context.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

feat: add backends_order endpoint tests and update BackendsOrderButton prop default value
  airflow-core/src/airflow/ui/src/pages/Variables/BackendsOrderButton.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_config.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Show audit log link when task logs are unavailable
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/mocks/handlers/log.ts
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/Logs.test.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/Logs.tsx
Due: replace-bad-characters
