Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Fallback to no constraint builds for docker-context-files installation (#63051)
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

[v3-1-test] Fallback to no constraint builds for docker-context-files installation (#63051)
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

Add missing HTTP timeout to FAB JWKS fetching
  providers/fab/src/airflow/providers/fab/auth_manager/security_manager/override.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

fix static checks
  providers/teradata/src/airflow/providers/teradata/get_provider_info.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refine skill md for airflow translation
  .github/skills/airflow-translations/SKILL.md
Due: replace-bad-characters, lint-markdown

[v2-11-test] Fallback to no constraint builds for docker-context-files installation (#63051)
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

Notes added by 'git notes add'
  7f5998f2456a2d6f34f9f284273247bd5d3bcdfe
Due: replace-bad-characters

[v2-11-test] Fallback to no constraint builds for docker-context-files installation (#63051) (#63059)
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

move comment inline to fix prek import checks
  airflow/providers/celery/executors/celery_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fill Turkish Translation Gap in v3-1-test (#63010)
  airflow-core/src/airflow/ui/public/i18n/locales/tr/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/dag.json
Due: replace-bad-characters

Fill Turkish Translation Gap in Main (#63009)
  airflow-core/src/airflow/ui/public/i18n/locales/tr/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/dag.json
Due: replace-bad-characters

fixed an issue that caused a state mismatch
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/executors/test_kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fix: fix auth manager tests
  providers/fab/tests/unit/fab/auth_manager/test_fab_auth_manager.py
  providers/fab/tests/unit/fab/auth_manager/test_security.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix task_instance_mutation_hook receiving run_id=None during TaskInstance creation (#63049)
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/tests/unit/models/test_dagrun.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Replace octopin with Dependabot to upgrade actions (#63039)
  .github/dependabot.yml
  .github/workflows/ci-amd-arm.yml
  .pre-commit-config.yaml
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-persist-credentials-disabled-in-github-workflows, update-breeze-cmd-output

fix: wrap import in parens as required by prek
  airflow/providers/celery/executors/celery_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Updating constraints. GitHub run id:22805754773
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
Due: replace-bad-characters

Add one more constraint fallback - v2-11-test only
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

Notes added by 'git notes add'
  5824b716ed7f1840d81bdd73022d91cbc03dc0ff
  f3f9d6e506f5ae7bf4dab840ecba7c65a00943e8
Due: replace-bad-characters

Add one more constraint fallback - v2-11-test only (#63073)
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

Add multi-team support for KubernetesExecutor (#61798)
  airflow-core/src/airflow/configuration.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/cli/definition.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/cli/kubernetes_command.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/kube_config.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/template_rendering.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/version_compat.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/executors/test_kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

refine skill md for airflow translation (#63060)
  .github/skills/airflow-translations/SKILL.md
Due: replace-bad-characters, lint-markdown

One more constraints fallback for v2-11-test branch
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

Notes added by 'git notes add'
  1672a7b9244ec0e0ad382a358adcb4396deb742d
  bdad3172cf6e710f9050fc351e0dd7de3bfa1dde
Due: replace-bad-characters

One more constraints fallback for v2-11-test branch (#63076)
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

Limit Celery Provider to not install 3.17.0 as it breaks airflow 2.11
  hatch_build.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Notes added by 'git notes add'
  ac1d63da70e3e793b2cec0bd85448ea2a89eed7b
  dbd5b46380f2d488130133f4a294792546ec9234
Due: replace-bad-characters

Add `breeze pr auto-triage` command
  .github/workflows/basic-tests.yml
  .github/workflows/ci-image-checks.yml
  AGENTS.md
  INSTALL
  airflow-core/hatch_build.py
  contributing-docs/05_pull_requests.rst
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/11_registry_tasks.rst
  dev/breeze/doc/12_issues_tasks.rst
  dev/breeze/doc/13_pr_tasks.rst
  dev/breeze/doc/14_advanced_breeze_topics.rst
  dev/breeze/doc/README.rst
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_pr.svg
  dev/breeze/doc/images/output_pr.txt
  dev/breeze/doc/images/output_pr_auto-triage.svg
  dev/breeze/doc/images/output_pr_auto-triage.txt
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.svg
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.txt
  dev/breeze/doc/images/output_setup_config.svg
  dev/breeze/doc/images/output_setup_config.txt
  dev/breeze/doc/images/output_setup_regenerate-command-images.svg
  dev/breeze/doc/images/output_setup_regenerate-command-images.txt
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/pr_commands.py
  dev/breeze/src/airflow_breeze/commands/pr_commands_config.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands_config.py
  dev/breeze/src/airflow_breeze/configure_rich_click.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/confirm.py
  dev/breeze/src/airflow_breeze/utils/github.py
  dev/breeze/src/airflow_breeze/utils/llm_utils.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  scripts/ci/prek/mypy_folder.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, lint-markdown, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Notes added by 'git notes add'
  1361b2a80d051f14a560bb260d470af19d8381dd
Due: replace-bad-characters

complete zh-CN translation by adding missing keys
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/hitl.json
Due: replace-bad-characters

fixed an issue that caused a state mismatch (#63061)
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/executors/test_kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Limit Celery Provider to not install 3.17.0 as it breaks airflow 2.11
  hatch_build.py
  scripts/in_container/run_generate_constraints.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

Notes added by 'git notes add'
  0d3dfe80710416e09a8814a7c612df12159b0a72
  dbd5b46380f2d488130133f4a294792546ec9234
Due: replace-bad-characters

Add cooldown and support for other branches for actions dependabot
  .github/dependabot.yml
Due: replace-bad-characters

Notes added by 'git notes add'
  3624110384dcc61e7707b01a6a2a9f1b8387fd12
Due: replace-bad-characters

Improve Playwright test patterns in BasePage.ts #63038
  airflow-core/src/airflow/ui/tests/e2e/pages/BasePage.ts
Due: replace-bad-characters

issue-37213: Standardizing FTPToS3Operator
  providers/amazon/src/airflow/providers/amazon/aws/transfers/ftp_to_s3.py
  providers/amazon/tests/unit/amazon/aws/transfers/test_ftp_to_s3.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. Github run id:22807873433
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
Due: replace-bad-characters

Notes added by 'git notes add'
  5137661af2baf88e60fa56478920135868256b85
Due: replace-bad-characters

Notes added by 'git notes add'
  400cf75ae013d32b33362c2836bb0abcc4549f09
Due: replace-bad-characters

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
