Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-2-compatibility, update-breeze-cmd-output, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-system-tests-tocs, create-missing-init-py-files-tests, run-mypy, run-flake8, lint-javascript, update-migration-references

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-2-2-compatibility:
  name: Check that providers are 2.2 compatible.
  entry: ./scripts/ci/pre_commit/pre_commit_check_2_2_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-breeze-cmd-output:
  name: Update output of breeze commands in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4
  - rich-click>=1.5

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_supported_versions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tabulate

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

Fix calculation of health check threshold for SchedulerJob
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/jobs/job.py
  airflow/jobs/scheduler_job_runner.py
  newsfragments/31277.significant.rst
  tests/jobs/test_base_job.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Updated code to work for MySQL
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Added ability to sort on last_dagrun column
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix for MSSQL Code
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Updated sort logic
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Added ability to sort on last_dagrun column
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Apply review feedback, migrate lambda function to functool.partial, added typing hints
  airflow/jobs/scheduler_job_runner.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Added new index idx_last_scheduling_decision_queued in ORM
  airflow/migrations/versions/0126_2_7_0_add_index_on_last_scheduling_decision_.py
  airflow/models/dagrun.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
Due: update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, run-mypy, run-flake8, update-migration-references

Fix conn_type
  tests/providers/discord/notifications/test_discord.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Better typing for Job and JobRunners
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Remove snakebite-py3 based HDFS hooks and sensors
  airflow/contrib/sensors/__init__.py
  airflow/hooks/__init__.py
  airflow/providers/apache/hdfs/CHANGELOG.rst
  airflow/providers/apache/hdfs/hooks/hdfs.py
  airflow/providers/apache/hdfs/provider.yaml
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/sensors/__init__.py
  docs/apache-airflow-providers-apache-hdfs/connections.rst
  docs/apache-airflow-providers-apache-hdfs/operators/hdfs.rst
  docs/apache-airflow-providers-apache-hdfs/operators/index.rst
  generated/provider_dependencies.json
  scripts/in_container/run_provider_yaml_files_check.py
  setup.py
  tests/providers/apache/hdfs/hooks/test_hdfs.py
  tests/providers/apache/hdfs/sensors/test_hdfs.py
  tests/providers/apache/hive/sensors/test_hdfs.py
  tests/test_utils/hdfs_utils.py
Due: check-setup-order, check-extra-packages-references, check-airflow-2-2-compatibility, update-providers-dependencies, update-extras, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, check-changelog-has-no-duplicates, create-missing-init-py-files-tests, run-mypy, run-flake8

Update docs/apache-airflow-providers-pagerduty/notifications/pagerduty_notifier_howto_guide.rst
  docs/apache-airflow-providers-pagerduty/notifications/pagerduty_notifier_howto_guide.rst
Due: update-version, check-provider-yaml-valid

Remove unwanted code
  airflow/providers/pagerduty/notifications/pagerduty.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Add dag level example
  docs/apache-airflow-providers-pagerduty/notifications/pagerduty_notifier_howto_guide.rst
Due: update-version, check-provider-yaml-valid

remove unwanted fixtures
  tests/providers/pagerduty/notifications/test_pagerduty.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update dag init code
  docs/apache-airflow-providers-pagerduty/notifications/pagerduty_notifier_howto_guide.rst
Due: update-version, check-provider-yaml-valid

Make connection id validation consistent across interface
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/cli/commands/connection_command.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/cli/commands/test_connection_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Correct minor typo impocit->implicit in pyproject.toml comment
  pyproject.toml
Due: check-for-inclusive-language

Use pdpyras.send_change_event() instead
  airflow/providers/pagerduty/hooks/pagerduty_events.py
  tests/providers/pagerduty/hooks/test_pagerduty_events.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Improve typing in SchedulerJobRunner
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dagrun.py
  airflow/utils/retries.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix calculation of health check threshold for SchedulerJob (#31277)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/jobs/job.py
  airflow/jobs/scheduler_job_runner.py
  newsfragments/31277.significant.rst
  tests/jobs/test_base_job.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Better typing for Job and JobRunners (#31240)
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Remove --all-files specification in basic checks in CI
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

Correct minor typo impocit->implicit in pyproject.toml comment (#31283)
  pyproject.toml
Due: check-for-inclusive-language

Remove snakebite-py3 based HDFS hooks and sensors (#31262)
  airflow/contrib/sensors/__init__.py
  airflow/hooks/__init__.py
  airflow/providers/apache/hdfs/CHANGELOG.rst
  airflow/providers/apache/hdfs/hooks/hdfs.py
  airflow/providers/apache/hdfs/provider.yaml
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/sensors/__init__.py
  docs/apache-airflow-providers-apache-hdfs/connections.rst
  docs/apache-airflow-providers-apache-hdfs/operators/hdfs.rst
  docs/apache-airflow-providers-apache-hdfs/operators/index.rst
  generated/provider_dependencies.json
  scripts/in_container/run_provider_yaml_files_check.py
  setup.py
  tests/providers/apache/hdfs/hooks/test_hdfs.py
  tests/providers/apache/hdfs/sensors/test_hdfs.py
  tests/providers/apache/hive/sensors/test_hdfs.py
  tests/test_utils/hdfs_utils.py
Due: check-setup-order, check-extra-packages-references, check-airflow-2-2-compatibility, update-providers-dependencies, update-extras, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, check-changelog-has-no-duplicates, create-missing-init-py-files-tests, run-mypy, run-flake8

Make BaseJobRunner a generic on the job class
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Update RELEASE_NOTES.rst
  RELEASE_NOTES.rst
  newsfragments/31277.significant.rst
Due: check-for-inclusive-language

Optimize deferred execution mode
  airflow/providers/dbt/cloud/operators/dbt.py
  tests/providers/dbt/cloud/operators/test_dbt_cloud.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Make BaseJobRunner a generic on the job class (#31287)
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Apply review suggestions
  airflow/cli/commands/connection_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Github run id:4978978417
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Update airflow/providers/discord/notifications/discord.py
  airflow/providers/discord/notifications/discord.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Github run id:4979235773
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Remove --all-files specification in basic checks in CI (#31286)
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

Added separate permission to trigger DAG
  airflow/security/permissions.py
  airflow/www/security.py
  airflow/www/views.py
  docs/apache-airflow/administration-and-deployment/security/access-control.rst
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_trigger_dag.py
Due: update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

update version in the migration
  airflow/migrations/versions/0125_2_7_0_added_separate_permissions_to_trigger_.py
  docs/apache-airflow/img/airflow_erd.sha256
Due: update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, run-flake8, update-migration-references

Updating constraints. Github run id:4979896794
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

update migration
  airflow/migrations/versions/0126_2_7_0_added_separate_permissions_to_trigger_.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
Due: update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, run-flake8, update-migration-references

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-2-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
