Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Migrate the public endpoint DAG Details to FastAPI
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/serializers/dags.py
  airflow/api_fastapi/views/public/dags.py
  tests/api_fastapi/views/public/test_dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Update pendulum import path
  airflow/api_fastapi/serializers/dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Add comment for computed_field, remove unused import
  airflow/api_fastapi/serializers/dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Re-run breeze static checks
  airflow/api_fastapi/openapi/v1-generated.yaml
  tests/api_fastapi/views/public/test_dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Add openapi-gen for DAG Details API
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Due: replace-bad-characters

Use lambda for aliases, re-run breeze static checks
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/serializers/dags.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Remove unused import
  airflow/api_fastapi/serializers/dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Resolve review comments, test has_task_concurrency_limits
  airflow/api_fastapi/serializers/dags.py
  airflow/api_fastapi/views/public/dags.py
  tests/api_fastapi/views/public/test_dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

add ConnectionResponse model
  airflow/api_fastapi/serializers/connections.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Remove duplicate entry
  airflow/api_fastapi/openapi/v1-generated.yaml
Due: replace-bad-characters

Temporarily disable branch protection for older v2-* branches
  .asf.yaml
Due: replace-bad-characters

Remove DagRunNotBackfillDep
  airflow/ti_deps/dependencies_deps.py
  airflow/ti_deps/deps/dagrun_backfill_dep.py
  tests/ti_deps/deps/test_dagrun_id_dep.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Temporarily disable branch protection for older v2-* branches (#42680)
  .asf.yaml
Due: replace-bad-characters

Revert "Temporarily disable branch protection for older v2-* branches (#42680)"
  .asf.yaml
Due: replace-bad-characters

Revert "Temporarily disable branch protection for older v2-* branches (#42680)" (#42685)
  .asf.yaml
Due: replace-bad-characters

Limit branches for pull request target workflow (#42635)
  .github/workflows/build-images.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Limit branches for pull request target workflow (#42635) (#42688)
  .github/workflows/build-images.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

update tests
  tests/jobs/test_scheduler_job.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Add debug logs to print Request/Response data in Databricks provider (#42662)
  airflow/providers/databricks/hooks/databricks_base.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

feat(js/api): rename useDatasetDependencies as useAssetDependencies
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useAssetDependencies.ts
  airflow/www/static/js/datasets/Graph/index.tsx
  airflow/www/static/js/datasets/Main.tsx
  airflow/www/static/js/datasets/SearchBar.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

feat(api_connexion): rename dataset_endpoint module as asset_endpoint
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/datasets.html
  airflow/www/templates/airflow/grid.html
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

feat(api_connexion): rename get_dag_dataset_queued_events as get_dag_asset_queued_events
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

feat(api_connexion): rename get_dag_dataset_queued_event as get_dag_asset_queued_event
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

docs(api_connexion/openapi/v1): update dataset to asset in v1.yaml
  airflow/api_connexion/openapi/v1.yaml
Due: replace-bad-characters, lint-openapi, ts-compile-format-lint-www

feat(api_connexion): rename get_dataset_queued_events as get_asset_queued_events
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

feat(api_connexion): rename delete_dataset_queued_events as delete_asset_queued_events
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_asset_endpoint.py
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core

feat(api_connexion/openapi/v1): rename DatasetURI as AssetURI
  airflow/api_connexion/openapi/v1.yaml
Due: replace-bad-characters, lint-openapi, ts-compile-format-lint-www

refactor(api_connexion): remove unused dataset_id in _generate_queued_event_where_clause
  airflow/api_connexion/endpoints/asset_endpoint.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

feat(api_connexion): rename delete_dag_dataset_queued_event as delete_dag_asset_queued_event
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

feat(api_connexion/openapi): rename tag Dataset as Asset
  airflow/api_connexion/openapi/v1.yaml
Due: replace-bad-characters, lint-openapi, ts-compile-format-lint-www

feat(js/api): rename DatasetEventCollection as AssetEventCollection
  airflow/www/static/js/api/useAssetEvents.ts
  airflow/www/static/js/api/useUpstreamAssetEvents.ts
  airflow/www/static/js/types/api-generated.ts
  clients/python/README.md
Due: replace-bad-characters, lint-markdown, ts-compile-format-lint-www

feat(api_connexion): rename get_dataset as get_asset
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  airflow/www/templates/airflow/datasets.html
  clients/python/README.md
  tests/api_connexion/endpoints/test_asset_endpoint.py
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, lint-markdown, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core

feat(js): rename DatasetList as AssetList
  airflow/www/static/js/datasets/AssetList.test.tsx
  airflow/www/static/js/datasets/AssetsList.tsx
  airflow/www/static/js/datasets/Main.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

feat(api_connexion): rename create_dataset_event as create_asset_event
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/api/useCreateDatasetEvent.ts
  airflow/www/static/js/types/api-generated.ts
  airflow/www/templates/airflow/datasets.html
  tests/api_connexion/endpoints/test_dataset_endpoint.py
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core

feat(api_connexion): rename get_dataset_events as get_asset_events
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  airflow/www/templates/airflow/datasets.html
  airflow/www/templates/airflow/grid.html
  clients/python/README.md
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, lint-markdown, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

feat(js/api): rename useDatasetsSummary as useAssetsSummary
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useAssetsSummary.ts
  airflow/www/static/js/datasets/AssetList.test.tsx
  airflow/www/static/js/datasets/AssetsList.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

feat(js/api): rename useDatasetEvents as useAssetEvents
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useAssetEvents.ts
  airflow/www/static/js/dag/details/graph/index.tsx
  airflow/www/static/js/dag/details/taskInstance/DatasetUpdateEvents.tsx
  airflow/www/static/js/datasets/AssetEvents.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

feat(api_connexion): rename schema CreateDatasetEvent as CreateAssetEvent
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/asset_schema.py
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useCreateAssetEvent.ts
  airflow/www/static/js/datasets/CreateAssetEvent.tsx
  airflow/www/static/js/datasets/Main.tsx
  airflow/www/static/js/types/api-generated.ts
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-format-lint-www, mypy-core

feat(api_connexion/openapi/v1): rename Dataset as Asset
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/api/useAsset.ts
  airflow/www/static/js/datasets/AssetsList.tsx
  airflow/www/static/js/types/api-generated.ts
  airflow/www/static/js/types/index.ts
Due: replace-bad-characters, lint-openapi, ts-compile-format-lint-www
