Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-openapi, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date-in-default_args-in-example_dags, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

Path conditions:
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/PROVIDERS_CHANGES_*| ^airflow/providers/apache/hive/README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/howto/connection/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date-in-default_args-in-example_dags: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$

Fixes optimisation where doc only change should build much faster (#10344)
  scripts/ci/tools/ci_count_changed_files.sh
Due: shellcheck, language-matters, bat-tests

Constraint CI scripts are now separated out (#10404)
  .github/workflows/ci.yml
  scripts/ci/constraints/ci_branch_constraints.sh
  scripts/ci/constraints/ci_commit_constraints.sh
Due: shellcheck, language-matters, bat-tests

Replace file.io with artifacts (#10137)
  breeze
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/ci.yml
  scripts/ci/docker-compose/files.yml
  scripts/ci/docker-compose/local-prod.yml
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/tools/ci_clear_tmp.sh
  scripts/ci/tools/ci_fix_ownership.sh
Due: shellcheck, update-breeze-file, language-matters, bat-tests

Enable optimisation of image building. (#10422)
  .github/workflows/ci.yml
Due: language-matters

You can disable spellcheck or documentation when building docs. (#10377)
  .pre-commit-config.yaml
  BREEZE.rst
  breeze
  docs/build_docs.py
Due: shellcheck, update-breeze-file, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8, bat-tests

Fix failing dependencies for FAB and Celery (#10828)
  setup.py
Due: setup-order, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Removes snakebite kerberos dependency (#10865)
  UPDATING.md
  setup.py
Due: setup-order, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Status of quarantined tests is stored in Github Issue (#10119)
  CI.rst
  scripts/ci/docker-compose/base.yml
  scripts/ci/in_container/quarantine_issue_header.md
  scripts/ci/in_container/run_ci_tests.sh
  scripts/ci/in_container/update_quarantined_test_status.py
  scripts/ci/libraries/_initialization.sh
  setup.py
Due: shellcheck, setup-order, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8, bat-tests

Be nice to fork repositories when it comes to scheduled events (#10448)
  .github/workflows/ci.yml
  .github/workflows/scheduled_quarantined.yml
Due: language-matters

Fix Breeze failure on MacOS (#10440)
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_verbosity.sh
Due: shellcheck, language-matters, bat-tests

Fix failing breeze (#10424)
  scripts/in_container/entrypoint_ci.sh
Due: shellcheck, language-matters, bat-tests

Switch to released cancel-workflow-runs action (#10423)
  .github/workflows/build-images-workflow-run.yml
Due: language-matters

Switch to downloaded pgbouncer_exporter (#10759)
  chart/dockerfiles/pgbouncer-exporter/.gitignore
  chart/dockerfiles/pgbouncer-exporter/Dockerfile
  chart/dockerfiles/pgbouncer-exporter/README.md
  chart/dockerfiles/pgbouncer-exporter/build_and_push.sh
Due: shellcheck, language-matters, bat-tests

Check all dockerfiles with hadolint (#10754)
  .pre-commit-config.yaml
  chart/dockerfiles/pgbouncer-exporter/Dockerfile
  chart/dockerfiles/pgbouncer/Dockerfile
  chart/dockerfiles/pgbouncer/build_and_push.sh
  chart/dockerfiles/statsd-exporter/Dockerfile
  chart/dockerfiles/statsd-exporter/build_and_push.sh
  chart/values.yaml
  scripts/ci/dockerfiles/bats/Dockerfile
  scripts/ci/dockerfiles/bats/build_and_push.sh
  scripts/ci/static_checks/bats_tests.sh
  scripts/ci/static_checks/lint_dockerfile.sh
Due: shellcheck, language-matters, bat-tests

Github repository can be overridden in command line by Breeze (#10943)
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Due: shellcheck, language-matters, bat-tests

Helm Docker image sources are now included in the Airlfow codebase (#9650)
  chart/dockerfiles/README.md
  chart/dockerfiles/pgbouncer-exporter/README.md
  chart/dockerfiles/pgbouncer/Dockerfile
  chart/dockerfiles/pgbouncer/build_and_push.sh
  chart/dockerfiles/statsd-exporter/Dockerfile
  chart/dockerfiles/statsd-exporter/build_and_push.sh
  chart/dockerfiles/statsd-exporter/mappings.yml
  chart/values.yaml
Due: shellcheck, language-matters, bat-tests

Refactor content to a markdown table (#10863)
  INTHEWILD.md
  README.md
Due: language-matters

Make static checks Google Shell Guide compatible (#10750)
  scripts/ci/static_checks/bats_tests.sh
  scripts/ci/static_checks/check_license.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/static_checks/run_static_checks.sh
Due: shellcheck, language-matters, bat-tests

Sets default timeout for the job waiting for images (#10517)
  .github/workflows/ci.yml
Due: language-matters

Add on_kill support for the KubernetesPodOperator (#10666)
  airflow/contrib/operators/kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Make dockerfiles Google Shell Guide Compliant (#10734)
  scripts/ci/dockerfiles/bats/build_and_push.sh
Due: shellcheck, language-matters, bat-tests

Optimise production image building during k8s tests on CI (#10476)
  .github/workflows/ci.yml
  breeze
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/libraries/_build_images.sh
Due: shellcheck, update-breeze-file, language-matters, bat-tests

Add pre-commit to sort INTHEWILD.md file automatically (#10851)
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  scripts/ci/pre_commit/pre_commit_sort_in_the_wild.sh
Due: shellcheck, update-breeze-file, language-matters, check-integrations, bat-tests

Make script/ci/images Google Shell Guide compatible (#10745)
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
Due: shellcheck, language-matters, bat-tests

Fixes problem with Python image not ready to be pushed (#10430)
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/libraries/_build_images.sh
Due: shellcheck, language-matters, bat-tests

Fixes pre-commit failing on build step (#10785)
  scripts/ci/libraries/_build_images.sh
  scripts/in_container/_in_container_utils.sh
Due: shellcheck, language-matters, bat-tests

The entrypoints in Docker Image should be owned by Airflow (#10853)
  Dockerfile
Due: lint-dockerfile, language-matters

Do not override in_container scripts when building the image (#10442)
  .dockerignore
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  Dockerfile
  IMAGES.rst
  STATIC_CODE_CHECKS.rst
  breeze
  scripts/ci/docker-compose/local-prod.yml
  scripts/ci/docker-compose/local.yml
  scripts/ci/in_container/run_generate_constraints.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/static_checks/check_license.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/tools/ci_clear_tmp.sh
  scripts/ci/tools/ci_fix_ownership.sh
  scripts/in_container/_in_container_script_init.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/airflow_ci.cfg
  scripts/in_container/check_environment.sh
  scripts/in_container/configure_environment.sh
  scripts/in_container/entrypoint_ci.sh
  scripts/in_container/entrypoint_exec.sh
  scripts/in_container/krb5/krb5.conf
  scripts/in_container/prod/airflow_scheduler_autorestart.sh
  scripts/in_container/prod/clean-logs.sh
  scripts/in_container/prod/entrypoint_prod.sh
  scripts/in_container/quarantine_issue_header.md
  scripts/in_container/run_ci_tests.sh
  scripts/in_container/run_clear_tmp.sh
  scripts/in_container/run_cli_tool.sh
  scripts/in_container/run_docs_build.sh
  scripts/in_container/run_extract_tests.sh
  scripts/in_container/run_fix_ownership.sh
  scripts/in_container/run_flake8.sh
  scripts/in_container/run_generate_constraints.sh
  scripts/in_container/run_mypy.sh
  scripts/in_container/run_system_tests.sh
  scripts/in_container/update_quarantined_test_status.py
Due: shellcheck, lint-dockerfile, update-breeze-file, update-local-yml-file, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, flake8, bat-tests

Make scripts/ci/tools Google Shell Guide Compatible (#10811)
  scripts/ci/tools/ci_check_if_tests_should_be_run.sh
  scripts/ci/tools/ci_count_changed_files.sh
Due: shellcheck, language-matters, bat-tests

Fix Kubernetes Executor logs for long dag names (#10942)
  airflow/utils/log/file_task_handler.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Make the usage of bash 'shift' consistent across Breeze (#10907)
  breeze
Due: shellcheck, update-breeze-file, language-matters, bat-tests

Add packages to function names in bash (#10670) (#10696)
  BREEZE.rst
  breeze
  scripts/ci/constraints/ci_generate_constraints.sh
  scripts/ci/docs/ci_docs.sh
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/images/ci_push_ci_images.sh
  scripts/ci/images/ci_push_production_images.sh
  scripts/ci/images/ci_wait_for_all_ci_images.sh
  scripts/ci/images/ci_wait_for_all_prod_images.sh
  scripts/ci/kubernetes/ci_deploy_app_to_kubernetes.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/libraries/_md5sum.sh
  scripts/ci/libraries/_parameters.sh
  scripts/ci/libraries/_permissions.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/libraries/_sanity_checks.sh
  scripts/ci/libraries/_script_init.sh
  scripts/ci/libraries/_spinner.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_traps.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/pre_commit/pre_commit_ci_build.sh
  scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/static_checks/run_static_checks.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  tests/bats/bats_utils.bash
  tests/bats/test_breeze_params.bats
  tests/bats/test_local_mounts.bats
Due: shellcheck, update-breeze-file, update-local-yml-file, language-matters, bat-tests

Check that all pre-commits are synchronized code<>docs (#10789)
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  scripts/ci/pre_commit/pre_commit_check_pre_commits.sh
Due: shellcheck, update-breeze-file, language-matters, check-integrations, bat-tests

Fix integration tests being accidentally excluded (#10807)
  scripts/ci/libraries/_initialization.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
Due: shellcheck, language-matters, bat-tests

Make script/ci/kubernetes Google Shell Guide Compatible (#10746)
  scripts/ci/kubernetes/ci_run_helm_testing.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
Due: shellcheck, language-matters, bat-tests

Fix identation in executor_config example (#10467)
  airflow/models/baseoperator.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add section for official source code (#10678)
  README.md
Due: language-matters

Fix grammar in BREEZE.rst (#10904)
  BREEZE.rst
Due: update-breeze-file, language-matters

Fix typos in scripts/ci/docker-compose/local.yml (#10906)
  scripts/ci/docker-compose/local.yml
Due: language-matters
