Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-1-compatibility, update-breeze-file, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-example-dags-urls, run-mypy, run-flake8, lint-javascript, update-migration-references

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-2-1-compatibility:
  name: Check that providers are 2.1 compatible.
  entry: ./scripts/ci/pre_commit/pre_commit_check_2_2_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-breeze-file:
  name: Update output of breeze commands in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4
  - rich-click

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_supported_versions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tabulate

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

Resolve comments.
  airflow/providers/google/cloud/operators/cloud_composer.py
  airflow/providers/google/cloud/sensors/cloud_composer.py
  airflow/providers/google/cloud/triggers/cloud_composer.py
  tests/system/providers/google/cloud/composer/example_cloud_composer.py
  tests/system/providers/google/cloud/composer/example_cloud_composer_deferrable.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

Fix log message for kubernetes hooks (#26999)
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Fix static code check
  airflow/models/trigger.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add retry to trigger submit_event to avoid deadlock
  airflow/models/trigger.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Replace retry_db_transaction with run_with_db_retries
  airflow/models/trigger.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add provide_session back to submit_event
  airflow/models/trigger.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix param in docstring RedshiftSQLHook get_table_primary_key method (#27330)
  airflow/providers/amazon/aws/hooks/redshift_sql.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Drop support for providing ``resource`` as dict in ``KubernetesPodOperator``
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/backcompat/backwards_compat_converters.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, check-changelog-has-no-duplicates, run-mypy, run-flake8

DataflowStopJobOperator Howto example
  airflow/providers/google/cloud/operators/dataflow.py
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
Due: check-airflow-2-1-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Build id:
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Moved value chezck to execute
  airflow/providers/sftp/operators/sftp.py
  tests/providers/sftp/operators/test_sftp.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Added SFTP compatibility with taskflow test
  tests/providers/sftp/operators/test_sftp.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add env-file parameter to Docker Operator (#26951)
  airflow/providers/docker/operators/docker.py
  airflow/providers/docker/provider.yaml
  generated/provider_dependencies.json
  tests/providers/docker/operators/test_docker.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Add examples and howtos about sensors
  airflow/example_dags/example_sensors.py
  airflow/sensors/bash.py
  airflow/sensors/filesystem.py
  airflow/sensors/python.py
  airflow/sensors/time_delta.py
  airflow/sensors/time_sensor.py
  airflow/sensors/weekday.py
  docs/apache-airflow/howto/operator/bash.rst
  docs/apache-airflow/howto/operator/file.rst
  docs/apache-airflow/howto/operator/index.rst
  docs/apache-airflow/howto/operator/python.rst
  docs/apache-airflow/howto/operator/time.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
Due: update-version, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-provider-yaml-valid, check-docstring-param-types, check-example-dags-urls, run-mypy, run-flake8

Remove typecasting to list
  airflow/jobs/backfill_job.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fixed tests
  tests/cli/commands/test_dag_command.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Parametrize disable retry unittest
  tests/jobs/test_backfill_job.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Modify disable retry flag
  airflow/cli/cli_parser.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add disable retry flag on backfill
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  airflow/jobs/backfill_job.py
  airflow/models/dag.py
  tests/jobs/test_backfill_job.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Update airflow/cli/cli_parser.py
  airflow/cli/cli_parser.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Limit when git clone tests is run
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

Add examples and howtos about sensors (#27333)
  airflow/example_dags/example_sensors.py
  airflow/sensors/bash.py
  airflow/sensors/filesystem.py
  airflow/sensors/python.py
  airflow/sensors/time_delta.py
  airflow/sensors/time_sensor.py
  airflow/sensors/weekday.py
  docs/apache-airflow/howto/operator/bash.rst
  docs/apache-airflow/howto/operator/file.rst
  docs/apache-airflow/howto/operator/index.rst
  docs/apache-airflow/howto/operator/python.rst
  docs/apache-airflow/howto/operator/time.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
Due: update-version, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-provider-yaml-valid, check-docstring-param-types, check-example-dags-urls, run-mypy, run-flake8

Limit when git clone tests is run (#27349)
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

double quotes
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/hooks/dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Allow and prefer non-prefixed extra fields for dataprep hook (#27039)
  airflow/providers/google/cloud/hooks/dataprep.py
  docs/apache-airflow-providers-google/operators/cloud/dataprep.rst
  tests/providers/google/cloud/hooks/test_dataprep.py
  tests/providers/google/cloud/operators/test_dataprep_system.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

update tests
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

fix test
  tests/providers/microsoft/azure/test_utils.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

add test
  tests/providers/microsoft/azure/test_utils.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Allow and prefer non-prefixed extra fields for remaining azure
  airflow/providers/microsoft/azure/hooks/batch.py
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/data_lake.py
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/utils.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

black
  tests/providers/microsoft/azure/test_utils.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

wip
  tests/providers/microsoft/azure/test_utils.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix example_emr_serverless system test (#27149)
  airflow/providers/amazon/aws/hooks/s3.py
  tests/system/providers/amazon/aws/example_emr_serverless.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

strengthen test
  airflow/providers/microsoft/azure/hooks/batch.py
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/data_lake.py
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/utils.py
  tests/providers/microsoft/azure/test_utils.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

add test
  tests/providers/microsoft/azure/hooks/test_azure_container_volume.py
  tests/providers/microsoft/azure/hooks/test_azure_cosmos.py
  tests/providers/microsoft/azure/hooks/test_azure_data_lake.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Describe workaround for recent Docker Desktop mishap
  BREEZE.rst
Due: update-breeze-file, check-for-inclusive-language

remove resources test from backcompat
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-1-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-file: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-example-dags-urls: any of: ^docs/.*index\.rst$|^docs/.*example-dags\.rst$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
