Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-apache-license, yamllint, lint-dockerfile, mypy, pylint, isort, flake8

check-apache-license:
  name: Check if licences are OK for Apache
  entry: ./scripts/ci/pre_commit_check_license.sh
  language: system
  pass_filenames: false
  require_serial: true

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit_mypy.sh
  pass_filenames: true

pylint:
  name: Run pylint for tests
  language: system
  entry: ./scripts/ci/pre_commit_pylint_tests.sh
  pass_filenames: true

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

flake8:
  name: Run flake8
  language: system
  entry: ./scripts/ci/pre_commit_flake8.sh
  pass_filenames: true

[AIRFLOW-6122] Rename kms service
  UPDATING.md
  airflow/contrib/hooks/gcp_kms_hook.py
  airflow/gcp/hooks/kms.py
  tests/gcp/hooks/test_kms.py
  tests/test_core_to_contrib.py
Due: mypy, pylint, isort, flake8

fixup! fixup! [AIRFLOW-6226] Always reset warnings in tests
  tests/utils/test_logging_mixin.py
Due: mypy, pylint, isort, flake8

fixup! [AIRFLOW-6226] Always reset warnings in tests
  tests/www_rbac/test_views.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-6191] Adjust pytest verbosity in CI and local environment (#6746)
  TESTING.rst
  scripts/ci/in_container/entrypoint_ci.sh
  tests/pytest.ini
Due: none

[AIRFLOW-XXX] Add information how to configure pytest runner (#6736)
  TESTING.rst
  images/configure_test_runner.png
Due: none

[AIRFLOW-6177] Log DAG processors timeout event at error level, not info (#6731)
  airflow/utils/dag_processing.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-XXX] Fix a typo in TESTING.rst (#6757)
  TESTING.rst
Due: none

[AIRFLOW-6058] Fixed remnant of nose tests (fixup) (#6733)
  tests/operators/test_hive_operator.py
  tests/pytest.ini
Due: mypy, pylint, isort, flake8

[AIRFLOW-XXX] Minor fix to CONTRIBUTING.rst (#6752)
  CONTRIBUTING.rst
Due: none

[AIRFLOW-6180] Improve kerberos init in pytest conftest (#6735)
  tests/conftest.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-6189] Reduce the maximum test duration to 8 minutes (#6744)
  tests/pytest.ini
Due: none

[AIRFLOW-XXX] Fix broken link in CONTRIBUTING.rst (#6747)
  CONTRIBUTING.rst
Due: none

[AIRFLOW-6018] Display task instance in table during backfilling (#6612)
  airflow/jobs/backfill_job.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-6211] Use conda for local virtualenv (#6766)
  LOCAL_VIRTUALENV.rst
Due: none

[AIRFLOW-6226] Always reset warnings in tests
  tests/test_configuration.py
Due: mypy, pylint, isort, flake8

Update kubernetes doc with correct path (#6774)
  docs/kubernetes.rst
Due: none

[AIRFLOW-6216] Allow pytests to be run without "tests" (#6770)
  .dockerignore
  Dockerfile
  pytest.ini
  scripts/ci/_utils.sh
  scripts/ci/docker-compose-local.yml
  tests/integration/kubernetes/test_kubernetes_executor.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Due: yamllint, lint-dockerfile, mypy, pylint, isort, flake8

[AIRFLOW-5744] Environment variables not correctly set in Spark submit operator
  airflow/contrib/hooks/spark_submit_hook.py
  tests/contrib/hooks/test_spark_submit_hook.py
Due: mypy, pylint, isort, flake8

Update test_ignore_this.py
  tests/dags/subdir1/test_ignore_this.py
Due: mypy, pylint, isort, flake8

Update test_dont_ignore_this.py
  tests/dags/subdir2/test_dont_ignore_this.py
Due: mypy, pylint, isort, flake8

Update kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-6226] Always reset warnings in tests
  tests/test_configuration.py
  tests/utils/test_logging_mixin.py
  tests/www_rbac/test_views.py
Due: mypy, pylint, isort, flake8

Update pytest.ini
  pytest.ini
Due: none

fixup! [AIRFLOW-6181] Add InProcessExecutor
  docs/executor/inprocess.rst
Due: none

[AIRFLOW-6181] Add InProcessExecutor
  TESTING.rst
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/executors/base_executor.py
  airflow/executors/executor_loader.py
  airflow/executors/inprocess_executor.py
  airflow/models/taskinstance.py
  docs/executor/inprocess.rst
  tests/executors/test_inprocess_executor.py
Due: mypy, pylint, isort, flake8

fixup! [AIRFLOW-6181] Add InProcessExecutor
  TESTING.rst
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/executors/debug_executor.py
  airflow/executors/executor_loader.py
  airflow/models/taskinstance.py
  docs/executor/debug.rst
  tests/executors/test_inprocess_executor.py
Due: mypy, pylint, isort, flake8

Path conditions:
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: (any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*$) or (any of: ^tests/.*\.py$)
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  flake8: any of: \.py$
