Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

update-common-sql-api-stubs:
  name: Check and update common.sql API stubs
  entry: ./scripts/ci/pre_commit/pre_commit_update_common_sql_api_stubs.py
  language: python
  additional_dependencies:
  - rich>=12.4.4
  - mypy==1.2.0
  - black==22.12.0
  - jinja2
  pass_filenames: false
  require_serial: true

update-black-version:
  name: Update black versions everywhere
  entry: ./scripts/ci/pre_commit/pre_commit_update_black_version.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  require_serial: true

ruff:
  name: ruff
  language: python
  require_serial: true
  pass_filenames: true
  entry: ruff --fix --no-update-check --force-exclude
  additional_dependencies:
  - ruff==0.0.265

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/pre_commit/pre_commit_replace_bad_characters.py
  language: python
  additional_dependencies:
  - rich>=12.4.4

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-provider-compatibility:
  name: Check compatibility of Providers with Airflow
  entry: ./scripts/ci/pre_commit/pre_commit_check_provider_airflow_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools
  - rich>=12.4.4
  - pyyaml

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

Fix pytests
  providers/tests/edge/cli/test_edge_command.py
  providers/tests/edge/models/test_edge_worker.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Increment version
  providers/src/airflow/providers/edge/CHANGELOG.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates

add min version to plyvel (#43129)
  dev/breeze/tests/test_packages.py
  hatch_build.py
  providers/src/airflow/providers/google/provider.yaml
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, mypy-core

AIP-69: Breeze adjustments for introduction of Edge Executor (#41731) (#43139)
  dev/breeze/doc/images/output_k8s_configure-cluster.svg
  dev/breeze/doc/images/output_k8s_create-cluster.svg
  dev/breeze/doc/images/output_k8s_delete-cluster.svg
  dev/breeze/doc/images/output_k8s_deploy-airflow.svg
  dev/breeze/doc/images/output_k8s_deploy-airflow.txt
  dev/breeze/doc/images/output_k8s_k9s.svg
  dev/breeze/doc/images/output_k8s_logs.svg
  dev/breeze/doc/images/output_k8s_run-complete-tests.svg
  dev/breeze/doc/images/output_k8s_run-complete-tests.txt
  dev/breeze/doc/images/output_k8s_shell.svg
  dev/breeze/doc/images/output_k8s_shell.txt
  dev/breeze/doc/images/output_k8s_status.svg
  dev/breeze/doc/images/output_k8s_tests.svg
  dev/breeze/doc/images/output_k8s_tests.txt
  dev/breeze/doc/images/output_k8s_upload-k8s-image.svg
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  scripts/in_container/bin/run_tmux
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

remove unused import
  providers/tests/edge/models/test_edge_worker.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

use TimeoutError
  providers/src/airflow/providers/databricks/hooks/databricks_base.py
  providers/tests/databricks/hooks/test_databricks.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

description to changelog
  providers/src/airflow/providers/edge/CHANGELOG.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates

version incremented
  providers/src/airflow/providers/edge/provider.yaml
Due: replace-bad-characters

Updating constraints. Github run id:11398624615
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

pin min opentelemetry-exporter-prom version
  hatch_build.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

fix linter error
  docs/apache-airflow/howto/docker-compose/index.rst
Due: replace-bad-characters, update-version

Revert "refactor: Added test for get_sqlalchemy_engine in OdbcHook"
  providers/tests/odbc/hooks/test_odbc.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

refactor: Remove patched get_sql_alchemy method in OdbcHook, will fix this in dedicated PR
  providers/src/airflow/providers/odbc/hooks/odbc.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Add TimeoutError to be a retryable error in databricks provider (#43137)
  providers/src/airflow/providers/databricks/hooks/databricks_base.py
  providers/tests/databricks/hooks/test_databricks.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Remove duplicate changelog
  providers/src/airflow/providers/edge/CHANGELOG.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates

refactor: OdbcHook must use it's own connection when creating a sqlalchemy engine
  providers/src/airflow/providers/odbc/hooks/odbc.py
  providers/tests/odbc/hooks/test_odbc.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

initial test skeleton
  providers/tests/edge/cli/test_edge_command.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Added safe method for PID file creation
  providers/src/airflow/providers/edge/cli/edge_command.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Provider package Edge: Edge worker supports queue handling (#43115)
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/cli/edge_command.py
  providers/src/airflow/providers/edge/models/edge_worker.py
  providers/src/airflow/providers/edge/provider.yaml
  providers/tests/edge/cli/test_edge_command.py
  providers/tests/edge/models/test_edge_worker.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-changelog-has-no-duplicates, check-lazy-logging, mypy-core

Always use logical date in DAG run header
  airflow/www/static/js/utils/index.test.ts
  airflow/www/static/js/utils/index.ts
Due: replace-bad-characters, ts-compile-format-lint-www

Fix intermittent failure in UI Time test
  airflow/ui/src/components/Time.test.tsx
Due: replace-bad-characters

Re-run static checks
  airflow/api_fastapi/app.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Migrate public endpoint Get DAG Source to FastAPI, with main resynced
  airflow/api_fastapi/app.py
  airflow/api_fastapi/core_api/app.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/dag_sources.py
  airflow/api_fastapi/core_api/serializers/dag_sources.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_dag_sources.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

mypy version bump 1.12.0
  .pre-commit-config.yaml
  hatch_build.py
Due: update-black-version, ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-pre-commit-information-consistent, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-core

Updating constraints. Github run id:11399428850
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

Important metrics exported for edge worker
  providers/src/airflow/providers/edge/models/edge_worker.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

AIP-84 Get Plugins
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/plugins.py
  airflow/api_fastapi/core_api/serializers/plugins.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_connections.py
  tests/api_fastapi/core_api/routes/public/test_plugins.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

42411
  docs/apache-airflow-providers-amazon/operators/sagemaker.rst
  providers/src/airflow/providers/amazon/aws/hooks/sagemaker.py
  providers/src/airflow/providers/amazon/aws/sensors/sagemaker.py
  providers/tests/amazon/aws/sensors/test_sagemaker_processing.py
  providers/tests/system/amazon/aws/example_sagemaker.py
Due: ruff, replace-bad-characters, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

import from airflow.stats import Stats
  providers/src/airflow/providers/edge/models/edge_worker.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Explicit types
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/serializers/plugins.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

fix: fix mypy failure
  airflow/assets/__init__.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

feat(asset): add dataset subclass
  airflow/assets/__init__.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

test(assets): add test cases for asset subclass
  tests/assets/test_asset.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

feat(asset): make group a default instead of overwriting user input
  airflow/assets/__init__.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

feat(assets): add model subclass
  airflow/assets/__init__.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

feat(models/asset): rename table "dataset_dag_run_queue" as "asset_dag_run_queue"
  airflow/models/asset.py
  tests/utils/test_db_cleanup.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

feat(models/asset): rename dataset as asset in fks
  airflow/models/asset.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

feat(models): rename table "task_outlet_dataset_references" as "task_outlet_asset_references"
  airflow/dag_processing/collection.py
  airflow/models/asset.py
  airflow/models/dag.py
  tests/utils/test_db_cleanup.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

feat(models): rename dataset_alias as asset_alias
  airflow/models/asset.py
  airflow/models/dag.py
  tests/utils/test_db_cleanup.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

feat(models/asset): rename table "dataset_event" as "asset_event"
  airflow/assets/manager.py
  airflow/models/asset.py
  airflow/utils/db_cleanup.py
  tests/serialization/test_pydantic_models.py
  tests/utils/test_db_cleanup.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
