Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

add a recent configrations drop down list
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/ui/cookies.txt
  airflow-core/src/airflow/ui/src/components/TriggerDag/RecentConfigurationsDropdown.test.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/RecentConfigurationsDropdown.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
  airflow-core/src/airflow/ui/src/queries/useRecentConfigurations.test.ts
  airflow-core/src/airflow/ui/src/queries/useRecentConfigurations.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
  dags/test_recent_configurations.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels, check-contextmanager-class-decorators

follow suggestions and pick up types
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGAdvancedOptions.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/types.ts
  airflow-core/src/airflow/ui/src/queries/useParamStore.ts
  airflow-core/src/airflow/ui/src/queries/useTrigger.ts
Due: replace-bad-characters

remove extra files
  airflow-core/src/airflow/ui/cookies.txt
  dags/test_recent_configurations.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

follow suggestions for 409 conflict
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Due: replace-bad-characters

refactor: change trigger config UX from dropdown to menu button
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/ui/public/i18n/locales/en/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/components.json
  airflow-core/src/airflow/ui/src/components/TriggerDag/RecentConfigurationsDropdown.test.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/RecentConfigurationsDropdown.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGButton.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGModal.tsx
  airflow-core/src/airflow/ui/src/queries/useRecentConfigurations.test.ts
  airflow-core/src/airflow/ui/src/queries/useRecentConfigurations.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels, check-contextmanager-class-decorators

fix the staticcheck error
  airflow-core/src/airflow/ui/src/components/DagActions/RunBackfillForm.tsx
Due: replace-bad-characters

Add OSS-Fuzz infrastructure for Airflow
  pyproject.toml
  scripts/ossfuzz/README.md
  scripts/ossfuzz/pyproject.toml
  scripts/ossfuzz/src/ossfuzz/__init__.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, lint-markdown, check-docstring-param-types, check-lazy-logging, mypy-dev

Add serialized_dag_fuzz OSS-Fuzz target
  scripts/ossfuzz/seed_corpus/serialized_dag_fuzz/minimal.json
  scripts/ossfuzz/serialized_dag_fuzz.dict
  scripts/ossfuzz/serialized_dag_fuzz.options
  scripts/ossfuzz/src/ossfuzz/serialized_dag_fuzz.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

Add connection_uri_fuzz OSS-Fuzz target
  scripts/ossfuzz/connection_uri_fuzz.dict
  scripts/ossfuzz/connection_uri_fuzz.options
  scripts/ossfuzz/seed_corpus/connection_uri_fuzz/http_uri.txt
  scripts/ossfuzz/seed_corpus/connection_uri_fuzz/postgres_uri.txt
  scripts/ossfuzz/seed_corpus/connection_uri_fuzz/with_extra.txt
  scripts/ossfuzz/src/ossfuzz/connection_uri_fuzz.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

add operator-level render_template_as_native_obj override
  task-sdk/src/airflow/sdk/bases/operator.py
  task-sdk/src/airflow/sdk/definitions/_internal/abstractoperator.py
  task-sdk/src/airflow/sdk/definitions/_internal/templater.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
  task-sdk/tests/task_sdk/bases/test_operator.py
  task-sdk/tests/task_sdk/definitions/test_mappedoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. GitHub run id:21053199349
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
Due: replace-bad-characters

Add jscheffl for K8s provider as codeowner (#60612)
  .github/CODEOWNERS
Due: replace-bad-characters

fix dag serialization
  airflow-core/src/airflow/serialization/definitions/baseoperator.py
  airflow-core/src/airflow/serialization/schema.json
  airflow-core/tests/unit/serialization/test_dag_serialization.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

fix mypy
  task-sdk/src/airflow/sdk/definitions/_internal/abstractoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

update serialized fields
  airflow-core/src/airflow/serialization/definitions/baseoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Add E2E test to verify XComs page displays XCom entries correctly #59358
  airflow-core/src/airflow/ui/tests/e2e/pages/XComsPage.ts
  airflow-core/src/airflow/ui/tests/e2e/specs/xcoms.spec.ts
Due: replace-bad-characters

fix memray decorator error handling
  airflow-core/src/airflow/utils/memray_utils.py
  airflow-core/tests/unit/utils/test_memray_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

build: upgrade uv to 0.9.26 and ruff to 0.11.3
  .github/actions/breeze/action.yml
  .github/actions/install-prek/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/release_dockerhub_image.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.ci
  airflow-core/docs/best-practices.rst
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/uv.lock
  devel-common/pyproject.toml
  pyproject.toml
  scripts/ci/prek/check_imports_in_providers.py
  scripts/ci/prek/ruff_format.py
  scripts/tools/setup_breeze
Due: check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-extras-order, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, update-pyproject-toml, check-breeze-top-dependencies-limited, lint-markdown, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-inlined-dockerfile-scripts, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Revert "Add 'ignore_if_missing' to DataprocDeleteClusterOperator (#60433)"
  providers/google/src/airflow/providers/google/cloud/operators/dataproc.py
  providers/google/tests/unit/google/cloud/operators/test_dataproc.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[DOCS] fix link of colima installation guide
  dev/breeze/doc/01_installation.rst
Due: replace-bad-characters, check-breeze-top-dependencies-limited, update-breeze-cmd-output

Fix KubernetesPodOperator 404 on pod preemption (#59626)
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/exceptions.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/kubernetes_helper_functions.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/job.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/pod.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/triggers/pod.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/utils/pod_manager.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/utils/test_pod_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

build: upgrade uv to 0.9.26 and ruff to 0.11.3 (#60622)
  .github/actions/breeze/action.yml
  .github/actions/install-prek/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/release_dockerhub_image.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.ci
  airflow-core/docs/best-practices.rst
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/uv.lock
  devel-common/pyproject.toml
  pyproject.toml
  scripts/ci/prek/check_imports_in_providers.py
  scripts/ci/prek/ruff_format.py
  scripts/tools/setup_breeze
Due: check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-extras-order, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, update-pyproject-toml, check-breeze-top-dependencies-limited, lint-markdown, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-inlined-dockerfile-scripts, update-breeze-cmd-output, check-lazy-logging, mypy-dev

feature:Trigger form missing "Select Recent Configurations" from airflow 2 (#56406)
  airflow-core/src/airflow/ui/public/i18n/locales/en/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/components.json
  airflow-core/src/airflow/ui/src/components/DagActions/RunBackfillForm.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGAdvancedOptions.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGButton.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGModal.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/types.ts
  airflow-core/src/airflow/ui/src/queries/useParamStore.ts
  airflow-core/src/airflow/ui/src/queries/useTrigger.ts
Due: replace-bad-characters

[v3-1-test] increase-mysql-healthcheck-timeout (#60338) (cherry picked from commit 3f0885e79244a69aca25b9be97eb6bbc2e92443b)
  scripts/ci/docker-compose/backend-mysql.yml
Due: replace-bad-characters, lint-json-schema

added try except blocks imports for error handling
  providers/google/src/airflow/providers/google/cloud/operators/bigquery.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Increase retry interval and maximum retries for remote logging tests
  airflow-e2e-tests/tests/airflow_e2e_tests/remote_log_tests/test_remote_logging.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. GitHub run id:21058355493
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
Due: replace-bad-characters

Partially implement multi-asset dependencies
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

tmp
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

[DOCS] fix link of colima installation guide (#60625)
  dev/breeze/doc/01_installation.rst
Due: replace-bad-characters, check-breeze-top-dependencies-limited, update-breeze-cmd-output

i18n(zh-TW): add missing translations
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/components.json
Due: replace-bad-characters

Update airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
Due: replace-bad-characters

Add E2E tests for Variables page (#60565)
  airflow/ui/.gitignore
  airflow/ui/package.json
  airflow/ui/playwright.config.ts
  airflow/ui/tests/e2e/README.md
  airflow/ui/tests/e2e/pages/BasePage.ts
  airflow/ui/tests/e2e/pages/LoginPage.ts
  airflow/ui/tests/e2e/pages/VariablesPage.ts
  airflow/ui/tests/e2e/specs/variables.spec.ts
  airflow/ui/tests/e2e/testConfig.ts
Due: replace-bad-characters, lint-markdown

Complete missing Hebrew translations (2026-01-16)
  airflow-core/src/airflow/ui/public/i18n/locales/he/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dashboard.json
Due: replace-bad-characters

Include hbase into prod list
  prod_image_installed_providers.txt
Due: replace-bad-characters, update-installed-providers-to-be-sorted

Remove Exception handling to forward an exception higher to allow Airflow retry
  airflow/providers/hbase/sensors/hbase.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add zh-TW translation for triggerAgainWithConfig
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/components.json
Due: replace-bad-characters

Remove redundant dags
  dags/example_bash_operator.py
  dags/test_hbase_simple.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fix: use translate for input placeholder
  airflow-core/src/airflow/ui/src/layouts/Details/TaskStreamFilter.tsx
Due: replace-bad-characters

Updating constraints. GitHub run id:21059207588
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
Due: replace-bad-characters

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
