Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$, but not: ^airflow/_vendor/.*$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^tests/bats/.*\.bats$

Fix issue #8163 where gcp auth fails
  airflow/providers/google/cloud/utils/credentials_provider.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Fix breeze building production image not recognizing EXTRA_DOCKER_PROD_BUILD_FLAGS
  scripts/ci/_utils.sh
Due: shellcheck

[AIRFLOW-6515] Change expected log level to error in test_logging_config.py
  tests/test_logging_config.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

Make Gantt tooltip the same as Tree and Graph view
  airflow/www/static/css/gantt.css
  airflow/www/static/js/gantt-chart-d3v2.js
  airflow/www/static/js/task-instances.js
  airflow/www/templates/airflow/gantt.html
  airflow/www/views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

reduce the uses of count()
  airflow/www/views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

remove redundant request
  airflow/www/views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

encode id for url
  airflow/www/templates/airflow/dags.html
Due: none

more descriptive cookie name
  airflow/www/views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-7049] Persistent display/filtering of DAG status
  airflow/www/templates/airflow/dags.html
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/test_utils.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Revert "Change "Active" status name to "Enabled" to avoid conflict with existing "active" dags"
  airflow/www/templates/airflow/dags.html
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/test_utils.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Remove unintended script changes from bad merge
  airflow/www/templates/airflow/dags.html
Due: none

Change "Active" status name to "Enabled" to avoid conflict with existing "active" dags
  airflow/www/templates/airflow/dags.html
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/test_utils.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Fix static test
  airflow/www/utils.py
  tests/www/test_utils.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

status param not needed since cookie is used instead
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

Add support for AWS Secrets Manager as Secrets Backend (#8186)
  airflow/contrib/secrets/aws_secrets_manager.py
  docs/howto/use-alternative-secrets-backend.rst
  tests/contrib/secrets/test_aws_secrets_manager.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Revert "[AIRFLOW-6929] Add OpenAPI spec (#7549)"
  .pre-commit-config.yaml
  openapi.yaml
Due: yamllint

updated _write_args on PythonVirtualenvOperator
  airflow/operators/python_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Fix formatting in AWS Connections docs
  docs/howto/connection/aws.rst
Due: none

Move DAG._schedule_interval logic out of DAG.__init__
  airflow/models/dag.py
  airflow/models/dagbag.py
  tests/models/test_dag.py
  tests/serialization/test_dag_serialization.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Update ldap_auth.py
  airflow/contrib/auth/backends/ldap_auth.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

raise exception when trying to use delegate_to when not supported
  airflow/providers/google/cloud/utils/credentials_provider.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Update airflow/www/static/js/gantt-chart-d3v2.js
  airflow/www/static/js/gantt-chart-d3v2.js
Due: none

Proper version is displayed when running prod image via Breeze
  breeze
  scripts/ci/_utils.sh
Due: shellcheck, update-breeze-file

Fix issue with SQLAlchemy 1.3.16
  airflow/models/chart.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Fix issue with SQLAlchemy 1.3.16 (#8230)
  airflow/models/chart.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Add GCP sparkR operator
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Add example and test
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Add link to old invocation
  airflow/contrib/operators/dataproc_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

aligning
  airflow/contrib/operators/dataproc_operator.py
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc_system.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

don't need to refer to old version
  airflow/contrib/operators/dataproc_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

small fixes
  airflow/contrib/operators/dataproc_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Update Changelog for 1.10.10rc5
  CHANGELOG.txt
Due: none

Fix docs
  airflow/models/dag.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Change updating.md
  UPDATING.md
Due: none

Fix tests
  tests/sensors/test_filesystem.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

fix
  UPDATING.md
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/models/dag.py
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  airflow/providers/apache/pig/example_dags/example_pig.py
  airflow/providers/databricks/example_dags/example_databricks.py
  airflow/providers/dingding/example_dags/example_dingding.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_classification.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_extraction.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_sentiment.py
  airflow/providers/google/cloud/example_dags/example_automl_tables.py
  airflow/providers/google/cloud/example_dags/example_automl_video_intelligence_tracking.py
  airflow/providers/google/cloud/example_dags/example_bigtable.py
  airflow/providers/google/cloud/example_dags/example_cloud_memorystore.py
  airflow/providers/google/cloud/example_dags/example_cloud_sql.py
  airflow/providers/google/cloud/example_dags/example_compute.py
  airflow/providers/google/cloud/example_dags/example_compute_igm.py
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/example_dags/example_datastore.py
  airflow/providers/google/cloud/example_dags/example_functions.py
  airflow/providers/google/cloud/example_dags/example_gcs.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_bq.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_presto_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_spanner.py
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/providers/google/cloud/example_dags/example_translate.py
  airflow/providers/google/cloud/example_dags/example_video_intelligence.py
  airflow/providers/google/firebase/example_dags/example_firestore.py
  airflow/providers/google/suite/example_dags/example_gcs_to_gdrive.py
  airflow/providers/papermill/example_dags/example_papermill.py
  airflow/providers/qubole/example_dags/example_qubole.py
  airflow/providers/salesforce/example_dags/example_tableau_refresh_workbook.py
  airflow/providers/yandex/example_dags/example_yandexcloud_dataproc.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Remove empty args
  .pre-commit-config.yaml
Due: yamllint

Add comment indicating dependencies are defined in two places
  .pre-commit-config.yaml
Due: yamllint
