Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Wire team_name through deadline callbacks for multi-team compatibility
  airflow-core/src/airflow/api_fastapi/execution_api/security.py
  airflow-core/src/airflow/models/callback.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels

Add bulk XCom deletion endpoint
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/v2026_06_16.py
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_xcoms.py
  airflow-core/tests/unit/dag_processing/test_processor.py
  airflow-core/tests/unit/jobs/test_triggerer_job.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/bases/xcom.py
  task-sdk/src/airflow/sdk/execution_time/comms.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Fix conflict issue
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  task-sdk/src/airflow/sdk/execution_time/schema/schema.json
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

DAG processor: reduce file-queue de-dup from O(N²) to O(N) with OrderedDict
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/tests/unit/dag_processing/test_manager.py
  dev/dag_processing_benchmarks/README.md
  dev/dag_processing_benchmarks/_common.py
  dev/dag_processing_benchmarks/bench_file_queue.py
  dev/dag_processing_benchmarks/bench_file_scan.py
  dev/dag_processing_benchmarks/bench_persist_results.py
  dev/dag_processing_benchmarks/bench_serialize_dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, lint-markdown, check-docstring-param-types, check-lazy-logging, bandit, mypy-dev, check-contextmanager-class-decorators

fix(imap): Add overwrite_file parameter to prevent silent attachment overwrites
  providers/imap/src/airflow/providers/imap/hooks/imap.py
  providers/imap/tests/unit/imap/hooks/test_imap.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

DAG processor: reduce file-queue dedup from O(N²) to O(N) with OrderedDict
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/tests/unit/dag_processing/test_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Google: rename Stackdriver to Monitoring
  airflow-core/docs/administration-and-deployment/logging-monitoring/logging-tasks.rst
  airflow-core/src/airflow/config_templates/airflow_local_settings.py
  providers/google/docs/logging/stackdriver.rst
  providers/google/docs/operators/cloud/stackdriver.rst
  providers/google/provider.yaml
  providers/google/src/airflow/providers/google/cloud/hooks/monitoring.py
  providers/google/src/airflow/providers/google/cloud/hooks/stackdriver.py
  providers/google/src/airflow/providers/google/cloud/links/monitoring.py
  providers/google/src/airflow/providers/google/cloud/links/stackdriver.py
  providers/google/src/airflow/providers/google/cloud/log/cloud_logging_task_handler.py
  providers/google/src/airflow/providers/google/cloud/log/stackdriver_task_handler.py
  providers/google/src/airflow/providers/google/cloud/operators/monitoring.py
  providers/google/src/airflow/providers/google/cloud/operators/stackdriver.py
  providers/google/src/airflow/providers/google/get_provider_info.py
  providers/google/tests/system/google/cloud/stackdriver/example_stackdriver.py
  providers/google/tests/unit/google/cloud/hooks/test_monitoring.py
  providers/google/tests/unit/google/cloud/hooks/test_stackdriver.py
  providers/google/tests/unit/google/cloud/log/test_cloud_logging_task_handler.py
  providers/google/tests/unit/google/cloud/log/test_stackdriver_task_handler.py
  providers/google/tests/unit/google/cloud/operators/test_monitoring.py
  providers/google/tests/unit/google/cloud/operators/test_stackdriver.py
  scripts/ci/prek/known_airflow_exceptions.txt
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-system-tests-present, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Optimize TaskGroup.topological_sort for reverse-declared DAGs (follow-up to #67288)
  airflow-core/newsfragments/67688.improvement.rst
  airflow-core/src/airflow/serialization/definitions/taskgroup.py
  task-sdk/src/airflow/sdk/definitions/taskgroup.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

review & refactor
  providers/informatica/docs/guides/api.rst
  providers/informatica/docs/guides/configuration.rst
  providers/informatica/docs/guides/usage.rst
  providers/informatica/docs/index.rst
  providers/informatica/src/airflow/providers/informatica/hooks/idmc.py
  providers/informatica/src/airflow/providers/informatica/operators/idmc.py
  providers/informatica/src/airflow/providers/informatica/plugins/informatica.py
  providers/informatica/src/airflow/providers/informatica/sensors/idmc.py
  providers/informatica/src/airflow/providers/informatica/triggers/idmc.py
  providers/informatica/tests/unit/informatica/hooks/test_idmc.py
  providers/informatica/tests/unit/informatica/operators/test_idmc.py
  providers/informatica/tests/unit/informatica/sensors/test_idmc.py
  providers/informatica/tests/unit/informatica/triggers/test_idmc.py
  uv.lock
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Fixed assertions TestExpandInput
  task-sdk/tests/task_sdk/definitions/_internal/test_expandinput.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Fixed TestPartitionedOperator
  task-sdk/tests/task_sdk/definitions/test_partitionedoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Updated uv.lock file
  uv.lock
Due: replace-bad-characters

change newsfragment to sigificant
  chart/newsfragments/67447.significant.rst
Due: replace-bad-characters

[helm chart] configuration enableServiceLinks
  chart/templates/api-server/api-server-deployment.yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/database-cleanup/database-cleanup-cronjob.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/otel-collector/otel-collector-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Due: replace-bad-characters, lint-json-schema

Added newsfragment
  chart/newsfragments/67447.feature.rst
Due: replace-bad-characters

Change default to true
  chart/newsfragments/67447.significant.rst
  chart/values.schema.json
  chart/values.yaml
Due: replace-bad-characters, lint-json-schema

fully backwards compatible (default unset)
  chart/templates/_helpers.yaml
  chart/templates/api-server/api-server-deployment.yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/database-cleanup/database-cleanup-cronjob.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/otel-collector/otel-collector-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Due: replace-bad-characters, lint-json-schema

Add deprecation warning in notes
  chart/templates/NOTES.txt
Due: replace-bad-characters

Add servicelinks to pod-template
  chart/files/pod-template-file.kubernetes-helm-yaml
Due: replace-bad-characters

fix/issue-66373: Gating test behavior
  providers/openlineage/tests/unit/openlineage/utils/test_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add overwrite_file parameter to IMAP hook's download_mail_attachments
  providers/imap/src/airflow/providers/imap/hooks/imap.py
  providers/imap/tests/unit/imap/hooks/test_imap.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fix: CloudWatch remote logging shutdown ordering for ECS Executor
  providers/amazon/src/airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix dashboard percentage calculation when state counts exceed API cap (1000)
  airflow-core/src/airflow/ui/src/pages/Dashboard/HistoricalMetrics/DagRunMetrics.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/HistoricalMetrics/MetricSection.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/HistoricalMetrics/TaskInstanceMetrics.tsx
Due: replace-bad-characters

Added testcase
  chart/tests/helm_tests/airflow_aux/test_airflow_common.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Removed un-rendered comment
  chart/values.schema.json
Due: replace-bad-characters, lint-json-schema

Add airflowctl tasks state command
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/task_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add overwrite_file parameter to IMAP hook download_mail_attachments
  providers/imap/src/airflow/providers/imap/hooks/imap.py
  providers/imap/tests/unit/imap/hooks/test_imap.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add TasksOperations and TaskInstancesOperations stubs for airflowctl
  airflow-ctl/src/airflowctl/api/client.py
  airflow-ctl/src/airflowctl/api/operations.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix mypy type error in get_dags recent runs query
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/dags.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Exclude ibm.mq from ARM test matrix via excluded-platforms
  airflow-core/src/airflow/provider.yaml.schema.json
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  providers/ibm/mq/provider.yaml
  scripts/ci/prek/update_providers_dependencies.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-breeze-top-dependencies-limited, lint-json-schema, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Fix typo in IMAP provider connection docs
  providers/imap/docs/connections/imap.rst
Due: replace-bad-characters

Fix duplicate 'the the' typo in contribution workflow docs
  contributing-docs/18_contribution_workflow.rst
Due: replace-bad-characters

Fix typo: occurences -> occurrences in Amazon provider changelog
  providers/amazon/docs/changelog.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates, check-changelog-format

Exclude ibm.mq from ARM test matrix via excluded-platforms (#67757)
  airflow-core/src/airflow/provider.yaml.schema.json
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  providers/ibm/mq/provider.yaml
  scripts/ci/prek/update_providers_dependencies.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-breeze-top-dependencies-limited, lint-json-schema, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Fix typos in docs/spelling_wordlist.txt via codespell
  docs/spelling_wordlist.txt
Due: replace-bad-characters, update-version, update-spelling-wordlist-to-be-sorted

Fix example_opensearch_serverless system test (#67666)
  providers/amazon/tests/system/amazon/aws/example_opensearch_serverless.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators
