Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-and-lint-javascript, run-mypy, run-flake8, update-migration-references, update-er-diagram

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/pre_commit/pre_commit_replace_bad_characters.py
  language: python
  additional_dependencies:
  - rich>=12.4.4

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: python
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-provider-compatibility:
  name: Check compatibility of Providers with Airflow
  entry: ./scripts/ci/pre_commit/pre_commit_check_provider_airflow_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools
  - rich>=12.4.4
  - pyyaml

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_supported_versions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tabulate

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-incorrect-use-of-LoggingMixin:
  language: pygrep
  name: Make sure LoggingMixin is not used alone
  entry: LoggingMixin\(\)
  pass_filenames: true

Fix EmptySkipOperator in example dag
  airflow/example_dags/example_skip_dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fix EmptySkipOperator in example dag (#30269)
  airflow/example_dags/example_skip_dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Updating constraints. Github run id:4508917090
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters, check-for-inclusive-language

Ignore dask-executor generated direcory (#30258)
  .gitignore
Due: replace-bad-characters

fix(metrics): fix unit for task duration metric
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Allow to set limits for XCOM container
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/utils/xcom_sidecar.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix DagProcessorJob integration for standalone dag-processor
  airflow/cli/cli_config.py
  airflow/dag_processing/manager.py
  airflow/jobs/dag_processor_job.py
  airflow/models/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

fix static checks error
  airflow/providers/apache/hdfs/hooks/hdfs.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

force platform timezone to Europe/Paris during mtime tests
  tests/dag_processing/test_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

fix: force DAG last modified time to UTC
  airflow/dag_processing/manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Ensure setup/teardown work on a previously decorated function (eg task.docker)
  airflow/providers/cncf/kubernetes/python_kubernetes_script.py
  airflow/utils/decorators.py
  tests/decorators/test_external_python.py
  tests/decorators/test_python_virtualenv.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/docker/decorators/test_docker.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Apply suggestions from code review
  airflow/providers/cncf/kubernetes/python_kubernetes_script.py
  airflow/utils/decorators.py
  tests/decorators/test_external_python.py
  tests/decorators/test_python_virtualenv.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

adding current example
  docs/apache-airflow/howto/operator/python.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Ensure setup/teardown work on a previously decorated function (#30216)
  airflow/providers/cncf/kubernetes/python_kubernetes_script.py
  airflow/utils/decorators.py
  tests/decorators/test_external_python.py
  tests/decorators/test_python_virtualenv.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/docker/decorators/test_docker.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix DagProcessorJob integration for standalone dag-processor (#30278)
  airflow/cli/cli_config.py
  airflow/dag_processing/manager.py
  airflow/jobs/dag_processor_job.py
  airflow/models/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Change RSA SSH key to reflect update from Github
  docs/helm-chart/production-guide.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Put END tag for system test back
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
  tests/system/providers/amazon/aws/example_redshift.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

replace poll_interval with polling_period_seconds
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Remove deferred task from system test Add resume_cluster option to RedshiftClusterTrigger
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
  tests/system/providers/amazon/aws/example_redshift.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Remove changes in Redshift Trigger and Operator
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Updating constraints. Github run id:4513838074
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters, check-for-inclusive-language

including airflow/example_dags/sql/sample.sql in MANIFEST.in (#29883)
  MANIFEST.in
Due: replace-bad-characters, check-for-inclusive-language

Remove accidentally merged vendor daemon patch code (#29895)
  airflow/_vendor/daemon/0001-Refactor-_get_candidate_file_descriptor_ranges-to-us.patch
  airflow/_vendor/daemon/module.mk
Due: check-for-inclusive-language

Fix some typos on the kubernetes documentation (#29936)
  docs/apache-airflow/administration-and-deployment/production-deployment.rst
  docs/apache-airflow/administration-and-deployment/scheduler.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Fix tags selection in DAGs UI (#29944)
  airflow/www/static/js/dags.js
Due: replace-bad-characters, ts-compile-and-lint-javascript

Avoid considering EmptyOperator in mini scheduler (#29979)
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix some long known Graph View UI problems (#29971)
  airflow/www/static/js/graph.js
  airflow/www/templates/airflow/graph.html
  airflow/www/views.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-and-lint-javascript, run-mypy, run-flake8

fix dag docs toggle icon initial angle (#29970)
  airflow/www/templates/appbuilder/dag_docs.html
Due: replace-bad-characters, check-safe-filter-usage-in-html, check-for-inclusive-language

Update set-up-database.rst (#29991)
  docs/apache-airflow/howto/set-up-database.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Fix db clean command for mysql db (#29999)
  airflow/utils/db_cleanup.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fix indentation in release notes (#29987)
  RELEASE_NOTES.rst
Due: replace-bad-characters

Fix some typos in in the DAGs docs (#30015)
  docs/apache-airflow/core-concepts/dags.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Add capability of iterating locally on constraint files for CI image (#30002)
  .dockerignore
  Dockerfile.ci
  constraints/README.md
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  docker-context-files/.README.md
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_ci-image.svg
  images/breeze/output_ci-image_build.svg
  images/breeze/output_ci.svg
  images/breeze/output_k8s_shell.svg
  images/breeze/output_k8s_status.svg
  images/breeze/output_k8s_tests.svg
  images/breeze/output_k8s_upload-k8s-image.svg
  images/breeze/output_prod-image_build.svg
  scripts/ci/docker-compose/local.yml
  scripts/in_container/_in_container_utils.sh
Due: replace-bad-characters, lint-dockerfile, update-local-yml-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-breeze-top-dependencies-limited, lint-markdown, lint-json-schema, check-docstring-param-types, update-inlined-dockerfile-scripts, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

Update workday example (#30026)
  airflow/example_dags/plugins/workday.py
  docs/apache-airflow/howto/timetable.rst
  tests/timetables/test_workday_timetable.py
Due: replace-bad-characters, update-version, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-provider-yaml-valid, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Git clean should work if root owned files are in the working tree (#30025)
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  scripts/in_container/_in_container_utils.sh
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

Fix shell expansion for release management commands (#30027)
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

Remove upper bound limit of astroid (#30033)
  setup.py
Due: replace-bad-characters, check-setup-order, check-extra-packages-references, update-extras, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Improve install instruction for test package (#30030)
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

Adding more information regarding top level code (#30040)
  docs/apache-airflow/best-practices.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

dag processor manager, add retry_db_transcation to _fetch_callbacks (#30079)
  airflow/dag_processing/manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Path conditions:
  replace-bad-characters: any file but: ^airflow/_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$|^airflow/providers/.*/provider.yaml$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration.py|^airflow/providers|^scripts/in_container/verify_providers.py
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^.*\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$|^\.pre-commit-config\.yaml$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^airflow/_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-and-lint-javascript: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1.yaml and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$, \.(yaml|yml)$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev|^tests/system/providers|^tests/providers)) or (any of: ^airflow/providers/.*\.py$|^tests/system/providers/\*.py|^tests/providers/\*.py)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
