Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Fix IBM DB2 provider structure and add dialect support
  providers/ibm/db2/docs/commits.rst
  providers/ibm/db2/docs/conf.py
  providers/ibm/db2/docs/connections/db2.rst
  providers/ibm/db2/docs/example-dags.rst
  providers/ibm/db2/docs/index.rst
  providers/ibm/db2/docs/installing-providers-from-sources.rst
  providers/ibm/db2/docs/security.rst
  providers/ibm/db2/example_dags/db2_example_dag.py
  providers/ibm/db2/provider.yaml
  providers/ibm/db2/pyproject.toml
  providers/ibm/db2/src/airflow/providers/ibm/db2/dialects/__init__.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/dialects/db2.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/get_provider_info.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/hooks/db2.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/operators/db2.py
  providers/ibm/db2/tests/unit/ibm/db2/dialects/__init__.py
  providers/ibm/db2/tests/unit/ibm/db2/dialects/test_db2.py
  providers/ibm/db2/tests/unit/ibm/db2/hooks/test_db2.py
  providers/ibm/db2/tests/unit/ibm/db2/operators/test_db2.py
  pyproject.toml
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

rebased and fixed uv.lock
  uv.lock
Due: replace-bad-characters

Align IBM DB2 provider with standard patterns
  providers/ibm/db2/docs/dialects.rst
  providers/ibm/db2/docs/example-dags.rst
  providers/ibm/db2/docs/index.rst
  providers/ibm/db2/src/airflow/providers/ibm/db2/dialects/__init__.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/hooks/__init__.py
  providers/ibm/db2/tests/system/ibm/__init__.py
  providers/ibm/db2/tests/unit/ibm/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Standardize DB2 connection attributes - Change conn_type to 'ibmdb2' and conn_name_attr to 'conn_id' - Add type hint for get_conn() return value - Fix: Skip None values in connection strings
  providers/ibm/db2/docs/connections/db2.rst
  providers/ibm/db2/example_dags/db2_example_dag.py
  providers/ibm/db2/provider.yaml
  providers/ibm/db2/src/airflow/providers/ibm/db2/get_provider_info.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, update-pyproject-toml, check-docstring-param-types, check-lazy-logging

Fix IBM Db2 provider CI failures
  .github/ISSUE_TEMPLATE/1-airflow_bug_report.yml
  airflow-core/tests/unit/always/test_providers_manager.py
  dev/breeze/tests/test_selective_checks.py
  providers/ibm/db2/docs/index.rst
  providers/ibm/db2/docs/integration-logos/Db2.png
  providers/ibm/db2/provider.yaml
  providers/ibm/db2/pyproject.toml
  providers/ibm/db2/src/airflow/providers/ibm/db2/hooks/db2.py
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Move example DAG to system tests and set provider to incubation
  providers/ibm/db2/example_dags/README.md
  providers/ibm/db2/provider.yaml
  providers/ibm/db2/pyproject.toml
  providers/ibm/db2/tests/system/__init__.py
  providers/ibm/db2/tests/system/ibm/__init__.py
  providers/ibm/db2/tests/system/ibm/db2/__init__.py
  providers/ibm/db2/tests/system/ibm/db2/example_db2.py
  pyproject.toml
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-system-tests-present, lint-markdown, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Remove Db2Operator docs - use SQLExecuteQueryOperator instead
  providers/ibm/db2/docs/index.rst
  providers/ibm/db2/docs/operators.rst
  providers/ibm/db2/example_dags/README.md
Due: replace-bad-characters, lint-markdown

Fix review comments: changelog version 0.1.0, ibm-db2 extra name, restore uv>=0.11.29
  airflow-core/docs/extra-packages-ref.rst
  providers/ibm/db2/docs/changelog.rst
  pyproject.toml
  uv.lock
Due: replace-bad-characters, check-changelog-has-no-duplicates, check-changelog-format

Align ibm.db2 provider auto-generated files with template format
  providers/ibm/db2/pyproject.toml
  providers/ibm/db2/src/airflow/providers/ibm/db2/__init__.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/get_provider_info.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging

Fix test_get_conn tests to mock ibm_db_dbi via sys.modules instead of top-level patch
  providers/ibm/db2/tests/unit/ibm/db2/hooks/test_db2.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix RST table separator width in ibm.db2 provider requirements
  providers/ibm/db2/docs/index.rst
Due: replace-bad-characters

Add IBM Db2 provider with hook, dialect, tests, docs and scaffolding
  pyproject.toml
  uv.lock
Due: replace-bad-characters

Fix docs/index.rst to match provider template format
  providers/ibm/db2/docs/index.rst
Due: replace-bad-characters

Add missing conftest.py to ibm.db2 provider tests
  providers/ibm/db2/tests/conftest.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix mypy duplicate module error in ibm namespace __init__.py files
  providers/ibm/db2/src/airflow/__init__.py
  providers/ibm/db2/src/airflow/providers/__init__.py
  providers/ibm/db2/src/airflow/providers/ibm/__init__.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/hooks/db2.py
  providers/ibm/db2/tests/unit/ibm/db2/hooks/test_db2.py
  providers/ibm/mq/src/airflow/providers/ibm/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix RST, spellcheck, and mypy errors in ibm.db2 provider
  providers/ibm/db2/docs/index.rst
  providers/ibm/db2/pyproject.toml
  providers/ibm/db2/src/airflow/providers/ibm/db2/dialects/db2.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/get_provider_info.py
  providers/ibm/db2/src/airflow/providers/ibm/db2/hooks/db2.py
  providers/ibm/db2/tests/system/ibm/db2/example_db2.py
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add ibm to KNOWN_SECOND_LEVEL_PATHS to fix mypy duplicate module error
  providers/ibm/db2/tests/system/ibm/__init__.py
  providers/ibm/db2/tests/unit/ibm/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Update test_dialects to include db2 dialect from ibm.db2 provider
  airflow-core/tests/unit/always/test_providers_manager.py
  uv.lock
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix RST table column width in ibm.db2 provider requirements table
  providers/ibm/db2/docs/index.rst
Due: replace-bad-characters

Revert test_dialects count to 3 as ibm.db2 provider is not-ready state
  airflow-core/tests/unit/always/test_providers_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix docs include paths and toctree order in ibm.db2 provider
  providers/ibm/db2/docs/index.rst
  providers/ibm/db2/docs/installing-providers-from-sources.rst
  providers/ibm/db2/docs/security.rst
Due: replace-bad-characters

Regenerate command images to include ibm.db2 provider
  dev/breeze/doc/images/output_build-docs.svg
  dev/breeze/doc/images/output_build-docs.txt
  dev/breeze/doc/images/output_release-management_add-back-references.svg
  dev/breeze/doc/images/output_release-management_add-back-references.txt
  dev/breeze/doc/images/output_release-management_publish-docs.svg
  dev/breeze/doc/images/output_release-management_publish-docs.txt
  dev/breeze/doc/images/output_sbom_generate-providers-requirements.svg
  dev/breeze/doc/images/output_sbom_generate-providers-requirements.txt
  dev/breeze/doc/images/output_workflow-run_publish-docs.svg
  dev/breeze/doc/images/output_workflow-run_publish-docs.txt
Due: replace-bad-characters, check-breeze-top-dependencies-limited, update-breeze-cmd-output

Align ibm.db2 pyproject.toml with provider template structure
  providers/ibm/db2/pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Raise ibm-db lower bound to 3.2.0 to fix lowest-direct build failure
  providers/ibm/db2/docs/index.rst
  providers/ibm/db2/pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Add ibm.db2 to extra-packages-ref.rst
  airflow-core/docs/extra-packages-ref.rst
Due: replace-bad-characters

Regenerate uv.lock after rebase onto upstream/main
  uv.lock
Due: replace-bad-characters

Bound SQL toolset query results by size, not just row count (#71317)
  providers/common/ai/docs/changelog.rst
  providers/common/ai/docs/toolsets.rst
  providers/common/ai/src/airflow/providers/common/ai/toolsets/datafusion.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/sql.py
  providers/common/ai/src/airflow/providers/common/ai/utils/query_results.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_datafusion.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_sql.py
  providers/common/ai/tests/unit/common/ai/utils/test_query_results.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-changelog-has-no-duplicates, check-changelog-format, check-lazy-logging, check-contextmanager-class-decorators

Fixup stastic checks
  airflow-core/docs/extra-packages-ref.rst
Due: replace-bad-characters

Resolve comments
  .github/boring-cyborg.yml
  airflow-core/docs/extra-packages-ref.rst
  dev/breeze/doc/images/output_release-management_classify-provider-changes.svg
  dev/breeze/doc/images/output_release-management_classify-provider-changes.txt
  dev/breeze/doc/images/output_release-management_generate-issue-content-providers.svg
  dev/breeze/doc/images/output_release-management_generate-issue-content-providers.txt
  dev/breeze/doc/images/output_release-management_generate-providers-metadata.svg
  dev/breeze/doc/images/output_release-management_generate-providers-metadata.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_prepare-provider-distributions.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-documentation.svg
  dev/breeze/doc/images/output_release-management_prepare-provider-documentation.txt
  providers/apache/datafusion/README.rst
  providers/apache/datafusion/provider.yaml
  providers/apache/datafusion/pyproject.toml
  providers/apache/datafusion/tests/unit/apache/datafusion/test_example.py
  pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, check-contextmanager-class-decorators

Fix test
  dev/breeze/tests/test_packages.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Refresh Breeze command image hashes
  dev/breeze/doc/images/output_build-docs.txt
  dev/breeze/doc/images/output_release-management_add-back-references.txt
  dev/breeze/doc/images/output_release-management_classify-provider-changes.txt
  dev/breeze/doc/images/output_release-management_generate-issue-content-providers.txt
  dev/breeze/doc/images/output_release-management_generate-providers-metadata.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-distributions.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-documentation.txt
  dev/breeze/doc/images/output_release-management_publish-docs.txt
  dev/breeze/doc/images/output_sbom_generate-providers-requirements.txt
  dev/breeze/doc/images/output_workflow-run_publish-docs.txt
Due: replace-bad-characters, check-breeze-top-dependencies-limited, update-breeze-cmd-output

Restore task interpreter config fallback
  airflow-core/src/airflow/executors/base_executor.py
  airflow-core/src/airflow/executors/workloads/task.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/serialization/definitions/baseoperator.py
  airflow-core/tests/unit/executors/test_workloads.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  providers/edge3/src/airflow/providers/edge3/worker_api/v2-edge-generated.yaml
  providers/standard/docs/operators/python.rst
  providers/standard/src/airflow/providers/standard/operators/python.py
  providers/standard/tests/unit/standard/operators/test_python.py
  task-sdk/src/airflow/sdk/execution_time/coordinator.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix deactivation of stale zip-packaged DAGs (#70586)
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/tests/unit/dag_processing/test_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

[v3-3-test] Fix deactivation of stale zip-packaged DAGs (#70586) (cherry picked from commit ef54cd661c4441650ca5294a1042ee85c1570cbe)
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/tests/unit/dag_processing/test_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

add instructions to not include issue number or anything in PR title
  AGENTS.md
Due: replace-bad-characters, lint-markdown

Isolate scheduled DagRun creation failures with savepoints
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/utils/sqlalchemy.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/utils/test_sqlalchemy.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix airflowctl date parameters rejecting every input value
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/tests/airflow_ctl/ctl/test_cli_config.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Move API metrics config validation into configuration parser
  airflow-core/src/airflow/api_fastapi/common/http_metrics.py
  airflow-core/src/airflow/configuration.py
  airflow-core/tests/unit/api_fastapi/common/test_http_access_log.py
  airflow-core/tests/unit/api_fastapi/common/test_http_metrics.py
  airflow-core/tests/unit/core/test_configuration.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
