Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-2-compatibility, update-breeze-cmd-output, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-system-tests-tocs, create-missing-init-py-files-tests, run-mypy, run-flake8, lint-javascript, update-migration-references

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-2-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Fix broken tests
  airflow/providers/amazon/aws/hooks/base_aws.py
  generated/provider_dependencies.json
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Adding loggroomer sidecar to dag processor (#30726)
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/airflow_core/test_dag_processor.py
  tests/charts/log_groomer.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, lint-helm-chart, lint-json-schema, update-vendored-in-k8s-json-schema, check-docstring-param-types, lint-chart-schema, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix kubernetes task decorator pickle error (#31110)
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Updating constraints. Github run id:4917693042
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Add deferrable param in SageMakerProcessingOperator (#31062)
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/aws/triggers/sagemaker.py
  airflow/providers/amazon/aws/waiters/sagemaker.json
  tests/providers/amazon/aws/operators/test_sagemaker_processing.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Add deferrable param in SageMakerTrainingOperator (#31042)
  airflow/providers/amazon/aws/operators/sagemaker.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
  tests/providers/amazon/aws/triggers/test_sagemaker.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Reenable clear on TaskInstanceModelView for role User (#30415)
  airflow/www/views.py
  tests/www/views/test_views_tasks.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Present affected task instances as table (#30633)
  airflow/www/static/js/api/useClearTaskDryRun.ts
  airflow/www/static/js/api/useMarkTaskDryRun.ts
  airflow/www/static/js/dag/details/taskInstance/taskActions/ActionModal.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix backfill KeyError when try_number out of sync (#30653)
  airflow/jobs/backfill_job_runner.py
  tests/jobs/test_backfill_job.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update faq.rst about missing task logs (#30717)
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
  docs/apache-airflow/core-concepts/tasks.rst
  docs/apache-airflow/faq.rst
Due: update-version, check-provider-yaml-valid

Fix problem with displaying graph (#30765)
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

docker compose doc changes (#30662)
  docs/apache-airflow/howto/docker-compose/docker-compose.yaml
  docs/apache-airflow/howto/docker-compose/index.rst
Due: update-version, check-provider-yaml-valid, lint-json-schema

Improve Quick Start instructions (#30820)
  docs/apache-airflow/start.rst
Due: update-version, check-provider-yaml-valid

Update the user-facing documentation of providers (#30816)
  docs/apache-airflow-providers/index.rst
Due: update-version, check-provider-yaml-valid

Improve Description of dag_processing.processes Metric in Docs (#30891)
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Due: update-version, check-provider-yaml-valid

Fix mappedStates case (#30916)
  airflow/www/static/js/dag/InstanceTooltip.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
Due: none

Improve task group UI in new graph (#30918)
  airflow/www/static/js/dag/details/graph/Node.tsx
Due: none

Use the Task Group explicitly passed to 'partial' if any (#30933)
  airflow/models/baseoperator.py
  tests/models/test_mappedoperator.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Include node height/width in center-on-task logic (#30924)
  airflow/www/static/js/dag/details/graph/index.tsx
Due: none

Fix `order_by` request in list DAG rest api (#30926)
  airflow/api_connexion/endpoints/dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Upgrade PIP to 23.1.2 (#30964)
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/docker/common.sh
Due: lint-dockerfile, update-breeze-cmd-output, check-extras-order, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-provider-yaml-valid, check-breeze-top-dependencies-limited, check-docstring-param-types, update-inlined-dockerfile-scripts, run-mypy, run-flake8

Add support for dynamic tasks with template fields that contain `pandas.DataFrame` (#30943)
  airflow/models/abstractoperator.py
  tests/models/test_mappedoperator.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Remove print from dag trigger command (#30921)
  airflow/cli/commands/dag_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix Pool schema OpenAPI spec (#30973)
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Due: lint-openapi

Fix some typos in the cluster policies docs (#31031)
  docs/apache-airflow/administration-and-deployment/cluster-policies.rst
Due: update-version, check-provider-yaml-valid

Small fixes (#31015)
  docs/apache-airflow/administration-and-deployment/production-deployment.rst
Due: update-version, check-provider-yaml-valid

Fix unable to remove DagRun and TaskInstance with note (#30987)
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix `airflow providers get` command output (#30978)
  airflow/cli/commands/provider_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Move TaskInstanceKey to a separate file (#31033)
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/dask_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_executor.py
  airflow/executors/sequential_executor.py
  airflow/kubernetes/kubernetes_helper_functions.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/models/taskinstancekey.py
  airflow/models/xcom.py
  airflow/operators/trigger_dagrun.py
  airflow/providers/amazon/aws/links/base_aws.py
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/google/cloud/links/base.py
  airflow/providers/google/cloud/links/datafusion.py
  airflow/providers/google/cloud/links/dataproc.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/qubole/operators/qubole.py
  docs/apache-airflow/public-airflow-interface.rst
  docs/conf.py
  tests/executors/test_kubernetes_executor.py
  tests/jobs/test_backfill_job.py
  tests/models/test_xcom.py
  tests/test_utils/mock_executor.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update incorrect config values (#30969)
  airflow/config_templates/config.yml
  airflow/configuration.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, run-mypy, run-flake8

fix MappedTaskGroup import in taskinstance (#31100)
  airflow/models/taskinstance.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Format DagBag.dagbag_report() Output (#31095)
  airflow/models/dagbag.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix issue in pre-importing modules in zipfile (#31061)
  airflow/dag_processing/processor.py
  tests/dag_processing/test_processor.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Small typo in setup.py (#31049)
  setup.cfg
  setup.py
Due: check-setup-order, check-extra-packages-references, update-setup-cfg-file, update-extras, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

fix EXTRAS_DEPENDENCIES of apache-hive (#31068)
  setup.py
Due: check-setup-order, check-extra-packages-references, update-extras, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Move interleave_timestamp_parser config to section logging (#31102)
  airflow/configuration.py
  airflow/utils/log/file_task_handler.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix template error when iterating None value and fix params documentation (#31078)
  airflow/www/static/js/trigger.js
  airflow/www/templates/airflow/trigger.html
  docs/apache-airflow/core-concepts/params.rst
  tests/www/views/test_views_trigger_dag.py
Due: update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8, lint-javascript

Mask task attribute on task detail view (#31125)
  airflow/www/views.py
  tests/www/views/test_views_rendered.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix typos in dev documentation (#31115)
  CONTRIBUTORS_QUICK_START.rst
  STATIC_CODE_CHECKS.rst
  airflow/api_connexion/openapi/v1.yaml
Due: lint-openapi, check-for-inclusive-language

Update callbacks documentation (errors and context) (#31116)
  docs/apache-airflow/administration-and-deployment/logging-monitoring/callbacks.rst
Due: update-version, check-provider-yaml-valid
