Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Delete unnecessary parameters in EKSPodOperator (#17960)
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
  tests/providers/amazon/aws/hooks/test_eks.py
  tests/providers/amazon/aws/operators/test_eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

New google operator: SQLToGoogleSheetsOperator (#17887)
  airflow/providers/google/provider.yaml
  airflow/providers/google/suite/example_dags/example_sql_to_sheets.py
  airflow/providers/google/suite/transfers/sql_to_sheets.py
  docs/apache-airflow-providers-google/operators/transfer/sql_to_sheets.rst
  tests/providers/google/suite/transfers/test_sql_to_sheets.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Fix constraint generation properly (#17964)
  CI.rst
  scripts/ci/selective_ci_checks.sh
  scripts/in_container/run_generate_constraints.sh
Due: language-matters, shellcheck, bats-tests, bats-in-container-tests

Fix instantiating Vault Secret Backend during configuration (#17935)
  airflow/providers/hashicorp/secrets/vault.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Remove all deprecation warnings in providers (#17900)
  airflow/providers/amazon/aws/operators/dms_create_task.py
  airflow/providers/amazon/aws/operators/dms_delete_task.py
  airflow/providers/amazon/aws/operators/dms_describe_tasks.py
  airflow/providers/amazon/aws/operators/dms_start_task.py
  airflow/providers/amazon/aws/operators/dms_stop_task.py
  airflow/providers/amazon/aws/operators/emr_containers.py
  airflow/providers/amazon/aws/sensors/dms_task.py
  airflow/providers/apache/drill/operators/drill.py
  airflow/providers/cncf/kubernetes/backcompat/backwards_compat_converters.py
  airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
  airflow/providers/google/cloud/example_dags/example_bigquery_queries.py
  airflow/providers/google/cloud/example_dags/example_bigquery_sensors.py
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/example_dags/example_facebook_ads_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_gdrive_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_presto_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_salesforce_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_trino_to_gcs.py
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/sensors/dataproc.py
  airflow/providers/google/cloud/transfers/bigquery_to_mssql.py
  airflow/providers/google/cloud/utils/mlengine_operator_utils.py
  airflow/providers/google/firebase/example_dags/example_firestore.py
  airflow/providers/singularity/example_dags/example_singularity.py
  dev/import_all_classes.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-google/operators/cloud/bigquery.rst
  tests/always/test_project_structure.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
  tests/providers/google/cloud/utils/test_mlengine_operator_utils.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Separate Managed Services for Airflow (#17926)
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Due: none

Add support for kinit options [-f|-F] and [-a|-A] (#17816)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/security/kerberos.py
  docs/apache-airflow/security/kerberos.rst
  docs/spelling_wordlist.txt
  tests/security/test_kerberos.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Fix grammar in `traceback.html` (#17942)
  airflow/www/templates/airflow/traceback.html
Due: dont-use-safe-filter, language-matters

[AIRFLOW-9300] Add DatafusionPipelineStateSensor and aync option to the CloudDataFusionStartPipelineOperator (#17787)
  airflow/providers/google/cloud/example_dags/example_datafusion.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/sensors/datafusion.py
  docs/apache-airflow-providers-google/operators/cloud/datafusion.rst
  tests/providers/google/cloud/operators/test_datafusion.py
  tests/providers/google/cloud/sensors/test_datafusion.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Fix blank dag dependencies view (#17990)
  airflow/www/templates/airflow/dag_dependencies.html
  airflow/www/views.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update max_tis_per_query to better render on the webpage (#17971)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: language-matters, airflow-config-yaml, json-schema

Add robots.txt and X-Robots-Tag header (#17946)
  airflow/www/app.py
  airflow/www/extensions/init_robots.py
  airflow/www/static/robots.txt
  airflow/www/views.py
  tests/www/views/test_views_home.py
  tests/www/views/test_views_robots.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix grammar in local.rst (#18001)
  docs/apache-airflow/start/local.rst
Due: language-matters, provider-yamls

Allow setting specific cwd for BashOperator (#17751)
  airflow/hooks/subprocess.py
  airflow/operators/bash.py
  tests/operators/test_bash.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update error message to guide the user into self-help mostly (#17929)
  airflow/www/templates/airflow/traceback.html
Due: dont-use-safe-filter, language-matters

Always upgrade to newer dependencies in main (#17939)
  scripts/ci/selective_ci_checks.sh
Due: language-matters, shellcheck, bats-tests

Update docker.rst (#17882)
  docs/apache-airflow/start/docker.rst
Due: language-matters, provider-yamls

Adds Github Oauth example with team based authorization (#17896)
  docs/apache-airflow/security/webserver.rst
Due: language-matters, provider-yamls

Only show Pause/Unpause tooltip on hover (#17957)
  airflow/www/static/js/dag.js
  airflow/www/static/js/dags.js
Due: language-matters

Adding ``TaskGroup`` support in ``BaseOperator.chain()`` (#17456)
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add missing "be" in documentation (#18059)
  docs/apache-airflow/howto/custom-operator.rst
Due: language-matters, provider-yamls

Make next_dagrun_info take a data interval (#18088)
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/cli/commands/dag_command.py
  airflow/dag_processing/processor.py
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/operators/latest_only.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/sensors/time_delta.py
  airflow/timetables/base.py
  airflow/timetables/interval.py
  airflow/timetables/simple.py
  airflow/utils/session.py
  airflow/www/views.py
  docs/apache-airflow/templates-ref.rst
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/cli/commands/test_dag_command.py
  tests/conftest.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/providers/apache/druid/operators/test_druid.py
  tests/providers/apache/kylin/operators/test_kylin_cube.py
  tests/providers/apache/spark/operators/test_spark_submit.py
  tests/sensors/test_external_task_sensor.py
  tests/test_utils/perf/scheduler_dag_execution_timing.py
  tests/ti_deps/deps/test_runnable_exec_date_dep.py
  tests/utils/log/test_log_reader.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_log.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Reapply "Build CI images for the merge result of a PR, not the tip of the PR (#18060)" (#18086)
  .github/workflows/build-images.yml
Due: none

Hide variable import form if user lacks permission (#18000)
  airflow/www/templates/airflow/variable_list.html
  airflow/www/views.py
  tests/www/views/test_views_variable.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix failed tests from run_as_user+error_file changes (#18013)
  airflow/task/task_runner/base_task_runner.py
  tests/task/task_runner/test_task_runner.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix unexpected bug in exiting hook context manager (#18014)
  airflow/providers/microsoft/psrp/hooks/psrp.py
  tests/providers/microsoft/psrp/hooks/test_psrp.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fix Sentry handler from LocalTaskJob causing error (#18119)
  airflow/sentry.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Improve the description of how to handle dynamic task generation (#17963)
  airflow/configuration.py
  docs/apache-airflow/best-practices.rst
  docs/conf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, flynt, mypy, pylint, flake8

Allow specifying multiple URLs via the CORS config option (#17941)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/www/extensions/init_views.py
  docs/apache-airflow/security/api.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Fix DagRun execution order from queued to running not being properly followed (#18061)
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/092435bf5d12_add_max_active_runs_column_to_dagmodel_.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  docs/apache-airflow/migrations-ref.rst
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, flynt, mypy, pylint, flake8

Applied permissions to self._error_file (#15947)
  airflow/task/task_runner/base_task_runner.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix KubernetesPodOperator reattach when not deleting pods (#18070)
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Implement API endpoint for DAG deletion (#17980)
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/exceptions.py
  airflow/www/views.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Change id collation for MySQL to case-sensitive (#18072)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/models/base.py
  docs/apache-airflow/howto/set-up-database.rst
  tests/models/test_base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Revert "Build CI images for the merge result of a PR, not the tip of the PR (#18060)" (#18063)
  .github/workflows/build-images.yml
Due: none

Allow filtering DAGS by tags in the REST API (#18090)
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_dag_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update version added fields in airflow/config_templates/config.yml (#18128)
  airflow/config_templates/config.yml
Due: language-matters, airflow-config-yaml, json-schema

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
