Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

update-common-sql-api-stubs:
  name: Check and update common.sql API stubs
  entry: ./scripts/ci/pre_commit/pre_commit_update_common_sql_api_stubs.py
  language: python
  additional_dependencies:
  - rich>=12.4.4
  - mypy==1.2.0
  - black==22.12.0
  - jinja2
  pass_filenames: false
  require_serial: true

update-black-version:
  name: Update black versions everywhere
  entry: ./scripts/ci/pre_commit/pre_commit_update_black_version.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  require_serial: true

ruff:
  name: ruff
  language: python
  require_serial: true
  pass_filenames: true
  entry: ruff --fix --no-update-check --force-exclude
  additional_dependencies:
  - ruff==0.0.265

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/pre_commit/pre_commit_replace_bad_characters.py
  language: python
  additional_dependencies:
  - rich>=12.4.4

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-provider-compatibility:
  name: Check compatibility of Providers with Airflow
  entry: ./scripts/ci/pre_commit/pre_commit_check_provider_airflow_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools
  - rich>=12.4.4
  - pyyaml

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

Revert "Fix pre-mature evaluation of tasks in mapped task group (#34337)" (#35651)
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/models/test_mappedoperator.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix write processor_subdir in serialized_dag table
  airflow/models/dagbag.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Remove breeze setup version call from Breeze unit tests in CI (#35657)
  .github/workflows/ci.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Remove a second check for Breeze setup.py/setup.cfg (#35658)
  dev/breeze/README.md
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Remove the temporary jsonschema-specification limitation
  setup.cfg
Due: replace-bad-characters, check-setup-order

Add ability to pass impersonation_chain to BigQuery triggers
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/triggers/bigquery.py
  dev/breeze/README.md
  tests/providers/google/cloud/triggers/test_bigquery.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Quarantine back test_backfill_integration
  tests/providers/daskexecutor/test_dask_executor.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Quarantine back test_backfill_integration (#35659)
  tests/providers/daskexecutor/test_dask_executor.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Remove the temporary jsonschema-specification limitation (#35656)
  setup.cfg
Due: replace-bad-characters, check-setup-order

Use `pyarrow-hotfix` to mitigate CVE-2023-47248 (#35650)
  setup.py
Due: ruff, replace-bad-characters, check-setup-order, check-extra-packages-references, update-extras, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Indicate usage of the re2 regex engine in the .airflowignore documentation.
  docs/apache-airflow/core-concepts/dags.rst
Due: replace-bad-characters, update-version

Update docs/apache-airflow/core-concepts/dags.rst
  docs/apache-airflow/core-concepts/dags.rst
Due: replace-bad-characters, update-version

Specify source directory
  dev/README_RELEASE_AIRFLOW.md
Due: replace-bad-characters, lint-markdown

Update clients versioning policy (#35628)
  dev/README_RELEASE_AIRFLOW.md
Due: replace-bad-characters, lint-markdown

Fix typo in quarantine marker
  tests/providers/daskexecutor/test_dask_executor.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Fix typo in quarantine marker (#35664)
  tests/providers/daskexecutor/test_dask_executor.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Migrate _run_task_by_local_task_job to Internal API.
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/cli/commands/task_command.py
  airflow/jobs/local_task_job_runner.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/taskinstance.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix tests
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/pydantic/taskinstance.py
  tests/serialization/test_pydantic_models.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix docstring and classmethod
  airflow/models/taskinstance.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Small adjustements and cleaning
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/utils/cdxgen.py
  images/breeze/output-commands-hash.txt
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Move external logs links to top of react logs page
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

Revert "make signature uniform"
  airflow/providers/alibaba/cloud/log/oss_task_handler.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/apache/hdfs/log/hdfs_task_handler.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/redis/log/redis_task_handler.py
  airflow/utils/log/task_handler_with_custom_formatter.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-providers

Move external logs links to top of react logs page (#35668)
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

Add annotations field into in KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Add "NON_PREEMPTIBLE" as a valid preemptibility type for Dataproc workers
  airflow/providers/google/cloud/operators/dataproc.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Add ability to pass impersonation_chain to BigQuery triggers (#35629)
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/triggers/bigquery.py
  dev/breeze/README.md
  tests/providers/google/cloud/triggers/test_bigquery.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

[AIP-44] Migrate run_task_by_local_task_job to Internal API (#35527)
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/cli/commands/task_command.py
  airflow/jobs/local_task_job_runner.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/taskinstance.py
  tests/serialization/test_pydantic_models.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Rename method should_log -> should_log_to_task_context
  airflow/utils/log/task_context_logger.py
  tests/utils/log/test_task_context_logger.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Generate SBOMs for providers (#35667)
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands_config.py
  dev/breeze/src/airflow_breeze/utils/cdxgen.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  images/breeze/output_sbom_update-sbom-information.svg
  images/breeze/output_sbom_update-sbom-information.txt
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Add annotations field into in KubernetesPodOperator (#35641)
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

rename should_log_to_task_context to enabled
  airflow/utils/log/task_context_logger.py
  tests/utils/log/test_task_context_logger.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

fix static check
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

fix test
  airflow/utils/log/file_task_handler.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Updating constraints. Github run id:6882074323
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

chore: added Notino to the list of companies using Apache Airflow (#35655)
  INTHEWILD.md
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, lint-markdown

Add try_number to extra links query
  airflow/www/static/js/api/useExtraLinks.ts
  airflow/www/static/js/dag/details/taskInstance/ExtraLinks.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

Do not include try_number in uri if undefined
  airflow/www/static/js/api/useExtraLinks.ts
Due: replace-bad-characters, ts-compile-format-lint-www

fix test
  airflow/config_templates/airflow_local_settings.py
  airflow/utils/log/task_context_logger.py
  tests/utils/log/test_task_context_logger.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Add tests for connect hook
  airflow/providers/apache/spark/hooks/spark_connect.py
  tests/providers/apache/spark/hooks/test_spark_connect.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
