Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-dockerfile, isort, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  require_serial: true
  entry: ./scripts/ci/pre_commit_check_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false
  require_serial: true

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false
  require_serial: true

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false
  require_serial: true

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false
  require_serial: true

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit_update_extras.sh
  language: system
  pass_filenames: false
  require_serial: true

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsitent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

base-operator:
  language: pygrep
  name: Make sure BaseOperator[Link] is imported from airflow.models outside of core
  entry: from airflow\.models\.baseoperator import.* BaseOperator
  pass_filenames: true

provide-create-sessions:
  language: pygrep
  name: To avoid import cycles make sure provide_session and create_session are imported from airflow.utils.session
  entry: from airflow\.utils\.db import.* (provide_session|create_session)
  pass_filenames: true

incorrect-use-of-LoggingMixin:
  language: pygrep
  name: Make sure LoggingMixin is not used alone
  entry: LoggingMixin\(\)
  pass_filenames: true

daysago-import-check:
  language: pygrep
  name: Make sure days_ago is imported from airflow.utils.dates
  entry: (airflow\.){0,1}utils\.dates\.days_ago
  pass_filenames: true

check-integrations:
  name: Check if integration list is aligned
  entry: ./scripts/ci/pre_commit_check_integrations.sh
  language: system
  pass_filenames: false

Update kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Increase typing coverage for Elasticsearch
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/providers/elasticsearch/log/es_task_handler.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Extended tests to ensure that `get_client()` is called with `project_id`.
  tests/providers/google/cloud/hooks/test_bigquery.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Add test_external_task_marker_future
  tests/sensors/test_external_task_sensor.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Fix ExternalTaskMarker clear future
  airflow/models/dag.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add example DAG
  airflow/example_dags/example_xcomargs.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[AIRFLOW-9118] Add extra error handling to S3 remote logging
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Tests are cancelled if any of faster checks fail
  .github/workflows/ci.yml
Due: yamllint

fixup! Python 3.8.4 release breaks our builds
  requirements/requirements-python2.7.txt
Due: none

fixup! Update kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix test
  tests/models/test_dagrun.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Add type ignores
  airflow/providers/imap/hooks/imap.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

break down long lines
  airflow/providers/imap/hooks/imap.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixup! fixup! fixup! fixup! fixup! Add Google Authorization for experimental API
  airflow/providers/google/common/auth_backend/google_openid.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_airflow.cfg
Due: airflow-config-yaml

Update airflow/config_templates/config.yml
  airflow/config_templates/config.yml
Due: yamllint, airflow-config-yaml

Allows to configure logging for third-party libraries
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: yamllint, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, mypy, pylint, flake8

Added XCOM tests for test_docker_swarm
  tests/providers/docker/operators/test_docker_swarm.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Update spark submit operator for spark 3 support
  airflow/providers/apache/spark/hooks/spark_submit.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

point go client mod path to new repo
  clients/gen/go.sh
Due: shellcheck, bat-tests

Add unit test for test_sql_to_gcs
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
  tests/test_project_structure.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

More strict rules in mypy (#9705)
  airflow/cli/cli_parser.py
  airflow/configuration.py
  airflow/models/baseoperator.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/plugins_manager.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/docker/operators/docker.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/translate.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/marketing_platform/operators/campaign_manager.py
  airflow/utils/file.py
  docs/exts/exampleinclude.py
  scripts/perf/sql_queries.py
  setup.cfg
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/cli/commands/test_task_command.py
  tests/plugins/test_plugin_ignore.py
  tests/providers/google/cloud/hooks/test_cloud_memorystore.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/hooks/test_dlp.py
  tests/providers/google/cloud/hooks/test_tasks.py
  tests/providers/google/cloud/log/test_stackdriver_task_handler.py
  tests/providers/google/common/hooks/test_base_google.py
Due: isort, update-setup-cfg-file, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Postgres tests were skipped by mistake
  .github/workflows/ci.yml
Due: yamllint

Nightly tag was not pushed on scheduled run
  .github/workflows/ci.yml
  CI.rst
Due: yamllint

run client codegen diff CI step on codegen script change
  scripts/ci/openapi/client_codegen_diff.sh
Due: shellcheck, bat-tests

Add response_filter to SimpleHttpOperator
  airflow/providers/http/example_dags/example_http.py
  airflow/providers/http/operators/http.py
  docs/howto/operator/http.rst
  tests/providers/http/operators/test_http.py
Due: isort, build-providers-dependencies, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Shorter/more meaningful header for official images
  README.md
Due: none

Update README.md
  README.md
Due: none

[AIRFLOW-5391] Do not re-run skipped tasks when they are cleared (#7276)
  airflow/models/baseoperator.py
  airflow/models/skipmixin.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/not_previously_skipped_dep.py
  tests/jobs/test_scheduler_job.py
  tests/operators/test_python_operator.py
  tests/ti_deps/deps/test_not_previously_skipped_dep.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Fix test_latest_only_operator by creating dag_run before setUp
  tests/operators/test_latest_only_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Apply suggestions from code review
  tests/ti_deps/deps/test_trigger_rule_dep.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Add note about SkipMixin behaviour and NotPreviouslySkippedDep
  UPDATING.md
Due: none

Use consistent message in SchedulerJob._process_executor_events
  airflow/jobs/scheduler_job.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Delay the import of airflow.models to be after the settings initialization (#9902)
  airflow/__init__.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fixes sqlalchemy flask failure with python 3.8.4
  requirements/requirements-python2.7.txt
  requirements/requirements-python3.5.txt
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/requirements-python3.8.txt
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, bat-tests

Bump k8s cache version
  .github/workflows/ci.yml
Due: yamllint

Python 3.8.4 release breaks our builds
  breeze
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, update-breeze-file, bat-tests

Add git sync option and unit tests for the Helm chart (#9371)
  .github/workflows/ci.yml
  CI.rst
  airflow/kubernetes/worker_configuration.py
  chart/README.md
  chart/templates/_helpers.yaml
  chart/templates/configmap.yaml
  chart/templates/dags-persistent-volume-claim.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/dags-persistent-volume-claim_test.yaml
  chart/tests/git-sync-scheduler_test.yaml
  chart/tests/git-sync-webserver_test.yaml
  chart/tests/git-sync-worker_test.yaml
  chart/values.yaml
  scripts/ci/ci_run_helm_testing.sh
  tests/kubernetes/test_worker_configuration.py
Due: yamllint, shellcheck, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8, bat-tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$, but not: ^airflow/_vendor/.*$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/_utils.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$|^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$|^dev|^backport_packages
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
