Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

tests
  airflow-core/tests/unit/timetables/test_assets_timetable.py
  airflow-core/tests/unit/timetables/test_partitioned_timetable.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

cleanup
  airflow-core/src/airflow/serialization/encoders.py
  task-sdk/src/airflow/sdk/definitions/timetables/assets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

tests
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/timetables/test_assets_timetable.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

formatting
  airflow-core/tests/unit/assets/test_manager.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

tests
  providers/openlineage/tests/unit/openlineage/utils/test_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

tests
  providers/openlineage/tests/unit/openlineage/plugins/test_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

tests
  airflow-core/tests/unit/assets/test_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

mypy
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

docu
  airflow-core/docs/authoring-and-scheduling/asset-scheduling.rst
Due: replace-bad-characters

feat: add default_hook_lineage config for S3Hook lineage control
  airflow-core/src/airflow/config_templates/default_airflow.cfg
  providers/amazon/src/airflow/providers/amazon/aws/hooks/s3.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_s3.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

ruff
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Avoid N+1 queries when bulk deleting variables (#68508)
  airflow-core/src/airflow/api_fastapi/core_api/services/public/variables.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

modified variable set and delete methods to raise exceptions, and added unit tests
  task-sdk/src/airflow/sdk/definitions/variable.py
  task-sdk/tests/task_sdk/definitions/test_variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Bug Fixed
  task-sdk/src/airflow/sdk/definitions/variable.py
  task-sdk/tests/task_sdk/definitions/test_variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Added asynchronous aget_hook method to BaseHook for use in async tasks so we don't block the event look when resolving a hook based on conn_id
  task-sdk/src/airflow/sdk/bases/hook.py
  task-sdk/tests/task_sdk/bases/test_hook.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Validate connection port is within valid TCP/UDP range (1-65535)
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/connections.py
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/models/connection.py
  task-sdk/src/airflow/sdk/definitions/connection.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels

Add port-range validation tests for connection
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
  airflow-core/tests/unit/cli/commands/test_connection_command.py
  airflow-core/tests/unit/models/test_connection.py
  task-sdk/tests/task_sdk/definitions/test_connection.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add newsfragment for port range validation
  airflow-core/newsfragments/68541.bugfix.rst
Due: replace-bad-characters

do not cache None connection values
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

unit test: conn cache does not retain failed lookups as None
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

added version guard in openlineage tests
  providers/openlineage/tests/unit/openlineage/plugins/test_utils.py
  providers/openlineage/tests/unit/openlineage/utils/test_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Refactor SparkSubmitOperator resumable job tracking backends
  providers/apache/spark/src/airflow/providers/apache/spark/operators/spark_submit.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add chunked Polars support for Elasticsearch SQL queries
  providers/elasticsearch/src/airflow/providers/elasticsearch/hooks/elasticsearch.py
  providers/elasticsearch/src/airflow/providers/elasticsearch/utils/sql.py
  providers/elasticsearch/tests/unit/elasticsearch/hooks/test_elasticsearch.py
  providers/elasticsearch/tests/unit/elasticsearch/utils/test_sql.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add coverage for cursor cleanup when pagination raises an exception and remove redundant test setup identified during review.
  providers/elasticsearch/tests/unit/elasticsearch/hooks/test_elasticsearch.py
  providers/elasticsearch/tests/unit/elasticsearch/utils/test_sql.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix UI instance name title on non-Dag pages (#68288)
  airflow-core/src/airflow/ui/src/layouts/BaseLayout.test.tsx
  airflow-core/src/airflow/ui/src/layouts/BaseLayout.tsx
  airflow-core/src/airflow/ui/src/utils/documentTitleContext.ts
  airflow-core/src/airflow/ui/src/utils/index.ts
  airflow-core/src/airflow/ui/src/utils/useDocumentTitleProvider.tsx
Due: replace-bad-characters

Close German Translation Gaps 2026-06-10
  airflow-core/src/airflow/ui/public/i18n/locales/de/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dag.json
Due: replace-bad-characters

Close German Translation Gaps 2026-06-12
  airflow-core/src/airflow/ui/public/i18n/locales/de/assets.json
Due: replace-bad-characters

Add more gaps from 2026-06-11
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
Due: replace-bad-characters

Close German Translation Gaps 2026-06-14
  airflow-core/src/airflow/ui/public/i18n/locales/de/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dag.json
Due: replace-bad-characters

Add additional task instance attributes to task instance's details section (#68378)
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Details.tsx
Due: replace-bad-characters

Fix variable PATCH for encoded leading slash keys
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/variables.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Update airflow-core/docs/authoring-and-scheduling/asset-scheduling.rst
  airflow-core/docs/authoring-and-scheduling/asset-scheduling.rst
Due: replace-bad-characters

feat: keyboard shortcuts help dialog (press ?)
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/components/Clear/Run/ClearRunButton.tsx
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceButton.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/filters/TextSearchFilter.tsx
  airflow-core/src/airflow/ui/src/components/GraphTaskFilters.tsx
  airflow-core/src/airflow/ui/src/components/KeyboardShortcuts/KeyboardShortcutsModal.tsx
  airflow-core/src/airflow/ui/src/components/KeyboardShortcuts/formatShortcutCombo.test.ts
  airflow-core/src/airflow/ui/src/components/KeyboardShortcuts/formatShortcutCombo.ts
  airflow-core/src/airflow/ui/src/components/KeyboardShortcuts/index.ts
  airflow-core/src/airflow/ui/src/components/MarkAs/Run/MarkRunAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskGroup/MarkTaskGroupAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkTaskInstanceAsButton.tsx
  airflow-core/src/airflow/ui/src/components/SearchBar.tsx
  airflow-core/src/airflow/ui/src/components/SearchDags/SearchDagsButton.tsx
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/Context.ts
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/ShortcutRegistryProvider.tsx
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/index.ts
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/useShortcutRegistry.ts
  airflow-core/src/airflow/ui/src/hooks/navigation/useKeyboardNavigation.ts
  airflow-core/src/airflow/ui/src/hooks/useShortcut.test.tsx
  airflow-core/src/airflow/ui/src/hooks/useShortcut.ts
  airflow-core/src/airflow/ui/src/layouts/BaseLayout.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
  airflow-core/src/airflow/ui/src/main.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/FailedLogs.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/LogSearchInput.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/Logs.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/TaskLogContent.tsx
Due: replace-bad-characters

remove unnecessary useCallback and useMemo hooks
  airflow-core/src/airflow/ui/src/components/KeyboardShortcuts/KeyboardShortcutsModal.tsx
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/ShortcutRegistryProvider.tsx
  airflow-core/src/airflow/ui/src/hooks/useShortcut.ts
Due: replace-bad-characters

register code viewer fullscreen shortcut in the catalog
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/shortcuts.ts
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
Due: replace-bad-characters

drop grid keyboard shortcut tooltip
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
Due: replace-bad-characters

use nesting to reuse concept translation keys
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
Due: replace-bad-characters

centralize shortcut definitions in a single catalog
  airflow-core/src/airflow/ui/src/components/Clear/Run/ClearRunButton.tsx
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceButton.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/filters/TextSearchFilter.tsx
  airflow-core/src/airflow/ui/src/components/GraphTaskFilters.tsx
  airflow-core/src/airflow/ui/src/components/KeyboardShortcuts/KeyboardShortcutsModal.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/Run/MarkRunAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskGroup/MarkTaskGroupAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkTaskInstanceAsButton.tsx
  airflow-core/src/airflow/ui/src/components/SearchBar.tsx
  airflow-core/src/airflow/ui/src/components/SearchDags/SearchDagsButton.tsx
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/index.ts
  airflow-core/src/airflow/ui/src/context/keyboardShortcuts/shortcuts.ts
  airflow-core/src/airflow/ui/src/hooks/navigation/useKeyboardNavigation.ts
  airflow-core/src/airflow/ui/src/hooks/useShortcut.test.tsx
  airflow-core/src/airflow/ui/src/hooks/useShortcut.ts
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/FailedLogs.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/LogSearchInput.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/Logs.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/TaskLogContent.tsx
Due: replace-bad-characters

Unify Dag Code tab toolbar with Logs toolbar style (#68449)
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/components/ui/LazyClipboard.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/TaskLogHeader.tsx
Due: replace-bad-characters
