Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

fix stylig according to static check rules
  tests/providers/google/cloud/operators/test_dataflow.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add recipe for BeamRunGoPipelineOperator (#22296)
  airflow/providers/apache/beam/hooks/beam.py
  docs/docker-stack/docker-images-recipes/go-beam.Dockerfile
  docs/docker-stack/recipes.rst
  tests/providers/apache/beam/hooks/test_beam.py
Due: lint-dockerfile, build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Add import_notebook method to databricks hook
  airflow/providers/databricks/hooks/databricks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

specify type of `configuration` (#22252)
  airflow/providers/google/cloud/hooks/bigquery.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

fix review
  airflow/operators/python.py
  tests/operators/test_python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix review
  airflow/models/skipmixin.py
  airflow/operators/python.py
  tests/models/test_skipmixin.py
  tests/operators/test_python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Allow none skip in BranchOperator
  airflow/models/skipmixin.py
  tests/models/test_skipmixin.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

simpler code
  tests/models/test_skipmixin.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix review
  tests/models/test_skipmixin.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

[DOC]
  docs/apache-airflow/concepts/dags.rst
Due: language-matters, provider-yamls

Update docs/apache-airflow/concepts/dags.rst
  docs/apache-airflow/concepts/dags.rst
Due: language-matters, provider-yamls

pre-commit hook
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/flyte/CHANGELOG.rst
  airflow/providers/flyte/__init__.py
  airflow/providers/flyte/example_dags/__init__.py
  airflow/providers/flyte/example_dags/example_flyte.py
  airflow/providers/flyte/hooks/__init__.py
  airflow/providers/flyte/hooks/flyte.py
  airflow/providers/flyte/operators/__init__.py
  airflow/providers/flyte/operators/flyte.py
  airflow/providers/flyte/provider.yaml
  airflow/providers/flyte/sensors/__init__.py
  airflow/providers/flyte/sensors/flyte.py
  docs/apache-airflow-providers-flyte/commits.rst
  docs/apache-airflow-providers-flyte/connections.rst
  docs/apache-airflow-providers-flyte/index.rst
  docs/apache-airflow-providers-flyte/installing-providers-from-sources.rst
  docs/apache-airflow-providers-flyte/operators/flyte.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/integration-logos/flyte/Flyte.png
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/flyte/__init__.py
  tests/providers/flyte/hooks/__init__.py
  tests/providers/flyte/hooks/test_flyte.py
  tests/providers/flyte/operators/__init__.py
  tests/providers/flyte/operators/test_flyte.py
  tests/providers/flyte/sensors/__init__.py
  tests/providers/flyte/sensors/test_flyte.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

fix doc
  docs/apache-airflow/concepts/dags.rst
Due: language-matters, provider-yamls

stylistic changes
  airflow/providers/flyte/hooks/flyte.py
  airflow/providers/flyte/operators/flyte.py
  airflow/providers/flyte/sensors/flyte.py
  docs/apache-airflow-providers-flyte/commits.rst
  docs/apache-airflow-providers-flyte/operators/flyte.rst
  docs/apache-airflow/extra-packages-ref.rst
Due: setup-extra-packages, build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

remove awscli and gsutil deps
  docs/apache-airflow-providers-flyte/index.rst
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Add generic connection type (#22310)
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

organize imports
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Remove RefreshConfiguration workaround for K8s token refreshing (#20759)
  UPDATING.md
  airflow/kubernetes/kube_client.py
  airflow/kubernetes/refresh_config.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  setup.py
  tests/kubernetes/test_client.py
  tests/kubernetes/test_refresh_config.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, markdownlint, flynt, mypy, pylint, flake8

Show map index in TI details and modal
  airflow/www/static/js/dag.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/task_instance.html
Due: dont-use-safe-filter, language-matters

Update code to snake case
  airflow/providers/databricks/hooks/databricks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Add shareProcessNamespace for sidecar
  chart/templates/jobs/migrate-database-job.yaml
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

fix deprecation warning in test_default_views.py
  tests/dags/test_default_views.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add documentation on specifying a DB schema.
  docs/apache-airflow/howto/set-up-database.rst
Due: language-matters, provider-yamls

Update notebook name to dbfs path
  airflow/providers/databricks/hooks/databricks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Remove incorrect deprecation warning in secrets backend (#22326)
  airflow/secrets/base_secrets.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Updating constraints. Build id:2000418583
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: language-matters

Fix typo
  airflow/providers/amazon/aws/transfers/s3_to_sftp.py
  airflow/providers/amazon/aws/transfers/sftp_to_s3.py
  tests/providers/amazon/aws/transfers/test_s3_to_sftp.py
  tests/providers/amazon/aws/transfers/test_sftp_to_s3.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Correctly submit map_index in Task modal forms
  airflow/www/static/js/dag.js
Due: language-matters

Add exception handling for potential databricks api errors
  airflow/providers/databricks/hooks/databricks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Update docs/apache-airflow/start/docker.rst
  docs/apache-airflow/start/docker.rst
Due: language-matters, provider-yamls

Fix jinja if statement
  airflow/www/templates/airflow/task_instance.html
Due: dont-use-safe-filter, language-matters

Stronger language about Docker Compose customizability (#22304)
  docs/apache-airflow/start/docker.rst
Due: language-matters, provider-yamls

two backpacks
  docs/apache-airflow/howto/set-up-database.rst
Due: language-matters, provider-yamls

Patch sql_alchemy_conn if old postgres scheme used
  airflow/settings.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

move to configuration.py
  airflow/configuration.py
  airflow/settings.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix static check
  airflow/configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

simplify
  airflow/configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Prerelease version tag to follow semver
  airflow/version.py
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8
