Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Task: Standardize naming of AWS Sqs
  CHANGELOG.txt
  UPDATING.md
  airflow/contrib/hooks/aws_sqs_hook.py
  airflow/contrib/operators/aws_sqs_publish_operator.py
  airflow/contrib/sensors/aws_sqs_sensor.py
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/aws/hooks/sqs.py
  airflow/providers/amazon/aws/operators/sqs.py
  airflow/providers/amazon/aws/sensors/sqs.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, markdownlint, flynt, mypy, pylint, flake8

Updating constraints. Build id:1600900842
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.6.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: language-matters

Task: Standardize naming of AWS Sqs
  UPDATING.md
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-amazon/operators/sqs_publish.rst
  tests/deprecated_classes.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, flynt, mypy, pylint, flake8

Task: Fix static check errors
  airflow/providers/amazon/aws/hooks/sqs.py
  airflow/providers/amazon/aws/sensors/sqs.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Support regional GKE cluster
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Reduce deprecation warnings from www
  airflow/models/dag.py
  airflow/www/app.py
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/utils.py
  airflow/www/views.py
  metastore_browser/hive_metastore.py
  setup.cfg
  tests/www/api/experimental/conftest.py
  tests/www/test_app.py
  tests/www/views/test_views.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_blocked.py
  tests/www/views/test_views_dagrun.py
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_extra_links.py
  tests/www/views/test_views_graph_gantt.py
  tests/www/views/test_views_home.py
  tests/www/views/test_views_log.py
  tests/www/views/test_views_pool.py
  tests/www/views/test_views_tasks.py
Due: setup-order, update-setup-cfg-file, pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update dev/breeze/doc/adr/0005-preventing-using-contributed-code-when-building-images.md
  dev/breeze/doc/adr/0005-preventing-using-contributed-code-when-building-images.md
Due: language-matters, markdownlint

Make get_log_filename_template() fail explicitly
  airflow/models/dagrun.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add updating note
  UPDATING.md
Due: language-matters, markdownlint

Add test for LogFilename usages
  tests/www/views/test_views_log.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Implement storage to track log filename template
  airflow/migrations/versions/f9da662e7089_add_task_log_filename_template_model.py
  airflow/models/dagrun.py
  airflow/models/tasklog.py
  airflow/utils/cli.py
  airflow/utils/db.py
  airflow/utils/log/log_reader.py
  airflow/www/views.py
  docs/apache-airflow/migrations-ref.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, flynt, mypy, pylint, flake8

Allows to disable built-in secret variables individually in chart
  chart/templates/_helpers.yaml
  chart/tests/test_airflow_common.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/production-guide.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Fix deprecation warnings from distutils update
  dev/provider_packages/prepare_provider_packages.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Fix setting of project ID in provide_authorized_gcloud
  airflow/providers/google/common/hooks/base_google.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Apply suggestions from code review
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/utils/pod_launcher.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

fix(standalone): remove hardcoded webserver-port
  airflow/cli/commands/standalone_command.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

simplify try_number comparison logging
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

add docstring
  airflow/providers/cncf/kubernetes/utils/pod_launcher.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

refactor follow_container_logs method
  airflow/providers/cncf/kubernetes/utils/pod_launcher.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

type hint v1pod
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

simplify try_number logging
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Updating constraints. Build id:1602951152
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.6.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: language-matters

docs: add hint for the config env vars
  docs/apache-airflow/start/local.rst
Due: language-matters, provider-yamls

docs: use relative docs href
  docs/apache-airflow/start/local.rst
Due: language-matters, provider-yamls

Add pre-commit that checks credentials are not persisted in CI
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  scripts/ci/pre_commit/pre_commit_checkout_no_credentials.py
Due: update-breeze-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, sort-in-the-wild, shellcheck, bats-tests, pre-commit-descriptions, pre-commit-hook-names, flynt, mypy, flake8

Fix mypy errors in tests/providers/amazon/aws/sensors
  tests/providers/amazon/aws/sensors/test_eks.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix(bigquery): fix big query to mssql/mysql transfer issues
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/transfers/bigquery_to_mssql.py
  airflow/providers/google/cloud/transfers/bigquery_to_mysql.py
  airflow/providers/google/cloud/utils/bigquery_get_data.py
  docs/spelling_wordlist.txt
  tests/providers/google/cloud/transfers/test_bigquery_to_mssql.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Fix mypy errors in tests/providers/amazon/aws/operators
  tests/providers/amazon/aws/operators/test_eks.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Also track task_log_prefix_template changes
  UPDATING.md
  airflow/migrations/versions/f9da662e7089_add_task_log_filename_template_model.py
  airflow/models/dagrun.py
  airflow/models/tasklog.py
  airflow/utils/cli.py
  airflow/utils/db.py
  airflow/utils/helpers.py
  airflow/utils/log/task_handler_with_custom_formatter.py
  docs/apache-airflow/migrations-ref.rst
  tests/utils/test_task_handler_with_custom_formatter.py
  tests/www/views/test_views_log.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, flynt, mypy, pylint, flake8

push pod name and namespace always
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

fix xcom push test
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

cleanup pending pods
  airflow/cli/commands/kubernetes_command.py
  tests/cli/commands/test_kubernetes_command.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

move emr_container hook
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/hooks/emr_containers.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/sensors/emr.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-amazon/operators/emr.rst
  tests/deprecated_classes.py
  tests/providers/amazon/aws/hooks/test_emr_containers.py
  tests/providers/amazon/aws/operators/test_emr_containers.py
  tests/providers/amazon/aws/sensors/test_emr_containers.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

remove redshift from provider packages
  dev/provider_packages/prepare_provider_packages.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

sagemaker moved files
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint_config.py
  airflow/providers/amazon/aws/operators/sagemaker_model.py
  airflow/providers/amazon/aws/operators/sagemaker_processing.py
  airflow/providers/amazon/aws/operators/sagemaker_training.py
  airflow/providers/amazon/aws/operators/sagemaker_transform.py
  airflow/providers/amazon/aws/operators/sagemaker_tuning.py
  airflow/providers/amazon/aws/sensors/sagemaker.py
  airflow/providers/amazon/aws/sensors/sagemaker_base.py
  airflow/providers/amazon/aws/sensors/sagemaker_endpoint.py
  airflow/providers/amazon/aws/sensors/sagemaker_training.py
  airflow/providers/amazon/aws/sensors/sagemaker_transform.py
  airflow/providers/amazon/aws/sensors/sagemaker_tuning.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

change import path test cases
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/provider.yaml
  tests/deprecated_classes.py
  tests/providers/amazon/aws/operators/test_sagemaker_base.py
  tests/providers/amazon/aws/operators/test_sagemaker_endpoint.py
  tests/providers/amazon/aws/operators/test_sagemaker_endpoint_config.py
  tests/providers/amazon/aws/operators/test_sagemaker_model.py
  tests/providers/amazon/aws/operators/test_sagemaker_processing.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
  tests/providers/amazon/aws/operators/test_sagemaker_transform.py
  tests/providers/amazon/aws/operators/test_sagemaker_tuning.py
  tests/providers/amazon/aws/sensors/test_sagemaker_base.py
  tests/providers/amazon/aws/sensors/test_sagemaker_endpoint.py
  tests/providers/amazon/aws/sensors/test_sagemaker_training.py
  tests/providers/amazon/aws/sensors/test_sagemaker_transform.py
  tests/providers/amazon/aws/sensors/test_sagemaker_tuning.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

add sagemaker deprecated in provider package
  dev/provider_packages/prepare_provider_packages.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

fix docs test
  airflow/providers/amazon/aws/sensors/sagemaker.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Allow setting port in Imap Connection
  airflow/providers/imap/hooks/imap.py
  docs/apache-airflow-providers-imap/connections/imap.rst
  tests/providers/imap/hooks/test_imap.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Default to IMAP4_SSL_PORT
  airflow/providers/imap/hooks/imap.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
