Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Limit `atlassian-python-api` to <3.41.6
  airflow/providers/atlassian/jira/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Due: replace-bad-characters, check-extra-packages-references, update-providers-dependencies, update-extras, check-aiobotocore-optional, update-breeze-cmd-output, check-provider-yaml-valid

Change default parquet_row_group_size in BaseSQLToGCSOperator
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Make links in logs as hyperlinks in grid view
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Due: replace-bad-characters, ts-compile-format-lint-www

Adding a tip to resolve ETIMEDOUT error (#36810)
  BREEZE.rst
Due: replace-bad-characters, update-breeze-cmd-output

Limit `atlassian-python-api` to <3.41.6 (#36815)
  airflow/providers/atlassian/jira/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Due: replace-bad-characters, check-extra-packages-references, update-providers-dependencies, update-extras, check-aiobotocore-optional, update-breeze-cmd-output, check-provider-yaml-valid

Adding log to airflow-github for disabled progress bar (#36782)
  dev/airflow-github
Due: replace-bad-characters

Limit `pinecone-client` to <3.0
  airflow/providers/pinecone/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Due: replace-bad-characters, check-extra-packages-references, update-providers-dependencies, update-extras, check-aiobotocore-optional, update-breeze-cmd-output, check-provider-yaml-valid

Fix reproducibility of source-tarballs prepared as part of release
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/utils/reproducible.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

REST API set description on POST to `/variables` endpoint
  airflow/api_connexion/endpoints/variable_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Limit `pinecone-client` to <3.0 (#36818)
  airflow/providers/pinecone/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Due: replace-bad-characters, check-extra-packages-references, update-providers-dependencies, update-extras, check-aiobotocore-optional, update-breeze-cmd-output, check-provider-yaml-valid

Fix reproducibility of source-tarballs prepared as part of release (#36819)
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/utils/reproducible.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Raise AirflowOptionalProviderfeature exception for AVP command
  airflow/providers/amazon/aws/auth_manager/cli/avp_commands.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Make links in logs as hyperlinks in grid view (#36816)
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Due: replace-bad-characters, ts-compile-format-lint-www

Updating constraints. Github run id:7547483683
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

Raise AirflowOptionalProviderfeature exception for AVP command (#36824)
  airflow/providers/amazon/aws/auth_manager/cli/avp_commands.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

fix copy-bug (#34904)
  airflow/www/static/js/components/Clipboard.tsx
Due: replace-bad-characters, ts-compile-format-lint-www

Revert "Make links in logs as hyperlinks in grid view (#36816)"
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Due: replace-bad-characters, ts-compile-format-lint-www

Remove optimization to install wheel pacakges for affected providers
  .github/workflows/ci.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Sanitize the conn_id to disallow potential script execution (#32867)
  airflow/models/connection.py
  airflow/www/forms.py
  airflow/www/validators.py
  tests/models/test_connection.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix WasbPrefixSensor arg inconsistency between sync and async mode (#36806)
  airflow/providers/microsoft/azure/sensors/wasb.py
  airflow/providers/microsoft/azure/triggers/wasb.py
  tests/always/test_project_structure.py
  tests/providers/microsoft/azure/triggers/test_wasb.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

REST API set description on POST to `/variables` endpoint (#36820)
  airflow/api_connexion/endpoints/variable_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Revert "Make links in logs as hyperlinks in grid view (#36816)" (#36826)
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Due: replace-bad-characters, ts-compile-format-lint-www

Fix databricks_sql hook query failing on empty result for return_tuple
  airflow/providers/databricks/hooks/databricks_sql.py
  tests/providers/databricks/hooks/test_databricks_sql.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Update test_sftp.py
  tests/providers/sftp/sensors/test_sftp.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Update airflow/providers/databricks/hooks/databricks_sql.py
  airflow/providers/databricks/hooks/databricks_sql.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Remove optimization to install wheel pacakges for affected providers (#36825)
  .github/workflows/ci.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Fix databricks_sql hook query failing on empty result for return_tuple (#36827)
  airflow/providers/databricks/hooks/databricks_sql.py
  tests/providers/databricks/hooks/test_databricks_sql.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Updating constraints. Github run id:7548783656
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

EC2 CreateInstance: terminate instances in on_kill
  airflow/providers/amazon/aws/operators/ec2.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

EC2 operator: make ruff happy
  airflow/providers/amazon/aws/operators/ec2.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Making links in task logs as hyperlinks by preventing HTML injection
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Due: replace-bad-characters, ts-compile-format-lint-www

fix typo
  docs/apache-airflow/public-airflow-interface.rst
Due: replace-bad-characters, update-version

Update public interface doc re operators
  docs/apache-airflow/public-airflow-interface.rst
Due: replace-bad-characters, update-version

Correcting the ETIMEDOUT error code and its usages
  BREEZE.rst
Due: replace-bad-characters, update-breeze-cmd-output

lint check update
  airflow/config_templates/config.yml
Due: replace-bad-characters, check-airflow-config-yaml-consistent, lint-json-schema

Fix webserver always redirecting to home page if user was not logged in
  airflow/www/auth.py
  tests/www/views/test_anonymous_as_admin_role.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix deprecations into the GCP Dataproc links
  airflow/providers/google/cloud/links/dataproc.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Fix stacklevel in warnings.warn into the providers
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/celery/executors/celery_executor_utils.py
  airflow/providers/cncf/kubernetes/pod_generator.py
  airflow/providers/dbt/cloud/operators/dbt.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/sensors/bigquery.py
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/cloud/transfers/bigquery_to_mssql.py
  airflow/providers/google/cloud/transfers/bigquery_to_mysql.py
  airflow/providers/google/cloud/triggers/kubernetes_engine.py
  airflow/providers/google/marketing_platform/hooks/analytics.py
  airflow/providers/google/marketing_platform/operators/analytics.py
  airflow/providers/http/operators/http.py
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/microsoft/azure/utils.py
  airflow/providers/pagerduty/hooks/pagerduty_events.py
  airflow/providers/slack/utils/__init__.py
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers/tableau/hooks/tableau.py
  airflow/providers/weaviate/operators/weaviate.py
  airflow/providers/yandex/hooks/yandex.py
  airflow/providers/yandex/operators/yandexcloud_dataproc.py
  tests/providers/amazon/conftest.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

add Lineas & Infofarm to the INTHEWILD.MD file
  INTHEWILD.md
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, lint-markdown

add Lineas & Infofarm to the INTHEWILD.MD file (#36835)
  INTHEWILD.md
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, lint-markdown
