Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  require_serial: true
  entry: tests/test_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false
  require_serial: true

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsitent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

base-operator:
  language: pygrep
  name: Make sure BaseOperator[Link] is imported from airflow.models outside of core
  entry: from airflow\.models\.baseoperator import.* BaseOperator
  pass_filenames: true

provide-create-sessions:
  language: pygrep
  name: Make sure provide_session and create_session are imported from airflow.utils.session
  entry: from airflow\.utils\.db import.* (provide_session|create_session)
  pass_filenames: true

check-apache-license:
  name: Check if licenses are OK for Apache
  entry: ./scripts/ci/pre_commit_check_license.sh
  language: system
  pass_filenames: false
  require_serial: true

airflow-config-yaml:
  name: Checks for consistency between config.yml and default_config.cfg
  language: python
  pass_filenames: false
  require_serial: false
  entry: scripts/ci/pre_commit_yaml_to_cfg.py
  additional_dependencies:
  - pyyaml

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit_mypy.sh
  pass_filenames: true

pylint:
  name: Run pylint for main sources
  language: system
  entry: ./scripts/ci/pre_commit_pylint_main.sh
  pass_filenames: true
  require_serial: true

pylint-tests:
  name: Run pylint for tests
  language: system
  entry: ./scripts/ci/pre_commit_pylint_tests.sh
  pass_filenames: true
  require_serial: false

flake8:
  name: Run flake8
  language: system
  entry: ./scripts/ci/pre_commit_flake8.sh
  pass_filenames: true

bat-tests:
  name: Run BATS bash tests
  language: system
  entry: ./scripts/ci/pre_commit_bat_tests.sh
  pass_filenames: true

Update README.md (who uses airflow)
  README.md
Due: none

fixup! [AIRFLOW-6497] Avoid loading DAGs in the main loop of the scheduler
  airflow/jobs/scheduler_job.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6979] Fix breeze test-target specific test param issue (#7614)
  breeze
Due: shellcheck, update-breeze-file

Add task ids to tests, remove tst_gcs_to_bigquery.py as a missing test file.
  tests/providers/google/cloud/operators/test_gcs_to_bigquery.py
  tests/test_project_structure.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

Add custom LyftCeleryExecutor (#173)
  airflow/executors/__init__.py
  airflow/executors/lyft_celery_executor.py
  scripts/ci/requirements.txt
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6040] ReadTimoutError should not raise exception (#7616)
  airflow/contrib/executors/kubernetes_executor.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6984] Improve setup/teardown in SFTP-GCS system tests
  scripts/ci/in_container/entrypoint_ci.sh
Due: shellcheck

fixup! fixup! [AIRFLOW-6497] Avoid loading DAGs in the main loop of the scheduler
  airflow/jobs/scheduler_job.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-XXXX] Add docs to add Dag Tags
  docs/howto/add-dag-tags.rst
  docs/img/add-dag-tags.png
Due: none

Update add-dag-tags.rst
  docs/howto/add-dag-tags.rst
Due: none

[AIRFLOW-6402] Fix SSH Operator Exception
  airflow/contrib/operators/ssh_operator.py
  tests/contrib/operators/test_ssh_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Update airflow/contrib/kubernetes/pod_launcher.py
  airflow/contrib/kubernetes/pod_launcher.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6987] Avoid creating default connections
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_test.cfg
  airflow/utils/db.py
  scripts/ci/in_container/airflow_ci.cfg
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
  scripts/perf/sql_queries.py
  tests/test_configuration.py
Due: yamllint, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, airflow-config-yaml, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6990] Improve system tests for Google Marketing Platform
  airflow/providers/google/marketing_platform/example_dags/example_campaign_manager.py
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/operators/campaign_manager.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager_system.py
  tests/providers/google/marketing_platform/operators/test_display_video_system.py
  tests/providers/google/marketing_platform/operators/test_search_ads_system.py
  tests/test_utils/gcp_system_helpers.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] basic all_models
  airflow/models/all_models.py
  airflow/utils/db.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6870] removed dag module from models/__init__.py
  airflow/api/common/experimental/__init__.py
  airflow/api/common/experimental/delete_dag.py
  airflow/api/common/experimental/trigger_dag.py
  airflow/cli/commands/dag_command.py
  airflow/jobs/scheduler_job.py
  airflow/models/__init__.py
  airflow/sensors/external_task_sensor.py
  airflow/utils/cli.py
  airflow/www/api/experimental/endpoints.py
  airflow/www/security.py
  airflow/www/views.py
  scripts/perf/scheduler_dag_execution_timing.py
  scripts/perf/scheduler_ops_metrics.py
  tests/api/client/test_local_client.py
  tests/api/common/experimental/test_delete_dag.py
  tests/cli/commands/test_dag_command.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagbag.py
  tests/operators/test_dagrun_operator.py
  tests/test_utils/db.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed dagpickle module from models/__init__.py
  airflow/cli/commands/task_command.py
  airflow/jobs/backfill_job.py
  airflow/models/__init__.py
  airflow/utils/cli.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6870] removed dagbag module from models/__init__.py
  airflow/api/common/experimental/__init__.py
  airflow/api/common/experimental/trigger_dag.py
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/sync_perm_command.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/cc1e65623dc7_add_max_tries_column_to_task_instance.py
  airflow/models/__init__.py
  airflow/sensors/external_task_sensor.py
  airflow/utils/cli.py
  scripts/perf/scheduler_ops_metrics.py
  tests/api/client/test_local_client.py
  tests/api/common/experimental/test_delete_dag.py
  tests/api/common/experimental/test_mark_tasks.py
  tests/api/common/experimental/test_trigger_dag.py
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_pool_command.py
  tests/cli/commands/test_role_command.py
  tests/cli/commands/test_task_command.py
  tests/cli/commands/test_user_command.py
  tests/cli/commands/test_variable_command.py
  tests/cli/commands/test_webserver_command.py
  tests/executors/test_dask_executor.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagbag.py
  tests/models/test_serialized_dag.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/sensors/test_external_task_sensor.py
  tests/sensors/test_timedelta_sensor.py
  tests/sensors/test_weekday_sensor.py
  tests/serialization/test_dag_serialization.py
  tests/task/task_runner/test_standard_task_runner.py
  tests/test_core.py
  tests/test_example_dags.py
  tests/test_impersonation.py
  tests/utils/test_dag_processing.py
  tests/www/api/experimental/test_dag_runs_endpoint.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed K8S from models/__init__.py
  airflow/executors/kubernetes_executor.py
  airflow/models/__init__.py
  tests/models/test_kubernetes.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed Log from models/__init__.py
  airflow/api/common/experimental/pool.py
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/__init__.py
  airflow/ti_deps/deps/pool_slots_available_dep.py
  tests/api/client/test_local_client.py
  tests/api/common/experimental/test_pool.py
  tests/cli/commands/test_pool_command.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_taskinstance.py
  tests/operators/test_subdag_operator.py
  tests/test_utils/db.py
  tests/ti_deps/deps/test_pool_slots_available_dep.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed Log from models/__init__.py
  airflow/models/__init__.py
  airflow/utils/cli.py
  airflow/www/decorators.py
  airflow/www/views.py
  tests/operators/test_dagrun_operator.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed TaskFail from models/__init__.py
  airflow/api/common/experimental/delete_dag.py
  airflow/models/__init__.py
  airflow/www/views.py
  scripts/perf/scheduler_dag_execution_timing.py
  tests/api/common/experimental/test_delete_dag.py
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/sensors/test_weekday_sensor.py
  tests/test_core.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed dagrun module from models/__init__.py
  airflow/api/common/experimental/__init__.py
  airflow/api/common/experimental/delete_dag.py
  airflow/api/common/experimental/get_dag_runs.py
  airflow/api/common/experimental/mark_tasks.py
  airflow/api/common/experimental/trigger_dag.py
  airflow/cli/commands/dag_command.py
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/__init__.py
  airflow/models/dagrun.py
  airflow/operators/subdag_operator.py
  airflow/sensors/external_task_sensor.py
  airflow/ti_deps/deps/dagrun_exists_dep.py
  airflow/www/api/experimental/endpoints.py
  scripts/perf/scheduler_dag_execution_timing.py
  scripts/perf/scheduler_ops_metrics.py
  tests/api/common/experimental/test_delete_dag.py
  tests/api/common/experimental/test_mark_tasks.py
  tests/api/common/experimental/test_trigger_dag.py
  tests/cli/commands/test_dag_command.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/operators/test_branch_operator.py
  tests/operators/test_dagrun_operator.py
  tests/operators/test_latest_only_operator.py
  tests/operators/test_subdag_operator.py
  tests/sensors/test_base_sensor.py
  tests/test_core.py
  tests/test_utils/db.py
  tests/ti_deps/deps/test_dagrun_exists_dep.py
  tests/utils/test_log_handlers.py
  tests/www/api/experimental/test_dag_runs_endpoint.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/test_views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed SkipMixin and SlaMiss from models/__init__.py
  airflow/jobs/scheduler_job.py
  airflow/models/__init__.py
  airflow/www/views.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_skipmixin.py
  tests/test_utils/db.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] removed ImportError from models/__init__.py
  airflow/api/common/experimental/delete_dag.py
  airflow/models/__init__.py
  tests/api/common/experimental/test_delete_dag.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

!fixup [AIRFLOW-6870] removed TaskInstance from models/__init__.py
  tests/models/test_taskinstance.py
  tests/providers/google/cloud/operators/test_mlengine.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

!fixup [AIRFLOW-6870] removed imports not deriving from sqlalchemy Base and lazy imports from all_models
  airflow/models/all_models/__init__.py
  airflow/utils/db.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

!fixup [AIRFLOW-6870] sort imports from pre-commit hook
  airflow/operators/python.py
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/sensors/base_sensor_operator.py
  airflow/serialization/serialized_objects.py
  airflow/utils/cli.py
  setup.cfg
  tests/hooks/test_dbapi_hook.py
  tests/models/test_baseoperator.py
  tests/providers/google/cloud/utils/base_gcp_mock.py
  tests/providers/qubole/operators/test_qubole.py
  tests/providers/qubole/sensors/test_qubole.py
  tests/providers/yandex/hooks/test_yandexcloud_dataproc.py
  tests/ti_deps/deps/test_task_concurrency.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6870] UPDATING.md
  UPDATING.md
Due: none

!fixup [AIRFLOW-6870] setup.cfg, correction in models/__init__.py
  airflow/models/__init__.py
  setup.cfg
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

!fixup [AIRFLOW-6870] pylint
  tests/api/common/experimental/test_delete_dag.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

[AIRFLOW-6870] correct redefined DAG import for pylint
  tests/models/test_dagbag.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

[AIRFLOW-6870] add pylint ignore for all_models.py - imports are used in airflow/utils/db.py
  airflow/models/all_models.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

!fixup [AIRFLOW-6870] removed TaskInstance from models/__init__.py
  airflow/www/views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

!fixup [AIRFLOW-6870] removed dagbag module from models/__init__.py
  airflow/sensors/external_task_sensor.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$, but not: ^airflow/_vendor/.*$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^tests/bats/.*\.bats$
