Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

16691 - upgrading guide added to UPDATING.md
  UPDATING.md
Due: language-matters, markdownlint

dont install mariadb client
  Dockerfile
  Dockerfile.ci
  breeze
  scripts/docker/common.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_mariadb.sh
Due: lint-dockerfile, update-breeze-file, language-matters, shellcheck, bats-tests

Update Databricks operators to match latest version of API 2.0
  airflow/providers/databricks/operators/databricks.py
  docs/apache-airflow-providers-databricks/operators.rst
  tests/providers/databricks/operators/test_databricks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

created SFTPBatchOperator which add batch function, also added docs and some tests
  airflow/providers/sftp/operators/sftp.py
  airflow/providers/sftp/operators/sftp_batch.py
  airflow/providers/sftp/provider.yaml
  docs/apache-airflow-providers-sftp/sftp.rst
  tests/providers/sftp/operators/test_sftp.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

fix empty line
  Dockerfile
Due: lint-dockerfile, language-matters

Added support for Azure managed identity
  airflow/providers/databricks/hooks/databricks.py
  docs/apache-airflow-providers-databricks/connections/databricks.rst
  setup.py
  tests/providers/databricks/hooks/test_databricks.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

rm INSTALL_MARIADB_CLIENT from _build_images.sh
  scripts/ci/libraries/_build_images.sh
Due: language-matters, shellcheck, bats-tests

16691 - documentation refactored
  UPDATING.md
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, markdownlint, flynt, mypy, pylint, flake8

[REF](dags): 重命名data_retention_policy的operation函数
  dags/data_retention_policy.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

16691 - precommit fixes
  UPDATING.md
  airflow/providers/google/cloud/example_dags/example_dataproc.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, markdownlint, flynt, mypy, pylint, flake8

added feature for use list of files in argument to SFTPBatchOperator
  airflow/providers/sftp/operators/sftp_batch.py
  docs/apache-airflow-providers-sftp/sftp.rst
  tests/providers/sftp/operators/test_sftp.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Updates version of airflow in docker examples
  docs/docker-stack/docker-examples/customizing/add-build-essential-custom.sh
  docs/docker-stack/docker-examples/customizing/custom-sources.sh
  docs/docker-stack/docker-examples/customizing/pypi-dev-runtime-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
Due: language-matters, shellcheck, bats-tests, provider-yamls

Fix Daylight Saving Time issue with test case
  airflow/ui/test/TimezoneDropdown.test.tsx
Due: language-matters

align ADF connection docs with code
  docs/apache-airflow-providers-microsoft-azure/connections/adf.rst
Due: language-matters, provider-yamls

add newline
  CONTRIBUTORS_QUICK_START.rst
Due: language-matters

Use FAB models.
  airflow/migrations/versions/03afc6b6f902_increase_length_of_fab_ab_view_menu_.py
  airflow/models/dagbag.py
  tests/api_connexion/endpoints/test_role_and_permission_endpoint.py
  tests/utils/test_db.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove incorrect conversions to new permission naming scheme.
  airflow/migrations/versions/03afc6b6f902_increase_length_of_fab_ab_view_menu_.py
  tests/api_connexion/endpoints/test_role_and_permission_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove unused FAB compatibility fixes in models.py.
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/www/fab_security/sqla/models.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove extra call to backend.
  airflow/api/auth/backend/basic_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Refactor AuthZ.
  airflow/www/fab_security/auth_manager.py
  airflow/www/fab_security/manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Make check for auth role more efficient.
  airflow/www/security.py
  tests/www/test_security.py
  tests/www/views/test_views_base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix missing FAB renames.
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/models/dagbag.py
  airflow/www/fab_security/sqla/models.py
  tests/utils/test_db.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove unused imports.
  airflow/www/fab_security/sqla/models.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Make some tests pass.
  airflow/www/fab_security/auth_manager.py
  airflow/www/fab_security/sqla/manager.py
  tests/www/test_security.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_dagrun.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Clarify query params.
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/api_connexion/endpoints/user_endpoint.py
  airflow/www/fab_security/manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Modify sort logic so MSSQL passes.
  airflow/api_connexion/parameters.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Make permissions eagerload.
  airflow/www/fab_security/sqla/models.py
  airflow/www/security.py
  tests/www/test_security.py
  tests/www/views/test_views_base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove unused imports.
  airflow/models/dagbag.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Set perms directly on user objects.
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/www/fab_security/manager.py
  airflow/www/fab_security/sqla/manager.py
  airflow/www/fab_security/sqla/models.py
  airflow/www/security.py
  airflow/www/views.py
  tests/www/test_security.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Rename missed old naming scheme conversion.
  airflow/www/fab_security/manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remeve get_user_roles() method.
  airflow/www/auth.py
  airflow/www/fab_security/manager.py
  airflow/www/security.py
  airflow/www/utils.py
  tests/www/test_security.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Set perms properties on User model.
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/security/permissions.py
  airflow/www/fab_security/manager.py
  airflow/www/fab_security/sqla/models.py
  airflow/www/security.py
  airflow/www/views.py
  tests/www/test_security.py
  tests/www/views/test_views_base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Refactor AuthZ.
  airflow/api/auth/backend/basic_auth.py
  airflow/api_connexion/endpoints/user_endpoint.py
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/api_connexion/security.py
  airflow/migrations/versions/2c6edca13270_resource_based_permissions.py
  airflow/migrations/versions/82b7c48c147f_remove_can_read_permission_on_config_.py
  airflow/migrations/versions/a13f7613ad25_resource_based_permissions_for_default_.py
  airflow/providers_manager.py
  airflow/www/auth.py
  airflow/www/fab_security/auth_manager.py
  airflow/www/fab_security/manager.py
  airflow/www/fab_security/sqla/manager.py
  airflow/www/fab_security/sqla/models.py
  airflow/www/security.py
  airflow/www/views.py
  tests/test_utils/api_connexion_utils.py
  tests/www/test_security.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove unused imports.
  airflow/www/fab_security/manager.py
  airflow/www/fab_security/sqla/models.py
  airflow/www/security.py
  tests/www/views/test_views_base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

msssql example dag added
  airflow/providers/microsoft/mssql/example_dags/__init__.py
  airflow/providers/microsoft/mssql/example_dags/create_table.sql
  airflow/providers/microsoft/mssql/example_dags/example_mssql.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, flynt, mypy, pylint, flake8

pre-commit check fix
  airflow/providers/microsoft/mssql/example_dags/__init__.py
  airflow/providers/microsoft/mssql/example_dags/create_table.sql
  airflow/providers/microsoft/mssql/example_dags/example_mssql.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, flynt, mypy, pylint, flake8

Change to correct type in KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

fix line ending
  docs/apache-airflow-providers-microsoft-azure/connections/adf.rst
Due: language-matters, provider-yamls

Add a proper example to patch DAG
  airflow/api_connexion/openapi/v1.yaml
Due: lint-openapi, language-matters

Cross-reference the two options in docs
  docs/apache-airflow-providers-google/connections/gcp.rst
  docs/apache-airflow-providers-google/secrets-backends/google-cloud-secret-manager-backend.rst
Due: language-matters, provider-yamls

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
