Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-openapi, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date-in-default_args-in-example_dags, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsitent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

base-operator:
  language: pygrep
  name: Make sure BaseOperator[Link] is imported from airflow.models outside of core
  entry: from airflow\.models\.baseoperator import.* BaseOperator
  pass_filenames: true

provide-create-sessions:
  language: pygrep
  name: To avoid import cycles make sure provide_session and create_session are imported from airflow.utils.session
  entry: from airflow\.utils\.db import.* (provide_session|create_session)
  pass_filenames: true

incorrect-use-of-LoggingMixin:
  language: pygrep
  name: Make sure LoggingMixin is not used alone
  entry: LoggingMixin\(\)
  pass_filenames: true

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_mypy.sh
  require_serial: true

typo
  airflow/www/templates/airflow/dags.html
Due: dont-use-safe-filter, language-matters

Update airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dag.html
Due: dont-use-safe-filter, language-matters

Fix tcp keepalive parameters parsing
  airflow/kubernetes/kube_client.py
  tests/kubernetes/test_client.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

fixup! fixup! fixup! fixup! Auto-apply apply_default decorator
  tests/providers/google/cloud/operators/test_automl.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

raises a warning for provide_context instead of killing the task
  airflow/operators/python.py
  tests/operators/test_python.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Allow loading plugins on Airflow start-up
  airflow/__init__.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/settings.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, mypy, pylint, flake8

Docs
  docs/plugins.rst
Due: language-matters

Fix random kills during pre-commit image building
  scripts/ci/libraries/_build_images.sh
Due: shellcheck, language-matters, bat-tests

Update airflow/operators/python.py
  airflow/operators/python.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Behaviour to install all airflow providers added
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CONTRIBUTING.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  INSTALL
  breeze
  breeze-complete
  docs/production-deployment.rst
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  setup.py
Due: shellcheck, lint-dockerfile, setup-order, update-breeze-file, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, mypy, pylint, flake8, bat-tests

Fixed typo
  airflow/operators/bash.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Remove param completely instead of setting to 0
  airflow/www/templates/airflow/dags.html
Due: dont-use-safe-filter, language-matters

fixup! Docs
  docs/plugins.rst
Due: language-matters

static checks
  airflow/operators/python.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add doc_md capture for task decorator
  airflow/operators/python.py
  tests/operators/test_python.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

update tutorial_decorated_etl_dag
  airflow/example_dags/tutorial_decorated_etl_dag.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date-in-default_args-in-example_dags, mypy, pylint, flake8

fixup! fixup! fixup! fixup! Add supervising_job_id to DagRun table
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

fixup! fixup! fixup! fixup! fixup! Add supervising_job_id to DagRun table
  airflow/migrations/versions/364159666cbd_add_job_id_to_dagrun_table.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixup! Add supervising_job_id to DagRun table
  airflow/jobs/backfill_job.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update airflow/migrations/versions/364159666cbd_add_job_id_to_dagrun_table.py
  airflow/migrations/versions/364159666cbd_add_job_id_to_dagrun_table.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add supervising_job_id to DagRun table
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/364159666cbd_add_job_id_to_dagrun_table.py
  airflow/models/dagrun.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixup! fixup! fixup! Add supervising_job_id to DagRun table
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

fixup! fixup! Add supervising_job_id to DagRun table
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/364159666cbd_add_job_id_to_dagrun_table.py
  airflow/models/dagrun.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

disable pylint check for operator accessor
  tests/operators/test_python.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Cross Reference XCom in tutorial
  docs/tutorial.rst
Due: language-matters

Fix Task definition in docs
  docs/tutorial.rst
Due: language-matters

Minor improvements to docs/tutorial.rst
  docs/tutorial.rst
Due: language-matters

Remove unnecessary use of comprehension in setup_provider_packages.py
  provider_packages/setup_provider_packages.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix rendering of code-block in operator/kubernetes.rst
  docs/howto/operator/kubernetes.rst
Due: language-matters

Minor doc improvements in blob_storage_to_gcs.rst
  docs/howto/operator/microsoft/transfer/blob_storage_to_gcs.rst
Due: language-matters

Remove redundant code to serialized k8s.V1Pod
  airflow/serialization/serialized_objects.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Replace old screenshots for managing Connections with new
  docs/img/connection_create.png
  docs/img/connection_edit.png
  docs/img/connections.png
Due: language-matters

bump werkzeug version
  setup.py
Due: setup-order, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix typo in 'Installing with Breeze' doc
  dev/README.md
Due: language-matters

Add typing to aws sagemaker
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint_config.py
  airflow/providers/amazon/aws/operators/sagemaker_model.py
  airflow/providers/amazon/aws/operators/sagemaker_processing.py
  airflow/providers/amazon/aws/operators/sagemaker_training.py
  airflow/providers/amazon/aws/operators/sagemaker_transform.py
  airflow/providers/amazon/aws/operators/sagemaker_tuning.py
  airflow/providers/amazon/aws/sensors/sagemaker_base.py
  airflow/providers/amazon/aws/sensors/sagemaker_endpoint.py
  airflow/providers/amazon/aws/sensors/sagemaker_training.py
  airflow/providers/amazon/aws/sensors/sagemaker_transform.py
  airflow/providers/amazon/aws/sensors/sagemaker_tuning.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add Plugins View in web UI
  airflow/cli/commands/plugins_command.py
  airflow/plugins_manager.py
  airflow/www/extensions/init_views.py
  airflow/www/templates/airflow/plugin.html
  airflow/www/views.py
  tests/plugins/test_plugins_manager.py
  tests/www/test_views.py
Due: pydevd, dont-use-safe-filter, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Teardown of webserver tests is not picky about processes.
  tests/cli/commands/test_webserver_command.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

Use constants for permission resource and action names.
  airflow/api_connexion/endpoints/config_endpoint.py
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/dag_source_endpoint.py
  airflow/api_connexion/endpoints/event_log_endpoint.py
  airflow/api_connexion/endpoints/extra_link_endpoint.py
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/api_connexion/endpoints/pool_endpoint.py
  airflow/api_connexion/endpoints/task_endpoint.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/endpoints/variable_endpoint.py
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/api_connexion/security.py
  airflow/models/dag.py
  airflow/security/permissions.py
  airflow/www/decorators.py
  airflow/www/security.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_config_endpoint.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/api_connexion/endpoints/test_event_log_endpoint.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_connexion/endpoints/test_import_error_endpoint.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/api_connexion/schemas/test_task_instance_schema.py
  tests/cli/commands/test_sync_perm_command.py
  tests/models/test_dag.py
  tests/serialization/test_dag_serialization.py
  tests/www/test_security.py
  tests/www/test_views.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Check response status in slack webhook hook.
  airflow/providers/slack/hooks/slack_webhook.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/PROVIDERS_CHANGES_*| ^airflow/providers/apache/hive/README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/howto/connection/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date-in-default_args-in-example_dags: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
