Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

move kubeconfig generator into `hooks/eks.py`
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/utils/eks_kube_config.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fixed `nextToken` final result bug
  airflow/providers/amazon/aws/hooks/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Implemented Jinja templates for operators
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Use a tempfile to store kubeconfig data
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/sensors/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Move kube config into Hook class as a contextmanager
  airflow/providers/amazon/aws/example_dags/example_eks_pod_operation.py
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, flynt, mypy, pylint, flake8

Rework the eks.rst doc file
  docs/apache-airflow-providers-amazon/operators/eks.rst
Due: language-matters, provider-yamls

Implemented EKS system tests
  tests/providers/amazon/aws/operators/test_eks_system.py
  tests/test_utils/amazon_system_helpers.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove List and Describe Operators and supporting code.
  airflow/providers/amazon/aws/example_dags/example_eks_create_cluster.py
  airflow/providers/amazon/aws/example_dags/example_eks_create_cluster_with_nodegroup.py
  airflow/providers/amazon/aws/example_dags/example_eks_create_nodegroup.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/sensors/eks.py
  docs/apache-airflow-providers-amazon/operators/eks.rst
  tests/providers/amazon/aws/operators/test_eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

EKS List hooks return all results
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/sensors/eks.py
  tests/providers/amazon/aws/hooks/test_eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

conn_id refactor
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/sensors/eks.py
  tests/providers/amazon/aws/hooks/test_eks.py
  tests/providers/amazon/aws/utils/eks_test_constants.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Removed random traits in tests
  tests/providers/amazon/aws/hooks/test_eks.py
  tests/providers/amazon/aws/operators/test_eks.py
  tests/providers/amazon/aws/utils/eks_test_constants.py
  tests/providers/amazon/aws/utils/eks_test_utils.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Remove some nesting and some unnecessary logging before raising an exception
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Use the force
  airflow/providers/amazon/aws/operators/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Additional jinja templating
  airflow/providers/amazon/aws/example_dags/example_eks_templated.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/sensors/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, flynt, mypy, pylint, flake8

Doc formatting fix
  docs/apache-airflow-providers-amazon/operators/eks.rst
Due: language-matters, provider-yamls

Corrected some misused Optionals.
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/sensors/eks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Improved docs and samples
  airflow/providers/amazon/aws/example_dags/example_eks_create_cluster.py
  airflow/providers/amazon/aws/example_dags/example_eks_create_cluster_with_nodegroup.py
  airflow/providers/amazon/aws/example_dags/example_eks_create_nodegroup.py
  airflow/providers/amazon/aws/example_dags/example_eks_pod_operation.py
  airflow/providers/amazon/aws/example_dags/example_eks_using_defaults.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_nodegroups.py
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/sensors/eks.py
  docs/apache-airflow-providers-amazon/operators/eks.rst
  setup.py
  tests/providers/amazon/aws/operators/test_eks.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Add back missing permissions to UserModelView controls. (#17431)
  airflow/www/views.py
  tests/www/views/test_views_custom_user_views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Path correction in docs for airflow core (#17567)
  docs/apache-airflow/installation.rst
Due: language-matters, provider-yamls

fix: instance name env var (#16749)
  docs/apache-airflow/howto/customize-dag-ui-page-instance-name.rst
Due: language-matters, provider-yamls

Fix minor typo in configuration.py (#16832)
  airflow/configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix(smart_sensor): Unbound variable errors (#14774)
  airflow/sensors/smart_sensor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add State types for tasks and DAGs (#15285)
  airflow/models/dagrun.py
  airflow/typing_compat.py
  airflow/utils/state.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

commiting dagPickle session when the airflow tasks run --ship-dag --interactive command is executed FIXES: 15748 (#15890)
  airflow/cli/commands/task_command.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fail tasks in scheduler when executor reports they failed (#15929)
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix: change graph focus to top of view instead of center (#16484)
  airflow/www/static/js/graph.js
Due: language-matters

Redact conn secrets in webserver logs (#16579)
  airflow/hooks/base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix ``AttributeError``: ``datetime.timezone`` object has no attribute ``name`` (#16599)
  airflow/models/dag.py
  tests/models/test_dag.py
  tests/serialization/test_dag_serialization.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Set Process title for Worker when using ``LocalExecutor`` (#16623)
  airflow/executors/local_executor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix calculating duration in tree view (#16695)
  airflow/www/static/js/tree.js
Due: language-matters

Fix slow (cleared) tasks being be adopted by Celery worker. (#16718)
  airflow/jobs/scheduler_job.py
  airflow/models/taskinstance.py
  tests/executors/test_celery_executor.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_cleartasks.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

BugFix: Correctly handle custom `deps` and `task_group` during DAG Serialization (#16734)
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix unchecked indexing in _build_metrics (#16744)
  airflow/utils/cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Validate type of `priority_weight` during parsing (#16765)
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Don't check execution_date in refresh_from_db (#16809)
  airflow/models/dagrun.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fixed task instance retrieval in XCom view (#16923)
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix UPDATING.md (#16933)
  UPDATING.md
Due: language-matters, markdownlint

Core: Enable the use of __init_subclass__ in subclasses of BaseOperator (#17027)
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

#16976 Add json.dumps() for templated fields objects: 'dict' and 'list' (#17082)
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Adds more explanatory message when SecretsMasker is not configured (#17101)
  airflow/utils/log/secrets_masker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8
