Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-extras, python2-fastcheck, check-providers-package, python2-compile, pydevd, check-apache-license, airflow-config-yaml, mypy, flake8, bat-tests

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  require_serial: true
  entry: tests/test_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false
  require_serial: true

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false
  require_serial: true

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit_update_extras.sh
  language: system
  pass_filenames: false
  require_serial: true

python2-fastcheck:
  language: pygrep
  name: Find common Python 3 vs. 2.7 compatibility problems
  ...

check-providers-package:
  language: pygrep
  name: Find providers package added in 2.0.*
  entry: "(?x)\n  (\n      ^.*airflow\\.providers.*     # Matches import airflow.providers\n  )$\n"
  pass_filenames: true

python2-compile:
  name: Compile code using python2
  language: system
  entry: python2.7 -m py_compile
  pass_filenames: true
  require_serial: true

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-apache-license:
  name: Check if licenses are OK for Apache
  entry: ./scripts/ci/pre_commit_check_license.sh
  language: system
  pass_filenames: false
  require_serial: true

airflow-config-yaml:
  name: Checks for consistency between config.yml and default_config.cfg
  language: python
  pass_filenames: false
  require_serial: false
  entry: scripts/ci/pre_commit_yaml_to_cfg.py
  additional_dependencies:
  - pyyaml

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit_mypy.sh
  require_serial: true

flake8:
  name: Run flake8
  language: system
  entry: ./scripts/ci/pre_commit_flake8.sh
  pass_filenames: true

bat-tests:
  name: Run BATS bash tests for changed bash files
  language: system
  entry: ./scripts/ci/pre_commit_bat_tests.sh
  pass_filenames: false

fixup! fixup! fixup! Add airflow info command
  airflow/bin/cli.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Add Spark into op and hooks ref
  docs/operators-and-hooks-ref.rst
Due: none

Add class link into SparkSql doc
  docs/howto/operator/apache/spark.rst
Due: none

fixup! fixup! fixup! fixup! Add airflow info command
  airflow/bin/cli.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Remove call to multiprocessing.allow_connection_pickling().
  airflow/utils/dag_processing.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fix ci check add sensor how-to docs
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/sensors/base_sensor_operator.py
  docs/howto/custom-operator.rst
  tests/sensors/test_base_sensor.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Remove unused variables.
  airflow/jobs/scheduler_job.py
  airflow/utils/dag_processing.py
  airflow/utils/mixins.py
  tests/utils/test_dag_processing.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Avoid loading executors in jobs
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Add airflow info command (v1-10-test) (#8704)
  airflow/bin/cli.py
  tests/cli/test_cli.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Update xcom_arg.py usage documentation
  airflow/models/xcom_arg.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

corrected static code analysis issue
  airflow/sensors/external_task_sensor.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

corrected static code analysis issues
  tests/sensors/test_external_task_sensor.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

retriggered the build
  tests/sensors/test_external_task_sensor.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

corrected static code analysis issue
  tests/sensors/test_external_task_sensor.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

modified external_task_sensor.rst doc and example .py file
  airflow/example_dags/example_external_task_marker_dag.py
  docs/howto/operator/external_task_sensor.rst
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Add __repr__ for DagTag so it displays properly in /dagmodel/show
  airflow/models/dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Move client in init. Add test. Add examples.
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/operators/slack.py
  tests/providers/slack/hooks/test_slack.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Update airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/cloud/sensors/gcs.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Update airflow/sensors/base_sensor_operator.py
  airflow/sensors/base_sensor_operator.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Add unit test
  tests/models/test_dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

simplify class decorator
  airflow/sensors/base_sensor_operator.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Offload config checking/setting to configuration.py.
  airflow/configuration.py
  airflow/utils/mixins.py
  tests/jobs/test_scheduler_job.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Use ExcutionDate in DagRuns endpoints
  openapi.yaml
Due: yamllint

Fix typo in description - FileToken parameter
  openapi.yaml
Due: yamllint

Fix typo - singular/plural form - variables
  openapi.yaml
Due: yamllint

Fix typo in name of pre-commit hook
  .pre-commit-config.yaml
Due: yamllint

Chaange type for DAGID, DAGRunID, TaskID
  openapi.yaml
Due: yamllint

Fix typo in summary - POST /pools
  openapi.yaml
Due: yamllint

Make EventLog endpoints read-only
  openapi.yaml
Due: yamllint

Add OpenAPI spec (#7549)
  .pre-commit-config.yaml
  openapi.yaml
Due: yamllint

Add endpoint - POST /dagRuns
  openapi.yaml
Due: yamllint

Typo in DELETE Task instance
  openapi.yaml
Due: yamllint

Use custom action to control task instances
  openapi.yaml
Due: yamllint

Fix typo - singular/plural form - import errors
  openapi.yaml
Due: yamllint

Remove unused schema - DagStructureCollection
  openapi.yaml
Due: yamllint

Remove job_id
  openapi.yaml
Due: yamllint

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$, but not: ^airflow/_vendor/.*$
  lint-dockerfile: any of: ^Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/_utils.sh$|s^scripts/ci/docker_compose/local.yml"
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  python2-fastcheck: any of: \.py$, but not: ^airflow/_vendor|^dev/
  check-providers-package: any of: \.py$, but not: ^airflow/_vendor
  python2-compile: any of: \.py$, but not: ^dev/
  pydevd: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$|^dev
  flake8: any of: \.py$, but not: ^dev/
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
