Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Fix scheduler health check subprocess cleanup
  airflow-core/src/airflow/cli/commands/scheduler_command.py
  airflow-core/tests/unit/cli/commands/test_scheduler_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Assert the panic value in TestNewContextRejectsNilArgs (#73372)
  go-sdk/airflow/context_test.go
Due: none

Go SDK: require airflow.Context first and stop injecting by type
  go-sdk/bundle/bundlev1/registry.go
  go-sdk/bundle/bundlev1/registry_test.go
  go-sdk/bundle/bundlev1/task_test.go
  go-sdk/example/bundle/concurrentxcom/concurrentxcom.go
  go-sdk/example/bundle/concurrentxcom/concurrentxcom_test.go
  go-sdk/example/bundle/main.go
  go-sdk/example/bundle/main_test.go
  go-sdk/example/bundle/taskflowbinding/taskflowbinding.go
  go-sdk/example/bundle/taskflowbinding/taskflowbinding_test.go
  go-sdk/example/bundle/variablewrite/variablewrite.go
  go-sdk/pkg/binding/binding.go
  go-sdk/pkg/binding/binding_test.go
  go-sdk/pkg/execution/integration_test.go
  go-sdk/pkg/execution/task_runner.go
  go-sdk/pkg/sdkcontext/keys.go
  go-sdk/sdk/context.go
  go-sdk/sdk/doc.go
  go-sdk/sdk/sdk.go
  kubernetes-tests/lang_sdk/go_example/main.go
Due: none

Update TypeScript SDK documentation and improve deleteVariable behavior description
  airflow-core/docs/authoring-and-scheduling/language-sdks/typescript.rst
  ts-sdk/src/coordinator/client.ts
  ts-sdk/src/sdk/client.ts
Due: replace-bad-characters

Fail a task whose execute is interrupted by SIGTERM
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add newsfragment for #73395
  airflow-core/newsfragments/73395.significant.rst
Due: replace-bad-characters

Fix dataflow_config service_account for Beam Python and Go pipelines
  providers/apache/beam/src/airflow/providers/apache/beam/operators/beam.py
  providers/apache/beam/tests/unit/apache/beam/operators/test_beam.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Update AGENTS.md
  AGENTS.md
Due: replace-bad-characters, lint-markdown

Add gzip compression option for GCS remote task logs
  providers/google/docs/logging/gcs.rst
  providers/google/src/airflow/providers/google/cloud/log/gcs_task_handler.py
  providers/google/tests/unit/google/cloud/log/test_gcs_task_handler.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Avoid deactivating configured Dag bundles on transient get bundle errors
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/tests/unit/dag_processing/bundles/test_dag_bundle_manager.py
  airflow-core/tests/unit/dag_processing/test_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Make test_trigger_lifecycle deterministic instead of timing-based
  airflow-core/tests/unit/jobs/test_triggerer_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix last-eval-hash
  dev/skill-evals/last-eval-hash.txt
Due: replace-bad-characters

Add GCS support to the DataFusion object storage layer
  providers/common/ai/docs/operators/llm_schema_compare.rst
  providers/common/ai/docs/operators/llm_sql.rst
  providers/common/ai/docs/toolsets.rst
  providers/common/sql/docs/operators.rst
  providers/common/sql/src/airflow/providers/common/sql/config.py
  providers/common/sql/src/airflow/providers/common/sql/datafusion/engine.py
  providers/common/sql/src/airflow/providers/common/sql/datafusion/object_storage_provider.py
  providers/common/sql/src/airflow/providers/common/sql/example_dags/example_analytics.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_engine.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_object_storage_provider.py
  providers/common/sql/tests/unit/common/sql/test_config.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Clarify when code comments preserve useful context (#73359)
  .github/instructions/code-review.instructions.md
  AGENTS.md
  dev/skill-evals/last-eval-hash.txt
Due: replace-bad-characters, lint-markdown

Add GCS support to the DataFusion object storage layer (#73370)
  providers/common/ai/docs/operators/llm_schema_compare.rst
  providers/common/ai/docs/operators/llm_sql.rst
  providers/common/ai/docs/toolsets.rst
  providers/common/sql/docs/operators.rst
  providers/common/sql/src/airflow/providers/common/sql/config.py
  providers/common/sql/src/airflow/providers/common/sql/datafusion/engine.py
  providers/common/sql/src/airflow/providers/common/sql/datafusion/object_storage_provider.py
  providers/common/sql/src/airflow/providers/common/sql/example_dags/example_analytics.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_engine.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_object_storage_provider.py
  providers/common/sql/tests/unit/common/sql/test_config.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix indexing mapped task results with a NumPy integer
  task-sdk/src/airflow/sdk/execution_time/lazy_sequence.py
  task-sdk/tests/task_sdk/execution_time/test_lazy_sequence.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add SnowflakeNotebookOperator for executing Snowflake Notebooks (#63470)
  providers/snowflake/docs/operators/snowflake.rst
  providers/snowflake/src/airflow/providers/snowflake/operators/snowflake.py
  providers/snowflake/tests/system/snowflake/example_snowflake_notebook.py
  providers/snowflake/tests/unit/snowflake/operators/test_snowflake.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-system-tests-present, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Escape values interpolated into Google Drive q= queries (#72166)
  providers/google/src/airflow/providers/google/suite/hooks/drive.py
  providers/google/tests/unit/google/suite/hooks/test_drive.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Keep object store credentials out of the task log in Teradata transfers (#72176)
  providers/teradata/src/airflow/providers/teradata/transfers/azure_blob_to_teradata.py
  providers/teradata/src/airflow/providers/teradata/transfers/s3_to_teradata.py
  providers/teradata/tests/unit/teradata/transfers/test_azure_blob_to_teradata.py
  providers/teradata/tests/unit/teradata/transfers/test_s3_to_teradata.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Update OpenLineage AF3 task-info expectations for restored default
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_complex_dag__af3.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_simple_dag__af3.json
  providers/openlineage/tests/unit/openlineage/utils/test_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix scheduler.ignore_first_depends_on_past_by_default being silently ignored
  airflow-core/tests/unit/models/test_mappedoperator.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  airflow-core/tests/unit/ti_deps/deps/test_prev_dagrun_dep.py
  task-sdk/src/airflow/sdk/definitions/_internal/abstractoperator.py
  task-sdk/tests/task_sdk/bases/test_operator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add newsfragment for #68180
  airflow-core/newsfragments/68180.bugfix.rst
Due: replace-bad-characters

Fix serialization ground truth and OpenLineage cross-version test
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  providers/openlineage/tests/unit/openlineage/utils/test_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add missing Korean translations for Dag bundles and scheduling state
  airflow-core/src/airflow/ui/public/i18n/locales/ko/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dags.json
Due: replace-bad-characters

Fix heading formatting in Docker Compose documentation
  airflow-core/docs/howto/docker-compose/index.rst
Due: replace-bad-characters

TS SDK: add setVariable and deleteVariable to the task client (#73357)
  airflow-core/docs/authoring-and-scheduling/language-sdks/typescript.rst
  airflow-e2e-tests/tests/airflow_e2e_tests/ts_sdk_tests/test_ts_sdk_dag.py
  ts-sdk/README.md
  ts-sdk/capabilities.yaml
  ts-sdk/example/README.md
  ts-sdk/example/dags/typescript_example.py
  ts-sdk/example/src/main.ts
  ts-sdk/src/coordinator/client.ts
  ts-sdk/src/coordinator/protocol.ts
  ts-sdk/src/sdk/client.ts
  ts-sdk/tests/coordinator/client.test.ts
  ts-sdk/tests/public-api.test.ts
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, lint-markdown, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add branch_descriptions to LLMBranchOperator so the model reads what each branch means
  providers/common/ai/docs/operators/llm_branch.rst
  providers/common/ai/src/airflow/providers/common/ai/example_dags/example_llm_branch.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm_branch.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_branch.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add missing Korean translations (#73115)
  airflow-core/src/airflow/ui/public/i18n/locales/ko/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dags.json
Due: replace-bad-characters

Migrate execution API reads to async sessions
  airflow-core/src/airflow/api_fastapi/execution_api/routes/assets.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/dag_runs.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/hitl.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_reschedules.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/variables.py
  airflow-core/tests/unit/api_fastapi/execution_api/conftest.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_assets.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_dag_runs.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_hitl.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Add a decision guide for choosing between common.ai toolsets (#72936)
  providers/common/ai/docs/choosing_a_toolset.rst
  providers/common/ai/docs/index.rst
  providers/common/ai/docs/toolsets.rst
  providers/common/ai/src/airflow/providers/common/ai/sandbox/sbx.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Support unexposed CreateWorkflow and UpdateWorkflow inputs in MWAA Serverless operators
  providers/amazon/src/airflow/providers/amazon/aws/operators/mwaa_serverless.py
  providers/amazon/tests/unit/amazon/aws/operators/test_mwaa_serverless.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Keep myself focussed temporarily on AI integrations
  .github/CODEOWNERS
Due: replace-bad-characters

Fix Test connection rejecting a connection that has no port (#73298)
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/connections.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix exception messages rendering as a tuple instead of the value
  providers/common/sql/src/airflow/providers/common/sql/datafusion/object_storage_provider.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_object_storage_provider.py
  providers/standard/src/airflow/providers/standard/operators/trigger_dagrun.py
  providers/standard/src/airflow/providers/standard/sensors/filesystem.py
  providers/standard/tests/unit/standard/operators/test_trigger_dagrun.py
  providers/standard/tests/unit/standard/sensors/test_filesystem.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Keep myself focussed temporarily on AI integrations (#73404)
  .github/CODEOWNERS
Due: replace-bad-characters

[v3-3-test] Keep myself focussed temporarily on AI integrations (#73404)
  .github/CODEOWNERS
Due: replace-bad-characters

Go SDK: require airflow.Context first and stop injecting by type (#73394)
  go-sdk/bundle/bundlev1/registry.go
  go-sdk/bundle/bundlev1/registry_test.go
  go-sdk/bundle/bundlev1/task_test.go
  go-sdk/example/bundle/concurrentxcom/concurrentxcom.go
  go-sdk/example/bundle/concurrentxcom/concurrentxcom_test.go
  go-sdk/example/bundle/main.go
  go-sdk/example/bundle/main_test.go
  go-sdk/example/bundle/taskflowbinding/taskflowbinding.go
  go-sdk/example/bundle/taskflowbinding/taskflowbinding_test.go
  go-sdk/example/bundle/variablewrite/variablewrite.go
  go-sdk/pkg/binding/binding.go
  go-sdk/pkg/binding/binding_test.go
  go-sdk/pkg/execution/integration_test.go
  go-sdk/pkg/execution/task_runner.go
  go-sdk/pkg/sdkcontext/keys.go
  go-sdk/sdk/context.go
  go-sdk/sdk/doc.go
  go-sdk/sdk/sdk.go
  kubernetes-tests/lang_sdk/go_example/main.go
Due: none

Note the empty allowed_tables rejection in the common-ai docs and changelog
  providers/common/ai/docs/changelog.rst
  providers/common/ai/docs/toolsets.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates, check-changelog-format

Document when a cron-scheduled Dag run actually fires
  airflow-core/docs/authoring-and-scheduling/cron.rst
Due: replace-bad-characters

Add branch_descriptions to LLMBranchOperator so the model reads what each branch means (#73367)
  providers/common/ai/docs/operators/llm_branch.rst
  providers/common/ai/src/airflow/providers/common/ai/example_dags/example_llm_branch.py
  providers/common/ai/src/airflow/providers/common/ai/operators/llm_branch.py
  providers/common/ai/tests/unit/common/ai/operators/test_llm_branch.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators
