Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Increased timouts
  airflow-core/src/airflow/ui/tests/e2e/pages/RequiredActionsPage.ts
Due: replace-bad-characters

fix Spanish translation
  airflow-core/src/airflow/ui/public/i18n/locales/es/common.json
Due: replace-bad-characters

check async logs
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/pod.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/triggers/test_pod.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Rework ProvidersManager to separate runtime and infrastructure focus (#60218)
  .pre-commit-config.yaml
  airflow-core/pyproject.toml
  airflow-core/src/airflow/_shared/providers_discovery
  airflow-core/src/airflow/providers_manager.py
  airflow-core/tests/unit/always/test_providers_manager.py
  devel-common/src/tests_common/pytest_plugin.py
  providers/yandex/tests/unit/yandex/utils/test_user_agent.py
  pyproject.toml
  shared/providers_discovery/pyproject.toml
  shared/providers_discovery/src/airflow_shared/providers_discovery/__init__.py
  shared/providers_discovery/src/airflow_shared/providers_discovery/providers_discovery.py
  shared/providers_discovery/tests/providers_discovery/test_providers_discovery.py
  task-sdk/pyproject.toml
  task-sdk/src/airflow/sdk/_shared/providers_discovery
  task-sdk/src/airflow/sdk/definitions/asset/__init__.py
  task-sdk/src/airflow/sdk/definitions/connection.py
  task-sdk/src/airflow/sdk/definitions/decorators/__init__.py
  task-sdk/src/airflow/sdk/io/fs.py
  task-sdk/src/airflow/sdk/plugins_manager.py
  task-sdk/src/airflow/sdk/providers_manager_runtime.py
  task-sdk/tests/task_sdk/definitions/test_connection.py
  task-sdk/tests/task_sdk/docs/test_public_api.py
  task-sdk/tests/task_sdk/test_providers_manager_runtime.py
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, update-pyproject-toml, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Add if_exists parameter for better table handling
  airflow/providers/hbase/operators/__init__.py
  airflow/providers/hbase/operators/hbase.py
  tests/providers/hbase/operators/test_hbase_operators.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add if_not_exists parameter for better table handling
  airflow/providers/hbase/operators/__init__.py
  airflow/providers/hbase/operators/hbase.py
  tests/providers/hbase/operators/test_hbase_operators.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix docstrings
  airflow/providers/hbase/operators/hbase.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Make encoding arbitrary in HBaseScanOperator and HBaseBatchGetOperator
  airflow/providers/hbase/operators/hbase.py
  tests/providers/hbase/operators/test_hbase_operators.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

test logging
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/operators/test_pod.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Define TaskInstanceKey in task-sdk
  task-sdk/src/airflow/sdk/__init__.py
  task-sdk/src/airflow/sdk/bases/operatorlink.py
  task-sdk/src/airflow/sdk/types.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Grey out trigger button on API 403 (#60648)
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Due: replace-bad-characters

refactor: Ignore mypy error on patch winrm_protocol
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Fixed mypy errors in hook
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Fixed PT006 mypy error for test_is_expired
  providers/microsoft/winrm/tests/unit/microsoft/winrm/triggers/test_winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add test for duplicate dag_id override warning in DagBag
  airflow-core/tests/unit/dag_processing/test_duplicate_dag_id_warning.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Warn when duplicate dag_id overrides existing DAG during parsing
  airflow-core/src/airflow/dag_processing/dagbag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor: Removed polling parameter from assertions
  providers/microsoft/winrm/tests/unit/microsoft/winrm/operators/test_winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Grey out trigger button on API 403 (#60648) (#60777)
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Due: replace-bad-characters

refactor: Fixed TestWinRMOperator
  providers/microsoft/winrm/tests/unit/microsoft/winrm/operators/test_winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Changed import of Connection through common compat
  providers/microsoft/winrm/tests/unit/microsoft/winrm/hooks/test_winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix logout flow in Keycloak auth manager (#60649)
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/openapi/v2-keycloak-auth-manager-generated.yaml
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/routes/login.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/routes/token.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/services/token.py
  providers/keycloak/tests/unit/keycloak/auth_manager/routes/test_login.py
  providers/keycloak/tests/unit/keycloak/auth_manager/services/test_token.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. GitHub run id:21139683562
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
Due: replace-bad-characters

Complete missing Arabic translations (2026-01-16) (#60635)
  airflow-core/src/airflow/ui/public/i18n/locales/ar/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/hitl.json
Due: replace-bad-characters

[v3-1-test] Complete missing Arabic translations (2026-01-16) (#60635) (cherry picked from commit 9d0a8df8c29aecc6af5cd95e78cb67c100f6ced3)
  airflow-core/src/airflow/ui/public/i18n/locales/ar/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/hitl.json
Due: replace-bad-characters

cleanup
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/triggers/pod.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/operators/test_pod.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/triggers/test_pod.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Fixed TestWinRMCommandOutputTrigger
  providers/microsoft/winrm/tests/unit/microsoft/winrm/triggers/test_winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

add skipKubernetesEnvVars
  chart/templates/_helpers.yaml
  chart/values.schema.json
  chart/values.yaml
Due: replace-bad-characters, lint-json-schema

refactor: Simplify Task Instances E2E tests with URL-based filtering
  airflow-core/src/airflow/ui/tests/e2e/pages/TaskInstancesPage.ts
  airflow-core/src/airflow/ui/tests/e2e/specs/task-instances.spec.ts
Due: replace-bad-characters

bugfix - 8
  airflow-core/src/airflow/ui/tests/e2e/pages/DagsPage.ts
  airflow-core/src/airflow/ui/tests/e2e/specs/dag-code-tab.spec.ts
Due: replace-bad-characters

Fix Spanish translation (#60775)
  airflow-core/src/airflow/ui/public/i18n/locales/es/common.json
Due: replace-bad-characters

[v3-1-test] Fix Spanish translation (#60775) (cherry picked from commit 45939e00d8f1b7bbb1c890e33901ac5dd65c57cc)
  airflow-core/src/airflow/ui/public/i18n/locales/es/common.json
Due: replace-bad-characters

refactor: Should check if msg.events is not None
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

docs(contributing-docs): fix some typos and unmatched parentheses
  contributing-docs/03_contributors_quick_start.rst
  contributing-docs/05_pull_requests.rst
  contributing-docs/11_documentation_building.rst
  contributing-docs/12_provider_distributions.rst
  contributing-docs/13_airflow_dependencies_and_extras.rst
Due: replace-bad-characters

refactor: Reformatted test_execute_deferrable_success
  providers/microsoft/winrm/tests/unit/microsoft/winrm/operators/test_winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Revert Fix breeze start-airflow mprocs output interference #60652
  scripts/ci/prek/compile_ui_assets_dev.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

fix:corrected url for the cdap API calls
  providers/google/src/airflow/providers/google/cloud/hooks/datafusion.py
  providers/google/tests/unit/google/cloud/hooks/test_datafusion.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

increased timouts of state badge assertion
  airflow-core/src/airflow/ui/tests/e2e/pages/RequiredActionsPage.ts
Due: replace-bad-characters

resolve failure
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/triggers/test_pod.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

format
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/triggers/test_pod.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Add check on ssh_conn_id when deferrable
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging
