Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$, but not: ^airflow/_vendor/.*$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^tests/bats/.*\.bats$

[AIRFLOW-XXXX] Remove travis config warnings (#7467)
  .travis.yml
Due: yamllint

[AIRFLOW-6830] Add Subject/MessageAttributes to SNS hook and operator (#7451)
  airflow/contrib/hooks/aws_sns_hook.py
  airflow/contrib/operators/sns_publish_operator.py
  tests/contrib/hooks/test_aws_sns_hook.py
  tests/contrib/operators/test_sns_publish_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6892] Fix broken non-wheel releases (#7514)
  MANIFEST.in
Due: none

[AIRFLOW-6818] Prevent Docker cache-busting on when editing www templates (#7432)
  Dockerfile
  airflow/www_rbac/static/docs
  common/_files_for_rebuild_check.sh
  hooks/build
Due: shellcheck, lint-dockerfile

[AIRFLOW-7062] Fix pydruid release breaking the build (#7720)
  setup.py
Due: isort, setup-order, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-XXXX] Less verbose docker builds
  hooks/build
Due: shellcheck

[AIRFLOW-6766] Fix "cannot import ensure_text" error for pre-commit (#7393)
  scripts/ci/ci_before_install.sh
Due: shellcheck

[AIRFLOW-7058] Add support for different DB versions (#7717)
  .travis.yml
  BREEZE.rst
  README.md
  breeze
  breeze-complete
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
Due: yamllint, shellcheck, update-breeze-file

[AIRFLOW-6630] Resolve handlebars advisory (#7284)
  airflow/www_rbac/package.json
  airflow/www_rbac/yarn.lock
Due: none

[AIRFLOW-XXXX] Add instructions for logging to localstack S3 (#7461)
  docs/howto/write-logs.rst
Due: none

[AIRFLOW-5828] Move build logic out from hooks/build (#7618)
  BREEZE.rst
  breeze
  confirm
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_build_dockerhub.sh
  scripts/ci/ci_check_license.sh
  scripts/ci/ci_docs.sh
  scripts/ci/ci_flake8.sh
  scripts/ci/ci_mypy.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/ci_run_all_static_tests.sh
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/run_flake8.sh
  scripts/ci/in_container/run_mypy.sh
  scripts/ci/pre_commit_ci_build.sh
Due: shellcheck, update-breeze-file

[AIRFLOW-XXXX] Update tests info in CONTRIBUTING.rst (#7466)
  CONTRIBUTING.rst
Due: none

[AIRFLOW-6800] Close file object after parsing ssh config (#7415)
  airflow/contrib/hooks/ssh_hook.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6767] Correct name for default Athena workgroup (#7394)
  airflow/contrib/hooks/aws_athena_hook.py
  airflow/contrib/operators/aws_athena_operator.py
  tests/contrib/operators/test_aws_athena_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6948] Remove ASCII Airflow from version command (#7572)
  airflow/bin/cli.py
  airflow/settings.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6737] Enable kubernetes diagnostics for all kubernetes tests (#7371)
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/run_ci_tests.sh
  tests/runtime/kubernetes/test_kubernetes_executor.py
Due: shellcheck, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

[AIRFLOW-6823] Fix root owned files automatically in Breeze (#7449)
  scripts/ci/_utils.sh
  scripts/ci/in_container/_in_container_utils.sh
Due: shellcheck

[AIRFLOW-6979] Fix breeze test-target specific test param issue (#7614)
  breeze
Due: shellcheck, update-breeze-file

[AIRFLOW-XXXX] Speed up mypy runs. (#7421)
  .pre-commit-config.yaml
  scripts/ci/_utils.sh
  scripts/ci/in_container/run_mypy.sh
Due: yamllint, shellcheck

[AIRFLOW-7002] Get rid of yaml "parser" in bash (#7646)
  .pre-commit-config.yaml
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/local.yml
  scripts/ci/pre_commit_local_yml_mounts.sh
  tests/bats/test_local_mounts.bats
  tests/bats/test_yaml_parser.bats
Due: yamllint, shellcheck, bat-tests

[AIRFLOW-7029] Use separate docker image for running license check (#7678)
  Dockerfile
  scripts/ci/ci_check_license.sh
  scripts/ci/in_container/run_check_licence.sh
Due: shellcheck, lint-dockerfile

[AIRFLOW-7018] fixing travis's job name escaping problem (#7668)
  scripts/ci/_utils.sh
Due: shellcheck

[AIRFLOW-6821] Success callback not called when task marked as success from UI (#7447)
  UPDATING.md
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-7025] Fix SparkSqlHook.run_query to handle its parameter properly (#7677)
  airflow/contrib/hooks/spark_sql_hook.py
  tests/contrib/hooks/test_spark_sql_hook.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-3439] Decode logs with 'utf-8' (#4474)
  airflow/utils/log/gcs_task_handler.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6878] Fix misconfigured default value for kube_client_request_args
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: yamllint, airflow-config-yaml

[AIRFLOW-7016] Sort dag tags in the UI (#7661)
  airflow/www_rbac/templates/airflow/dags.html
Due: none

[AIRFLOW-6588] write_stdout and json_format are boolean (#7199)
  airflow/config_templates/airflow_local_settings.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6950] Remove refresh_executor_config from ti.refresh_from_db (#7577)
  airflow/models/taskinstance.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6949] Respect explicit conf to SparkSubmitOperator (#7575)
  airflow/contrib/hooks/spark_submit_hook.py
  tests/contrib/hooks/test_spark_submit_hook.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-7024] Add the verbose parameter support to SparkSqlOperator (#7676)
  airflow/contrib/operators/spark_sql_operator.py
  tests/contrib/operators/test_spark_sql_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-6855] Escape project_dataset_table in SQL query in gcs to bq operator (#7475)
  airflow/contrib/operators/gcs_to_bq.py
  tests/contrib/operators/test_gcs_to_bq_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[AIRFLOW-7074] Add Permissions to view SubDAGs (#7752)
  airflow/www_rbac/security.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-5167] Update dependencies for GCP packages (#7116)
  setup.py
Due: isort, setup-order, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6762] Fix link to "Suggest changes on this page" (#7387)
  docs/conf.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-XXXX] Add new official Airflow user
  README.md
Due: none

[AIRFLOW-7069] Fix cloudsql system tests
  airflow/providers/google/cloud/example_dags/example_cloud_sql.py
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/providers/google/cloud/operators/test_cloud_sql_operatorquery_system.py
  tests/providers/google/cloud/operators/test_cloud_sql_operatorquery_system_helper.py
  tests/providers/google/cloud/operators/test_cloud_sql_system.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
  tests/test_utils/gcp_system_helpers.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Log more on deepcopy failure
  airflow/models.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6440][AIP-29] Add AWS Fargate Executor
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_aws_ecs.py
  airflow/executors/aws_ecs_executor.py
  airflow/executors/executor_loader.py
  tests/executors/test_aws_ecs_executor.py
  tests/test_config_templates.py
Due: yamllint, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, airflow-config-yaml, mypy, pylint, pylint-tests, flake8

fixup! [AIRFLOW-7076] Add support for HashiCorp Vault as Secret Backend
  airflow/providers/hashicorp/secrets/vault.py
  docs/howto/use-alternative-secrets-backend.rst
  tests/providers/hashicorp/secrets/test_vault.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8
