Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

update-common-sql-api-stubs:
  name: Check and update common.sql API stubs
  entry: ./scripts/ci/pre_commit/pre_commit_update_common_sql_api_stubs.py
  language: python
  additional_dependencies:
  - rich>=12.4.4
  - mypy==1.2.0
  - black==22.12.0
  - jinja2
  pass_filenames: false
  require_serial: true

update-black-version:
  name: Update black versions everywhere
  entry: ./scripts/ci/pre_commit/pre_commit_update_black_version.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  require_serial: true

ruff:
  name: ruff
  language: python
  require_serial: true
  pass_filenames: true
  entry: ruff --fix --no-update-check --force-exclude
  additional_dependencies:
  - ruff==0.0.265

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/pre_commit/pre_commit_replace_bad_characters.py
  language: python
  additional_dependencies:
  - rich>=12.4.4

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-provider-compatibility:
  name: Check compatibility of Providers with Airflow
  entry: ./scripts/ci/pre_commit/pre_commit_check_provider_airflow_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools
  - rich>=12.4.4
  - pyyaml

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

Make imports lazy to remove circular import checks fails for providers
  airflow/providers/remote/executors/remote_executor.py
  airflow/providers/remote/models/__init__.py
  airflow/providers/remote/models/remote_logs.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Add header when starting remote worker
  airflow/providers/remote/cli/remote_command.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Rename Remote Executor to Edge Executor
  dev/breeze/doc/images/output_k8s_deploy-airflow.svg
  dev/breeze/doc/images/output_k8s_deploy-airflow.txt
  dev/breeze/doc/images/output_k8s_run-complete-tests.svg
  dev/breeze/doc/images/output_k8s_run-complete-tests.txt
  dev/breeze/doc/images/output_k8s_shell.svg
  dev/breeze/doc/images/output_k8s_shell.txt
  dev/breeze/doc/images/output_k8s_tests.svg
  dev/breeze/doc/images/output_k8s_tests.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  scripts/in_container/bin/run_tmux
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Fix test problems if AIP-44 is disabled
  tests/providers/remote/api_endpoints/test_rpc_api_endpoint.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Fix adoption of tasks when restarting scheduler
  airflow/providers/edge/executors/edge_executor.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Rename Remote Executor to Edge Executor
  airflow/config_templates/config.yml
  airflow/executors/executor_constants.py
  airflow/executors/executor_loader.py
  docs/apache-airflow/core-concepts/executor/index.rst
Due: ruff, replace-bad-characters, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, check-lazy-logging, mypy-core

Remove test against Variable endpoint
  tests/providers/remote/api_endpoints/test_rpc_api_endpoint.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Optimize sync call for MVP executor
  airflow/providers/edge/executors/edge_executor.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Move integration test DAG to provider package
  airflow/providers/remote/example_dags/__init__.py
  airflow/providers/remote/example_dags/integration_test.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, mypy-providers

Review feeedback + small adjustments from Niko
  docs/apache-airflow-providers-edge/edge_executor.rst
Due: replace-bad-characters, update-version, check-links-to-example-dags-do-not-use-hardcoded-versions

Fix pytest
  dev/breeze/tests/test_packages.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Prevent problems in tests with pydantic<2
  tests/providers/remote/cli/test_remote_command.py
  tests/providers/remote/models/test_remote_job.py
  tests/providers/remote/models/test_remote_logs.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Remove upper bound for provider compatability with Airflow
  airflow/providers/remote/provider.yaml
  generated/provider_dependencies.json
Due: replace-bad-characters, check-extra-packages-references, update-providers-dependencies, update-extras, check-aiobotocore-optional, update-breeze-cmd-output, check-provider-yaml-valid

Remove merge conflict
  providers/src/airflow/providers/edge/provider.yaml
Due: replace-bad-characters

Attempt to fix test for Airflow 2.10 compat
  tests/providers/remote/api_endpoints/test_rpc_api_endpoint.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Mark some tests ad DB tests
  tests/providers/remote/executors/test_remote_executor.py
  tests/providers/remote/models/test_remote_job.py
  tests/providers/remote/models/test_remote_logs.py
  tests/providers/remote/models/test_remote_worker.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Adjust new folder structure from PR 42505
  providers/src/airflow/providers/edge/executors/__init__.py
  providers/src/airflow/providers/edge/executors/edge_executor.py
  providers/tests/edge/executors/__init__.py
  providers/tests/edge/executors/test_edge_executor.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Breeze adjustments for introduction of AIP-69 Remote Executor
  dev/breeze/doc/images/output_k8s_deploy-airflow.svg
  dev/breeze/doc/images/output_k8s_deploy-airflow.txt
  dev/breeze/doc/images/output_k8s_run-complete-tests.svg
  dev/breeze/doc/images/output_k8s_run-complete-tests.txt
  dev/breeze/doc/images/output_k8s_shell.svg
  dev/breeze/doc/images/output_k8s_shell.txt
  dev/breeze/doc/images/output_k8s_tests.svg
  dev/breeze/doc/images/output_k8s_tests.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  scripts/in_container/bin/run_tmux
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Updating constraints. Github run id:11281195889
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

Update tests/jobs/test_scheduler_job.py
  tests/jobs/test_scheduler_job.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

mark TestGKEStartKueueInsideClusterOperator tests with flaky decorator (#42916)
  providers/tests/google/cloud/operators/test_kubernetes_engine.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix typo in Breeze
  dev/breeze/doc/images/output_testing.svg
  dev/breeze/doc/images/output_testing.txt
  dev/breeze/doc/images/output_testing_non-db-tests.svg
  dev/breeze/doc/images/output_testing_non-db-tests.txt
  dev/breeze/doc/images/output_testing_tests.svg
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

Tests now work in Breeze
  .dockerignore
  Dockerfile
  Dockerfile.ci
  scripts/ci/docker-compose/local.yml
  scripts/ci/kubernetes/k8s_requirements.txt
  scripts/docker/install_airflow.sh
  task_sdk/pyproject.toml
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, lint-json-schema, update-inlined-dockerfile-scripts

Add skeleton project for task-sdk
  pyproject.toml
  task_sdk/README.md
  task_sdk/pyproject.toml
  task_sdk/src/airflow/sdk/__init__.py
  task_sdk/src/airflow/sdk/py.typed
  task_sdk/tests/__init__.py
  task_sdk/tests/conftest.py
  task_sdk/tests/test_hello.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, lint-markdown, check-docstring-param-types, check-lazy-logging, mypy-core

Remove dag.run() method (#42761)
  airflow/executors/executor_loader.py
  airflow/models/dag.py
  contributing-docs/quick-start-ide/contributors_quick_start_pycharm.rst
  contributing-docs/quick-start-ide/contributors_quick_start_vscode.rst
  contributing-docs/quick-start-ide/images/pycharm_add_configuration.png
  contributing-docs/quick-start-ide/images/pycharm_add_env_variable.png
  contributing-docs/testing/dag_testing.rst
  dev/tests_common/test_utils/system_tests.py
  dev/tests_common/test_utils/system_tests_class.py
  docs/apache-airflow/core-concepts/debug.rst
  providers/src/airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  providers/tests/google/cloud/operators/test_dataprep_system.py
  providers/tests/google/cloud/operators/test_datastore_system.py
  providers/tests/google/cloud/transfers/test_facebook_ads_to_gcs_system.py
  providers/tests/google/cloud/transfers/test_salesforce_to_gcs_system.py
  providers/tests/google/marketing_platform/operators/test_display_video_system.py
  providers/tests/system/google/cloud/dataprep/example_dataprep.py
  tests/cli/commands/test_dag_command.py
  tests/core/test_example_dags_system.py
  tests/dags/test_future_start_date.py
  tests/dags/test_issue_1225.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_xcom_arg.py
Due: ruff, replace-bad-characters, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-dev, mypy-core

Add test for behavior for paused backfill (#42837)
  tests/jobs/test_scheduler_job.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Use url_from_endpoint inside HttpHook. (#42785)
  providers/src/airflow/providers/http/hooks/http.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix typo in Breeze (#42919)
  dev/breeze/doc/images/output_testing.svg
  dev/breeze/doc/images/output_testing.txt
  dev/breeze/doc/images/output_testing_non-db-tests.svg
  dev/breeze/doc/images/output_testing_non-db-tests.txt
  dev/breeze/doc/images/output_testing_tests.svg
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

fix
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/connections.py
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Add backfill create command
  airflow/cli/cli_config.py
  airflow/cli/commands/backfill_command.py
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_backfill_command.py
  tests/cli/commands/test_dag_command.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

remove DAG.run method
  airflow/cli/commands/dag_command.py
  airflow/executors/executor_loader.py
  airflow/models/dag.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

fixups
  airflow/api_connexion/openapi/v1.yaml
  pyproject.toml
  tests/cli/commands/test_backfill_command.py
  tests/models/test_renderedtifields.py
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core

--wip-- [skip ci]
  airflow/api_connexion/openapi/v1.yaml
  airflow/cli/cli_config.py
  airflow/cli/commands/dag_command.py
  pyproject.toml
  tests/models/test_renderedtifields.py
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core

Update airflow/providers/databricks/hooks/databricks_sql.py
  airflow/providers/databricks/hooks/databricks_sql.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Updating how statement_id is used
  providers/src/airflow/providers/amazon/aws/operators/redshift_data.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

fix test
  tests/jobs/test_backfill_job.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Updating constraints. Github run id:11284948025
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

wip - failing
  tests/api_fastapi/views/public/test_dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
