Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-and-lint-javascript, run-mypy, run-flake8, update-migration-references, update-er-diagram

Path conditions:
  replace-bad-characters: any file but: ^airflow/_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$|^airflow/providers/.*/provider.yaml$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration.py|^airflow/providers|^scripts/in_container/verify_providers.py
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^.*\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$|^\.pre-commit-config\.yaml$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^airflow/_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-and-lint-javascript: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1.yaml and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$, \.(yaml|yml)$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev|^tests/system/providers|^tests/providers)) or (any of: ^airflow/providers/.*\.py$|^tests/system/providers/\*.py|^tests/providers/\*.py)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

FIX: Massage more readable following PR request.
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: replace-bad-characters, check-airflow-config-yaml-consistent, lint-json-schema

Separate mypy pre-commit checks (#30502)
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-pre-commit-information-consistent, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

Update airflow/providers/cncf/kubernetes/utils/pod_manager.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Use default connection id for KubernetesPodOperator
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, check-changelog-has-no-duplicates, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

fix cncf failure
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates

Avoid logging sensitive information in triggerer job log (#30110)
  airflow/jobs/triggerer_job.py
  tests/jobs/test_triggerer_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Updating constraints. Github run id:4628612234
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters, check-for-inclusive-language

Allow specifying a `max_depth` to the `redact()` call
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

CHG: Formatter from AF one to Celery.
  airflow/cli/commands/celery_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add more types to TaskInstance and TaskReschedule
  airflow/models/taskinstance.py
  airflow/models/taskreschedule.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to BackfillJob
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/jobs/backfill_job.py
  airflow/models/taskinstance.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to DagCode
  airflow/models/dagcode.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to views
  airflow/www/views.py
  tests/www/views/test_views.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add types to Trigger
  airflow/models/trigger.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fully type Pool
  airflow/api/common/experimental/pool.py
  airflow/models/pool.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add more types to DagRun
  airflow/models/dagrun.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to AirflowSecurityManager
  airflow/www/fab_security/sqla/manager.py
  airflow/www/security.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to 'airflow task' and 'airflow job'
  airflow/cli/commands/jobs_command.py
  airflow/cli/commands/task_command.py
  airflow/models/dagpickle.py
  airflow/utils/cli.py
  airflow/utils/log/secrets_masker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to 'airflow dags'
  airflow/api/common/delete_dag.py
  airflow/cli/commands/dag_command.py
  airflow/cli/simple_table.py
  airflow/models/dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Improve KubernetesExecutor typing
  airflow/executors/kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to external task sensor
  airflow/sensors/external_task.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to serialized DAG model
  airflow/models/serialized_dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to job classes
  airflow/jobs/base_job.py
  airflow/jobs/local_task_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fix missing DagModel case in SchedulerJob
  airflow/jobs/scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Add types to MetastoreBackend
  airflow/secrets/metastore.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

CHG: Field name *_override -> *_split.
  airflow/cli/commands/celery_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Allow specifying a `max_depth` to the `redact()` call (#30505)
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Testing - Remove one test
  tests/operators/test_python.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

add experimental tag to config options
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: replace-bad-characters, check-airflow-config-yaml-consistent, lint-json-schema

Revert "Testing - Remove one test"
  tests/operators/test_python.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Revert "Raise ValueError instead of custom exception"
  airflow/exceptions.py
  airflow/operators/python.py
  tests/operators/test_python.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix tests
  tests/operators/test_python.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix deprecation warning in `example_sensor_decorator` DAG
  airflow/example_dags/example_sensor_decorator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Type related import optimization for Executors
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/dask_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/executors/sequential_executor.py
  tests/executors/test_debug_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix AzureDataFactoryPipelineRunLink get_link method
  airflow/providers/microsoft/azure/operators/data_factory.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fix cloud build create build log
  airflow/providers/google/cloud/hooks/cloud_build.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Update SQLAlchemy `select()` to new style
  airflow/migrations/versions/0093_2_2_0_taskinstance_keyed_to_dagrun.py
  airflow/migrations/versions/0104_2_3_0_migrate_rtif_to_use_run_id_and_map_index.py
  airflow/migrations/versions/0105_2_3_0_add_map_index_to_taskfail.py
  airflow/models/dagrun.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
Due: replace-bad-characters, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8, update-migration-references, update-er-diagram

Use self.wait_for_operation
  airflow/providers/google/cloud/hooks/cloud_build.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Remove unused func and fix test
  airflow/providers/google/cloud/hooks/cloud_build.py
  tests/providers/google/cloud/hooks/test_cloud_build.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Delete duplicate test
  tests/providers/google/cloud/operators/test_cloud_build.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8
