Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-1-compatibility, update-breeze-file, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-example-dags-urls, run-mypy, run-flake8, lint-javascript, update-migration-references

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-2-1-compatibility:
  name: Check that providers are 2.1 compatible.
  entry: ./scripts/ci/pre_commit/pre_commit_check_2_2_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-breeze-file:
  name: Update output of breeze commands in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4
  - rich-click

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_supported_versions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tabulate

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

Updating constraints. Build id:2943849054
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Updated aws connection doc with IRSA instrcutions
  docs/apache-airflow-providers-amazon/connections/aws.rst
Due: update-version, check-provider-yaml-valid

backport of fix for scheduler adoption
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix runs-on array remaining specification
  .github/workflows/build-images.yml
Due: check-persist-credentials-disabled-in-github-workflows

Fix runs-on array remaining specification (#26026)
  .github/workflows/build-images.yml
Due: check-persist-credentials-disabled-in-github-workflows

Fix display aws connection info
  airflow/providers/amazon/aws/utils/connection_wrapper.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Include scheduled slots in pools view
  airflow/api_connexion/schemas/pool_schema.py
  airflow/models/pool.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/schemas/test_pool_schemas.py
  tests/api_connexion/test_auth.py
  tests/www/views/test_views_pool.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

backport deadlock and task details fix
  airflow/jobs/scheduler_job.py
  airflow/models/taskinstance.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

fix(): remove invalid flag
  tests/charts/helm_template_generator.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Merge upstream
  airflow/api_connexion/openapi/v1.yaml
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/datasets/manager.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/providers/amazon/aws/hooks/redshift_cluster.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/www/static/js/api/useGridData.test.js
  airflow/www/static/js/api/useGridData.ts
  airflow/www/static/js/types/api-generated.ts
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/image.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  docs/apache-airflow-providers-amazon/operators/redshift_cluster.rst
  docs/apache-airflow/installation/upgrading.rst
  docs/spelling_wordlist.txt
  images/breeze/output-commands-hash.txt
  images/breeze/output_ci-image_build.svg
  images/breeze/output_ci-image_pull.svg
  images/breeze/output_prod-image_build.svg
  images/breeze/output_prod-image_pull.svg
  images/breeze/output_release-management_generate-constraints.svg
  tests/core/test_configuration.py
  tests/models/test_dagrun.py
  tests/providers/amazon/aws/operators/test_redshift_cluster.py
  tests/system/providers/amazon/aws/example_redshift_cluster.py
Due: lint-openapi, check-airflow-2-1-compatibility, update-breeze-file, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, update-spelling-wordlist-to-be-sorted, check-provider-yaml-valid, check-airflow-providers-have-extras, check-breeze-top-dependencies-limited, check-system-tests-present, lint-json-schema, check-docstring-param-types, run-mypy, run-flake8, lint-javascript

Include scheduled slots in pools view (#26006)
  airflow/api_connexion/schemas/pool_schema.py
  airflow/models/pool.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/schemas/test_pool_schemas.py
  tests/api_connexion/test_auth.py
  tests/www/views/test_views_pool.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add conf parameter to CLI for airflow dags test
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add tests for CLI
  tests/cli/commands/test_dag_command.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Controlled system exit for dag_test cli
  airflow/cli/commands/dag_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Better input escape
  airflow/cli/commands/dag_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Also use tz when converting non-Pendulum datetime
  airflow/utils/timezone.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Unify task-expanding argument type definition
  airflow/decorators/base.py
  airflow/decorators/task_group.py
  airflow/models/expandinput.py
  airflow/models/mappedoperator.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Implement expand_kwargs() against a literal list
  airflow/decorators/base.py
  airflow/models/expandinput.py
  airflow/models/mappedoperator.py
  tests/models/test_dagrun.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Remove unused function
  airflow/models/expandinput.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix missing XComArg import
  airflow/models/mappedoperator.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add conf parameter to CLI for airflow dags test (#25900)
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix BranchDateTimeOperator to be timezone-awreness-insensitive (#25944)
  airflow/example_dags/example_branch_datetime_operator.py
  airflow/operators/datetime.py
  airflow/utils/timezone.py
  docs/apache-airflow/howto/operator/datetime.rst
Due: update-version, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-provider-yaml-valid, check-docstring-param-types, run-mypy, run-flake8

Hook into Mypy to get rid of those cast()
  airflow/mypy/plugin/outputs.py
  airflow/providers/amazon/aws/example_dags/example_ecs.py
  airflow/providers/amazon/aws/example_dags/example_emr.py
  airflow/providers/google/cloud/example_dags/example_datafusion.py
  airflow/providers/google/cloud/example_dags/example_looker.py
  airflow/providers/google/cloud/example_dags/example_vision.py
  setup.cfg
  tests/system/providers/airbyte/example_airbyte_trigger_job.py
  tests/system/providers/amazon/aws/example_athena.py
  tests/system/providers/amazon/aws/example_batch.py
  tests/system/providers/amazon/aws/example_emr_serverless.py
  tests/system/providers/amazon/aws/example_glue.py
  tests/system/providers/amazon/aws/example_step_functions.py
  tests/system/providers/dbt/cloud/example_dbt_cloud.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_async.py
  tests/system/providers/google/cloud/datastore/example_datastore_rollback.py
  tests/system/providers/google/cloud/pubsub/example_pubsub.py
  tests/system/providers/tableau/example_tableau.py
  tests/system/providers/tableau/example_tableau_refresh_workbook.py
Due: check-setup-order, check-airflow-2-1-compatibility, update-setup-cfg-file, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

Try to fix isort
  setup.cfg
Due: check-setup-order, update-setup-cfg-file, check-for-inclusive-language

Update release_dockerhub_image.yml
  .github/workflows/release_dockerhub_image.yml
Due: check-persist-credentials-disabled-in-github-workflows

Fix schedule for Cloud SQL system tests
  tests/system/providers/google/cloud/cloud_sql/example_cloud_sql.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

Update release_dockerhub_image.yml (#26033)
  .github/workflows/release_dockerhub_image.yml
Due: check-persist-credentials-disabled-in-github-workflows

add emr steps sensor
  airflow/providers/amazon/aws/sensors/emr.py
  tests/providers/amazon/aws/sensors/test_emr_steps.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Use AsyncClient for Composer Operators in deferrable mode (#25951)
  airflow/providers/google/cloud/hooks/cloud_composer.py
  airflow/providers/google/cloud/triggers/cloud_composer.py
  tests/providers/google/cloud/hooks/test_cloud_composer.py
  tests/providers/google/cloud/operators/test_cloud_composer.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Updates to the readme
  docs/apache-airflow-providers-amazon/connections/aws.rst
Due: update-version, check-provider-yaml-valid

Migrate Cloud Storage Transfer Service system tests to AIP-47
  docs/apache-airflow-providers-google/operators/cloud/cloud_storage_transfer_service.rst
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service_system.py
  tests/system/providers/google/cloud/cloud_storage_transfer_service/__init__.py
  tests/system/providers/google/cloud/cloud_storage_transfer_service/example_cloud_storage_transfer_service_gcp.py
  tests/system/providers/google/cloud/cloud_storage_transfer_service/resources/__init__.py
  tests/system/providers/google/cloud/cloud_storage_transfer_service/resources/text.txt
Due: update-providers-dependencies, update-version, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

Updating deprecated configuration in examples
  docs/apache-airflow/howto/set-up-database.rst
Due: update-version, check-provider-yaml-valid

Updating deprecated configuration in examples (#26037)
  docs/apache-airflow/howto/set-up-database.rst
Due: update-version, check-provider-yaml-valid

ref(tests/chart): run lint
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/values.schema.json
  chart/values.yaml
Due: check-for-inclusive-language, lint-helm-chart, lint-json-schema, update-vendored-in-k8s-json-schema, lint-chart-schema

Fix mismatched variables; Add type hints
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Upgrade API files to typescript (#25098)
  airflow/www/static/js/api/useClearRun.ts
  airflow/www/static/js/api/useClearTask.ts
  airflow/www/static/js/api/useConfirmMarkTask.ts
  airflow/www/static/js/api/useDataset.ts
  airflow/www/static/js/api/useDatasetEvents.ts
  airflow/www/static/js/api/useExtraLinks.ts
  airflow/www/static/js/api/useGridData.test.ts
  airflow/www/static/js/api/useMappedInstances.ts
  airflow/www/static/js/api/useMarkFailedRun.ts
  airflow/www/static/js/api/useMarkFailedTask.ts
  airflow/www/static/js/api/useMarkSuccessRun.ts
  airflow/www/static/js/api/useMarkSuccessTask.ts
  airflow/www/static/js/api/useQueueRun.ts
  airflow/www/static/js/api/useRunTask.ts
  airflow/www/static/js/api/useTaskInstance.ts
  airflow/www/static/js/api/useTaskLog.ts
  airflow/www/static/js/dag/details/dagRun/DatasetTriggerEvents.tsx
  airflow/www/static/js/dag/details/dagRun/index.tsx
  airflow/www/static/js/dag/details/taskInstance/DatasetUpdateEvents.tsx
  airflow/www/static/js/dag/details/taskInstance/ExtraLinks.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
  airflow/www/static/js/dag/details/taskInstance/MappedInstances.tsx
  airflow/www/static/js/dag/details/taskInstance/Nav.tsx
  airflow/www/static/js/dag/useFilters.tsx
  airflow/www/static/js/dag/useSelection.ts
  airflow/www/static/js/datasets/DatasetEvents.tsx
  airflow/www/static/js/datasets/Details.tsx
  airflow/www/static/js/datasets/index.tsx
  airflow/www/static/js/utils/URLSearchParamWrapper.ts
Due: none

Rename DatasetTaskRef to TaskOutletDatasetReference (#25919)
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dataset_schema.py
  airflow/migrations/versions/0114_2_4_0_add_dataset_model.py
  airflow/models/dag.py
  airflow/models/dataset.py
  airflow/www/static/js/types/api-generated.ts
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
  tests/test_utils/db.py
  tests/utils/test_db_cleanup.py
Due: lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8, update-migration-references

Get connection id from userinfo
  airflow/models/dataset.py
  tests/models/test_dataset.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-1-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-file: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-example-dags-urls: any of: ^docs/.*index\.rst$|^docs/.*example-dags\.rst$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
