Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

fixup! Upgrade dependencies to allow us to use SQLAlchemy v2 in Airflow 3.0/main
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
Due: replace-bad-characters, lint-dockerfile, check-extras-order, shellcheck, update-inlined-dockerfile-scripts

refactored: Fixed import of test_utils in test_dag_run
  tests/api_fastapi/views/public/test_dag_run.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Add support for run conf to backfill (#42865)
  airflow/api_connexion/endpoints/backfill_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/backfill_schema.py
  airflow/models/backfill.py
  providers/tests/fab/auth_manager/api_endpoints/test_backfill_endpoint.py
  tests/api_connexion/endpoints/test_backfill_endpoint.py
  tests/models/test_backfill.py
Due: ruff, replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core

uv version bump to 0.4.20
  Dockerfile
  Dockerfile.ci
Due: replace-bad-characters, lint-dockerfile, check-extras-order, update-inlined-dockerfile-scripts

Fix main (#42903)
  tests/api_fastapi/views/public/test_dag_run.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix dag display name search
  airflow/models/dag.py
  tests/api_fastapi/views/public/test_dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix CI
  airflow/models/dag.py
  tests/api_fastapi/views/public/test_dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix main: js/types/api-generated.ts
  airflow/www/static/js/types/api-generated.ts
Due: replace-bad-characters, ts-compile-format-lint-www

delete dag_run init
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/dag_run.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

delete dag_run init
  airflow/www/static/js/types/api-generated.ts
Due: replace-bad-characters, ts-compile-format-lint-www

kubernetes package version bump to 31.0.0
  generated/provider_dependencies.json
  providers/src/airflow/providers/cncf/kubernetes/provider.yaml
Due: replace-bad-characters, update-breeze-cmd-output

Add druid endpoint connection from another PR
  providers/tests/apache/druid/hooks/test_druid.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Add possibility to override the conn type for Druid
  providers/src/airflow/providers/apache/druid/hooks/druid.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix missing scheme in test
  providers/tests/apache/druid/hooks/test_druid.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Set schema to None where it's unused
  providers/tests/apache/druid/hooks/test_druid.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

fix
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/connections.py
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

add delete dag run endpoint
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/dag_run.py
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Use url_from_endpoint inside HttpHook.
  providers/src/airflow/providers/http/hooks/http.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Deprecate session auth backend
  airflow/api/auth/backend/session.py
  providers/tests/fab/auth_manager/api_endpoints/test_auth.py
  providers/tests/fab/auth_manager/conftest.py
  tests/api_connexion/test_auth.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

refactored: Escape reserved words as column names
  providers/src/airflow/providers/common/sql/dialects/dialect.py
  providers/src/airflow/providers/common/sql/dialects/dialect.pyi
  providers/src/airflow/providers/common/sql/hooks/sql.py
  providers/src/airflow/providers/common/sql/hooks/sql.pyi
  providers/src/airflow/providers/microsoft/mssql/dialects/mssql.py
  providers/src/airflow/providers/postgres/dialects/postgres.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

AIP-65: Add DAG versioning support [skip ci]
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/dag_source_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_source_schema.py
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/cli/commands/dag_command.py
  airflow/dag_processing/collection.py
  airflow/dag_processing/manager.py
  airflow/example_dags/example_bash_decorator.py
  airflow/example_dags/plugins/event_listener.py
  airflow/jobs/scheduler_job_runner.py
  airflow/migrations/versions/0037_3_0_0_add_dag_versioning.py
  airflow/models/__init__.py
  airflow/models/dag.py
  airflow/models/dag_version.py
  airflow/models/dagbag.py
  airflow/models/dagcode.py
  airflow/models/dagrun.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/models/taskinstancehistory.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/db.py
  airflow/www/static/js/types/api-generated.ts
  airflow/www/views.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  scripts/ci/pre_commit/check_ti_vs_tis_attributes.py
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
Due: ruff, replace-bad-characters, lint-openapi, update-version, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-core, update-migration-references, update-er-diagram

refactored: Fixed initialisation of Dialects
  providers/src/airflow/providers/common/sql/hooks/sql.py
  providers/src/airflow/providers/microsoft/mssql/hooks/mssql.py
  providers/src/airflow/providers/postgres/hooks/postgres.py
  providers/tests/common/sql/dialects/test_dialect.py
  providers/tests/microsoft/mssql/dialects/test_mssql.py
  providers/tests/postgres/dialects/test_postgres.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

refactored: Renamed escape_reserved_word to escape_column_name
  providers/src/airflow/providers/common/sql/dialects/dialect.py
  providers/src/airflow/providers/common/sql/dialects/dialect.pyi
  providers/src/airflow/providers/common/sql/hooks/sql.py
  providers/src/airflow/providers/microsoft/mssql/dialects/mssql.py
  providers/src/airflow/providers/postgres/dialects/postgres.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Improving validation of task retries to handle None values (#42532)
  airflow/models/baseoperator.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Added directories for readOnlyFS
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
Due: replace-bad-characters, lint-helm-chart

updated directories
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/webserver/webserver-deployment.yaml
Due: replace-bad-characters, lint-helm-chart

Added tmp volumes to deployments and pods
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/rpc-server/rpc-server-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/values.yaml
  providers/src/airflow/providers/cncf/kubernetes/pod_template_file_examples/dags_in_image_template.yaml
  providers/src/airflow/providers/cncf/kubernetes/pod_template_file_examples/dags_in_volume_template.yaml
Due: replace-bad-characters, lint-helm-chart, lint-json-schema

fixed emptydirs
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/rpc-server/rpc-server-deployment.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  providers/src/airflow/providers/cncf/kubernetes/pod_template_file_examples/dags_in_image_template.yaml
  providers/src/airflow/providers/cncf/kubernetes/pod_template_file_examples/dags_in_volume_template.yaml
Due: replace-bad-characters, lint-helm-chart

updated worker tmp dir
  chart/files/pod-template-file.kubernetes-helm-yaml
Due: replace-bad-characters, lint-helm-chart

fixed triggerer tmp dir
  chart/templates/triggerer/triggerer-deployment.yaml
Due: replace-bad-characters, lint-helm-chart

updated values for statsd and pgboucer added tmp mount for pgbouncer
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/values.yaml
Due: replace-bad-characters, lint-helm-chart, lint-json-schema

updated postgres to 15.5.21
  chart/Chart.lock
  chart/Chart.yaml
  chart/charts/postgresql-13.2.24.tgz
  chart/charts/postgresql-15.5.21.tgz
Due: replace-bad-characters, lint-helm-chart

mark TestGKEStartKueueInsideClusterOperator tests with flaky decorator
  providers/tests/google/cloud/operators/test_kubernetes_engine.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

refactored: Reformatted TestMsSqlDialect
  providers/tests/microsoft/mssql/dialects/test_mssql.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Set up JWT token authentication in Fast APIs
  airflow/api/auth/backend/default.py
  airflow/api/auth/backend/jwt_token.py
  airflow/api/auth/backend/session.py
  airflow/api_fastapi/app.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/security.py
  airflow/api_fastapi/views/public/dags.py
  airflow/auth/managers/base_auth_manager.py
  airflow/auth/managers/simple/simple_auth_manager.py
  airflow/auth/managers/simple/views/auth.py
  airflow/config_templates/config.yml
  airflow/configuration.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/www/extensions/init_security.py
  providers/src/airflow/providers/fab/auth_manager/api_endpoints/token_endpoint.py
  providers/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/src/airflow/providers/fab/auth_manager/openapi/v1.yaml
  providers/src/airflow/providers/fab/auth_manager/schemas/token_schema.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, check-lazy-logging, mypy-core

refactored: Fixed constructor definition Dialect
  providers/src/airflow/providers/common/sql/dialects/dialect.pyi
Due: ruff, replace-bad-characters

refactored: Fixed TestDbApiHook
  providers/tests/common/sql/hooks/test_dbapi.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Airflow Core/Docs adjustments for introduction of AIP-69 Edge Executor
  docs/apache-airflow/core-concepts/executor/index.rst
Due: replace-bad-characters, update-version

Change directory used by simple auth manager to store generated passwords
  Dockerfile.ci
  airflow/auth/managers/simple/simple_auth_manager.py
  scripts/docker/entrypoint_ci.sh
  tests/auth/managers/simple/test_simple_auth_manager.py
  tests/auth/managers/simple/views/test_auth.py
Due: ruff, replace-bad-characters, lint-dockerfile, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, shellcheck, check-docstring-param-types, update-inlined-dockerfile-scripts, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Migrate the public endpoint Delete DAG to FastAPI
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/dags.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/views/public/test_dags.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core
