Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

fixup! fix test
  airflow/models/auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Use token blocklist and add necessary endpoints
  .pre-commit-config.yaml
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/auth_schema.py
  airflow/api_connexion/security.py
  airflow/migrations/versions/09dd4b177b92_add_jwt_token_table.py
  airflow/models/__init__.py
  airflow/models/auth.py
  airflow/www/security.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
  tests/models/test_auth.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names, flynt, mypy, pylint, flake8

fixup! Rename token table
  airflow/models/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Allow storing token in header or cookie.
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/auth_schema.py
  airflow/config_templates/default_webserver_config.py
  airflow/www/security.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
Due: lint-openapi, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Removing check for if user already logged in, since we no longer set session on api
  airflow/www/security.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Apply suggestions from code review
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/migrations/versions/22ab4efd5674_add_token_blocklist.py
  airflow/models/auth.py
  airflow/www/security.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

move some api related stuff from security manager
  .pre-commit-config.yaml
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/www/security.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names, flynt, mypy, pylint, flake8

Move auth_schema out of security manager and fix tests
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/www/security.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add method to delete expired tokens
  airflow/models/auth.py
  tests/models/test_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Rename token table
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/api_connexion/security.py
  airflow/migrations/versions/43c2bf7117bd_add_jwttoken_table.py
  airflow/models/auth.py
  airflow/www/security.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
  tests/models/test_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Do not save oauth_token in session
  airflow/api_connexion/endpoints/auth_endpoint.py
  tests/api_connexion/endpoints/test_auth_endpoint.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Move some common code to security manager
  airflow/api_connexion/endpoints/auth_endpoint.py
  airflow/www/security.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix test
  airflow/models/auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! Allow storing token in header or cookie.
  airflow/www/app.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fix jwttoken model test
  airflow/models/auth.py
  tests/models/test_auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix migration
  airflow/migrations/versions/09dd4b177b92_add_jwt_token_table.py
  airflow/models/auth.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixup! fixup! Allow storing token in header or cookie.
  airflow/api_connexion/endpoints/auth_endpoint.py
  docs/spelling_wordlist.txt
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, flynt, mypy, pylint, flake8

Added support for including headers in qubole results
  airflow/providers/qubole/CHANGELOG.rst
  airflow/providers/qubole/hooks/qubole.py
  airflow/providers/qubole/hooks/qubole_check.py
  airflow/providers/qubole/operators/qubole.py
  airflow/providers/qubole/provider.yaml
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Added missing issue number
  airflow/providers/qubole/CHANGELOG.rst
Due: language-matters

Support mysql db in the helm chart
  chart/templates/secrets/metadata-connection-secret.yaml
  chart/templates/secrets/result-backend-connection-secret.yaml
  chart/tests/test_metadata_connection_secret.py
  chart/tests/test_result_backend_connection_secret.py
  chart/values.schema.json
  chart/values.yaml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, flynt, mypy, pylint, flake8

Improve Test Coverage for Kubernetes Executor
  tests/executors/test_kubernetes_executor.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Refactor building of results backend connection secret
  chart/templates/secrets/result-backend-connection-secret.yaml
Due: language-matters, helm-lint

Use rbac.create Helm best practice
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/templates/rbac/pod-cleanup-role.yaml
  chart/templates/rbac/pod-cleanup-rolebinding.yaml
  chart/templates/rbac/pod-launcher-role.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/workers/worker-serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

Enable serviceAccount creation per component
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/workers/worker-serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

Adds service accounts to every deployable service, uid for pgbouncer/statsd, dedicated jobs folder/serviceAccount
  chart/templates/flower/flower-deployment.yaml
  chart/templates/flower/flower-serviceaccount.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/jobs-serviceaccount.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-serviceaccount.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/statsd/statsd-serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

Add RBAC unit tests
  chart/tests/test_rbac.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, flynt, mypy, pylint, flake8

Add conditional to webserver SA creation
  chart/templates/webserver/webserver-serviceaccount.yaml
Due: language-matters, helm-lint

rebase with master
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/templates/workers/worker-serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

Use ServiceAccount name if given
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/templates/rbac/pod-cleanup-rolebinding.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/templates/workers/worker-serviceaccount.yaml
Due: language-matters, helm-lint

remove airflow.name from template, add fullnameOverride and nameOverride to readme
  chart/templates/_helpers.yaml
  chart/values.yaml
Due: language-matters, helm-lint, json-schema

conditionally create worker service account using same checks as the deployment
  chart/templates/workers/worker-serviceaccount.yaml
  chart/tests/test_basic_helm_chart.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, flynt, mypy, pylint, flake8

fixes service account templating for pod cleanup/launcher rolebindings
  chart/templates/rbac/pod-cleanup-rolebinding.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/tests/test_pod_launcher_role.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, flynt, mypy, pylint, flake8

adds cleanup sa annotations, missing job annotations from values.yaml, update docs with redis, jobs, and cleanup options
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Due: language-matters, helm-lint, provider-yamls, json-schema

Revamps the way service accounts are generated, fixes all test issues, adds rbac to redis
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/_helpers.yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/flower/flower-serviceaccount.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/jobs-serviceaccount.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-serviceaccount.yaml
  chart/templates/rbac/pod-log-reader-role.yaml
  chart/templates/rbac/pod-log-reader-rolebinding.yaml
  chart/templates/redis/redis-serviceaccount.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/statsd/statsd-serviceaccount.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/templates/workers/worker-serviceaccount.yaml
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_git_sync_webserver.py
  chart/tests/test_migrate_database_job.py
  chart/tests/test_pod_launcher_role.py
  chart/tests/test_rbac.py
  chart/values.schema.json
  chart/values.yaml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, flynt, mypy, pylint, flake8

remove serviceAccountAnnotations in favor of <service>.serviceaccount.annotations, add items to new docs location
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Due: language-matters, helm-lint, provider-yamls, json-schema

fix formatting for failing tests, add nameOverride and fullnameOverride to values schema
  chart/tests/test_rbac.py
  chart/values.schema.json
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, flynt, mypy, pylint, flake8

change name of CLEANUP_DEPLOYMENT_KIND_NAME_TUPLES to DEPLOYMENT_NO_RBAC_NO_SA_KIND_NAME_TUPLES
  chart/tests/test_rbac.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, flynt, mypy, pylint, flake8

rebase with master and fix tests
  chart/templates/jobs/create-user-job-serviceaccount.yaml
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_rbac.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, flynt, mypy, pylint, flake8

split jobs into createUserJob and migrateDatabaseJob, address other PR comments
  chart/templates/_helpers.yaml
  chart/templates/jobs/create-user-job-serviceaccount.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job-serviceaccount.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/tests/test_annotations.py
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_rbac.py
  chart/values.schema.json
  chart/values.yaml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, flynt, mypy, pylint, flake8

fix static checks
  chart/tests/test_git_sync_webserver.py
  chart/tests/test_rbac.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, flynt, mypy, pylint, flake8
