Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-extras, python2-fastcheck, check-providers-package, python2-compile, pydevd, check-apache-license, airflow-config-yaml, mypy, flake8, bat-tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$, but not: ^airflow/_vendor/.*$
  lint-dockerfile: any of: ^Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/_utils.sh$|s^scripts/ci/docker_compose/local.yml"
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  python2-fastcheck: any of: \.py$, but not: ^airflow/_vendor|^dev/
  check-providers-package: any of: \.py$, but not: ^airflow/_vendor
  python2-compile: any of: \.py$, but not: ^dev/
  pydevd: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$|^dev
  flake8: any of: \.py$, but not: ^dev/
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$

Fix the incorrect description of pod_mutation_hook in kubernetes.rst
  docs/kubernetes.rst
Due: none

Latest debian-buster release broke image build
  Dockerfile.ci
Due: lint-dockerfile

Latest debian-buster release broke image build (#8758)
  Dockerfile.ci
Due: lint-dockerfile

fix white-space
  docs/kubernetes.rst
Due: none

Add google_api_to_s3_transfer docs howto link
  docs/operators-and-hooks-ref.rst
Due: none

Support same short flags for `create user` as 1.10 did for `user_create`
  airflow/cli/cli_parser.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Add imap_attachment_to_s3 example dag and system test
  airflow/providers/amazon/aws/example_dags/example_imap_attachment_to_s3.py
  docs/howto/operator/amazon/aws/imap_attachment_to_s3.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/operators/test_imap_attachment_to_s3_system.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

trying to rebuild
  tests/sensors/test_external_task_sensor.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Set store_serialized_dags from config instead of defaulting it to false
  airflow/api/common/experimental/delete_dag.py
  airflow/migrations/versions/cc1e65623dc7_add_max_tries_column_to_task_instance.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/taskinstance.py
  airflow/settings.py
  airflow/utils/dag_processing.py
  airflow/www/dagbag_loader.py
  airflow/www/views.py
  airflow/www_rbac/views.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Add SQL query tracking in tests
  TESTING.rst
  scripts/perf/perf_kit/__init__.py
  scripts/perf/perf_kit/sqlalchemy.py
  tests/conftest.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fixup! Add SQL query tracking in tests
  TESTING.rst
  scripts/perf/perf_kit/sqlalchemy.py
  tests/conftest.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fixup! fixup! Add SQL query tracking in tests
  TESTING.rst
Due: none

fixup! fixup! Show Deprecation warning on duplicate task ids
  airflow/models/baseoperator.py
  airflow/models/dag.py
  tests/models/test_dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fixup! Show Deprecation warning on duplicate task ids
  tests/models/test_dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Show Deprecation warning on duplicate task ids
  airflow/models/baseoperator.py
  airflow/models/dag.py
  tests/models/test_dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

refactor dag code
  airflow/models/dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fixed pylint errors
  airflow/providers/amazon/aws/hooks/step_function.py
  airflow/providers/amazon/aws/operators/step_function_get_execution_output.py
  airflow/providers/amazon/aws/operators/step_function_start_execution.py
  airflow/providers/amazon/aws/sensors/step_function_execution.py
  tests/providers/amazon/aws/hooks/test_step_function.py
  tests/providers/amazon/aws/operators/test_step_function_start_execution.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fixed pylint error: line too long after refactor
  tests/providers/amazon/aws/hooks/test_step_function.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

test fix
  tests/serialization/test_dag_serialization.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fixup! fixup! fixup! Add SQL query tracking in tests
  tests/conftest.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Use pytest for recording warning message
  tests/models/test_dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Mark keywords-only argumnets in method signatures
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/hooks/vision.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Set store_serialized_dags from config in UI
  airflow/models/dagbag.py
  airflow/www/views.py
  setup.cfg
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Show Deprecation warning on duplicate Task ids (#8728)
  airflow/models/baseoperator.py
  airflow/models/dag.py
  tests/models/test_dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Backport packages are renamed to include backport in their name
  CONTRIBUTING.rst
  TESTING.rst
  backport_packages/setup_backport_packages.py
  scripts/ci/in_container/run_test_package_installation.sh
Due: shellcheck, update-extras, python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8, bat-tests

[AIRFLOW-6856] Bulk fetch paused_dag_ids
  airflow/dag/base_dag.py
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/utils/dag_processing.py
  tests/models/test_dag.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Fix running DAG from UI when dag serialization is on
  airflow/models/dag.py
  airflow/models/dagbag.py
  tests/www/test_views.py
  tests/www_rbac/test_views.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Correctly store non-default Nones in serialized tasks/dags
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

fixup! Support same short flags for `create user` as 1.10 did for `user_create`
  airflow/cli/cli_parser.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

BugFix: Unpausing a DAG with catchup=False creates an extra DAG run
  airflow/jobs/scheduler_job.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Fix Slack PR
  airflow/providers/slack/hooks/slack.py
  tests/providers/slack/hooks/test_slack.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

make celery worker_prefetch_multiplier configurable
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_celery.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, airflow-config-yaml, mypy, flake8

modify correct config file
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: yamllint, airflow-config-yaml

update worker_prefetch_multiplier comment in config
  airflow/config_templates/default_airflow.cfg
Due: airflow-config-yaml

Fix example; generate default config
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: yamllint, airflow-config-yaml

Add example, update language
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: yamllint, airflow-config-yaml

[ADD] analysis error message & result error message
  airflow/www_rbac/static/css/curve.css
  airflow/www_rbac/templates/airflow/curve.html
  airflow/www_rbac/views.py
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8

Unify collection names - xcomEntries
  openapi.yaml
Due: yamllint

[FIX] generateBoltNumber [ADD] parse result error message
  airflow/www_rbac/api/experimental/utils.py
  airflow/www_rbac/static/css/curve.css
  airflow/www_rbac/templates/airflow/curve.html
Due: python2-fastcheck, check-providers-package, python2-compile, pydevd, mypy, flake8
