Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-2-compatibility, update-breeze-cmd-output, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-system-tests-tocs, create-missing-init-py-files-tests, run-mypy, run-flake8, lint-javascript, update-migration-references

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-2-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Add deferrable mode to `GCSObjectsWithPrefixExistenceSensor` (#30618)
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/cloud/triggers/gcs.py
  docs/apache-airflow-providers-google/operators/cloud/gcs.rst
  tests/providers/google/cloud/sensors/test_gcs.py
  tests/providers/google/cloud/triggers/test_gcs.py
  tests/system/providers/google/cloud/gcs/example_gcs_sensor.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix mappedStates case
  airflow/www/static/js/dag/InstanceTooltip.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
Due: none

Split Celery logs into stdout/stderr (#30485)
  airflow/cli/commands/celery_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, run-mypy, run-flake8

remove stray console log
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
Due: none

Add section query param in get config endpoint
  airflow/api_connexion/endpoints/config_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Due: lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

optimize deferrable mode in GCSObjectExistenceSensor
  airflow/providers/google/cloud/sensors/gcs.py
  tests/providers/google/cloud/sensors/test_gcs.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix tests
  tests/providers/google/cloud/sensors/test_gcs.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Do not run compatibility checks if we only build openlineage (#30912)
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

Improve task group UI in new graph
  airflow/www/static/js/dag/details/graph/Node.tsx
Due: none

Fix mappedStates case (#30916)
  airflow/www/static/js/dag/InstanceTooltip.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
Due: none

Mark Task Groups as Success/Failure (#30478)
  airflow/models/dag.py
  airflow/www/static/js/api/useMarkFailedTask.ts
  airflow/www/static/js/api/useMarkSuccessTask.ts
  airflow/www/static/js/api/useMarkTaskDryRun.ts
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/details/taskInstance/taskActions/MarkInstanceAs.tsx
  airflow/www/views.py
  tests/models/test_dag.py
  tests/www/views/test_views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Optimize deferrable mode in `GCSObjectExistenceSensor` (#30901)
  airflow/providers/google/cloud/sensors/gcs.py
  tests/providers/google/cloud/sensors/test_gcs.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Allow to run suspended provider changes PRs if proper label is set
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Due: update-breeze-cmd-output, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Github run id:4822212919
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

fixup! Allow to run suspended provider changes PRs if proper label is set
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Due: update-breeze-cmd-output, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, run-mypy, run-flake8

Allow to run suspended provider changes PRs if proper label is set (#30919)
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Due: update-breeze-cmd-output, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, lint-markdown, check-docstring-param-types, run-mypy, run-flake8

reword comment
  airflow/models/taskinstance.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

add a bit more info on notimplementedexception
  airflow/models/taskinstance.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Remove print from dag trigger command
  airflow/cli/commands/dag_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

adjust task group color
  airflow/www/static/js/dag/details/graph/Node.tsx
Due: none

Updating constraints. Github run id:4823149620
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Include node height/width in center-on-task logic
  airflow/www/static/js/dag/details/graph/index.tsx
Due: none

Improve task group UI in new graph (#30918)
  airflow/www/static/js/dag/details/graph/Node.tsx
Due: none

Update tests/providers/amazon/aws/hooks/test_emr.py
  tests/providers/amazon/aws/hooks/test_emr.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix order_by in list dag rest api
  airflow/api_connexion/endpoints/dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Improving Redshift index page (#30907)
  docs/apache-airflow-providers-amazon/operators/redshift/index.rst
Due: update-version, check-provider-yaml-valid

Updating constraints. Github run id:4824416657
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Add deferrable mode to DataprocInstantiateInlineWorkflowTemplateOperator
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/triggers/test_dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_workflow_deferrable.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Address PR Feedback
  tests/providers/amazon/aws/hooks/test_emr.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix test
  tests/api_connexion/endpoints/test_dag_endpoint.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Add deferrable mode to DataprocInstantiateInlineWorkflowTemplateOperator (#30878)
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/triggers/test_dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_workflow_deferrable.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix tests
  tests/api_connexion/endpoints/test_dag_endpoint.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Use the Task Group explicitly passed to 'partial' if any
  airflow/models/baseoperator.py
  tests/models/test_mappedoperator.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Include node height/width in center-on-task logic (#30924)
  airflow/www/static/js/dag/details/graph/index.tsx
Due: none

Initialize plugins for cli appbuilder
  airflow/utils/cli_app_builder.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Github run id:4825348442
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Optimize deferrable mode execution
  airflow/providers/google/cloud/sensors/gcs.py
  tests/providers/google/cloud/sensors/test_gcs.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Replace region property
  airflow/providers/amazon/aws/hooks/base_aws.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Added ability to sort on last_dagrun column
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add tests
  tests/api_connexion/endpoints/test_config_endpoint.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8
