Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Fix minor display issue with migration to airflow 3 docs (#60749)
  airflow-core/docs/installation/upgrading_to_airflow3.rst
Due: replace-bad-characters

Update default helm runtime version to 3.19.0 (#60740)
  Dockerfile.ci
  chart/newsfragments/50394.significant.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  helm-tests/tests/helm_tests/airflow_aux/test_basic_helm_chart.py
  helm-tests/tests/helm_tests/airflow_core/test_api_server.py
Due: replace-bad-characters, lint-dockerfile, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-docstring-param-types, update-inlined-dockerfile-scripts, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Apply suggestions from code review from Amogh
  COMMITTERS.rst
Due: replace-bad-characters

Apply suggestions from code review from Wei
  COMMITTERS.rst
Due: replace-bad-characters

refactor: Splitted run from run_command
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Apply suggestion from Wei further down in the text body
  COMMITTERS.rst
Due: replace-bad-characters

refactor: Added get_command_output method in WinRMHook
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/triggers/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: get_conn should be cached instead of cached property
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Added output encoding
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

fill information input and select multi-select options before performing an action.
  airflow-core/src/airflow/ui/tests/e2e/pages/RequiredActionsPage.ts
Due: replace-bad-characters

Improve wording after review from Amogh
  COMMITTERS.rst
Due: replace-bad-characters

Apply suggestions from Amogh
  COMMITTERS.rst
Due: replace-bad-characters

Enhance README with post-installation checklist and use cases
  README.md
Due: replace-bad-characters, update-supported-versions, generate-pypi-readme, lint-markdown

refactor: Fixed return of get_command_output method
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: return code can be None
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Finish workers.celery.kerberosInitContainer & add workers.kubernetes.kerberosInitContainer
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/NOTES.txt
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  helm-tests/tests/helm_tests/airflow_aux/test_pod_template_file.py
  helm-tests/tests/helm_tests/airflow_core/test_worker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, lint-json-schema, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

adding a 5-second delay before interacting with the information input field
  airflow-core/src/airflow/ui/tests/e2e/pages/RequiredActionsPage.ts
Due: replace-bad-characters

refactor: Pass connection as argumetn to run_command and get_command_output as it cannot be resolved with the asyncio.to_thread of the trigger
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/triggers/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Forgot to pass connection in deferred mode
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Refactored run_command
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Reformatted WinRMHook
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Removed TODO in WinRMHook
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Only instantiate WinRM protocol if it doesn't already exist when invoking get_conn
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Finish workers.celery.kerberosInitContainer & add workers.kubernetes.kerberosInitContainer (#60751)
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/NOTES.txt
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  helm-tests/tests/helm_tests/airflow_aux/test_pod_template_file.py
  helm-tests/tests/helm_tests/airflow_core/test_worker.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, lint-json-schema, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

optimized bigtabledeletetableoperator
  providers/google/src/airflow/providers/google/cloud/hooks/bigtable.py
  providers/google/src/airflow/providers/google/cloud/operators/bigtable.py
  providers/google/tests/unit/google/cloud/operators/test_bigtable.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

#57061 (fix): fix race condition task failure update
  airflow-core/src/airflow/api/common/mark_tasks.py
  airflow-core/tests/unit/api/common/test_mark_tasks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Updating constraints. GitHub run id:21117372890
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
Due: replace-bad-characters

Fix duplicate code and apply formatting
  airflow-core/src/airflow/ui/src/pages/Dag/Calendar/CalendarCell.tsx
  airflow-core/src/airflow/ui/tests/e2e/pages/DagCalendarPage.ts
Due: replace-bad-characters

refactor: Refactored get_conn
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Apply pre-commit indentation formatting
  airflow-core/src/airflow/ui/tests/e2e/specs/dag-calendar.spec.ts
Due: replace-bad-characters

refactor: Fixed assignment return value of get_command_output
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/triggers/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Fixed return value of get_command_output
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

60558 (feature) : added ssh sftp object store
  providers/sftp/docs/filesystems/index.rst
  providers/sftp/docs/filesystems/sftp.rst
  providers/sftp/docs/index.rst
  providers/sftp/provider.yaml
  providers/sftp/pyproject.toml
  providers/sftp/src/airflow/providers/sftp/fs/__init__.py
  providers/sftp/src/airflow/providers/sftp/fs/sftp.py
  providers/sftp/src/airflow/providers/sftp/get_provider_info.py
  providers/sftp/tests/unit/sftp/fs/__init__.py
  providers/sftp/tests/unit/sftp/fs/test_sftp.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Enable unseting workers.celery values
  chart/values.schema.json
Due: replace-bad-characters, lint-json-schema

fix depreciation warning
  providers/sftp/src/airflow/providers/sftp/fs/sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix indentation to exactly 2 spaces throughout
  airflow-core/src/airflow/ui/tests/e2e/specs/dag-calendar.spec.ts
Due: replace-bad-characters

Add filename display to DAG Code tab for easier file identification
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
Due: replace-bad-characters

documentation clean ups
  providers/sftp/docs/filesystems/sftp.rst
Due: replace-bad-characters

Fix static checks
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Code/FileLocation.tsx
Due: replace-bad-characters

fix: force close modal if not closed after successful API response
  airflow-core/src/airflow/ui/tests/e2e/pages/BackfillPage.ts
Due: replace-bad-characters
