Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

TS SDK: serialize a native Dag to Dag JSON (#73441)
  .pre-commit-config.yaml
  airflow-core/docs/authoring-and-scheduling/language-sdks/typescript.rst
  scripts/ci/lang_sdk_serialization/__init__.py
  scripts/ci/lang_sdk_serialization/compare.py
  scripts/ci/lang_sdk_serialization/serialize_python.py
  scripts/ci/lang_sdk_serialization/test_dags.yaml
  scripts/tests/ci/lang_sdk_serialization/__init__.py
  scripts/tests/ci/lang_sdk_serialization/test_compare.py
  ts-sdk/.pre-commit-config.yaml
  ts-sdk/package.json
  ts-sdk/pnpm-lock.yaml
  ts-sdk/scripts/ci/prek/check_serialization_conformance.py
  ts-sdk/src/coordinator/serde.ts
  ts-sdk/src/sdk/dag.ts
  ts-sdk/tests/conformance/serialize_typescript.ts
  ts-sdk/tests/coordinator/arg-binding.test.ts
  ts-sdk/tests/coordinator/serde.test.ts
  ts-sdk/tests/public-api.test.ts
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Reject supervisor responses that belong to a different request
  task-sdk/src/airflow/sdk/execution_time/comms.py
  task-sdk/tests/task_sdk/execution_time/test_comms.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix date range filter inputs committing on every keystroke (#69891)
  airflow-core/src/airflow/ui/src/components/FilterBar/filters/DateInput.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/filters/DateRangeFilter.test.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/filters/DateRangeFilter.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/filters/DateRangeInputs.tsx
  airflow-core/src/airflow/ui/src/hooks/useDateRangeFilter.ts
Due: replace-bad-characters

Prevent path traversal in ObjectStoragePath recursive copy to local
  task-sdk/src/airflow/sdk/io/path.py
  task-sdk/tests/task_sdk/io/test_path.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Harden lxml parser for SAML IdP response (defence-in-depth)
  providers/amazon/src/airflow/providers/amazon/aws/hooks/base_aws.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_base_aws.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix short-circuit inside a mapped task group not skipping downstream (#73959)
  airflow-core/src/airflow/ti_deps/deps/not_previously_skipped_dep.py
  airflow-core/tests/unit/ti_deps/deps/test_not_previously_skipped_dep.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix ruff I001 import order in airflowctl test_client
  airflow-ctl/tests/airflow_ctl/api/test_client.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Tighten ctl --env tests per AGENTS.md review standards
  airflow-ctl/tests/airflow_ctl/api/test_client.py
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_version_command.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Make the tracer fork test fail without the fork-safe override
  shared/observability/tests/observability/test_traces.py
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Remove duplicate dag_run (state, dag_id) index on MySQL
  airflow-core/docs/migrations-ref.rst
  airflow-core/src/airflow/migrations/env.py
  airflow-core/src/airflow/migrations/versions/0142_3_4_0_remove_duplicate_dag_run_state_dag_id_indexes.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/tests/unit/migrations/test_0142_remove_duplicate_dag_run_state_dag_id_indexes.py
  airflow-core/tests/unit/models/test_dagrun.py
  airflow-core/tests/unit/utils/test_db.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-revision-heads-map, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

TS SDK: answer the Dag-parsing request from bundle.serve
  ts-sdk/src/coordinator/runtime.ts
  ts-sdk/tests/coordinator/integration.test.ts
Due: replace-bad-characters

feat(ui): Persist DAGs list match anywhere search toggle in URL
  airflow-core/src/airflow/ui/src/constants/searchParams.ts
  airflow-core/src/airflow/ui/src/hooks/useAdvancedSearch.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
Due: replace-bad-characters

Go SDK: declare data edges with airflow.Inputs (#73895)
  go-sdk/airflow/dag.go
  go-sdk/airflow/inputs.go
  go-sdk/airflow/inputs_test.go
  go-sdk/airflow/task_handler.go
  go-sdk/airflow/task_option.go
  go-sdk/internal/bundle/task.go
  go-sdk/pkg/binding/binding.go
  go-sdk/pkg/binding/binding_test.go
Due: none

Rename the toolset retry helper and use a plain comment
  providers/common/ai/src/airflow/providers/common/ai/toolsets/datafusion.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/hook.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/managed_agent.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/object_storage.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/sql.py
  providers/common/ai/src/airflow/providers/common/ai/utils/toolset_base.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Speed up CI image restores with zstd-compressed stashes
  .github/workflows/ci-image-build.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

Use async database access for Variable key listing
  airflow-core/src/airflow/api_fastapi/execution_api/routes/variables.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels

Parse Dag files through the Task SDK importers
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/dag_processing/collection.py
  airflow-core/src/airflow/dag_processing/dagbag.py
  airflow-core/src/airflow/dag_processing/importers/__init__.py
  airflow-core/src/airflow/dag_processing/importers/base.py
  airflow-core/src/airflow/dag_processing/importers/python_importer.py
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/src/airflow/dag_processing/processor.py
  airflow-core/src/airflow/models/dagcode.py
  airflow-core/src/airflow/models/serialized_dag.py
  airflow-core/src/airflow/utils/file.py
  airflow-core/tests/unit/dag_processing/importers/__init__.py
  airflow-core/tests/unit/dag_processing/importers/test_registry.py
  airflow-core/tests/unit/dag_processing/test_collection.py
  airflow-core/tests/unit/dag_processing/test_dagbag.py
  airflow-core/tests/unit/dag_processing/test_manager.py
  airflow-core/tests/unit/dag_processing/test_processor.py
  airflow-core/tests/unit/models/test_dagcode.py
  devel-common/src/tests_common/test_utils/config.py
  generated/known_sdk_imports_in_core.txt
  task-sdk/src/airflow/sdk/execution_time/schema/schema.json
  task-sdk/src/airflow/sdk/execution_time/schema/versions/__init__.py
  task-sdk/src/airflow/sdk/execution_time/schema/versions/v2026_10_30.py
  ts-sdk/src/generated/supervisor.ts
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Mark dag_importer_configs, the per-bundle importers key and AbstractDagImporter as experimental
  airflow-core/src/airflow/config_templates/config.yml
  task-sdk/src/airflow/sdk/importers/base.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add first-class capabilities to Common AI AgentOperator
  providers/common/ai/docs/capabilities.rst
  providers/common/ai/docs/code_mode.rst
  providers/common/ai/docs/features.rst
  providers/common/ai/docs/guardrails.rst
  providers/common/ai/docs/operators/agent.rst
  providers/common/ai/docs/redirects.txt
  providers/common/ai/docs/stability.rst
  providers/common/ai/docs/tool_approval.rst
  providers/common/ai/src/airflow/providers/common/ai/example_dags/example_agent_capabilities.py
  providers/common/ai/src/airflow/providers/common/ai/exceptions.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/tests/unit/common/ai/decorators/test_agent.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Mask tool output from every capability in Common AI agents
  providers/common/ai/docs/agent_security.rst
  providers/common/ai/docs/capabilities.rst
  providers/common/ai/docs/observability.rst
  providers/common/ai/src/airflow/providers/common/ai/hooks/pydantic_ai.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/src/airflow/providers/common/ai/utils/masking.py
  providers/common/ai/src/airflow/providers/common/ai/utils/toolset_base.py
  providers/common/ai/tests/unit/common/ai/hooks/test_pydantic_ai.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
  providers/common/ai/tests/unit/common/ai/utils/test_masking.py
  providers/common/ai/tests/unit/common/ai/utils/test_toolset_base.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Leave export destinations untouched when an export fails
  providers/common/ai/docs/sandbox/configuration.rst
  providers/common/ai/src/airflow/providers/common/ai/sandbox/base.py
  providers/common/ai/src/airflow/providers/common/ai/sandbox/opensandbox.py
  providers/common/ai/src/airflow/providers/common/ai/sandbox/sbx.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/sandbox.py
  providers/common/ai/tests/unit/common/ai/sandbox/test_base.py
  providers/common/ai/tests/unit/common/ai/sandbox/test_opensandbox.py
  providers/common/ai/tests/unit/common/ai/sandbox/test_sbx.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_sandbox.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Keep OpenAPI error responses in sync with the statuses routes raise (#71647) (#73968)
  airflow-core/.pre-commit-config.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/connections.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/log.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/variables.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/assets.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/partitioned_dag_runs.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/teams.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/asset_events.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/hitl.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  scripts/ci/prek/check_openapi_exception_doc_in_sync.py
  scripts/tests/ci/prek/test_check_openapi_exception_doc_in_sync.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-dev, generate-tasksdk-datamodels, check-contextmanager-class-decorators

Close German Translation Gaps 2026-09-30 (#73980)
  airflow-core/src/airflow/ui/public/i18n/locales/de/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dashboard.json
Due: replace-bad-characters

Let Common AI toolsets use the agent's tool retry budget (#73957)
  providers/common/ai/docs/toolsets/datafusion.rst
  providers/common/ai/docs/toolsets/hook.rst
  providers/common/ai/docs/toolsets/index.rst
  providers/common/ai/docs/toolsets/object_storage.rst
  providers/common/ai/docs/toolsets/sql.rst
  providers/common/ai/src/airflow/providers/common/ai/tools/_from_toolset.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/datafusion.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/hook.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/langchain_bridge.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/managed_agent.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/object_storage.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/sql.py
  providers/common/ai/src/airflow/providers/common/ai/utils/toolset_base.py
  providers/common/ai/tests/unit/common/ai/tools/test__from_toolset.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_retry_budget.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add a vendor-neutral managed-agent hook contract to Common AI
  dev/breeze/tests/test_selective_checks.py
  providers/amazon/docs/index.rst
  providers/amazon/docs/operators/bedrock.rst
  providers/amazon/pyproject.toml
  providers/amazon/src/airflow/providers/amazon/aws/hooks/bedrock.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_bedrock.py
  providers/common/ai/docs/toolsets/index.rst
  providers/common/ai/docs/toolsets/managed_agent.rst
  providers/common/ai/src/airflow/providers/common/ai/durable/caching_toolset.py
  providers/common/ai/src/airflow/providers/common/ai/exceptions.py
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/__init__.py
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/base.py
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/failover.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/__init__.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/managed_agent.py
  providers/common/ai/tests/unit/common/ai/durable/test_caching_toolset.py
  providers/common/ai/tests/unit/common/ai/managed_agents/__init__.py
  providers/common/ai/tests/unit/common/ai/managed_agents/test_base.py
  providers/common/ai/tests/unit/common/ai/managed_agents/test_failover.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_managed_agent.py
  providers/google/docs/index.rst
  providers/google/docs/operators/cloud/vertex_ai.rst
  providers/google/pyproject.toml
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/agent_engine.py
  providers/google/tests/unit/google/cloud/hooks/vertex_ai/test_agent_engine.py
  shared/observability/src/airflow_shared/observability/metrics/metrics_template.yaml
  uv.lock
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Fix check-conn-id-templated crashing on a vanishing __pycache__
  scripts/ci/prek/check_conn_id_templated.py
  scripts/tests/ci/prek/test_check_conn_id_templated.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Rename managed-agent helpers after review
  providers/amazon/src/airflow/providers/amazon/aws/hooks/bedrock.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_bedrock.py
  providers/common/ai/docs/toolsets/managed_agent.rst
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/base.py
  providers/common/ai/src/airflow/providers/common/ai/managed_agents/failover.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/managed_agent.py
  providers/common/ai/tests/unit/common/ai/managed_agents/test_base.py
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/agent_engine.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add first-class `capabilities` to Common AI `AgentOperator` (#73984)
  providers/common/ai/docs/capabilities.rst
  providers/common/ai/docs/code_mode.rst
  providers/common/ai/docs/features.rst
  providers/common/ai/docs/guardrails.rst
  providers/common/ai/docs/operators/agent.rst
  providers/common/ai/docs/redirects.txt
  providers/common/ai/docs/stability.rst
  providers/common/ai/docs/tool_approval.rst
  providers/common/ai/src/airflow/providers/common/ai/example_dags/example_agent_capabilities.py
  providers/common/ai/src/airflow/providers/common/ai/exceptions.py
  providers/common/ai/src/airflow/providers/common/ai/operators/agent.py
  providers/common/ai/tests/unit/common/ai/decorators/test_agent.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Parse Dag files through the Task SDK importers (#73853)
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/dag_processing/collection.py
  airflow-core/src/airflow/dag_processing/dagbag.py
  airflow-core/src/airflow/dag_processing/importers/__init__.py
  airflow-core/src/airflow/dag_processing/importers/base.py
  airflow-core/src/airflow/dag_processing/importers/python_importer.py
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/src/airflow/dag_processing/processor.py
  airflow-core/src/airflow/models/dagcode.py
  airflow-core/src/airflow/models/serialized_dag.py
  airflow-core/src/airflow/utils/file.py
  airflow-core/tests/unit/dag_processing/importers/__init__.py
  airflow-core/tests/unit/dag_processing/importers/test_registry.py
  airflow-core/tests/unit/dag_processing/test_collection.py
  airflow-core/tests/unit/dag_processing/test_dagbag.py
  airflow-core/tests/unit/dag_processing/test_manager.py
  airflow-core/tests/unit/dag_processing/test_processor.py
  airflow-core/tests/unit/models/test_dagcode.py
  devel-common/src/tests_common/test_utils/config.py
  generated/known_sdk_imports_in_core.txt
  task-sdk/src/airflow/sdk/execution_time/schema/schema.json
  task-sdk/src/airflow/sdk/execution_time/schema/versions/__init__.py
  task-sdk/src/airflow/sdk/execution_time/schema/versions/v2026_10_30.py
  task-sdk/src/airflow/sdk/importers/base.py
  ts-sdk/src/generated/supervisor.ts
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Bound get_schema results for very wide tables in the SQL toolsets
  providers/common/ai/docs/changelog.rst
  providers/common/ai/docs/toolsets/datafusion.rst
  providers/common/ai/docs/toolsets/sql.rst
  providers/common/ai/src/airflow/providers/common/ai/toolsets/datafusion.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/sql.py
  providers/common/ai/src/airflow/providers/common/ai/utils/query_results.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_datafusion.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_sql.py
  providers/common/ai/tests/unit/common/ai/utils/test_query_results.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-changelog-has-no-duplicates, check-changelog-format, check-lazy-logging, check-contextmanager-class-decorators

Fix check-conn-id-templated crashing on a vanishing __pycache__ (#74016)
  scripts/ci/prek/check_conn_id_templated.py
  scripts/tests/ci/prek/test_check_conn_id_templated.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Go SDK: add airflow.TriggerDagRun, a task that triggers a Dag run
  go-sdk/airflow/dag.go
  go-sdk/airflow/dag_test.go
  go-sdk/airflow/inputs.go
  go-sdk/airflow/spec.gen.go
  go-sdk/airflow/trigger_dag_run.go
  go-sdk/airflow/trigger_dag_run_test.go
  go-sdk/internal/genspec/authoring.go
Due: none

Export files an agent built in a sandbox to object storage (#73990)
  providers/common/ai/docs/sandbox/backends.rst
  providers/common/ai/docs/sandbox/configuration.rst
  providers/common/ai/docs/sandbox/index.rst
  providers/common/ai/src/airflow/providers/common/ai/example_dags/example_sandbox_toolset.py
  providers/common/ai/src/airflow/providers/common/ai/sandbox/base.py
  providers/common/ai/src/airflow/providers/common/ai/sandbox/opensandbox.py
  providers/common/ai/src/airflow/providers/common/ai/sandbox/sbx.py
  providers/common/ai/src/airflow/providers/common/ai/toolsets/sandbox.py
  providers/common/ai/tests/unit/common/ai/operators/test_agent.py
  providers/common/ai/tests/unit/common/ai/sandbox/test_base.py
  providers/common/ai/tests/unit/common/ai/sandbox/test_opensandbox.py
  providers/common/ai/tests/unit/common/ai/sandbox/test_sbx.py
  providers/common/ai/tests/unit/common/ai/toolsets/test_sandbox.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

UI: Group and filter Dags by folder on the Dags page
  airflow-core/src/airflow/api_fastapi/common/parameters/__init__.py
  airflow-core/src/airflow/api_fastapi/common/parameters/dag.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/dags.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/public/i18n/locales/en/dags.json
  airflow-core/src/airflow/ui/src/constants/localStorage.ts
  airflow-core/src/airflow/ui/src/constants/searchParams.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagFolderTree/DagFolderTree.test.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagFolderTree/DagFolderTree.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagFolderTree/buildFolderTree.test.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagFolderTree/buildFolderTree.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagFolderTree/index.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
  airflow-core/src/airflow/ui/src/queries/useDagFolders.ts
  airflow-core/src/airflow/ui/src/queries/useDags.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_dags.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Refuse to iterate an operator that can skip downstream tasks
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterate.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Hand the runner the item exception that decides the task's outcome
  airflow-core/tests/unit/models/test_taskinstance.py
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Hand an iteration the server context of its task instance
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Include the partial values an upstream provides in an item's fingerprint
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Kill every sub-task in flight when an iterated task times out
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Report a failed item's callback once the task's fate is known
  task-sdk/docs/dynamic-task-mapping-vs-iteration.rst
  task-sdk/src/airflow/sdk/definitions/iterableoperator.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/definitions/test_iterableoperator.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
