Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, lint-dockerfile, setup-order, update-breeze-file, python2-fastcheck, python2-compile, pydevd, check-apache-license, mypy, flake8

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  python2-fastcheck: any of: \.py$, but not: ^airflow/_vendor
  python2-compile: any of: \.py$
  pydevd: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  flake8: any of: \.py$

[AIRFLOW-XXX] Fix example "extras" field in mysql connect doc (#5285)
  docs/howto/connection/mysql.rst
Due: none

[AIRFLOW-XXX] GSoD: How to make DAGs production ready (#6515)
  docs/best-practices.rst
  docs/concepts.rst
  docs/index.rst
  docs/tutorial.rst
Due: none

[AIRFLOW-5931] Use os.fork when appropriate to speed up task execution. (#6627)
  airflow/bin/cli.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/utils/dag_processing.py
  airflow/utils/helpers.py
  airflow/utils/log/es_task_handler.py
  tests/cli/test_cli.py
  tests/dags/test_on_kill.py
  tests/task/task_runner/test_standard_task_runner.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5945] Make inbuilt OperatorLinks work when using Serialization (#6715)
  airflow/contrib/operators/bigquery_operator.py
  airflow/contrib/operators/qubole_operator.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/operators/__init__.py
  airflow/plugins_manager.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/tests.py
  docs/dag-serialization.rst
  setup.py
  tests/contrib/operators/test_bigquery_operator.py
  tests/contrib/operators/test_qubole_operator.py
  tests/plugins/test_plugin.py
  tests/serialization/test_dag_serialization.py
Due: setup-order, python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6259] Reset page with each new search (#6828)
  airflow/www_rbac/templates/airflow/dags.html
Due: none

[AIRFLOW-4843] Allow orchestration via Docker Swarm (SwarmOperator) (#5489)
  airflow/contrib/operators/docker_swarm_operator.py
  airflow/example_dags/example_docker_swarm_operator.py
  airflow/operators/docker_operator.py
  airflow/utils/strings.py
  tests/operators/test_docker_swarm_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-1076] Add get method for template variable accessor (#6793)
  airflow/models/taskinstance.py
  docs/macros.rst
  tests/models/test_taskinstance.py
  tests/test_core.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5194] Add error handler to action log (#5883)
  airflow/bin/cli.py
  airflow/utils/cli_action_loggers.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6185] SQLAlchemy Connection model schema not aligned with Alembic schema (#6754)
  airflow/migrations/env.py
  airflow/migrations/versions/fe461863935f_increase_length_for_connection_password.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5947] Make the json backend pluggable for DAG Serialization (#6630)
  airflow/models/serialized_dag.py
  airflow/serialization/json_schema.py
  airflow/serialization/serialization.py
  airflow/serialization/serialized_dag.py
  airflow/settings.py
  docs/dag-serialization.rst
  setup.py
Due: setup-order, python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Remove cyclic imports and pylint hacks in Serialization (#6601)
  airflow/__init__.py
  airflow/api/common/experimental/delete_dag.py
  airflow/models/__init__.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/serialized_dag.py
  airflow/serialization/__init__.py
  airflow/serialization/base_serialization.py
  airflow/serialization/serialized_baseoperator.py
  airflow/serialization/serialized_dag.py
  airflow/utils/dag_processing.py
  airflow/utils/db.py
  airflow/utils/tests.py
  tests/models/test_serialized_dag.py
  tests/serialization/test_dag_serialization.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5936] Allow explicit get_pty in SSHOperator (#6586)
  airflow/contrib/operators/ssh_operator.py
  tests/contrib/operators/test_ssh_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6025] Add label to uniquely identify creator of Pod (#6621)
  airflow/contrib/kubernetes/worker_configuration.py
  airflow/contrib/operators/kubernetes_pod_operator.py
  tests/contrib/executors/test_kubernetes_executor.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5474] Add Basic auth to Druid hook (#6095)
  airflow/hooks/druid_hook.py
  tests/hooks/test_druid_hook.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5487]Fix unused warning var (#6111)
  airflow/utils/strings.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5744] Environment variables not correctly set in Spark submit operator (#6796)
  airflow/contrib/hooks/spark_submit_hook.py
  tests/contrib/hooks/test_spark_submit_hook.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6162] Add back serialization as a module (#6718)
  airflow/models/baseoperator.py
  airflow/models/serialized_dag.py
  airflow/serialization/serialized_baseoperator.py
  airflow/serialization/serialized_dag.py
  airflow/serialization/serialized_objects.py
  tests/models/test_serialized_dag.py
  tests/serialization/test_dag_serialization.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-3632] Only replace microseconds if execution_date is None in trigger_dag REST API (#6380)
  UPDATING.md
  airflow/utils/strings.py
  airflow/www/api/experimental/endpoints.py
  airflow/www_rbac/api/experimental/endpoints.py
  tests/www/api/experimental/test_endpoints.py
  tests/www_rbac/api/experimental/test_endpoints.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5304] Fix extra links in BigQueryOperator with multiple queries (#5906)
  airflow/contrib/operators/bigquery_operator.py
  tests/contrib/operators/test_bigquery_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-4482] Add execution_date to "trigger DagRun" API response (#5260)
  airflow/www/api/experimental/endpoints.py
  airflow/www_rbac/api/experimental/endpoints.py
  tests/www/api/experimental/test_endpoints.py
  tests/www_rbac/api/experimental/test_endpoints.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5458] Bump Flask-AppBuilder to 2.2.0 (#6607)
  setup.py
Due: setup-order, python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5751] add get_uri method to Connection (#6426)
  airflow/models/connection.py
  tests/models/test_connection.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5072] gcs_hook should download once (#5685)
  UPDATING.md
  airflow/contrib/hooks/gcs_hook.py
  airflow/contrib/operators/gcs_download_operator.py
  tests/contrib/hooks/test_gcs_hook.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6268] Prevent ajax calls when no dags (#6839)
  airflow/www_rbac/templates/airflow/dags.html
Due: none

[AIRFLOW-6239] Filter dags return by last_dagruns (#6804)
  airflow/www_rbac/templates/airflow/dags.html
  airflow/www_rbac/views.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6132] - Allow to pass in tags for the azure cloud (#6694)
  airflow/contrib/operators/azure_container_instances_operator.py
  tests/contrib/operators/test_azure_container_instances_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5118] Add ability to specify optional components in DataprocClusterCreateOperator (#5821)
  airflow/contrib/operators/dataproc_operator.py
  tests/contrib/operators/test_dataproc_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5045] Add ability to create Google Dataproc cluster with custom image from a different project (#5752)
  airflow/contrib/operators/dataproc_operator.py
  tests/contrib/operators/test_dataproc_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5665] Add path_exists method to SFTPHook (#6344)
  airflow/contrib/hooks/sftp_hook.py
  tests/contrib/hooks/test_sftp_hook.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5681] Allow specification of a tag or hash for the git_sync init container (#6350)
  airflow/config_templates/default_airflow.cfg
  airflow/contrib/executors/kubernetes_executor.py
  airflow/contrib/kubernetes/worker_configuration.py
  tests/contrib/executors/test_kubernetes_executor.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Improve description OpenFaaS Hook (#6187)
  airflow/contrib/hooks/openfaas_hook.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Make string type uniform in docstrings (#5750)
  airflow/contrib/hooks/ftp_hook.py
  airflow/contrib/hooks/sagemaker_hook.py
  airflow/contrib/operators/bigquery_to_mysql_operator.py
  airflow/contrib/operators/s3_to_sftp_operator.py
  airflow/contrib/operators/sagemaker_transform_operator.py
  airflow/contrib/operators/sftp_to_s3_operator.py
  airflow/contrib/operators/spark_submit_operator.py
  airflow/contrib/sensors/sagemaker_transform_sensor.py
  airflow/www_rbac/security.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5729] Make InputDataConfig optional in Sagemaker's training config (#6398)
  airflow/contrib/hooks/sagemaker_hook.py
  tests/contrib/hooks/test_sagemaker_hook.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6100] [AIP-21] Rename bigquery service
  UPDATING.md
  airflow/contrib/operators/bigquery_operator.py
  airflow/contrib/operators/bigquery_table_delete_operator.py
  airflow/contrib/sensors/bigquery_sensor.py
  airflow/gcp/example_dags/example_bigquery.py
  airflow/gcp/example_dags/example_bigquery_dts.py
  airflow/gcp/operators/bigquery.py
  airflow/gcp/sensors/bigquery.py
  tests/gcp/operators/test_bigquery.py
  tests/test_core_to_contrib.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Changelog for 1.10.7
  CHANGELOG.txt
Due: none

fixup! [AIRFLOW-XXX] Changelog for 1.10.7
  CHANGELOG.txt
Due: none

fixup! fixup! [AIRFLOW-5903] Remove serve_logs command
  tests/utils/test_serve_logs.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Changelog for 1.10.7 (#6851)
  CHANGELOG.txt
Due: none

[AIRFLOW-XXX] Update version to 1.10.7
  airflow/version.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6297] Add Airflow website link to UI docs (#6849)
  airflow/www/app.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8
