Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, lint-dockerfile, setup-order, update-breeze-file, python2-fastcheck, python2-compile, pydevd, check-apache-license, mypy, flake8

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  python2-fastcheck: any of: \.py$, but not: ^airflow/_vendor
  python2-compile: any of: \.py$
  pydevd: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  flake8: any of: \.py$

[AIRFLOW-3189] Remove schema from get_uri response if None (#6833)
  airflow/hooks/dbapi_hook.py
  tests/hooks/test_dbapi_hook.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6083] Adding ability to pass custom configuration to lambda client. (#6678)
  airflow/providers/amazon/aws/hooks/lambda_function.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Update README.md (#6848)
  README.md
Due: none

[AIRFLOW-6100] [AIP-21] Rename bigquery service (#6854)
  UPDATING.md
  airflow/contrib/operators/bigquery_operator.py
  airflow/contrib/operators/bigquery_table_delete_operator.py
  airflow/contrib/sensors/bigquery_sensor.py
  airflow/gcp/example_dags/example_bigquery.py
  airflow/gcp/example_dags/example_bigquery_dts.py
  airflow/gcp/operators/bigquery.py
  airflow/gcp/sensors/bigquery.py
  tests/gcp/operators/test_bigquery.py
  tests/test_core_to_contrib.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6038] AWS DataSync reworked (#6773)
  airflow/providers/amazon/aws/example_dags/example_datasync_1.py
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
  airflow/providers/amazon/aws/hooks/datasync.py
  airflow/providers/amazon/aws/operators/datasync.py
  docs/howto/operator/amazon/aws/datasync.rst
  docs/howto/operator/amazon/aws/index.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_datasync.py
  tests/providers/amazon/aws/operators/test_datasync.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5616] Switch PrestoHook from pyhive to prestosql-client to support transactions. (#6822)
  airflow/hooks/presto_hook.py
  docs/installation.rst
  setup.py
  tests/hooks/test_presto_hook.py
Due: setup-order, python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6267] Add View Creation to BigQueryOperator (#6838)
  airflow/gcp/example_dags/example_bigquery.py
  airflow/gcp/operators/bigquery.py
  tests/gcp/operators/test_bigquery.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5903] Remove serve_logs command from CLI (#6843)
  UPDATING.md
  airflow/cli/commands/worker_command.py
  airflow/utils/serve_logs.py
  tests/cli/commands/test_worker_command.py
  tests/utils/test_serve_logs.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Fix DebugExecutor docs (#6830)
  TESTING.rst
  docs/executor/debug.rst
Due: none

airflow dag cli fix
  airflow/bin/cli.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-3152] Kubernetes Pod Operator should support init containers. (#6196)
  airflow/contrib/operators/kubernetes_pod_operator.py
  docs/howto/operator/kubernetes.rst
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXX] Add simple guidelines to unit test writing (#6846)
  TESTING.rst
Due: none

[AIRFLOW-6130] Make Cassandra to GCS operator pylint compatible (#6692)
  airflow/operators/cassandra_to_gcs.py
  scripts/ci/pylint_todo.txt
  tests/operators/test_cassandra_to_gcs.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6313] Unify example or doc dag owner (#6864)
  airflow/contrib/example_dags/example_azure_container_instances_operator.py
  airflow/contrib/example_dags/example_azure_cosmosdb_sensor.py
  airflow/contrib/example_dags/example_databricks_operator.py
  airflow/contrib/example_dags/example_dingding_operator.py
  airflow/contrib/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/contrib/example_dags/example_emr_job_flow_manual_steps.py
  airflow/contrib/example_dags/example_kubernetes_executor.py
  airflow/contrib/example_dags/example_kubernetes_executor_config.py
  airflow/contrib/example_dags/example_kubernetes_operator.py
  airflow/contrib/example_dags/example_papermill_operator.py
  airflow/contrib/example_dags/example_qubole_operator.py
  airflow/contrib/example_dags/example_qubole_sensor.py
  airflow/contrib/example_dags/example_winrm_operator.py
  airflow/example_dags/docker_copy_data.py
  airflow/example_dags/example_bash_operator.py
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_python_dop_operator_3.py
  airflow/example_dags/example_docker_operator.py
  airflow/example_dags/example_gcs_to_bq.py
  airflow/example_dags/example_http_operator.py
  airflow/example_dags/example_pig_operator.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/example_short_circuit_operator.py
  airflow/example_dags/example_skip_dag.py
  airflow/example_dags/example_subdag_operator.py
  airflow/example_dags/example_trigger_target_dag.py
  airflow/example_dags/example_xcom.py
  airflow/example_dags/tutorial.py
  airflow/gcp/operators/dataflow.py
  docs/concepts.rst
  docs/dag-run.rst
  docs/lineage.rst
  docs/timezone.rst
  docs/tutorial.rst
  scripts/perf/dags/perf_dag_1.py
  scripts/perf/dags/perf_dag_2.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

fixing whitespace
  airflow/bin/cli.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6259] Reset page with each new search (#6828)
  airflow/www/templates/airflow/dags.html
Due: none

[AIRFLOW-6262] add on_execute_callback to operators (#6831)
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6105] [AIP-21] Rename Bigtable operators (#6862)
  UPDATING.md
  airflow/contrib/operators/gcp_bigtable_operator.py
  airflow/gcp/example_dags/example_bigtable.py
  airflow/gcp/operators/bigtable.py
  airflow/gcp/sensors/bigtable.py
  docs/howto/operator/gcp/bigtable.rst
  tests/gcp/operators/test_bigtable.py
  tests/gcp/sensors/test_bigtable.py
  tests/test_core_to_contrib.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5681] Allow specification of a tag or hash for the git_sync init container (#6350)
  airflow/config_templates/default_airflow.cfg
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5903] Remove serve_logs command from CLI (#6843) (#6857)
  airflow/bin/cli.py
  airflow/utils/serve_logs.py
  tests/cli/commands/test_worker_command.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6272] Switch from npm to yarnpkg for managing front-end dependencies (#6844)
  BREEZE.rst
  CONTRIBUTING.rst
  Dockerfile
  airflow/www/compile_assets.sh
  airflow/www/package-lock.json
  airflow/www/package.json
  airflow/www/yarn.lock
  common/_files_for_rebuild_check.sh
  dev/README.md
  scripts/ci/in_container/entrypoint_ci.sh
  setup.py
Due: lint-dockerfile, setup-order, update-breeze-file, python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6206] Move and rename AWS batch operator [AIP-21] (#6764)
  UPDATING.md
  airflow/contrib/operators/awsbatch_operator.py
  airflow/providers/amazon/aws/operators/batch.py
  docs/operators-and-hooks-ref.rst
  scripts/ci/pylint_todo.txt
  tests/providers/amazon/aws/operators/test_batch.py
  tests/test_core_to_contrib.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6126] [AIP-21] Rename GCP Speech operators (#6827)
  UPDATING.md
  airflow/contrib/hooks/gcp_text_to_speech_hook.py
  airflow/contrib/operators/gcp_speech_to_text_operator.py
  airflow/contrib/operators/gcp_text_to_speech_operator.py
  airflow/gcp/example_dags/example_speech.py
  airflow/gcp/operators/speech_to_text.py
  airflow/gcp/operators/text_to_speech.py
  airflow/gcp/operators/translate_speech.py
  docs/howto/operator/gcp/speech.rst
  tests/gcp/operators/test_speech_to_text.py
  tests/gcp/operators/test_text_to_speech.py
  tests/test_core_to_contrib.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6147] [AIP-21] Rename GoogleCloudStorageToS3Operator (#6826)
  UPDATING.md
  airflow/contrib/operators/gcs_to_s3.py
  airflow/operators/gcs_to_s3.py
  docs/howto/define_extra_link.rst
  docs/plugins.rst
  tests/operators/test_gcs_to_s3.py
  tests/test_core_to_contrib.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6268] Prevent ajax calls when no dags (#6839)
  airflow/www/templates/airflow/dags.html
Due: none

[AIRFLOW-6086] Correctly pick up spark_binary from Connectin in SparkSubmitOperator (#6680)
  airflow/contrib/operators/spark_submit_operator.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6270] Remove good errors from docs building (#6845)
  airflow/bin/cli.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6104] [AIP-21] Rename datastore service (#6853)
  airflow/contrib/operators/datastore_export_operator.py
  airflow/contrib/operators/datastore_import_operator.py
  airflow/gcp/example_dags/example_datastore.py
  airflow/gcp/operators/datastore.py
  tests/test_core_to_contrib.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6297] Add Airflow website link to UI docs (#6849)
  airflow/www/app.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6256] BaseJob table was not deleted on db reset (#6818)
  airflow/utils/db.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRLFOW-6240] BigQuery - remove unnecessary mocks in hook system tests (#6805)
  tests/gcp/hooks/test_bigquery_system.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6317] BigQuery - move repeated variables to constants in hook tests (#6869)
  tests/gcp/hooks/test_bigquery.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6311] Remove python2-required encoding from settings (#6860)
  airflow/settings.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-5532] Fix imagePullSecrets in pod created from k8s executor (#6166)
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-4940] Simplify tests of DynamoDBToS3Operator (#6836)
  tests/contrib/operators/test_dynamodb_to_s3.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-XXXX] Fix downgrade of db migration 0e2a74e0fc9f (#6859)
  airflow/migrations/versions/0e2a74e0fc9f_add_time_zone_awareness.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6322] Add pytest.mark.slow marker
  pytest.ini
Due: none

[AIRFLOW-6315] Create .airflow_db_initialised always in root tests directory
  tests/conftest.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

[AIRFLOW-6323] Remove non-ascii letters from default config
  airflow/config_templates/default_airflow.cfg
  tests/test_config_templates.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8

fixup! [AIRFLOW-6315] Create .airflow_db_initialised always in root tests directory
  tests/conftest.py
Due: python2-fastcheck, python2-compile, pydevd, mypy, flake8
