Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-1-compatibility, update-breeze-file, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-example-dags-urls, run-mypy, run-flake8, lint-javascript, update-migration-references

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

check-setup-order:
  name: Check order of dependencies in setup.cfg and setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich>=12.4.4

check-extra-packages-references:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich>=12.4.4

check-airflow-2-1-compatibility:
  name: Check that providers are 2.1 compatible.
  entry: ./scripts/ci/pre_commit/pre_commit_check_2_2_compatibility.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - rich>=12.4.4

update-breeze-file:
  name: Update output of breeze commands in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4
  - rich-click

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

update-providers-dependencies:
  name: Update cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: python
  pass_filenames: false
  additional_dependencies:
  - setuptools

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - rich>=12.4.4

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_supported_versions.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - tabulate

update-version:
  name: Update version to the latest version in the documentation
  entry: ./scripts/ci/pre_commit/pre_commit_update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

Deprecate remaining occurrences of `bigquery_conn_id` in favor of `gcp_conn_id` (#24376)
  airflow/providers/google/cloud/operators/bigquery.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Removed tests relating to deprecated features. Fixed typo. Commited changes to conf.py mandated by breeze
  docs/conf.py
  tests/providers/oracle/hooks/test_oracle.py
Due: update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-docstring-param-types, run-mypy, run-flake8

Fix flaky order of returned dag runs
  airflow/www/utils.py
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add AWS Batch & AWS CloudWatch Extra Links
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/links/base_aws.py
  airflow/providers/amazon/aws/links/batch.py
  airflow/providers/amazon/aws/links/logs.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/provider.yaml
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/amazon/aws/links/conftest.py
  tests/providers/amazon/aws/links/test_emr.py
  tests/providers/amazon/aws/links/test_links.py
  tests/providers/amazon/aws/operators/test_batch.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Port jobs command and unit tests to click
  airflow/cli/__main__.py
  airflow/cli/commands/jobs.py
  tests/cli/commands/test_jobs.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

fix db clean error, added rollback
  airflow/utils/db_cleanup.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Expose SQL to GCS Metadata (#24382)
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  tests/providers/google/cloud/transfers/test_mssql_to_gcs.py
  tests/providers/google/cloud/transfers/test_mysql_to_gcs.py
  tests/providers/google/cloud/transfers/test_oracle_to_gcs.py
  tests/providers/google/cloud/transfers/test_postgres_to_gcs.py
  tests/providers/google/cloud/transfers/test_presto_to_gcs.py
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
  tests/providers/google/cloud/transfers/test_trino_to_gcs.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

The timeouts for Helm tests are far too small for "full tests"
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

DebugExecutor use ti.run() instead of ti._run_raw_task (#24357)
  airflow/executors/debug_executor.py
  tests/dags/test_sensor.py
  tests/executors/test_debug_executor.py
  tests/jobs/test_backfill_job.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Fix flaky order of returned dag runs (#24405)
  airflow/www/utils.py
  airflow/www/views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

The timeouts for Helm tests are far too small for "full tests" (#24408)
  .github/workflows/ci.yml
Due: check-persist-credentials-disabled-in-github-workflows

Fix HttpHook.run_with_advanced_retry document error (#24380)
  airflow/providers/http/hooks/http.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

fix: RedshiftDataHook and RdsHook not use cached connection
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/rds.py
  airflow/providers/amazon/aws/hooks/redshift_data.py
  tests/providers/amazon/aws/hooks/test_rds.py
  tests/providers/amazon/aws/hooks/test_redshift_data.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Close #24303 (#24394)
  docs/helm-chart/manage-dags-files.rst
Due: update-version, check-provider-yaml-valid

Add release cadence information to provider support in README (#24367)
  README.md
Due: update-supported-versions, check-for-inclusive-language, lint-markdown

Update errors.rst
  docs/apache-airflow/logging-monitoring/errors.rst
Due: update-version, check-provider-yaml-valid

Add note on subtle logical date change in 2.2.0
  RELEASE_NOTES.rst
Due: none

Add note on subtle logical date change in 2.2.0 (#24413)
  RELEASE_NOTES.rst
Due: none

add comment for fix int dtyoes
  airflow/providers/amazon/aws/utils/s3.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

add comment
  airflow/providers/amazon/aws/utils/s3.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Use insert_job in the BigQueryToGCPOpertor and adjust links
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/links/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

fully custom tooltip
  airflow/www/static/js/grid/components/StatusBox.jsx
  airflow/www/static/js/grid/components/Tooltip.tsx
Due: none

use a customized chakra tooltip
  airflow/www/static/js/grid/components/StatusBox.jsx
  airflow/www/static/js/grid/components/Tooltip.tsx
Due: none

docs(gitops): add FluxCD to gitops instalation
  docs/helm-chart/index.rst
Due: update-version, check-provider-yaml-valid, check-example-dags-urls

Revert "Remove custom signal handling in Triggerer (#23274)" (#24390)
  airflow/cli/commands/triggerer_command.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

update notice
  NOTICE
Due: check-for-inclusive-language

Adding type error catch in get_container_termination_message
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Deleting pod in cleanup if remote pod is found
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Improve grid rendering performance with a custom tooltip (#24417)
  NOTICE
  airflow/www/static/js/grid/components/StatusBox.jsx
  airflow/www/static/js/grid/components/Tooltip.tsx
Due: check-for-inclusive-language

Add salesforce_default to List Connection (#24347)
  airflow/utils/db.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Build id:2490356143
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

AIP-47 - Migrate google suite DAGs to new design #22447
  airflow/providers/google/suite/example_dags/__init__.py
  docs/apache-airflow-providers-google/operators/suite/sheets.rst
  tests/providers/google/suite/operators/test_sheets_system.py
  tests/providers/google/suite/transfers/test_gcs_to_sheets_system.py
  tests/system/providers/google/suite/example_gcs_to_gdrive.py
  tests/system/providers/google/suite/example_gcs_to_sheets.py
  tests/system/providers/google/suite/example_local_to_drive.py
  tests/system/providers/google/suite/example_sheets.py
  tests/system/providers/google/suite/example_sql_to_sheets.py
  tests/test_utils/gcp_system_helpers.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

AIP-47 - Migrate google firebase DAGs to new design #22447
  airflow/providers/google/firebase/example_dags/__init__.py
  docs/apache-airflow-providers-google/operators/firebase/firestore.rst
  tests/providers/google/firebase/operators/test_firestore_system.py
  tests/system/providers/google/firebase/example_firestore.py
  tests/test_utils/gcp_system_helpers.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

Update docs/helm-chart/index.rst
  docs/helm-chart/index.rst
Due: update-version, check-provider-yaml-valid, check-example-dags-urls

Add Trakken to list of companies using Airflow
  INTHEWILD.md
Due: check-for-inclusive-language, update-in-the-wild-to-be-sorted, lint-markdown

Add Flux to chart gitops docs (#24288)
  docs/helm-chart/index.rst
Due: update-version, check-provider-yaml-valid, check-example-dags-urls

Add Trakken to list of companies using Airflow (#24429)
  INTHEWILD.md
Due: check-for-inclusive-language, update-in-the-wild-to-be-sorted, lint-markdown

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-1-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-file: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-example-dags-urls: any of: ^docs/.*index\.rst$|^docs/.*example-dags\.rst$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
