Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Add config options to the readme
  airflow/providers/amazon/aws/config_templates/config.yml
  airflow/providers/amazon/aws/executors/ecs/README.md
Due: replace-bad-characters, check-airflow-config-yaml-consistent, lint-markdown

Catch all exceptions in methods that interface with the scheduler
  airflow/providers/amazon/aws/executors/ecs/__init__.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

mssql compat
  airflow/migrations/versions/0129_2_8_0_add_clear_number_to_dag_run.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
Due: ruff, replace-bad-characters, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, update-migration-references, update-er-diagram

Updating constraints. Github run id:6178638418
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

Simplify trigger name expression
  airflow/jobs/triggerer_job_runner.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix whitespaces in ECS executor test module
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Remove unnecessary call to keys() method on dictionaries (#34260)
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/google/cloud/utils/field_validator.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  airflow/utils/process_utils.py
  tests/providers/google/cloud/utils/test_field_validator.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

Simplify trigger name expression (#34356)
  airflow/jobs/triggerer_job_runner.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Remove float type python version in PythonVirtualEnvOperator
  airflow/operators/python.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Prepare docs for Sep 2023 2nd wave of Providers
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/__init__.py
  airflow/providers/cncf/kubernetes/provider.yaml
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
Due: ruff, replace-bad-characters, check-extra-packages-references, check-airflow-provider-compatibility, update-providers-dependencies, update-extras, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-aiobotocore-optional, check-docstring-param-types, check-changelog-has-no-duplicates, check-system-tests-tocs, check-lazy-logging, mypy-providers, check-provider-yaml-valid

Add google provider
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/__init__.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
Due: ruff, replace-bad-characters, check-extra-packages-references, check-airflow-provider-compatibility, update-providers-dependencies, update-extras, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-aiobotocore-optional, check-docstring-param-types, check-changelog-has-no-duplicates, check-system-tests-tocs, check-lazy-logging, mypy-providers, check-provider-yaml-valid

Add amazon provider
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/__init__.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
Due: ruff, replace-bad-characters, check-extra-packages-references, check-airflow-provider-compatibility, update-providers-dependencies, update-extras, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-aiobotocore-optional, check-docstring-param-types, check-changelog-has-no-duplicates, check-lazy-logging, mypy-providers, check-provider-yaml-valid

docs: correct typo in best-practices.rst
  docs/apache-airflow/best-practices.rst
Due: replace-bad-characters, update-version

Remove int type python version in PythonVirtualEnvOperator
  airflow/operators/python.py
  tests/operators/test_python.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Prepare docs for Sep 2023 2nd wave of Providers (#34360)
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/__init__.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/__init__.py
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/__init__.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
Due: ruff, replace-bad-characters, check-extra-packages-references, check-airflow-provider-compatibility, update-providers-dependencies, update-extras, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-aiobotocore-optional, check-docstring-param-types, check-changelog-has-no-duplicates, check-system-tests-tocs, check-lazy-logging, mypy-providers, check-provider-yaml-valid

Update Vertex AI system tests
  airflow/providers/google/cloud/example_dags/example_vertex_ai.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_batch_prediction_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_container.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job_python_package.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_dataset.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_endpoint.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_hyperparameter_tuning_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_model_service.py
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-ai-model.zip
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-custom-container.zip
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-custom-job.zip
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-python-package.zip
  tests/system/providers/google/cloud/vertex_ai/resources/__init__.py
  tests/system/providers/google/cloud/vertex_ai/resources/all-datasets.zip
  tests/system/providers/google/cloud/vertex_ai/resources/forecast-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/image-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/tabular-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/text-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/video-dataset.csv.zip
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Update image uri for "Hyperparameter" test
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_hyperparameter_tuning_job.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Check that dag_ids passed in request are consistent
  airflow/www/auth.py
  tests/www/test_auth.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

change deprecated to removed
  airflow/operators/python.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Fix test_retry_handling_job (#34326)
  tests/jobs/test_scheduler_job.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

fix add-back-references in README_RELEASE_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Due: replace-bad-characters, lint-markdown

fix Amazon index.rst doc
  docs/apache-airflow-providers-amazon/index.rst
Due: replace-bad-characters, update-version, check-links-to-example-dags-do-not-use-hardcoded-versions, check-system-tests-tocs

fix add-back-references in README_RELEASE_PROVIDER_PACKAGES.md (#34367)
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Due: replace-bad-characters, lint-markdown

Check that dag_ids passed in request are consistent (#34366)
  airflow/www/auth.py
  tests/www/test_auth.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

change removal to deprecation
  airflow/operators/python.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Feature: Add Google Cloud Storage to Samba operator
  airflow/providers/google/cloud/transfers/gcs_to_samba.py
  generated/provider_dependencies.json
  tests/providers/google/cloud/transfers/test_gcs_to_samba.py
  tests/system/providers/google/cloud/transfers/example_gcs_to_samba.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Fix GCS system tests
  tests/system/providers/google/cloud/gcs/example_gcs_acl.py
  tests/system/providers/google/cloud/gcs/example_gcs_sensor.py
  tests/system/providers/google/cloud/gcs/example_gcs_to_gcs.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Updating constraints. Github run id:6184529469
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

fix Amazon index.rst doc (#34368)
  docs/apache-airflow-providers-amazon/index.rst
Due: replace-bad-characters, update-version, check-links-to-example-dags-do-not-use-hardcoded-versions, check-system-tests-tocs

Fix GCS system tests (#34372)
  tests/system/providers/google/cloud/gcs/example_gcs_acl.py
  tests/system/providers/google/cloud/gcs/example_gcs_sensor.py
  tests/system/providers/google/cloud/gcs/example_gcs_to_gcs.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Moved GCS to Samba transfer operator to the higher intrest provider (Samba) folder
  airflow/providers/samba/transfers/__init__.py
  airflow/providers/samba/transfers/gcs_to_samba.py
  generated/provider_dependencies.json
  tests/providers/samba/transfers/__init__.py
  tests/providers/samba/transfers/test_gcs_to_samba.py
  tests/system/providers/samba/__init__.py
  tests/system/providers/samba/example_gcs_to_samba.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

docs: correct typo in best-practices.rst (#34361)
  docs/apache-airflow/best-practices.rst
Due: replace-bad-characters, update-version

Update Vertex AI system tests (#34364)
  airflow/providers/google/cloud/example_dags/example_vertex_ai.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_batch_prediction_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_container.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job_python_package.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_dataset.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_endpoint.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_hyperparameter_tuning_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_model_service.py
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-ai-model.zip
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-custom-container.zip
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-custom-job.zip
  tests/system/providers/google/cloud/vertex_ai/resources/California-housing-python-package.zip
  tests/system/providers/google/cloud/vertex_ai/resources/__init__.py
  tests/system/providers/google/cloud/vertex_ai/resources/all-datasets.zip
  tests/system/providers/google/cloud/vertex_ai/resources/forecast-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/image-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/tabular-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/text-dataset.csv.zip
  tests/system/providers/google/cloud/vertex_ai/resources/video-dataset.csv.zip
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

Add information about drop support MsSQL as DB Backend in the future
  README.md
  docs/apache-airflow/howto/set-up-database.rst
  generated/PYPI_README.md
Due: replace-bad-characters, update-supported-versions, update-version, lint-markdown

Add information about drop support MsSQL as DB Backend in the future (#34375)
  README.md
  docs/apache-airflow/howto/set-up-database.rst
  generated/PYPI_README.md
Due: replace-bad-characters, update-supported-versions, update-version, lint-markdown

Updates and suggestions from review
  docs/apache-airflow/core-concepts/executor/debug.rst
  docs/apache-airflow/core-concepts/executor/index.rst
Due: replace-bad-characters, update-version

Refactor shorter defaults in providers (#34347)
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/amazon/aws/transfers/azure_blob_to_s3.py
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
  airflow/providers/apache/pig/hooks/pig.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/dataproc_metastore.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/google/cloud/triggers/gcs.py
  airflow/providers/google/cloud/utils/bigquery.py
  airflow/providers/google/cloud/utils/dataform.py
  airflow/providers/grpc/hooks/grpc.py
  airflow/providers/hashicorp/_internal_client/vault_client.py
  airflow/providers/oracle/hooks/oracle.py
  airflow/providers/redis/log/redis_task_handler.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Refactor string splitting
  airflow/providers/amazon/aws/hooks/s3.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  scripts/in_container/verify_providers.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/test_utils/get_all_tests.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers

Refactor os.path.splitext to Path.*
  airflow/cli/commands/internal_api_command.py
  airflow/cli/commands/webserver_command.py
  airflow/dag_processing/manager.py
  airflow/models/dagbag.py
  docs/exts/docs_build/dev_index_generator.py
Due: ruff, replace-bad-characters, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core, mypy-docs

Refactor: Simplify some loops
  dev/assign_cherry_picked_prs_with_milestone.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  dev/prepare_bulk_issues.py
  dev/prepare_release_issue.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/jobs/test_local_task_job.py
  tests/models/test_taskinstance.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-dev, mypy-core
