Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

refactor(partition_mappers): stop exposing WaitPolicy base to Dag authors
  airflow-core/src/airflow/serialization/encoders.py
  task-sdk/src/airflow/sdk/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor(serialization): delegate WaitPolicy serialization to the policy class
  airflow-core/src/airflow/partition_mappers/wait_policy.py
  airflow-core/src/airflow/serialization/encoders.py
  airflow-core/tests/unit/partition_mappers/test_rollup_wait_policy.py
  task-sdk/docs/api.rst
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

refactor(partition_mappers): dispatch rollup satisfaction via WaitPolicy
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/partition_mappers/wait_policy.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/partition_mappers/test_rollup_wait_policy.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

refactor(partition_mappers): return structured rollup satisfaction from is_satisfied_by_keys
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/partition_mappers/wait_policy.py
  airflow-core/tests/unit/partition_mappers/test_rollup_wait_policy.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix remote logging connection caching in Task SDK
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add generated owner display name outputs
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix cursor encoding for column-form SortParam to_replace (#67973)
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/tests/unit/api_fastapi/common/test_cursors.py
  airflow-core/tests/unit/api_fastapi/common/test_parameters.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix Vault GCP auth for metadata credentials (#68069)
  providers/hashicorp/src/airflow/providers/hashicorp/_internal_client/vault_client.py
  providers/hashicorp/tests/unit/hashicorp/_internal_client/test_vault_client.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

UI: refactor function
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewList.tsx
Due: replace-bad-characters

add unit tests to make sure expected behavior
  airflow-core/src/airflow/api_fastapi/execution_api/app.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/log.py
  task-sdk/tests/task_sdk/definitions/test_variables.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

fix ci error
  airflow-core/src/airflow/models/connection.py
  airflow-core/src/airflow/models/variable.py
  airflow-core/src/airflow/process_context.py
  airflow-core/tests/unit/models/test_connection.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

fix infinite loop for Variable.get
  airflow-core/src/airflow/api_fastapi/execution_api/app.py
  airflow-core/src/airflow/models/connection.py
  airflow-core/src/airflow/models/variable.py
  airflow-core/src/airflow/utils/process_context.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_connections.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_variables.py
  airflow-core/tests/unit/models/test_connection.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

UI: refactor component
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewModal.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/useHITLSelection.ts
Due: replace-bad-characters

Fix mutation hook and dynamic priority weight not applied on retries
  airflow-core/docs/administration-and-deployment/cluster-policies.rst
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/tests/unit/models/test_dagrun.py
  airflow-core/tests/unit/plugins/priority_weight_strategy.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Use ORM unit-of-work for retries and fix docs
  airflow-core/src/airflow/models/dagrun.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor: Simplified the test_axcom_pull
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Extracted common _normalize_xcom_pull_params helper method for xcom_pull and axcom_pull
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

UI: Add Details tab to the mapped task instance view
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/components/HeaderCard.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/DetailsLayout.tsx
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/Details.tsx
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/MappedTaskInstance.tsx
  airflow-core/src/airflow/ui/src/router.tsx
Due: replace-bad-characters

UI: refactor component
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewModal.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/useHITLReviewModalRouteSync.ts
  airflow-core/src/airflow/ui/src/components/HITLReview/useHITLReviewModalSelection.ts
  airflow-core/src/airflow/ui/src/components/NeedsReviewButton.tsx
Due: replace-bad-characters

feat: add scheduler observability metrics
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix test assertions broken by new scheduler.executor_events.processed metric
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix static checks: register new metrics in registry and apply ruff format
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  shared/observability/src/airflow_shared/observability/metrics/metrics_template.yaml
Due: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Address review: preserve event_buffer return contract, merge to_reset blocks
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor: Fix deadlock in CommsDecoder.asend() when sync send() runs concurrently on event loop
  task-sdk/src/airflow/sdk/execution_time/comms.py
  task-sdk/tests/task_sdk/execution_time/test_comms.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

UI: refactor i18n
  airflow-core/src/airflow/ui/public/i18n/locales/en/hitl.json
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewDetail.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewListSection.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewModal.tsx
Due: replace-bad-characters

Refactor: Make sdk.TIRunContext an interface instead of struct
  go-sdk/bundle/bundlev1/task.go
  go-sdk/bundle/bundlev1/task_test.go
  go-sdk/example/bundle/main.go
  go-sdk/example/bundle/main_test.go
  go-sdk/pkg/execution/integration_test.go
  go-sdk/pkg/execution/task_runner.go
  go-sdk/pkg/sdkcontext/keys.go
  go-sdk/sdk/context.go
  go-sdk/sdk/context_test.go
Due: none

Docs: Add sdk.TIRunContext for Go-SDK
  airflow-core/docs/authoring-and-scheduling/language-sdks/go.rst
  go-sdk/README.md
Due: replace-bad-characters, lint-markdown

UI: Auto-refresh mapped task summary while the run is running
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/MappedTaskInstance.tsx
Due: replace-bad-characters

UI: refactor hook
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewModal.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/useHITLReviewModalSelection.ts
Due: replace-bad-characters

UI: refactor hook
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewList.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewListSection.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/HITLReviewModal.tsx
  airflow-core/src/airflow/ui/src/components/HITLReview/useHITLReviewModalSelection.ts
Due: replace-bad-characters

Fixed the bug, added a test
  providers/smtp/src/airflow/providers/smtp/hooks/smtp.py
  providers/smtp/tests/unit/smtp/hooks/test_smtp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Made retry_limit consistent across all use of SMTP
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/utils/email.py
  airflow-core/tests/unit/utils/test_email.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Updated logging, made loops better
  airflow-core/src/airflow/utils/email.py
  providers/smtp/src/airflow/providers/smtp/hooks/smtp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Made the documentation consistent
  providers/smtp/docs/connections/smtp.rst
Due: replace-bad-characters

Fixed the other 3 retry loops and updated tests
  providers/smtp/src/airflow/providers/smtp/hooks/smtp.py
  providers/smtp/tests/unit/smtp/hooks/test_smtp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fixed line length
  airflow-core/src/airflow/config_templates/config.yml
Due: replace-bad-characters

Go-SDK: Inject task runtime context as sdk.TIRunContext parameter (#68349)
  go-sdk/bundle/bundlev1/task.go
  go-sdk/bundle/bundlev1/task_test.go
  go-sdk/example/bundle/main.go
  go-sdk/example/bundle/main_test.go
  go-sdk/pkg/execution/integration_test.go
  go-sdk/pkg/execution/task_runner.go
  go-sdk/pkg/sdkcontext/keys.go
  go-sdk/sdk/context.go
  go-sdk/sdk/context_test.go
Due: none

Docs: Add sdk.TIRunContext for Go-SDK (#68319)
  airflow-core/docs/authoring-and-scheduling/language-sdks/go.rst
  go-sdk/README.md
Due: replace-bad-characters, lint-markdown

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
