Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Logout the user when the refresh token is no longer valid (#60781) (#60881)
  airflow-core/src/airflow/api_fastapi/auth/managers/exceptions.py
  airflow-core/src/airflow/api_fastapi/auth/middlewares/refresh_token.py
  airflow-core/tests/unit/api_fastapi/auth/middlewares/test_refresh_token.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

fixing test format
  providers/google/tests/unit/google/cloud/hooks/test_cloud_sql.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add type annotation for create_celery_app
  providers/celery/src/airflow/providers/celery/executors/celery_executor_utils.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add reference links in comments for Snowflake SQL API error handling
  providers/snowflake/tests/unit/snowflake/hooks/test_snowflake_sql_api.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Optimize pool name normalization for stats and add tests (#60553)
  airflow-core/src/airflow/models/pool.py
  airflow-core/tests/unit/models/test_pool.py
Due: replace-bad-characters, prevent-deprecated-sqlalchemy-usage, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Chain AirflowException from HTTPError for 422 OAuth failure
  providers/snowflake/src/airflow/providers/snowflake/hooks/snowflake.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix mypy checks in CI to also run for scripts
  .pre-commit-config.yaml
  scripts/ci/prek/check_secrets_search_path_sync.py
  scripts/ci/prek/check_shared_distributions_usage.py
  scripts/ci/prek/mypy_folder.py
  scripts/ci/prek/upgrade_important_versions.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev

refactor: remove unused note parameter from MarkGroupTaskInstanceAsDialog
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.tsx
Due: replace-bad-characters

test: update MarkGroupTaskInstanceAsDialog tests to include async rendering and improve dialog behavior
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.test.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.tsx
Due: replace-bad-characters

refactor: introduce _collect_unique_tis function to streamline the collection of unique task instances in patching logic
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

feat: implement usePatchTaskGroup and usePatchTaskGroupDryRun hooks for task group updates and dry run functionality
  airflow-core/src/airflow/ui/src/queries/usePatchTaskGroup.ts
  airflow-core/src/airflow/ui/src/queries/usePatchTaskGroupDryRun.ts
Due: replace-bad-characters

fix: add map_index parameter to BulkTaskInstanceService for improved task instance handling
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor: move HTTP 404 exception handling for task group instances to the service layer
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

chore: update TOTAL_TEST_TIMEOUT in CI workflow to dynamically adjust based on test group and downgrade SQLAlchemy flag
  .github/workflows/run-unit-tests.yml
Due: replace-bad-characters, check-persist-credentials-disabled-in-github-workflows

test: refactor MarkGroupTaskInstanceAsDialog tests to use new patch hooks and update request body validation
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.test.tsx
Due: replace-bad-characters

Update airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

feat: enhance task instance patching to support updates by task group ID, including dry run functionality and improved state management
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

feat: add support for optional task_id and task_group_id in patch endpoints, enhancing dry run functionality and validation logic
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

test: update mock data in MarkGroupTaskInstanceAsDialog tests to reflect running task state
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.test.tsx
Due: replace-bad-characters

refactor: extract request body validation logic into a separate function for improved clarity and reuse in task instance patching
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor: improve task instance state patching logic to handle unique affected instances and streamline updates for both single task instances and task groups
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

feat: add dry run option for bulk task instance updates, allowing users to preview changes without affecting state
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

test: add unit tests for dry run functionality in bulk task instance updates, covering various scenarios including authentication, request validation, and state changes
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

feat: add MarkGroupTaskInstanceAsButton and MarkGroupTaskInstanceAsDialog components for task instance state management
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.tsx
  airflow-core/src/airflow/ui/src/pages/GroupTaskInstance/Header.tsx
Due: replace-bad-characters

refactor: streamline task instance state patching by consolidating state update logic and removing listener triggers
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

fix: update map_indexes and state in test cases for patching task instances to ensure correct handling of failed states
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

feat: enhance logging in MarkGroupTaskInstanceAsDialog and useBulkUpdateTaskInstancesDryRun for better debugging and monitoring
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.tsx
Due: replace-bad-characters

refactor: enhance task instance patching logic to prioritize task_group_id over identifier, improving error handling and validation flow
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

feat: add patch endpoints for task group updates and dry run functionality in the API
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.tsx
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor: remove unnecessary database refresh logic for affected task instances in patching process
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

fix: update button disabled state in MarkGroupTaskInstanceAsDialog
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.tsx
Due: replace-bad-characters

feat: implement bulk update and dry run functionality for task instances in MarkGroupTaskInstanceAsDialog
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.tsx
  airflow-core/src/airflow/ui/src/queries/useBulkUpdateTaskInstances.ts
  airflow-core/src/airflow/ui/src/queries/useBulkUpdateTaskInstancesDryRun.ts
Due: replace-bad-characters

feat: add identifier parameter to task instance patching functions for improved clarity and consistency
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceDialog.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkTaskInstanceAsDialog.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/queries/usePatchTaskInstance.ts
  airflow-core/src/airflow/ui/src/queries/usePatchTaskInstanceDryRun.ts
Due: replace-bad-characters

test: add unit tests for MarkGroupTaskInstanceAsDialog and related hooks to ensure correct functionality
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsDialog.test.tsx
  airflow-core/src/airflow/ui/src/queries/useBulkUpdateTaskInstances.test.ts
  airflow-core/src/airflow/ui/src/queries/useBulkUpdateTaskInstancesDryRun.test.ts
Due: replace-bad-characters

fix: replace ActionButton usage in MarkGroupTaskInstanceAsButton
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkGroupTaskInstanceAsButton.tsx
Due: replace-bad-characters

Simplify table sort fix
  airflow-core/src/airflow/ui/src/components/DataTable/DataTable.tsx
  airflow-core/src/airflow/ui/src/components/DataTable/TableList.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
Due: replace-bad-characters

more formatting
  providers/google/tests/unit/google/cloud/hooks/test_cloud_sql.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Exclude mysql-connector-python 9.6.0 version (#60889)
  providers/mysql/docs/index.rst
  providers/mysql/pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Add XCom serilizer for pendulum.date.Date
  task-sdk/src/airflow/sdk/serde/serializers/datetime.py
  task-sdk/tests/task_sdk/serde/test_serializers.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators
