Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Upgrade rule to suggest to rename max_threads to parsing_processes (#14913)
  airflow/upgrade/rules/parsing_processes_configuration_rule.py
  tests/upgrade/rules/test_parsing_processes_configuration_rule.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Docs: Clarify behavior of delete_worker_pods_on_failure
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: language-matters, airflow-config-yaml, json-schema

Add new kubernetes.proxy_url configuration option.
  airflow/config_templates/config.yml
  airflow/kubernetes/kube_client.py
  tests/kubernetes/test_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, json-schema, flynt, mypy, pylint, flake8

Remove extra unneeded import.
  airflow/kubernetes/kube_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Removing another extra import in the tests.
  tests/kubernetes/test_client.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

hostAliases support for workers in helm chart
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_worker.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Add configuration parameter to default_airflow.cfg.
  airflow/config_templates/default_airflow.cfg
Due: language-matters, airflow-config-yaml

Config file was out of sync with YAML file.
  airflow/config_templates/default_airflow.cfg
Due: language-matters, airflow-config-yaml

Fix spelling.
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  docs/spelling_wordlist.txt
Due: language-matters, airflow-config-yaml, provider-yamls, json-schema

Update airflow/models/baseoperator.py
  airflow/models/baseoperator.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix too specific parsing of `False` in LegacyUIDeprecated
  airflow/upgrade/rules/legacy_ui_deprecated.py
  tests/upgrade/rules/test_legacy_ui_deprecated.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update and fix doc strings
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/amazon/aws/sensors/s3_key.py
  airflow/providers/datadog/hooks/datadog.py
  airflow/providers/datadog/sensors/datadog.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/operators/datacatalog.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/microsoft/azure/operators/azure_batch.py
  airflow/providers/microsoft/azure/sensors/azure_cosmos.py
  airflow/providers/singularity/operators/singularity.py
  airflow/providers/slack/operators/slack.py
  airflow/providers/yandex/operators/yandexcloud_dataproc.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

run pre-commit
  airflow/providers/datadog/sensors/datadog.py
  airflow/providers/google/cloud/operators/datacatalog.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Increase default `worker_refresh_interval` to `6000` seconds
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: language-matters, airflow-config-yaml, markdownlint, json-schema

Change 1.10.14 to 1.10.15 in README.md
  README.md
Due: language-matters, markdownlint

Fix import cycle in cluster policy examples
  tests/cluster_policies/__init__.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

add note in docs
  docs/apache-airflow/concepts.rst
Due: language-matters, provider-yamls

Fix too specific parsing of `False` in LegacyUIDeprecated
  tests/upgrade/rules/test_legacy_ui_deprecated.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update baseoperator.py
  airflow/models/baseoperator.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix running "upgrade_check" command in a PTY.
  airflow/utils/cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix typo in Helm chart tests
  chart/tests/test_git_sync_scheduler.py
  chart/tests/test_pod_template_file.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, flynt, mypy, pylint, flake8

Updating constraints. Build id:683027162
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
Due: language-matters

Recognize more ways to import DAG in ChainBetweenDAGAndOperatorNotAllowedRule
  airflow/upgrade/rules/chain_between_dag_and_operator_not_allowed_rule.py
  tests/upgrade/rules/test_chain_between_dag_and_operator_not_allowed_rule.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixed parses of azure blob storage return from string to encoded
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  tests/providers/microsoft/azure/log/local/log/location/1.log
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

remove string from utf-encoding
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Revert "Pre commit new UI (#14836)"
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  airflow/ui/package.json
  airflow/ui/yarn.lock
  breeze-complete
Due: update-breeze-file, language-matters, check-integrations, sort-in-the-wild, shellcheck, bats-tests, pre-commit-descriptions, pre-commit-hook-names

Delete 1.log
  tests/providers/microsoft/azure/log/local/log/location/1.log
Due: language-matters

Adds initial router, routes, and placeholder views
  airflow/ui/.neutrinorc.js
  airflow/ui/package.json
  airflow/ui/src/App.tsx
  airflow/ui/src/index.tsx
  airflow/ui/src/views/Access/Roles.tsx
  airflow/ui/src/views/Access/Users.tsx
  airflow/ui/src/views/Access/index.tsx
  airflow/ui/src/views/Activity/EventLogs.tsx
  airflow/ui/src/views/Config/index.tsx
  airflow/ui/src/views/Docs.tsx
  airflow/ui/src/views/NotFound.tsx
  airflow/ui/src/views/Pipeline/index.tsx
  airflow/ui/src/views/Pipelines.tsx
  airflow/ui/yarn.lock
Due: language-matters

fix router tests
  airflow/ui/package.json
  airflow/ui/test/App.test.tsx
  airflow/ui/tsconfig.json
  airflow/ui/yarn.lock
Due: language-matters

remove resolutions in package.json
  airflow/ui/package.json
  airflow/ui/yarn.lock
Due: language-matters

Upgrade to latest Chakra release
  airflow/ui/yarn.lock
Due: language-matters

Add new UI node files to rebuild check
  scripts/ci/libraries/_initialization.sh
Due: language-matters, shellcheck, bats-tests

Use username instead of id in route
  airflow/ui/src/App.tsx
Due: language-matters

Add linting dependencies
  airflow/ui/package.json
  airflow/ui/yarn.lock
Due: language-matters

Fix failing doc build
  docs/exts/docs_build/fetch_inventories.py
  docs/exts/docs_build/third_party_inventories.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, flynt, mypy, pylint, flake8

add simple header/logout + readme for env
  airflow/ui/.neutrinorc.js
  airflow/ui/README.md
  airflow/ui/src/components/AppHeader.tsx
Due: language-matters, markdownlint

remove unnecessary library
  airflow/ui/package.json
  airflow/ui/yarn.lock
Due: language-matters

add licenses
  airflow/ui/src/auth/AuthProvider.tsx
  airflow/ui/src/auth/PrivateRoute.tsx
  airflow/ui/src/auth/context.ts
  airflow/ui/src/utils/localStorage.ts
  airflow/ui/src/views/Login.tsx
  airflow/ui/test/utils.tsx
Due: language-matters

Minor wording changes
  docs/apache-airflow/security/access-control.rst
Due: language-matters, provider-yamls

more strict allow origin
  airflow/ui/README.md
  airflow/ui/test/utils.tsx
Due: language-matters, markdownlint
