Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-apache-license, yamllint, lint-dockerfile, mypy, pylint, isort, flake8

check-apache-license:
  name: Check if licences are OK for Apache
  entry: ./scripts/ci/pre_commit_check_license.sh
  language: system
  pass_filenames: false
  require_serial: true

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit_mypy.sh
  pass_filenames: true

pylint:
  name: Run pylint for tests
  language: system
  entry: ./scripts/ci/pre_commit_pylint_tests.sh
  pass_filenames: true

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

flake8:
  name: Run flake8
  language: system
  entry: ./scripts/ci/pre_commit_flake8.sh
  pass_filenames: true

Update tests/cli/test_cli.py
  tests/cli/test_cli.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-XXX] Replace string with str in docstring for consistency
  airflow/gcp/operators/mlengine.py
  airflow/operators/google_api_to_s3_transfer.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-XXX] Remove duplicate docs
  docs/autoapi_templates/index.rst
Due: none

fixup! fixup! fixup! Apply suggestions from code review
  docs/howto/operator/gcp/sftp_to_gcs.rst
Due: none

Fix typo in example_sftp_to_gcs
  airflow/example_dags/example_sftp_to_gcs.py
Due: mypy, pylint, isort, flake8

fixup! fixup! Apply suggestions from code review
  tests/operators/test_sftp_to_gcs.py
Due: mypy, pylint, isort, flake8

fixup! Apply suggestions from code review
  docs/howto/operator/gcp/sftp_to_gcs.rst
Due: none

fixup! fixup! fixup! fixup! Apply suggestions from code review
  airflow/providers/google/cloud/example_dags/example_sftp_to_gcs.py
  airflow/providers/google/cloud/operators/sftp_to_gcs.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system_helper.py
Due: mypy, pylint, isort, flake8

fixup! fixup! fixup! fixup! fixup! fixup! Apply suggestions from code review
  airflow/operators/sftp_to_gcs.py
Due: mypy, pylint, isort, flake8

Apply suggestions from code review
  docs/howto/operator/gcp/sftp_to_gcs.rst
Due: none

[AIRFLOW-5718] Add SFTPToGoogleCloudStorageOperator [dependent on AIRFLOW-5717]
  airflow/example_dags/example_sftp_to_gcs.py
  airflow/operators/sftp_to_gcs.py
  docs/howto/operator/gcp/sftp_to_gcs.rst
  docs/operators-and-hooks-ref.rst
  tests/operators/test_sftp_to_gcs.py
  tests/operators/test_sftp_to_gcs_system.py
  tests/operators/test_sftp_to_gcs_system_helper.py
Due: mypy, pylint, isort, flake8

fixup! fixup! [AIRFLOW-5718] Add SFTPToGoogleCloudStorageOperator [dependent on AIRFLOW-5717]
  airflow/operators/sftp_to_gcs.py
  tests/operators/test_sftp_to_gcs.py
Due: mypy, pylint, isort, flake8

fixup! fixup! fixup! fixup! fixup! Apply suggestions from code review
  airflow/operators/sftp_to_gcs.py
Due: mypy, pylint, isort, flake8

fixup! [AIRFLOW-5718] Add SFTPToGoogleCloudStorageOperator [dependent on AIRFLOW-5717]
  airflow/operators/sftp_to_gcs.py
  docs/howto/operator/gcp/sftp_to_gcs.rst
Due: mypy, pylint, isort, flake8

fixup! fixup! fixup! [AIRFLOW-5718] Add SFTPToGoogleCloudStorageOperator [dependent on AIRFLOW-5717]
  airflow/example_dags/example_sftp_to_gcs.py
Due: mypy, pylint, isort, flake8

fixup! fixup! fixup! fixup! Apply suggestions from code review
  tests/operators/test_sftp_to_gcs_system.py
Due: mypy, pylint, isort, flake8

fixup! fixup! fixup! fixup! fixup! Apply suggestions from code review
  airflow/providers/google/cloud/example_dags/example_sftp_to_gcs.py
  docs/howto/operator/gcp/sftp_to_gcs.rst
  tests/providers/google/cloud/operators/test_sftp_to_gcs.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system.py
Due: mypy, pylint, isort, flake8

fixup! fixup! fixup! fixup! fixup! fixup! Apply suggestions from code review
  docs/operators-and-hooks-ref.rst
Due: none

[AIRFLOW-5919] Group tests for the Users/Roles/Perms commands
  tests/cli/test_cli.py
  tests/core.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-5937] Group tests for the version/connection/db commands
  tests/cli/test_cli.py
  tests/core.py
Due: mypy, pylint, isort, flake8

fixup! [AIRFLOW-5937] Group tests for the version/connection/db commands
  tests/core.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-5923] Use absolute paths in GCP system tests
  tests/contrib/utils/run_once_decorator.py
  tests/gcp/operators/test_cloud_sql_system_helper.py
  tests/gcp/operators/test_cloud_storage_transfer_service_system_helper.py
  tests/gcp/operators/test_speech_system_helper.py
  tests/providers/google/cloud/operators/test_dataproc_system.py
  tests/providers/google/cloud/operators/test_natural_language_system.py
  tests/providers/google/cloud/operators/test_pubsub_system.py
  tests/providers/google/cloud/operators/test_vision_system.py
  tests/test_utils/gcp_system_helpers.py
  tests/test_utils/operators/postgres_local_executor.cfg
  tests/test_utils/system_tests_class.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-5940] Remove redundant Code in models.dagrun
  airflow/models/dagrun.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-5942] Pin PyMSSQL to <3.0
  setup.py
Due: mypy, pylint, isort, flake8

Update setup.py
  setup.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-5942] Pin PyMSSQL to <3.0 (#6592)
  setup.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-5936] Allow explicit get_pty in SSHOperator
  airflow/contrib/operators/ssh_operator.py
  tests/contrib/operators/test_ssh_operator.py
Due: mypy, pylint, isort, flake8

[AIRFLOW-6000] Fix random failing in TestCliConnections.test_cli_connections_add_delete
  tests/cli/test_cli.py
Due: mypy, pylint, isort, flake8

AIRFLOW-2143 - Fix TaskTries graph counts off-by-1
  airflow/models/taskinstance.py
  airflow/www/views.py
Due: mypy, pylint, isort, flake8

AIRFLOW-2143 - Fix TaskTries graph counts off-by-1
  airflow/models/taskinstance.py
  airflow/www/views.py
  airflow/www_rbac/views.py
Due: mypy, pylint, isort, flake8

fix issues induced while resolving merge conflicts
  UPDATING.md
Due: none

[AIRFLOW-6002] Drop support for python 3.5
  .travis.yml
  BREEZE.rst
  breeze-complete
  common/_autodetect_variables.sh
  scripts/ci/ci_check_license.sh
  scripts/ci/ci_docs.sh
  scripts/ci/ci_flake8.sh
  scripts/ci/ci_mypy.sh
  scripts/ci/ci_pylint_main.sh
  scripts/ci/ci_pylint_tests.sh
  scripts/ci/ci_run_all_static_tests.sh
  scripts/ci/local_ci_fix_ownership.sh
  scripts/ci/pre_commit_ci_build.sh
  setup.py
Due: yamllint, mypy, pylint, isort, flake8

[AIRFLOW-5704] Improve Kind Kubernetes scripts for local testing
  .dockerignore
  .gitignore
  .travis.yml
  BREEZE.rst
  Dockerfile
  breeze
  breeze-complete
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_before_install.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/docker-compose-kubernetes.yml
  scripts/ci/docker-compose-local.yml
  scripts/ci/docker-compose.yml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/kubernetes/app/deploy_app.sh
  scripts/ci/in_container/kubernetes/app/postgres.yaml
  scripts/ci/in_container/kubernetes/app/secrets.yaml
  scripts/ci/in_container/kubernetes/app/templates/airflow.template.yaml
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
  scripts/ci/in_container/kubernetes/app/templates/init_git_sync.template.yaml
  scripts/ci/in_container/kubernetes/app/volumes.yaml
  scripts/ci/in_container/kubernetes/docker/airflow-test-env-init.sh
  scripts/ci/in_container/kubernetes/docker/bootstrap.sh
  scripts/ci/in_container/kubernetes/docker/load_airflow_image.sh
  scripts/ci/in_container/kubernetes/docker/rebuild_airflow_image.sh
  scripts/ci/in_container/kubernetes/kind-cluster-conf.yaml
  scripts/ci/in_container/kubernetes/setup_kubernetes.sh
  scripts/ci/in_container/run_ci_tests.sh
  scripts/ci/kubernetes/app/deploy_app.sh
  scripts/ci/kubernetes/docker/Dockerfile
  scripts/ci/kubernetes/docker/build.sh
  scripts/ci/kubernetes/setup_kubernetes.sh
  scripts/ci/local_ci_enter_environment.sh
  scripts/ci/local_ci_fix_ownership.sh
  scripts/ci/local_ci_stop_environment.sh
  tests/core.py
  tests/integration/kubernetes/test_kubernetes_executor.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Due: yamllint, lint-dockerfile, mypy, pylint, isort, flake8

[AIRFLOW-5842] Switch to debian buster image
  Dockerfile
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/in_container/run_extract_tests.sh
  scripts/ci/in_container/run_pylint_main.sh
Due: lint-dockerfile

[AIRFLOW-5831] Prod image support
  .travis.yml
  BREEZE.rst
  Dockerfile
  breeze
  breeze-complete
  hooks/build
  scripts/ci/ci_run_checklicence.sh
  scripts/ci/local_ci_cleanup.sh
  scripts/ci/utils/_build.sh
  scripts/ci/utils/_common_variables.sh
  scripts/ci/utils/_init.sh
Due: yamllint, lint-dockerfile

Path conditions:
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: (any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*$) or (any of: ^tests/.*\.py$)
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  flake8: any of: \.py$
