Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-common-sql-api-stubs, update-black-version, ruff, replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-links-to-example-dags-do-not-use-hardcoded-versions, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-aiobotocore-optional, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, shellcheck, lint-css, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-format-lint-www, check-tests-unittest-testcase, mypy-dev, mypy-core, mypy-providers, mypy-docs, check-provider-yaml-valid, update-migration-references, update-er-diagram

Path conditions:
  update-common-sql-api-stubs: any of: ^scripts/ci/pre_commit/pre_commit_update_common_sql_api\.py|^airflow/providers/common/sql/.*\.pyi?$
  update-black-version: any of: ^.pre-commit-config.yaml$
  ruff: any of: \.pyi?$, but not: ^.*/.*_vendor/|^tests/dags/test_imports.py
  replace-bad-characters: any file but: ^.*/.*_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$|^airflow/providers/.*/provider\.yaml$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^airflow/providers/.*/provider\.yaml$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^CONTRIBUTING\.rst$|^INSTALL$|^airflow/providers/.*/provider\.yaml$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^docs/apache-airflow/installation/supported-versions\.rst$|^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-links-to-example-dags-do-not-use-hardcoded-versions: any of: ^docs/apache-airflow-providers-.*\.rst
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-airflow-deprecation-in-providers: any of: ^airflow/providers/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^.*/.*_vendor/|^docs/|^tests/
  check-urlparse-usage-in-code: any of: \.py$
  check-only-new-session-with-provide-session: any of: ^airflow/.+\.py$
  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group\.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/providers/.*$| ^airflow/sensors/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^.*/.*_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration\.py$|^airflow/providers|^scripts/in_container/verify_providers\.py$
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-aiobotocore-optional: any of: ^airflow/providers/.*/provider\.yaml$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/installed_providers\.txt$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|sass|scss)$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/pyproject\.toml$|^dev/breeze/setup\.cfg$|^dev/breeze/setup\.py$|^dev/breeze/README\.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*\.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$, but not: (?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/.+-config\.ya?ml
)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.(rst|txt)$
  update-breeze-cmd-output: any of: (?x) ^BREEZE\.rst$|^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py$| ^generated/provider_dependencies.json$

  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-format-lint-www: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1\.yaml$ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, \.css$, \.json$
  check-tests-unittest-testcase: any of: ^tests/.*\.py$
  mypy-dev: any of: ^dev/.*\.py$
  mypy-core: any of: \.py$, but not: ^.*/.*_vendor/|^airflow/migrations|^airflow/providers|^dev|^docs|^provider_packages|^tests/providers|^tests/system/providers|^tests/dags/test_imports.py
  mypy-providers: any of: ^airflow/providers/.*\.py$|^tests/providers/\*\.py$|^tests/system/providers/\*\.py$, but not: ^.*/.*_vendor/
  mypy-docs: any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation
  check-provider-yaml-valid: any of: ^airflow/providers/.*/provider\.yaml$
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Support type checking for third-party pytest's fixtures (#37457)
  tests/conftest.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Replace usage of `datetime.utcnow` and `datetime.utcfromtimestamp` in providers
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/utils/task_log_fetcher.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/google/common/hooks/base_google.py
  kubernetes_tests/test_base.py
  tests/providers/amazon/aws/hooks/test_sagemaker.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/celery/executors/test_celery_executor.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
  tests/providers/google/cloud/sensors/test_gcs.py
  tests/providers/google/cloud/triggers/test_gcs.py
  tests/system/providers/google/cloud/storage_transfer/example_cloud_storage_transfer_service_aws.py
  tests/system/providers/google/cloud/storage_transfer/example_cloud_storage_transfer_service_gcp.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

Remove redundand context
  tests/providers/google/cloud/sensors/test_gcs.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Apply suggested changes
  tests/providers/amazon/aws/hooks/test_sagemaker.py
  tests/providers/google/cloud/sensors/test_gcs.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

add helm_tests
  helm_tests/airflow_aux/test_migrate_database_job.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Partially enable D105 rule
  pyproject.toml
Due: replace-bad-characters

Partially enable D105 rule (#37462)
  pyproject.toml
Due: replace-bad-characters

succesful pytests, breeze static checks
  airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  tests/providers/google/cloud/hooks/vertex_ai/test_generative_model.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

adding generated dependency
  generated/provider_dependencies.json
Due: replace-bad-characters, update-breeze-cmd-output

Updating constraints. Github run id:7921989999
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

updating generated dependency
  generated/provider_dependencies.json
Due: replace-bad-characters, update-breeze-cmd-output

Adding db mocking to test_settings.py
  tests/core/test_settings.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Fix documentation for pytest mark db_test
  contributing-docs/testing/unit_tests.rst
Due: replace-bad-characters

Replace usage of `datetime.utcnow` and `datetime.utcfromtimestamp` in providers (#37138)
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/utils/task_log_fetcher.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/google/common/hooks/base_google.py
  kubernetes_tests/test_base.py
  tests/providers/amazon/aws/hooks/test_sagemaker.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/celery/executors/test_celery_executor.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
  tests/providers/google/cloud/sensors/test_gcs.py
  tests/providers/google/cloud/triggers/test_gcs.py
  tests/system/providers/google/cloud/storage_transfer/example_cloud_storage_transfer_service_aws.py
  tests/system/providers/google/cloud/storage_transfer/example_cloud_storage_transfer_service_gcp.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core, mypy-providers

Add environment var example to mssql.rst (#37418)
  docs/apache-airflow-providers-microsoft-mssql/connections/mssql.rst
Due: replace-bad-characters, update-version, check-links-to-example-dags-do-not-use-hardcoded-versions

Check permissions for ImportError
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_import_error_endpoint.py
  tests/www/views/test_views_home.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

add ignores to pyproject.toml
  airflow/api/auth/backend/kerberos_auth.py
  airflow/security/kerberos.py
  airflow/security/utils.py
  pyproject.toml
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

update comment
  pyproject.toml
Due: replace-bad-characters

ignore D* for clients/*
  pyproject.toml
Due: replace-bad-characters

refactor(providers/amazon): change check_execute_complete_event to validate_execute_complete_event
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/operators/glue_crawler.py
  airflow/providers/amazon/aws/operators/glue_databrew.py
  airflow/providers/amazon/aws/operators/lambda_function.py
  airflow/providers/amazon/aws/operators/rds.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/operators/redshift_data.py
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/aws/operators/step_function.py
  airflow/providers/amazon/aws/sensors/ec2.py
  airflow/providers/amazon/aws/sensors/emr.py
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/amazon/aws/sensors/redshift_cluster.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/providers/amazon/aws/utils/__init__.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Fix GCSSynchronizeBucketsOperator timeout error
  airflow/providers/google/cloud/hooks/gcs.py
  tests/providers/google/cloud/hooks/test_gcs.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

fixup_filtering
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/www/views.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

style(providers/amazon): fix ecs type annotation
  airflow/providers/amazon/aws/operators/ecs.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

add new test for testing not log to stdout when dag_processor_manager_log_stdout is set to False
  tests/dag_processing/test_job_runner.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-core

Update overview.rst
  docs/apache-airflow/core-concepts/overview.rst
Due: replace-bad-characters, update-version

Replace usage of `datetime.utcnow` and `datetime.utcfromtimestamp` in dev
  dev/breeze/src/airflow_breeze/utils/github.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  pyproject.toml
  scripts/in_container/update_quarantined_test_status.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, mypy-core

Apply suggestions from code review
  pyproject.toml
Due: replace-bad-characters

Update overview.rst (#37472)
  docs/apache-airflow/core-concepts/overview.rst
Due: replace-bad-characters, update-version

Fix GCSSynchronizeBucketsOperator timeout error (#37237)
  airflow/providers/google/cloud/hooks/gcs.py
  tests/providers/google/cloud/hooks/test_gcs.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase, mypy-providers

add type annotations to Amazon provider "execute_coplete" methods (#36330)
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/operators/glue_crawler.py
  airflow/providers/amazon/aws/operators/glue_databrew.py
  airflow/providers/amazon/aws/operators/lambda_function.py
  airflow/providers/amazon/aws/operators/rds.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/operators/redshift_data.py
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/aws/operators/step_function.py
  airflow/providers/amazon/aws/sensors/ec2.py
  airflow/providers/amazon/aws/sensors/emr.py
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/amazon/aws/sensors/redshift_cluster.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/providers/amazon/aws/utils/__init__.py
Due: ruff, replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-airflow-deprecation-in-providers, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-providers

Prepare docs 1st wave (RC2) of Providers February 2024
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/common/sql/CHANGELOG.rst
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-common-sql/commits.rst
  docs/apache-airflow-providers-common-sql/index.rst
Due: replace-bad-characters, update-version, check-links-to-example-dags-do-not-use-hardcoded-versions, check-changelog-has-no-duplicates, check-system-tests-tocs

Update amazon provider
  airflow/providers/amazon/CHANGELOG.rst
  docs/apache-airflow-providers-amazon/commits.rst
Due: replace-bad-characters, update-version, check-links-to-example-dags-do-not-use-hardcoded-versions, check-changelog-has-no-duplicates

Replace usage of `datetime.utcnow` and `datetime.utcfromtimestamp` in dev (#37473)
  dev/breeze/src/airflow_breeze/utils/github.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  pyproject.toml
  scripts/in_container/update_quarantined_test_status.py
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, mypy-core

Replace usage of deprecated typing classes (Python 3.12)
  airflow/exceptions.py
  airflow/models/expandinput.py
  pyproject.toml
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Replace usage of locale.getdefaultlocale (Python 3.11)
  airflow/cli/commands/info_command.py
  pyproject.toml
Due: ruff, replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-urlparse-usage-in-code, check-only-new-session-with-provide-session, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, mypy-core

Updating constraints. Github run id:7930738584
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters

Update test
  tests/providers/microsoft/psrp/hooks/test_psrp.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase

Update statsd-mappings.yml
  chart/files/statsd-mappings.yml
Due: replace-bad-characters, lint-helm-chart

Fix whoops
  tests/providers/microsoft/psrp/hooks/test_psrp.py
Due: ruff, replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, check-tests-unittest-testcase
