Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Fix k8s pod.execute randomly stuck indefinitely by logs consumption (#23497) (#23618)
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

[FEATURE] google provider - BigQueryInsertJobOperator log query (#23648)
  airflow/providers/google/cloud/operators/bigquery.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Rename cluster_policy to task_policy (#23468)
  tests/cluster_policies/__init__.py
  tests/models/test_dagbag.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Revert "Fix k8s pod.execute randomly stuck indefinitely by logs consumption (#23497) (#23618)"
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Revert "Fix k8s pod.execute randomly stuck indefinitely by logs consumption (#23497) (#23618)" (#23656)
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Fix asyncio loop leaking
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Updating constraints. Build id:2310177367
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: language-matters

Add templates and constructor parameters
  scripts/tools/list-integrations.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, flake8

Make Tenant a connection-level setting
  airflow/providers/dbt/cloud/hooks/dbt.py
  airflow/providers/dbt/cloud/operators/dbt.py
  airflow/providers/dbt/cloud/sensors/dbt.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Implement PlainCronTimetable
  airflow/timetables/interval.py
  tests/timetables/test_interval_timetable.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

FIx asyncio loop leaking when task is cancelled
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Upgrade `pip` to latest released 22.1.0 version
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/TRACKING_BACKTRACKING_ISSUES.md
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
  scripts/docker/entrypoint_ci.sh
  scripts/docker/entrypoint_prod.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_pipx_tools.sh
Due: lint-dockerfile, language-matters, shellcheck, bats-tests, provider-yamls, markdownlint

AIP45 Remove dag parsing in airflow run local (#21877)
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  airflow/dag_processing/processor.py
  airflow/executors/debug_executor.py
  airflow/jobs/backfill_job.py
  airflow/jobs/local_task_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/utils/cli.py
  tests/cli/commands/test_task_command.py
  tests/conftest.py
  tests/dag_processing/test_processor.py
  tests/dags/test_dagrun_fast_follow.py
  tests/dags/test_mark_state.py
  tests/dags/test_mark_success.py
  tests/dags/test_on_failure_callback.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_local_task_job.py
  tests/models/test_taskinstance.py
  tests/task/task_runner/test_base_task_runner.py
  tests/task/task_runner/test_standard_task_runner.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Shutdown leaking executor
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

remove `--` in `./breeze build-docs` command
  docs/README.rst
Due: language-matters, provider-yamls

remove `--` in `./breeze build-docs` command (#23671)
  docs/README.rst
Due: language-matters, provider-yamls

Synchronize support for Postgres and K8S in docs
  README.md
  docs/apache-airflow/installation/prerequisites.rst
Due: language-matters, provider-yamls, markdownlint

Mark image as refreshed when pulled on CI (#23410)
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_image.py
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/utils/pulll_image.py
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Improve verbose output of Breeze (#23446)
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Unify approach for user questions asked in Breeze (#23335)
  breeze
  dev/breeze/doc/adr/0012-asking-user-for-confirmation.md
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_image.py
  dev/breeze/src/airflow_breeze/commands/ci_image_tools.py
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance.py
  dev/breeze/src/airflow_breeze/commands/custom_param_types.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_tools.py
  dev/breeze/src/airflow_breeze/commands/release_management.py
  dev/breeze/src/airflow_breeze/utils/confirm.py
  dev/breeze/src/airflow_breeze/utils/md5_build_check.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/reinstall.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Due: update-breeze-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, markdownlint, flynt, flake8

Move non-opencontainer labeling of the image to breeze from Dockerfile (#23379)
  Dockerfile
  dev/breeze/src/airflow_breeze/build_image/prod/build_prod_params.py
Due: lint-dockerfile, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Changed word 'the' instead 'his' (#23493)
  dev/breeze/doc/adr/0012-asking-user-for-confirmation.md
Due: language-matters, markdownlint

Move tests command in new breeze (#23445)
  BREEZE.rst
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/testing.py
  dev/breeze/src/airflow_breeze/shell/enter_shell.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  images/breeze/output-commands.svg
  images/breeze/output-tests.svg
Due: update-breeze-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Fix accidental including of providers in airflow package (#23552)
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Add logging in to Github Registry for breeze pull (#23551)
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/ci_image_tools.py
  dev/breeze/src/airflow_breeze/commands/production_image_tools.py
  dev/breeze/src/airflow_breeze/utils/pulll_image.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Refactor Breeze to group related methods and classes together (#23556)
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/build_image/__init__.py
  dev/breeze/src/airflow_breeze/build_image/ci/__init__.py
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_image.py
  dev/breeze/src/airflow_breeze/build_image/prod/build_prod_image.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/configure_rich_click.py
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/shell/__init__.py
  dev/breeze/src/airflow_breeze/shell/enter_shell.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/mark_image_as_refreshed.py
  dev/breeze/src/airflow_breeze/utils/pulll_image.py
  dev/breeze/src/airflow_breeze/utils/rebuild_image_if_needed.py
  dev/breeze/src/airflow_breeze/utils/registry.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

Add slim images to release process (#23391)
  .pre-commit-config.yaml
  BREEZE.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/README.md
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/prepare_prod_docker_images.sh
  dev/retag_docker_images.py
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  images/breeze/output-commands.svg
  images/breeze/output-release-prod-images.svg
  setup.cfg
Due: setup-order, update-breeze-file, update-setup-cfg-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, sort-in-the-wild, shellcheck, bats-tests, provider-yamls, pre-commit-descriptions, pre-commit-hook-names, markdownlint, flynt, flake8

tHe output of commands of Breeze are only generated when they change (#23570)
  .pre-commit-config.yaml
  BREEZE.rst
  dev/breeze/README.md
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  images/breeze/output-build-image.svg
  images/breeze/output-build-prod-image.svg
  images/breeze/output-cleanup.svg
  images/breeze/output-command-hash-export.svg
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output-config.svg
  images/breeze/output-docker-compose-tests.svg
  images/breeze/output-exec.svg
  images/breeze/output-find-newer-dependencies.svg
  images/breeze/output-fix-ownership.svg
  images/breeze/output-free-space.svg
  images/breeze/output-generate-constraints.svg
  images/breeze/output-prepare-airflow-package.svg
  images/breeze/output-prepare-provider-documentation.svg
  images/breeze/output-prepare-provider-packages.svg
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
  images/breeze/output-release-prod-images.svg
  images/breeze/output-resource-check.svg
  images/breeze/output-self-upgrade.svg
  images/breeze/output-setup-autocomplete.svg
  images/breeze/output-shell.svg
  images/breeze/output-start-airflow.svg
  images/breeze/output-static-checks.svg
  images/breeze/output-stop.svg
  images/breeze/output-tests.svg
  images/breeze/output-verify-image.svg
  images/breeze/output-verify-prod-image.svg
  images/breeze/output-verify-provider-packages.svg
  images/breeze/output-version.svg
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  setup.cfg
Due: setup-order, update-breeze-file, update-setup-cfg-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names, markdownlint, flynt, mypy, flake8

Clean up in-line f-string concatenation (#23591)
  airflow/providers/amazon/aws/utils/redshift.py
  airflow/providers/apache/drill/hooks/drill.py
  airflow/providers/databricks/operators/databricks_repos.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/hashicorp/_internal_client/vault_client.py
  airflow/utils/cli.py
  dev/assign_cherry_picked_prs_with_milestone.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/prepare_release_issue.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow/security/webserver.rst
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
  tests/cli/test_cli_parser.py
  tests/system/providers/google/bigquery/example_bigquery_tables.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Use inclusive words in apache airflow project (#23090)
  .pre-commit-config.yaml
  airflow/sensors/base.py
  airflow/utils/orm_event_handlers.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  scripts/ci/libraries/_sanity_checks.sh
  scripts/in_container/run_system_tests.sh
  tests/conftest.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, sort-in-the-wild, shellcheck, bats-tests, pre-commit-descriptions, pre-commit-hook-names, flynt, mypy, pylint, flake8, bats-in-container-tests

Update min requirements for rich to 12.4.1 (#23604)
  .pre-commit-config.yaml
  dev/breeze/README.md
  dev/breeze/setup.cfg
  setup.cfg
Due: setup-order, update-setup-cfg-file, language-matters, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names, markdownlint

[FEATURE] update K8S-KIND to 0.13.0 (#23636)
  breeze-complete
  dev/breeze/src/airflow_breeze/global_constants.py
  scripts/ci/libraries/_initialization.sh
Due: update-breeze-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, shellcheck, bats-tests, pre-commit-descriptions, flynt, flake8

[FEATURE] add K8S 1.24 support (#23637)
  README.md
  breeze-complete
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/installation/prerequisites.rst
  scripts/ci/libraries/_initialization.sh
Due: update-breeze-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, shellcheck, bats-tests, provider-yamls, pre-commit-descriptions, markdownlint, flynt, flake8

Fix staticcheck
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Synchronize support for Postgres and K8S in docs (#23673)
  README.md
  docs/apache-airflow/installation/prerequisites.rst
Due: language-matters, provider-yamls, markdownlint

Do not rely on default executor shutdown
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, flynt, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
