Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-and-lint-javascript, run-mypy, run-flake8, update-migration-references, update-er-diagram

Path conditions:
  replace-bad-characters: any file but: ^airflow/_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$|^airflow/providers/.*/provider.yaml$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration.py|^airflow/providers|^scripts/in_container/verify_providers.py
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^.*\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$|^\.pre-commit-config\.yaml$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^airflow/_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-and-lint-javascript: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1.yaml and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$, \.(yaml|yml)$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev|^tests/system/providers|^tests/providers)) or (any of: ^airflow/providers/.*\.py$|^tests/system/providers/\*.py|^tests/providers/\*.py)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Nits
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/common/sql/operators/sql.pyi
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Update airflow/models/connection.py
  airflow/models/connection.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

fix stub
  airflow/providers/common/sql/operators/sql.pyi
Due: replace-bad-characters

Defer to hook setting for split_statements in SQLExecuteQueryOperator (#28635)
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/common/sql/operators/sql.pyi
  tests/providers/amazon/aws/operators/test_redshift_sql.py
  tests/providers/common/sql/operators/test_sql.py
  tests/providers/exasol/operators/test_exasol.py
  tests/providers/jdbc/operators/test_jdbc.py
  tests/providers/oracle/operators/test_oracle.py
  tests/providers/trino/operators/test_trino.py
  tests/providers/vertica/operators/test_vertica.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Allow generation of connection URI to work when no conn type (#26765)
  airflow/models/connection.py
  tests/always/test_connection.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Remove outdated comments from base hook
  airflow/hooks/base.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Rename ids and fix tests
  airflow/www/static/js/dag/grid/TaskName.tsx
  airflow/www/static/js/dag/grid/index.test.tsx
Due: replace-bad-characters, ts-compile-and-lint-javascript

Fix UI caret direction
  airflow/www/static/css/flash.css
  airflow/www/static/js/dag/grid/TaskName.test.tsx
  airflow/www/static/js/dag/grid/TaskName.tsx
Due: replace-bad-characters, lint-css, ts-compile-and-lint-javascript

Add deferrable mode to MLEngineStartTrainingJobOperator
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/cloud/triggers/mlengine.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/mlengine.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_mlengine.py
  tests/providers/google/cloud/operators/test_mlengine.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
  tests/providers/google/cloud/triggers/test_mlengine.py
  tests/system/providers/google/cloud/ml_engine/example_mlengine_async.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Move min airflow version down for Docker Provider to 2.3.0
  airflow/providers/docker/provider.yaml
  generated/provider_dependencies.json
Due: replace-bad-characters, update-providers-dependencies, check-for-inclusive-language, check-provider-yaml-valid

Slightly improve description of Dynamic DAG generation preamble
  docs/apache-airflow/howto/dynamic-dag-generation.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Move min airflow version down for Docker Provider to 2.3.0 (#28648)
  airflow/providers/docker/provider.yaml
  generated/provider_dependencies.json
Due: replace-bad-characters, update-providers-dependencies, check-for-inclusive-language, check-provider-yaml-valid

Updating constraints. Build id:
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters, check-for-inclusive-language

add description of breaking changes (#28582)
  airflow/providers/amazon/CHANGELOG.rst
Due: replace-bad-characters, check-changelog-has-no-duplicates

Emit warnings for `conf.get*` from the right source location (#28543)
  airflow/configuration.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fix isort pre-commit issue by specifying pyproject.toml
  .pre-commit-config.yaml
  airflow/compat/functools.pyi
  airflow/decorators/__init__.pyi
  airflow/migrations/db_types.pyi
  airflow/utils/context.pyi
  tests/decorators/test_python.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-pre-commit-information-consistent, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Remove outdated comments from base hook (#28649)
  airflow/hooks/base.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Update taskflow.rst
  docs/apache-airflow/core-concepts/taskflow.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Update providers release instructions
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Due: replace-bad-characters, check-for-inclusive-language, lint-markdown

Update providers release instructions (#28657)
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Due: replace-bad-characters, check-for-inclusive-language, lint-markdown

Fix minor typo in taskflow.rst (#28656)
  docs/apache-airflow/core-concepts/taskflow.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Use labels instead of pod name for pod log read in k8s exec (#28546)
  airflow/kubernetes/kubernetes_helper_functions.py
  airflow/kubernetes/pod_generator.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/utils/log/file_task_handler.py
  tests/kubernetes/test_kubernetes_helper_functions.py
  tests/kubernetes/test_pod_generator.py
  tests/utils/test_log_handlers.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

revert
  .pre-commit-config.yaml
  airflow/compat/functools.pyi
  airflow/decorators/__init__.pyi
  airflow/migrations/db_types.pyi
  airflow/utils/context.pyi
  tests/decorators/test_python.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-pre-commit-information-consistent, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

revert to 5.11.2
  .pre-commit-config.yaml
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-pre-commit-information-consistent, update-breeze-cmd-output

Slightly improve description of Dynamic DAG generation preamble (#28650)
  docs/apache-airflow/howto/dynamic-dag-generation.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Revert to isort version 5.11.2 in pre-commit (#28652)
  .pre-commit-config.yaml
Due: replace-bad-characters, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, check-pre-commit-information-consistent, update-breeze-cmd-output

check result state
  airflow/providers/jenkins/hooks/jenkins.py
  airflow/providers/jenkins/sensors/jenkins.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Update jenkins.py
  airflow/providers/jenkins/sensors/jenkins.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Revert "Update jenkins.py"
  airflow/providers/jenkins/sensors/jenkins.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

ternary operator to make the code more concise
  airflow/__init__.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

switched to a ternary operator and minor readability improvements
  airflow/stats.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

ternary operator version of the if statements
  airflow/templates.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

very minor spacing change
  airflow/settings.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8
