Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-2-compatibility, update-breeze-cmd-output, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-system-tests-tocs, create-missing-init-py-files-tests, run-mypy, run-flake8, lint-javascript, update-migration-references

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-2-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

Update Dataproc Metastore operators to accommodate new dependencies.
  tests/system/providers/google/cloud/dataproc_metastore/example_dataproc_metastore.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix Stackdriver system test
  tests/system/providers/google/cloud/stackdriver/example_stackdriver.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Add SQL to Sheets Test instructions
  tests/system/providers/google/cloud/sql_to_sheets/example_sql_to_sheets.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update AutoML operators to accommodate new dependencies.
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/operators/automl.py
  tests/providers/google/cloud/operators/test_automl.py
  tests/system/providers/google/cloud/automl/example_automl_dataset.py
  tests/system/providers/google/cloud/automl/example_automl_model.py
  tests/system/providers/google/cloud/automl/example_automl_nl_text_extraction.py
  tests/system/providers/google/cloud/automl/example_automl_vision_classification.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix Cloud SQL delete operator
  airflow/providers/google/cloud/hooks/cloud_sql.py
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/system/providers/google/cloud/cloud_sql/example_cloud_sql.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update Translate Speech operators to accommodate new dependencies.
  airflow/providers/google/cloud/operators/translate_speech.py
  tests/providers/google/cloud/operators/test_translate_speech.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update Vision operators to accommodate new dependencies.
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/cloud/operators/vision.py
  tests/providers/google/cloud/hooks/test_vision.py
  tests/providers/google/cloud/operators/test_vision.py
  tests/system/providers/google/cloud/vision/example_vision_annotate_image.py
  tests/system/providers/google/cloud/vision/example_vision_autogenerated.py
  tests/system/providers/google/cloud/vision/example_vision_explicit.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update Composer system tests.
  tests/system/providers/google/cloud/composer/example_cloud_composer.py
  tests/system/providers/google/cloud/composer/example_cloud_composer_deferrable.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update Compute Engine operators to accomodate for new dependencies.
  airflow/providers/google/cloud/example_dags/example_compute.py
  airflow/providers/google/cloud/example_dags/example_compute_ssh.py
  airflow/providers/google/cloud/hooks/compute.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/operators/compute.py
  docs/apache-airflow-providers-google/operators/cloud/compute_ssh.rst
  tests/providers/google/cloud/hooks/test_compute.py
  tests/system/providers/google/cloud/compute/example_compute.py
  tests/system/providers/google/cloud/compute/example_compute_igm.py
  tests/system/providers/google/cloud/compute/example_compute_ssh.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update providers.yaml for google
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Due: check-for-inclusive-language, check-provider-yaml-valid

Update Dataproc on gke operators to accommodate new dependencies.
  tests/system/providers/google/cloud/dataproc/example_dataproc_gke.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Fix Google providers type errors
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/compute.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/hooks/natural_language.py
  airflow/providers/google/cloud/hooks/spanner.py
  airflow/providers/google/cloud/hooks/speech_to_text.py
  airflow/providers/google/cloud/hooks/text_to_speech.py
  airflow/providers/google/cloud/hooks/video_intelligence.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/video_intelligence.py
  airflow/providers/google/cloud/operators/vision.py
  airflow/providers/google/cloud/operators/workflows.py
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/google/cloud/utils/bigquery_get_data.py
  airflow/providers/google/provider.yaml
  tests/providers/google/cloud/hooks/test_speech_to_text.py
  tests/providers/google/cloud/hooks/test_text_to_speech.py
  tests/providers/google/cloud/hooks/test_vision.py
  tests/providers/google/cloud/operators/test_workflows.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Google SDK Fixes after rebase
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/cloud/_internal_client/secret_manager_client.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/operators/compute.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/providers/google/cloud/_internal_client/test_secret_manager_client.py
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/providers/google/cloud/hooks/test_cloud_storage_transfer_service.py
  tests/providers/google/cloud/hooks/test_compute.py
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/hooks/test_secret_manager.py
  tests/providers/google/cloud/operators/test_functions.py
  tests/providers/google/cloud/triggers/test_cloud_build.py
  tests/system/providers/google/cloud/compute/example_compute_ssh.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_go.py
  tests/system/providers/google/cloud/dataflow/resources/wordcount.go
  tests/system/providers/google/cloud/dataproc/example_dataproc_gke.py
  tests/system/providers/google/cloud/dataproc/resources/pip-install.sh
  tests/system/providers/google/cloud/ml_engine/example_mlengine.py
  tests/system/providers/google/cloud/ml_engine/example_mlengine_async.py
  tests/system/providers/google/cloud/sql_to_sheets/example_sql_to_sheets.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_container.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_endpoint.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update Dataflow sys tests to new sdk
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_java.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_python.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_python_async.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update MLEngine operators to accomodate new dependencies.
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/utils/mlengine_operator_utils.py
  tests/system/providers/google/cloud/ml_engine/example_mlengine.py
  tests/system/providers/google/cloud/ml_engine/example_mlengine_async.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Add Dataflow Go system test
  tests/system/providers/google/cloud/dataflow/example_dataflow_go.py
  tests/system/providers/google/cloud/dataflow/resources/wordcount.go
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

fixup! Update providers.yaml for google
  airflow/providers/apache/beam/provider.yaml
  generated/provider_dependencies.json
Due: check-for-inclusive-language, check-provider-yaml-valid

Update Dataproc operators to accommodate new dependencies.
  tests/system/providers/google/cloud/dataproc/example_dataproc_batch.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_batch_persistent.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_deferrable.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_generator.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_update.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_hadoop.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_hive.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_pig.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_pyspark.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_async.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_deferrable.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_sql.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_sparkr.py
  tests/system/providers/google/cloud/dataproc/resources/pip-install.sh
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, run-shellcheck, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Update Dataprep operators to accommodate new dependencies.
  tests/system/providers/google/cloud/dataprep/example_dataprep.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Updating constraints. Github run id:5007526038
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

One of the EKS Operator unit tests was over-indented
  tests/providers/amazon/aws/operators/test_eks.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Switch to google ads v13
  airflow/providers/google/ads/hooks/ads.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Adds resolve_wait_for_completion and related unit tests, and CR fixes
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/utils/fargate_logging.py
  tests/providers/amazon/aws/operators/test_eks.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Increase timeouts for hook related tests
  tests/always/test_providers_manager.py
  tests/www/views/test_views_connection.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Increase timeouts for hook related tests (#31371)
  tests/always/test_providers_manager.py
  tests/www/views/test_views_connection.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Switch to google ads v13 (#31369)
  airflow/providers/google/ads/hooks/ads.py
Due: check-airflow-2-2-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

One of the EKS Operator unit tests was over-indented (#31367)
  tests/providers/amazon/aws/operators/test_eks.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Updating constraints. Github run id:5009373303
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Update docs/apache-airflow-providers-pagerduty/notifications/pagerduty_notifier_howto_guide.rst
  docs/apache-airflow-providers-pagerduty/notifications/pagerduty_notifier_howto_guide.rst
Due: update-version, check-provider-yaml-valid

Fix failing static check
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Due: update-version, check-provider-yaml-valid

Silence jupyter-client deprecation on platformdirs
  scripts/in_container/verify_providers.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add doc for smtp notifier
  airflow/providers/smtp/notifications/smtp.py
  docs/apache-airflow-providers-smtp/index.rst
  docs/apache-airflow-providers-smtp/notifications/smtp_notifier_howto_guide.rst
Due: check-airflow-2-2-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-docstring-param-types, check-system-tests-tocs, run-mypy, run-flake8

(#31314) fix: test method naming
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Handling review comments from uranusjr
  airflow/executors/kubernetes_executor.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Making webserver config customisable (#29926)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  tests/www/views/test_views.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, create-missing-init-py-files-tests, run-mypy, run-flake8

Re-format add_logger_if_needed docstring
  airflow/models/dag.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8
