Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

check-shared-distributions-structure:
  name: Check shared distributions structure
  entry: ./scripts/ci/prek/check_shared_distributions_structure.py
  language: python
  pass_filenames: false

check-shared-distributions-usage:
  name: Check shared distributions usage
  entry: ./scripts/ci/prek/check_shared_distributions_usage.py
  language: python
  pass_filenames: false

replace-bad-characters:
  name: Replace bad characters
  entry: ./scripts/ci/prek/replace_bad_characters.py
  language: python

lint-dockerfile:
  name: Lint Dockerfile
  language: python
  entry: ./scripts/ci/prek/lint_dockerfile.py
  pass_filenames: true
  require_serial: true

check-airflow-providers-bug-report-template:
  name: Sort airflow-bug-report provider list
  language: python
  require_serial: true
  entry: ./scripts/ci/prek/check_airflow_bug_report_template.py

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/prek/local_yml_mounts.py
  language: python
  pass_filenames: false

check-extras-order:
  name: Check order of extras in Dockerfile
  entry: ./scripts/ci/prek/check_order_dockerfile_extras.py
  language: python
  pass_filenames: false

generate-airflow-diagrams:
  name: Generate airflow diagrams
  entry: ./scripts/ci/prek/generate_airflow_diagrams.py
  language: python
  pass_filenames: true

prevent-deprecated-sqlalchemy-usage:
  name: Prevent deprecated sqlalchemy usage
  entry: ./scripts/ci/prek/prevent_deprecated_sqlalchemy_usage.py
  language: python
  pass_filenames: true

update-supported-versions:
  name: Updates supported versions in documentation
  entry: ./scripts/ci/prek/supported_versions.py
  language: python
  pass_filenames: false

check-revision-heads-map:
  name: Check that the REVISION_HEADS_MAP is up-to-date
  language: python
  entry: ./scripts/ci/prek/check_revision_heads_map.py
  pass_filenames: false

update-version:
  name: Update versions in docs
  entry: ./scripts/ci/prek/update_versions.py
  language: python
  pass_filenames: false

check-pydevd-left-in-code:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

check-safe-filter-usage-in-html:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

check-urlparse-usage-in-code:
  language: pygrep
  name: Don't use urlparse in code
  description: urlparse is not recommended, use urlsplit() in code instead
  entry: ^\s*from urllib\.parse import ((\|, )(urlparse\|urlunparse))+$
  pass_filenames: true

check-template-context-variable-in-sync:
  name: Sync template context variable refs
  language: python
  entry: ./scripts/ci/prek/check_template_context_variable_in_sync.py

check-core-deprecation-classes:
  language: pygrep
  name: Verify usage of Airflow deprecation classes in core
  entry: category=DeprecationWarning|category=PendingDeprecationWarning
  pass_filenames: true

Add regression tests for task_instance_mutation_hook under scheduler commit guard (#67980)
  airflow-core/tests/unit/models/test_dagrun.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

update comment
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
Due: replace-bad-characters

Update providers metadata 2026-06-07 (#68191)
  generated/provider_metadata.json
Due: replace-bad-characters

Go-SDK: correct airflow-go-pack default-output-name docs
  go-sdk/adr/0002-use-go-tool-directive-for-bundle-packer.md
  go-sdk/cmd/airflow-go-pack/pack.go
Due: replace-bad-characters, lint-markdown

Go-SDK: guard airflow-go-pack output against the --airflow-metadata file
  go-sdk/cmd/airflow-go-pack/pack.go
  go-sdk/cmd/airflow-go-pack/pack_test.go
Due: none

Go-SDK: add airflow-go-pack inspect command test
  go-sdk/cmd/airflow-go-pack/inspect_test.go
Due: none

Go SDK: airflow-go-pack tool for self-contained bundle binaries (#67156)
  go-sdk/adr/0002-use-go-tool-directive-for-bundle-packer.md
  go-sdk/bundle/bundlev1/bundlev1server/server.go
  go-sdk/bundle/bundlev1/registry.go
  go-sdk/bundle/bundlev1/registry_test.go
  go-sdk/cmd/airflow-go-pack/inspect.go
  go-sdk/cmd/airflow-go-pack/inspect_test.go
  go-sdk/cmd/airflow-go-pack/main.go
  go-sdk/cmd/airflow-go-pack/pack.go
  go-sdk/cmd/airflow-go-pack/pack_integration_test.go
  go-sdk/cmd/airflow-go-pack/pack_test.go
  go-sdk/example/bundle/Justfile
  go-sdk/go.mod
  go-sdk/internal/airflowmetadata/airflowmetadata.go
  go-sdk/internal/bundlefooter/footer.go
  go-sdk/internal/bundlefooter/footer_test.go
  go-sdk/pkg/execution/messages.go
  go-sdk/pkg/execution/metadata.go
  go-sdk/pkg/execution/metadata_test.go
Due: replace-bad-characters, lint-markdown

Add Go-SDK e2e test
  .github/workflows/airflow-e2e-tests.yml
  airflow-e2e-tests/docker/go.yml
  airflow-e2e-tests/tests/airflow_e2e_tests/conftest.py
  airflow-e2e-tests/tests/airflow_e2e_tests/constants.py
  airflow-e2e-tests/tests/airflow_e2e_tests/go_sdk_tests/__init__.py
  airflow-e2e-tests/tests/airflow_e2e_tests/go_sdk_tests/test_go_sdk_dag.py
  dev/breeze/doc/images/output_testing_airflow-e2e-tests.svg
  dev/breeze/doc/images/output_testing_airflow-e2e-tests.txt
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  go-sdk/dags/go_examples.py
  go-sdk/example/bundle/main.go
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

#31 - Extract log tail from failed Task Instances
  team_project/plugins/dag_triage_plugin.py
  team_project/pyproject.toml
  team_project/src/dag_triage/__init__.py
  team_project/src/dag_triage/config.py
  team_project/src/dag_triage/listener.py
  team_project/src/dag_triage/log_tail.py
  team_project/src/dag_triage/log_tail_store.py
  team_project/src/dag_triage/plugin.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging

Fix e2e test registration
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/ci-amd.yml
  .github/workflows/ci-arm.yml
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

#31 - Add tests for log tail capture
  team_project/.test-venv/bin/Activate.ps1
  team_project/.test-venv/bin/activate
  team_project/.test-venv/bin/activate.csh
  team_project/.test-venv/bin/activate.fish
  team_project/.test-venv/bin/pip
  team_project/.test-venv/bin/pip3
  team_project/.test-venv/bin/pip3.9
  team_project/.test-venv/bin/py.test
  team_project/.test-venv/bin/pygmentize
  team_project/.test-venv/bin/pytest
  team_project/.test-venv/bin/python
  team_project/.test-venv/bin/python3
  team_project/.test-venv/bin/python3.9
  team_project/.test-venv/pyvenv.cfg
  team_project/pyproject.toml
  team_project/tests/conftest.py
  team_project/tests/helpers.py
  team_project/tests/test_config.py
  team_project/tests/test_listener.py
  team_project/tests/test_log_tail.py
  team_project/tests/test_log_tail_store.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

#33 - Render triage summary panel in Task Instance view
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/Logs.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/TriagePanel/TriagePanel.test.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/TriagePanel/TriagePanel.tsx
  airflow-core/src/airflow/ui/src/queries/useTriageSummary.tsx
  team_project/pyproject.toml
  team_project/src/dag_triage/api.py
  team_project/src/dag_triage/plugin.py
  team_project/src/dag_triage/triage_service.py
  team_project/tests/test_triage_service.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Ticket #29: Initial plugin scaffold for DAG triage assistant
  team_project/README.md
  team_project/demo.py
  team_project/plugin/README.md
  team_project/plugin/dag_triage_plugin/__init__.py
  team_project/plugin/dag_triage_plugin/api.py
  team_project/plugin/pyproject.toml
  team_project/plugin/pytest.ini
  team_project/plugin/ruff.toml
  team_project/plugin/tests/__init__.py
  team_project/plugin/tests/test_plugin_api.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, lint-markdown, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

#30 - Record ADR for classifier approach selection
  docs/adr/0001-record-architecture-decisions.md
  docs/adr/0002-classifier-approach-selection.md
  docs/adr/README.md
Due: replace-bad-characters, update-version, lint-markdown

Remove explicit session.commit() from delete_xcom to align with request-scoped session handling
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels

fix(task-sdk): respect default parameter in xcom_pull when no XCom found
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

test(task-sdk): add regression tests for xcom_pull default parameter
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix cred configs in publish workflow
  java-sdk/README.md
  java-sdk/sdk/build.gradle.kts
Due: replace-bad-characters, lint-markdown

Avoid N+1 team-name queries in bulk Dag run authorization
  airflow-core/src/airflow/api_fastapi/core_api/security.py
  airflow-core/tests/unit/api_fastapi/core_api/test_security.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

chore: move standard examples to provider 1. loading example dags as bundles 2. fixing testcases to use bundles instead of dagbag folders 3. fixing testcases to use example_dags from standard module
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/src/airflow/dag_processing/dagbag.py
  airflow-core/src/airflow/example_dags/standard
  airflow-core/tests/unit/dag_processing/test_dagbag.py
  airflow-core/tests/unit/models/test_dagcode.py
  airflow-core/tests/unit/models/test_serialized_dag.py
  devel-common/src/tests_common/test_utils/db.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Tests: relax test_get_all_bundle_names assertion
  airflow-core/tests/unit/dag_processing/bundles/test_dag_bundle_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Address review feedback on example DAG loading
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/tests/unit/cli/commands/test_task_command.py
  airflow-core/tests/unit/dag_processing/test_dagbag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Tests: avoid double-loading example DAGs in parse_and_sync_to_db
  devel-common/src/tests_common/test_utils/db.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

fix: failing testcases to load examples form dagbundle
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_parsing.py
  airflow-core/tests/unit/cli/commands/test_dag_command.py
  airflow-core/tests/unit/cli/commands/test_task_command.py
  devel-common/src/tests_common/test_utils/db.py
  providers/standard/tests/unit/standard/operators/test_trigger_dagrun.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Tests: use SQLAlchemy 2.0 delete() in trigger_dagrun teardown
  providers/standard/tests/unit/standard/operators/test_trigger_dagrun.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Tests: update bundle_name for example_python_operator
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Resolve provider example DAGs via ProvidersManager
  airflow-core/src/airflow/dag_processing/bundles/manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Update devel-common/src/tests_common/test_utils/db.py
  devel-common/src/tests_common/test_utils/db.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Update airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/src/airflow/dag_processing/bundles/manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

Address review feedback on provider example DAG bundle discovery
  airflow-core/newsfragments/66161.significant.rst
  airflow-core/src/airflow/dag_processing/bundles/manager.py
  airflow-core/src/airflow/dag_processing/dagbag.py
  airflow-core/tests/unit/api_fastapi/conftest.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
  airflow-core/tests/unit/cli/commands/test_asset_command.py
  airflow-core/tests/unit/cli/commands/test_backfill_command.py
  airflow-core/tests/unit/cli/commands/test_dag_command.py
  airflow-core/tests/unit/cli/commands/test_task_command.py
  airflow-core/tests/unit/dag_processing/bundles/test_dag_bundle_manager.py
  devel-common/src/tests_common/test_utils/db.py
  providers/fab/tests/unit/fab/www/views/conftest.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Remove include_examples parameter from DagBag and test helpers
  airflow-core/newsfragments/66161.significant.rst
  airflow-core/src/airflow/dag_processing/dagbag.py
  airflow-core/tests/integration/otel/test_otel.py
  airflow-core/tests/unit/always/test_example_dags.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_backfills.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_sources.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
  airflow-core/tests/unit/cli/commands/test_config_command.py
  airflow-core/tests/unit/cli/commands/test_dag_command.py
  airflow-core/tests/unit/cli/commands/test_pool_command.py
  airflow-core/tests/unit/cli/commands/test_team_command.py
  airflow-core/tests/unit/cli/commands/test_variable_command.py
  airflow-core/tests/unit/cli/conftest.py
  airflow-core/tests/unit/core/test_impersonation_tests.py
  airflow-core/tests/unit/dag_processing/test_dagbag.py
  airflow-core/tests/unit/dag_processing/test_manager.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_dagrun.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  devel-common/src/tests_common/pytest_plugin.py
  devel-common/src/tests_common/test_utils/db.py
  providers/google/tests/unit/google/cloud/operators/test_dataproc.py
  providers/google/tests/unit/google/cloud/operators/test_looker.py
  providers/openlineage/tests/unit/openlineage/plugins/test_execution.py
  providers/standard/tests/unit/standard/sensors/test_external_task_sensor.py
  providers/standard/tests/unit/standard/sensors/test_time_delta.py
  providers/standard/tests/unit/standard/sensors/test_weekday.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, bandit, mypy-devel-common, check-contextmanager-class-decorators

Trim 66161 newsfragment to user-visible facts
  airflow-core/newsfragments/66161.significant.rst
Due: replace-bad-characters

Drop include_examples from new DagBag callers and gate dag_maker for compat
  airflow-core/tests/unit/models/test_dag.py
  devel-common/src/tests_common/pytest_plugin.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Fix mypy and test assertion after DagBag include_examples removal
  airflow-core/tests/unit/cli/commands/test_config_command.py
  devel-common/src/tests_common/test_utils/db.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

Gate DagBag include_examples on Airflow 3.3+ for older compat runs
  devel-common/src/tests_common/test_utils/db.py
  providers/standard/tests/unit/standard/sensors/test_external_task_sensor.py
  providers/standard/tests/unit/standard/sensors/test_time_delta.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-devel-common, check-contextmanager-class-decorators

PR template: request before/after screenshots for UI changes
  .github/PULL_REQUEST_TEMPLATE.md
Due: replace-bad-characters, lint-markdown

Add Go-SDK e2e test (#67956)
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/airflow-e2e-tests.yml
  .github/workflows/ci-amd.yml
  .github/workflows/ci-arm.yml
  airflow-e2e-tests/docker/go.yml
  airflow-e2e-tests/tests/airflow_e2e_tests/conftest.py
  airflow-e2e-tests/tests/airflow_e2e_tests/constants.py
  airflow-e2e-tests/tests/airflow_e2e_tests/go_sdk_tests/__init__.py
  airflow-e2e-tests/tests/airflow_e2e_tests/go_sdk_tests/test_go_sdk_dag.py
  dev/breeze/doc/images/output_testing_airflow-e2e-tests.svg
  dev/breeze/doc/images/output_testing_airflow-e2e-tests.txt
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  go-sdk/dags/go_examples.py
  go-sdk/example/bundle/main.go
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

Remove uneccessary json.dumps from example task store dag
  airflow-core/src/airflow/example_dags/example_task_store.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging

Fix cred configs in publish workflow (#68073)
  java-sdk/README.md
  java-sdk/sdk/build.gradle.kts
Due: replace-bad-characters, lint-markdown

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/
