Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Fix HTTP verb in JWT auth mermaid diagram (PATCH, not POST)
  airflow-core/docs/security/jwt_token_authentication.rst
Due: replace-bad-characters

Bump @playwright/test to 1.60 to fix UI e2e install hang on Node 24+ (#67398) (#67454)
  airflow-core/src/airflow/ui/package.json
  airflow-core/src/airflow/ui/pnpm-lock.yaml
Due: replace-bad-characters

Add OpenLineage support to JdbcHook
  providers/jdbc/src/airflow/providers/jdbc/hooks/jdbc.py
  providers/jdbc/tests/unit/jdbc/hooks/test_jdbc.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Correctly pre-allocate `external_exeuctor_id` with multiple executors. (#67388)
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

comments from shahar
  providers/apache/spark/docs/operators.rst
Due: replace-bad-characters

comments from XD
  providers/apache/spark/docs/operators.rst
Due: replace-bad-characters

docstring for resumablemixin
  task-sdk/src/airflow/sdk/bases/resumablemixin.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix Akeyless JWT connection credential is not redacted (#67443)
  providers/akeyless/provider.yaml
  providers/akeyless/src/airflow/providers/akeyless/get_provider_info.py
  providers/akeyless/src/airflow/providers/akeyless/hooks/akeyless.py
  providers/akeyless/tests/unit/akeyless/hooks/test_akeyless.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. GitHub run id:26390059818
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-3.14.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-no-providers-3.14.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
  constraints-source-providers-3.14.txt
Due: replace-bad-characters

Require starlette>=1.0.1 for Host header parsing fix (#67326)
  airflow-core/pyproject.toml
  pyproject.toml
  scripts/ci/prek/upgrade_important_versions.py
  scripts/tests/ci/prek/test_upgrade_important_versions.py
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

allowing opt-out from reconnecting
  providers/apache/spark/src/airflow/providers/apache/spark/operators/spark_submit.py
  providers/apache/spark/tests/unit/apache/spark/operators/test_spark_submit.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Updating constraints. GitHub run id:26390081753
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-3.14.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-no-providers-3.14.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
  constraints-source-providers-3.14.txt
Due: replace-bad-characters

Correctly pre-allocate `external_exeuctor_id` with multiple executors. (#67388) (#67458)
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Updating constraints. GitHub run id:26391687035
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-3.14.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-no-providers-3.14.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
  constraints-source-providers-3.14.txt
Due: replace-bad-characters

Return raw import-error stacktrace when file has no registered Dag
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/import_error.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_import_error.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

adding a note about datetime
  task-sdk/src/airflow/sdk/execution_time/context.py
  task-sdk/tests/task_sdk/execution_time/test_context.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add YARN RM REST API client methods to SparkSubmitHook
  providers/apache/spark/provider.yaml
  providers/apache/spark/src/airflow/providers/apache/spark/get_provider_info.py
  providers/apache/spark/src/airflow/providers/apache/spark/hooks/spark_submit.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging

google-cloud-aiplatform-1.153.1 need fix for updating the litellm version >= 1.83.7
  providers/google/docs/index.rst
  providers/google/pyproject.toml
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Fix scheduler dag-version refresh deadlock with PK-ordered locking
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

comments from gpk
  providers/apache/spark/src/airflow/providers/apache/spark/operators/spark_submit.py
  providers/apache/spark/tests/unit/apache/spark/operators/test_spark_submit.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Share one poll loop across sibling event triggers (#66584)
  airflow-core/docs/authoring-and-scheduling/event-scheduling.rst
  airflow-core/newsfragments/66584.feature.rst
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/example_dags/example_asset_with_watchers.py
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/src/airflow/triggers/base.py
  airflow-core/src/airflow/triggers/shared_stream.py
  airflow-core/tests/unit/jobs/test_triggerer_job.py
  airflow-core/tests/unit/triggers/test_base_trigger.py
  airflow-core/tests/unit/triggers/test_shared_stream.py
  providers/standard/src/airflow/providers/standard/triggers/file.py
  providers/standard/tests/unit/standard/triggers/test_file.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Docs: refresh JWT and security model for v3.2 with mermaid diagrams (#67435)
  airflow-core/docs/security/jwt_token_authentication.rst
  airflow-core/docs/security/security_model.rst
  devel-common/pyproject.toml
  devel-common/src/docs/utils/conf_constants.py
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, mypy-devel-common

PR triage: drop failing job names from violations bullets (#67322)
  .apache-steward-overrides/pr-management-triage-comment-templates.md
Due: replace-bad-characters, lint-markdown

Updating constraints. GitHub run id:26396320094
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.13.txt
  constraints-3.14.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.13.txt
  constraints-no-providers-3.14.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.13.txt
  constraints-source-providers-3.14.txt
Due: replace-bad-characters

Fix broken tests due to pymysql 1.2.0 incompat with aiomysql
  providers/mysql/docs/index.rst
  providers/mysql/pyproject.toml
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, update-pyproject-toml

Add author-primary review-nudge/reviewer-ping triage templates (#67428)
  .apache-steward-overrides/pr-management-triage-comment-templates.md
Due: replace-bad-characters, lint-markdown

Add validation for non-serializable retry_args
  providers/databricks/src/airflow/providers/databricks/operators/databricks.py
  providers/databricks/src/airflow/providers/databricks/sensors/databricks.py
  providers/databricks/tests/unit/databricks/operators/test_databricks.py
  providers/databricks/tests/unit/databricks/sensors/test_databricks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Refactor validation to utility module and enhance tests
  providers/databricks/src/airflow/providers/databricks/operators/databricks.py
  providers/databricks/src/airflow/providers/databricks/sensors/databricks.py
  providers/databricks/src/airflow/providers/databricks/triggers/databricks.py
  providers/databricks/src/airflow/providers/databricks/utils/retry.py
  providers/databricks/tests/unit/databricks/sensors/test_databricks.py
  providers/databricks/tests/unit/databricks/triggers/test_databricks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add parameterized validation tests for Tenacity shapes
  providers/databricks/tests/unit/databricks/operators/test_databricks.py
  providers/databricks/tests/unit/databricks/sensors/test_databricks.py
  providers/databricks/tests/unit/databricks/triggers/test_databricks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Refactor retry argument tests and reduce duplication
  providers/databricks/tests/unit/databricks/_retry_test_utils.py
  providers/databricks/tests/unit/databricks/operators/test_databricks.py
  providers/databricks/tests/unit/databricks/sensors/test_databricks.py
  providers/databricks/tests/unit/databricks/triggers/test_databricks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Refactor retry.py to use stdlib JSON serialization
  providers/databricks/src/airflow/providers/databricks/utils/retry.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Update retry logic and Databricks tests
  providers/databricks/src/airflow/providers/databricks/triggers/databricks.py
  providers/databricks/src/airflow/providers/databricks/utils/retry.py
  providers/databricks/tests/unit/databricks/_retry_test_utils.py
  providers/databricks/tests/unit/databricks/operators/test_databricks.py
  providers/databricks/tests/unit/databricks/sensors/test_databricks.py
  providers/databricks/tests/unit/databricks/triggers/test_databricks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Tighten API and update retry tests
  providers/databricks/src/airflow/providers/databricks/utils/retry.py
  providers/databricks/tests/unit/databricks/_retry_test_utils.py
  providers/databricks/tests/unit/databricks/operators/test_databricks.py
  providers/databricks/tests/unit/databricks/sensors/test_databricks.py
  providers/databricks/tests/unit/databricks/triggers/test_databricks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add unit test for validate_deferrable_databricks_retry_args
  providers/databricks/tests/unit/databricks/utils/test_retry.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add IBM Db2 provider with Hook and Operator
  .github/boring-cyborg.yml
  providers/db2/.gitignore
  providers/db2/LICENSE
  providers/db2/NOTICE
  providers/db2/README.rst
  providers/db2/docs/commits.rst
  providers/db2/example_dags/README.md
  providers/db2/example_dags/db2_example_dag.py
  providers/db2/provider.yaml
  providers/db2/pyproject.toml
  providers/db2/src/airflow/__init__.py
  providers/db2/tests/unit/__init__.py
  providers/db2/tests/unit/db2/__init__.py
  providers/db2/tests/unit/db2/hooks/__init__.py
  providers/db2/tests/unit/db2/hooks/test_db2.py
  providers/db2/tests/unit/db2/operators/test_db2.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
  uv.lock
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, update-pyproject-toml, lint-markdown, lint-json-schema, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

CI: fix milestone-tag-assistant race when labels change post-merge (#67337)
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/tests/test_set_milestone.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

UI: Load Monaco workers via a same-origin Blob shim (#67352)
  airflow-core/src/airflow/ui/src/components/MonacoEditor/configureMonaco.ts
Due: replace-bad-characters

[v3-2-test] CI: fix milestone-tag-assistant race when labels change post-merge (#67337)
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/tests/test_set_milestone.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, mypy-dev, check-contextmanager-class-decorators

[v3-2-test] UI: Load Monaco workers via a same-origin Blob shim (#67352)
  airflow-core/src/airflow/ui/src/components/MonacoEditor/configureMonaco.ts
Due: replace-bad-characters
