Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: replace-bad-characters, lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-provider-compatibility, update-local-yml-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, update-breeze-cmd-output, check-system-tests-tocs, check-lazy-logging, create-missing-init-py-files-tests, ts-compile-and-lint-javascript, run-mypy, run-flake8, update-migration-references, update-er-diagram

Path conditions:
  replace-bad-characters: any file but: ^airflow/_vendor/|^clients/gen/go\.sh$|^\.gitmodules$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-provider-compatibility: any of: ^airflow/providers/.*\.py$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$|^tests/system/providers/.*\.py$|^airflow/providers/.*/provider.yaml$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/|^docs/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator\.py$
  check-init-decorator-arguments: any of: ^airflow/models/dag\.py$|^airflow/(?:decorators|utils)/task_group.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-decorated-operator-implements-custom-name: any of: ^airflow/.*\.py$
  check-core-deprecation-classes: any of: \.py$, but not: ^airflow/configuration.py|^airflow/providers|^scripts/in_container/verify_providers.py
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^.*\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/cloud/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^\.github/workflows/sync_authors\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  update-breeze-cmd-output: any of: ^BREEZE\.rst$|^dev/breeze/.*$|^\.pre-commit-config\.yaml$
  check-system-tests-tocs: any of: ^docs/apache-airflow-providers-[^/]*/index\.rst$
  check-lazy-logging: any of: \.py$, but not: ^airflow/_vendor/
  create-missing-init-py-files-tests: any of: ^tests/.*\.py$
  ts-compile-and-lint-javascript: any of: ^airflow/www/static/js/|^airflow/api_connexion/openapi/v1.yaml and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$, \.(yaml|yml)$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev|^tests/system/providers|^tests/providers)) or (any of: ^airflow/providers/.*\.py$|^tests/system/providers/\*.py|^tests/providers/\*.py)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$
  update-er-diagram: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

fixed et.c type to etc. (#29163)
  docs/apache-airflow/best-practices.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Remove misleading docstring on dagrun_timeout
  airflow/models/dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

fix change to action_logging decorator
  airflow/api_connexion/endpoints/dag_run_endpoint.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Fix TypeError when printing a proxy
  airflow/cli/cli_parser.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

fix recent params
  airflow/www/templates/airflow/trigger.html
Due: replace-bad-characters, check-safe-filter-usage-in-html, check-for-inclusive-language

Leave hidden system test section
  docs/apache-airflow-providers-amazon/index.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid, check-system-tests-tocs

Use cls.logger()
  airflow/models/dag.py
  airflow/models/taskinstance.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Added Snowflake provider to the Docker image
  Dockerfile
Due: replace-bad-characters, lint-dockerfile, check-extras-order, check-for-inclusive-language, update-inlined-dockerfile-scripts

Migrate DagFileProcessorManager._deactivate_stale_dags to Internal API (#28476)
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/dag_processing/manager.py
  tests/api_internal/endpoints/test_rpc_api_endpoint.py
  tests/api_internal/test_internal_api_call.py
  tests/dag_processing/test_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add deferrable mode to MLEngineStartTrainingJobOperator (#27405)
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/cloud/triggers/mlengine.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/mlengine.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_mlengine.py
  tests/providers/google/cloud/operators/test_mlengine.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
  tests/providers/google/cloud/triggers/test_mlengine.py
  tests/system/providers/google/cloud/ml_engine/example_mlengine_async.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add release flag to Breeze generate-issue-content (#28952)
  .github/workflows/ci.yml
  BREEZE.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_generate-issue-content.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, lint-markdown, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

use ecr hook to get credentials
  tests/system/providers/amazon/aws/example_sagemaker.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

make error message less confusing
  tests/system/providers/amazon/aws/example_sagemaker.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

Use `pod_name` when patching done KE pods (#29159)
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add deferrable mode to DataprocCreateClusterOperator and DataprocUpdateClusterOperator (#28529)
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/triggers/test_dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_deferrable.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Set progress to auto (#29157)
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Due: replace-bad-characters, update-local-yml-file, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

Unquarantine receive SIGTERM on Task Runner test (second attempt) (#29087)
  tests/jobs/test_local_task_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

Add AWS system test dashboard in Amazon provider package landing page and README (#29170)
  docs/apache-airflow-providers-amazon/index.rst
  tests/system/providers/amazon/README.md
Due: replace-bad-characters, update-version, check-for-inclusive-language, check-provider-yaml-valid, lint-markdown, check-system-tests-tocs

delete unecessary arg
  airflow/www/views.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

add a bit more typing
  airflow/providers/amazon/aws/sensors/eks.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Sagemaker sys test: pull amazonlinux image from amazon instead of docker hub (#29165)
  tests/system/providers/amazon/aws/example_sagemaker.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

restore conf and deprecate it
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_run_schema.py
  airflow/www/static/js/types/api-generated.ts
Due: replace-bad-characters, lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, ts-compile-and-lint-javascript, run-mypy, run-flake8

add a new check for provided params
  airflow/models/dag.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-init-decorator-arguments, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

add params to CLI and internal API and deprecate conf
  airflow/api/client/api_client.py
  airflow/api/client/json_client.py
  airflow/api/client/local_client.py
  airflow/api/common/trigger_dag.py
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8

Updating constraints. Build id:
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: replace-bad-characters, check-for-inclusive-language

added snowflake to the build-arg-ref.rst
  docs/docker-stack/build-arg-ref.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

modified the changelog.rst
  docs/docker-stack/changelog.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

Fix integration with `codecov`
  .coveragerc
  .github/actions/post_tests/action.yml
  .github/workflows/ci.yml
  .gitmodules
  Dockerfile.ci
  codecov.yml
  scripts/docker/entrypoint_ci.sh
  scripts/in_container/run_ci_tests.sh
Due: replace-bad-characters, lint-dockerfile, check-for-inclusive-language, run-shellcheck, check-persist-credentials-disabled-in-github-workflows, update-inlined-dockerfile-scripts

Add deferrable mode to DataprocCreateBatchOperator.
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/triggers/test_dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_batch_deferrable.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

improve README_RELEASE_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Due: replace-bad-characters, check-for-inclusive-language, lint-markdown

improve README_RELEASE_PROVIDER_PACKAGES.md (#29180)
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Due: replace-bad-characters, check-for-inclusive-language, lint-markdown

feat: add Dataproc preemptibility to ClusterGenerator class
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Due: replace-bad-characters, check-airflow-provider-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-mypy, run-flake8

documentation
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

docs
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Due: replace-bad-characters, update-version, check-provider-yaml-valid

shorten poke intervals on systems tests
  tests/system/providers/amazon/aws/example_athena.py
  tests/system/providers/amazon/aws/example_batch.py
  tests/system/providers/amazon/aws/example_cloudformation.py
  tests/system/providers/amazon/aws/example_dms.py
  tests/system/providers/amazon/aws/example_lambda.py
  tests/system/providers/amazon/aws/example_quicksight.py
  tests/system/providers/amazon/aws/example_sagemaker.py
  tests/system/providers/amazon/aws/example_step_functions.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

set sleep times out of doc
  tests/system/providers/amazon/aws/example_athena.py
  tests/system/providers/amazon/aws/example_dms.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-system-tests-present, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

Also remove mypy cache when stopping breeze
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-breeze-top-dependencies-limited, check-docstring-param-types, update-breeze-cmd-output, check-lazy-logging, run-mypy, run-flake8

fix some tests
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
Due: replace-bad-characters, update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, check-lazy-logging, create-missing-init-py-files-tests, run-flake8

AIP-50 implementation, apply review feedback
  airflow/example_dags/example_params_ui_tutorial.py
  airflow/www/static/js/trigger.js
Due: replace-bad-characters, check-pydevd-left-in-code, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-docstring-param-types, check-lazy-logging, ts-compile-and-lint-javascript, run-mypy, run-flake8

AIP-50 revert part 2 from PR to be separated to future PR
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-decorated-operator-implements-custom-name, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-config-yaml-consistent, lint-json-schema, check-docstring-param-types, check-lazy-logging, run-mypy, run-flake8
