Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, check-setup-order, check-extra-packages-references, check-airflow-2-1-compatibility, update-breeze-file, update-local-yml-file, update-setup-cfg-file, update-providers-dependencies, update-extras, check-extras-order, update-supported-versions, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-providers-in-core-examples, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-start-date-not-used-in-defaults, check-integrations-are-consistent, check-apache-license-rat, check-airflow-config-yaml-consistent, update-in-the-wild-to-be-sorted, update-spelling-wordlist-to-be-sorted, lint-helm-chart, run-shellcheck, lint-css, check-provider-yaml-valid, check-pre-commit-information-consistent, check-airflow-providers-have-extras, update-breeze-readme-config-hash, check-breeze-top-dependencies-limited, check-system-tests-present, lint-markdown, lint-json-schema, update-vendored-in-k8s-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, lint-chart-schema, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-example-dags-urls, run-mypy, run-flake8, lint-javascript, update-migration-references

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  check-setup-order: any of: ^setup\.cfg$|^setup\.py$
  check-extra-packages-references: any of: ^setup\.py$|^docs/apache-airflow/extra-packages-ref\.rst$
  check-airflow-2-1-compatibility: any of: ^airflow/providers/.*\.py$
  update-breeze-file: any of: ^BREEZE\.rst$|^dev/breeze/.*$
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$
  update-setup-cfg-file: any of: ^setup\.cfg$
  update-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup\.py$|^INSTALL$|^CONTRIBUTING\.rst$
  check-extras-order: any of: ^Dockerfile$
  update-supported-versions: any of: ^scripts/ci/pre_commit/pre_commit_supported_versions\.py$|^README\.md$|^docs/apache-airflow/supported-versions\.rst$
  update-version: any of: ^docs
  check-pydevd-left-in-code: any of: \.py$
  check-safe-filter-usage-in-html: any of: \.html$
  check-no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  check-no-relative-imports: any of: \.py$, but not: ^tests/|^airflow/_vendor/
  check-for-inclusive-language: any file but: (?x) ^airflow/www/fab_security/manager.py$| ^airflow/www/static/| ^airflow/providers/| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^tests/system/providers/apache/spark/example_spark_dag.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$| ^airflow/api_connexion/openapi/v1.yaml$| ^tests/cli/commands/test_webserver_command.py$| ^airflow/cli/commands/webserver_command.py$| ^airflow/ui/yarn.lock$| ^airflow/config_templates/default_airflow.cfg$| ^airflow/config_templates/config.yml$| ^docs/*.*$| ^tests/providers/| ^.pre-commit-config\.yaml$| ^.*RELEASE_NOTES\.rst$| ^.*CHANGELOG\.txt$|^.*CHANGELOG\.rst$| git

  check-base-operator-partial-arguments: any of: ^airflow/models/(?:base|mapped)operator.py$
  check-base-operator-usage: (any of: \.py$, but not: (?x) ^airflow/decorators/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/providers/.*\.py$
, but not: ^airflow/_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^airflow/_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^airflow/_vendor/
  check-daysago-import-from-utils: any of: \.py$, but not: ^airflow/_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^airflow/_vendor/
  check-integrations-are-consistent: any of: ^common/_common_values\.sh$|^breeze-complete$
  check-apache-license-rat: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  check-airflow-config-yaml-consistent: any of: config\.yml$|default_airflow\.cfg$|default\.cfg$
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$
  lint-helm-chart: any of: ^chart
  run-shellcheck: any of: ^breeze-legacy$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$, but not: ^dev/breeze/autocomplete/.*$
  lint-css: any of: ^airflow/www/.*\.(css|scss|sass)$
  check-provider-yaml-valid: any of: ^docs/|provider\.yaml$|^scripts/ci/pre_commit/pre_commit_check_provider_yaml_files\.py$
  check-pre-commit-information-consistent: any of: ^\.pre-commit-config\.yaml$|^scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names\.py$
  check-airflow-providers-have-extras: any of: ^setup\.py$|^airflow/providers/.*\.py$
  update-breeze-readme-config-hash: any of: ^dev/breeze/setup.*$|^dev/breeze/pyproject.toml$|^dev/breeze/README.md$
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$
  check-system-tests-present: any of: ^tests/system/.*/example_[^/]*.py$, but not: ^tests/system/providers/google/bigquery/example_bigquery_queries\.py$
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  lint-json-schema: (((((any of: .*\.schema\.json$, but not: ^airflow/_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$)) or (any of: ^chart/values\.schema\.json$|^chart/values_schema\.schema\.json$)) or (any of: ^chart/values\.yaml$|^chart/values\.schema\.json$)) or (any of: ^airflow/config_templates/config\.yml$)
  update-vendored-in-k8s-json-schema: any of: ^chart/values\.schema\.json$
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$
  check-docstring-param-types: any of: \.py$, but not: ^airflow/_vendor/
  lint-chart-schema: any of: ^chart/values\.schema\.json$
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile.ci$|^scripts/docker/.*$
  check-changelog-has-no-duplicates: any of: CHANGELOG\.txt$|CHANGELOG\.rst$
  check-example-dags-urls: any of: ^docs/.*index\.rst$|^docs/.*example-dags\.rst$
  run-mypy: (((any of: ^dev/.*\.py$) or (any of: \.py$, but not: ^provider_packages|^docs|^airflow/_vendor/|^airflow/providers|^airflow/migrations|^dev)) or (any of: ^airflow/providers/.*\.py$)) or (any of: ^docs/.*\.py$, but not: ^docs/rtd-deprecation)
  run-flake8: any of: \.py$, but not: ^airflow/_vendor/
  lint-javascript: (any of: ^airflow/ui/ and \.(js|mjs|cjs)$, \.tsx$, \.(ts|mts|cts)$) or (any of: ^airflow/www/static/js/ and \.(js|mjs|cjs)$)
  update-migration-references: any of: ^airflow/migrations/versions/.*\.py$|^docs/apache-airflow/migrations-ref\.rst$

fix children props
  airflow/www/static/js/App.tsx
  airflow/www/static/js/context/autorefresh.tsx
  airflow/www/static/js/context/containerRef.tsx
  airflow/www/static/js/dag/useSelection.test.tsx
Due: none

Remove old snowflake system tests
  tests/providers/snowflake/operators/test_snowflake_system.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

include logical_date in table
  docs/apache-airflow/templates-ref.rst
Due: update-version, check-provider-yaml-valid

Implement Azure Service Bus (Update and Receive) Subscription Operator
  airflow/providers/microsoft/azure/hooks/asb.py
  airflow/providers/microsoft/azure/operators/asb.py
  docs/apache-airflow-providers-microsoft-azure/operators/asb.rst
  tests/providers/microsoft/azure/hooks/test_asb.py
  tests/providers/microsoft/azure/operators/test_asb.py
  tests/system/providers/microsoft/azure/example_azure_service_bus.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, update-version, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-provider-yaml-valid, check-airflow-providers-have-extras, check-system-tests-present, check-docstring-param-types, run-mypy, run-flake8

Show 'dataset-triggered' as schedule interval for dataset-triggered dags
  airflow/models/dag.py
  airflow/www/templates/airflow/dag.html
Due: check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

handle not defined
  airflow/www/templates/airflow/dag.html
Due: check-safe-filter-usage-in-html, check-for-inclusive-language

handle defined but None
  airflow/www/templates/airflow/dag.html
Due: check-safe-filter-usage-in-html, check-for-inclusive-language

add timetable for datasets
  airflow/models/dag.py
  airflow/timetables/simple.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

dataset ui init
  airflow/www/security.py
  airflow/www/static/js/datasets/index.tsx
  airflow/www/templates/airflow/datasets.html
  airflow/www/templates/appbuilder/navbar_menu.html
  airflow/www/views.py
  airflow/www/webpack.config.js
Due: check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

use summary
  airflow/models/dag.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

revert custom timetable
  airflow/models/dag.py
  airflow/timetables/simple.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

dataset -> Dataset
  airflow/models/dag.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

remove unused variable
  tests/utils/test_db_cleanup.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

added labels to airflow specific pods
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Due: check-for-inclusive-language, lint-helm-chart, lint-json-schema, update-vendored-in-k8s-json-schema, lint-chart-schema

added tests and labels property to flower and createUserJob
  chart/templates/flower/flower-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  tests/charts/test_cleanup_pods.py
  tests/charts/test_create_user_job.py
  tests/charts/test_flower.py
  tests/charts/test_pod_template_file.py
  tests/charts/test_scheduler.py
  tests/charts/test_triggerer.py
  tests/charts/test_webserver.py
  tests/charts/test_worker.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, lint-helm-chart, check-docstring-param-types, run-mypy, run-flake8

Show 'Dataset' as schedule interval for dataset-triggered dags (#25013)
  airflow/models/dag.py
  airflow/www/templates/airflow/dag.html
Due: check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Update airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Add dataset events to dataset api
  airflow/api_connexion/endpoints/dataset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dataset_schema.py
Due: lint-openapi, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

tests!
  tests/api_connexion/endpoints/test_dataset_endpoint.py
  tests/api_connexion/schemas/test_dataset_schema.py
  tests/test_utils/db.py
Due: check-pydevd-left-in-code, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Add project_id as a templated variable in two BQ operators (#24768)
  airflow/providers/google/cloud/operators/bigquery.py
Due: check-airflow-2-1-compatibility, update-providers-dependencies, check-pydevd-left-in-code, check-no-relative-imports, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

fixup! Chart: Default to Airflow 2.3.3
  chart/newsfragments/24947.significant.rst
Due: check-for-inclusive-language, lint-helm-chart

Chart: Default to Airflow 2.3.3
  chart/Chart.yaml
  chart/values.schema.json
  chart/values.yaml
Due: check-for-inclusive-language, lint-helm-chart, lint-json-schema, update-vendored-in-k8s-json-schema, lint-chart-schema

fixup! fixup! Chart: Default to Airflow 2.3.3
  chart/newsfragments/24947.significant.rst
Due: check-for-inclusive-language, lint-helm-chart

List datasets from API
  airflow/www/package.json
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useDatasets.ts
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/datasets/index.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/templates/airflow/dag.html
  airflow/www/yarn.lock
Due: check-safe-filter-usage-in-html, check-for-inclusive-language

remove security change
  airflow/www/security.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Updating constraints. Build id:2666221850
  constraints-3.10.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Due: check-for-inclusive-language

Chart: Default to Airflow 2.3.3 (#24947)
  chart/Chart.yaml
  chart/newsfragments/24947.significant.rst
  chart/values.schema.json
  chart/values.yaml
Due: check-for-inclusive-language, lint-helm-chart, lint-json-schema, update-vendored-in-k8s-json-schema, lint-chart-schema

Update useGridData.ts
  airflow/www/static/js/grid/api/useGridData.ts
Due: none

Update useGridData.test.js
  airflow/www/static/js/grid/api/useGridData.test.js
Due: lint-javascript

Update useGridData.ts
  airflow/www/static/js/api/useGridData.ts
Due: none

Update useGridData.test.js
  airflow/www/static/js/api/useGridData.test.js
Due: lint-javascript

Remove old snowflake system tests (#25026)
  tests/providers/snowflake/operators/test_snowflake_system.py
Due: update-providers-dependencies, check-pydevd-left-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Try removing ub on flask and adding lb on celery
  setup.cfg
  setup.py
Due: check-setup-order, check-extra-packages-references, update-setup-cfg-file, update-extras, check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-airflow-providers-have-extras, check-docstring-param-types, run-mypy, run-flake8

Unify summary/description logic to timetable
  airflow/models/dag.py
  airflow/timetables/simple.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8

Implement expand_kwargs() (#24989)
  airflow/decorators/base.py
  airflow/exceptions.py
  airflow/models/baseoperator.py
  airflow/models/expandinput.py
  airflow/models/mappedoperator.py
  tests/models/test_dagrun.py
  tests/models/test_mappedoperator.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
Due: check-pydevd-left-in-code, check-no-relative-imports, check-for-inclusive-language, check-base-operator-partial-arguments, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-daysago-import-from-utils, check-docstring-param-types, run-mypy, run-flake8
