Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shared-distributions-structure, check-shared-distributions-usage, replace-bad-characters, lint-dockerfile, check-airflow-providers-bug-report-template, update-local-yml-file, check-extras-order, generate-airflow-diagrams, prevent-deprecated-sqlalchemy-usage, update-supported-versions, check-revision-heads-map, update-version, check-pydevd-left-in-code, check-safe-filter-usage-in-html, check-urlparse-usage-in-code, check-template-context-variable-in-sync, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-start-date-not-used-in-defaults, check-apache-license-rat, update-in-the-wild-to-be-sorted, update-installed-providers-to-be-sorted, update-spelling-wordlist-to-be-sorted, shellcheck, check-integrations-list-consistent, update-pyproject-toml, update-reproducible-source-date-epoch, check-breeze-top-dependencies-limited, check-system-tests-present, generate-pypi-readme, lint-markdown, lint-json-schema, check-persist-credentials-disabled-in-github-workflows, check-docstring-param-types, check-zip-file-is-not-committed, update-inlined-dockerfile-scripts, check-changelog-has-no-duplicates, check-changelog-format, update-breeze-cmd-output, check-lazy-logging, bandit, mypy-dev, mypy-devel-common, check-template-fields-valid, generate-tasksdk-datamodels, generate-airflowctl-datamodels, check-contextmanager-class-decorators

Path conditions:
  check-shared-distributions-structure: any of: ^shared/.*$, but not: ^.*/.*_vendor/
  check-shared-distributions-usage: any of: ^shared/.*$|^.*/pyproject.toml$|^.*/_shared/.*$, but not: ^.*/.*_vendor/
  replace-bad-characters: any of: not ((?x) ^clients/gen/go\.sh$| ^\.gitmodules$| ^airflow-core/src/airflow/ui/openapi-gen/| ^providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/| .*/dist/.*| \.go$| /go\.(mod|sum)$
), but not: ^.*/.*_vendor/
  lint-dockerfile: any of: Dockerfile.*$, but not: ^.*/.*_vendor/
  check-airflow-providers-bug-report-template: any of: ^\.github/ISSUE_TEMPLATE/3-airflow_providers_bug_report\.yml$, but not: ^.*/.*_vendor/
  update-local-yml-file: any of: ^dev/breeze/src/airflow_breeze/utils/docker_command_utils\.py$|^scripts/ci/docker_compose/local\.yml$, but not: ^.*/.*_vendor/
  check-extras-order: any of: ^Dockerfile$, but not: ^.*/.*_vendor/
  generate-airflow-diagrams: any of: (?x) ^airflow-core/docs/.*/diagram_[^/]*\.py$| ^docs/images/.*\.py$| ^airflow-ctl/docs/images/diagrams/.*\.py$
, but not: ^.*/.*_vendor/
  prevent-deprecated-sqlalchemy-usage: any of: (?x) ^airflow-ctl.*\.py$| ^airflow-core/src/airflow/models/.*\.py$| ^task_sdk.*\.py$
, but not: ^.*/.*_vendor/
  update-supported-versions: any of: ^airflow-core/docs/installation/supported-versions\.rst$|^scripts/ci/prek/supported_versions\.py$|^README\.md$, but not: ^.*/.*_vendor/
  check-revision-heads-map: any of: (?x) ^scripts/ci/prek/version_heads_map\.py$| ^airflow-core/src/airflow/migrations/versions/.*$| ^airflow-core/src/airflow/migrations/versions| ^airflow-core/src/airflow/utils/db\.py$
, but not: ^.*/.*_vendor/
  update-version: any of: ^docs|^airflow-core/src/airflow/__init__\.py$|.*/pyproject\.toml$, but not: ^.*/.*_vendor/
  check-pydevd-left-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-safe-filter-usage-in-html: any of: \.html$, but not: ^.*/.*_vendor/
  check-urlparse-usage-in-code: any of: \.py$, but not: ^.*/.*_vendor/
  check-template-context-variable-in-sync: any of: (?x) ^airflow-core/src/airflow/models/taskinstance\.py$| ^task-sdk/src/airflow/sdk/definitions/context\.py$| ^airflow-core/docs/templates-ref\.rst$, but not: ^.*/.*_vendor/
  check-base-operator-usage: (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*$
) and not (^.*/.*_vendor/)) or (any of: \.py$ and not ((?x) ^airflow-core/src/airflow/decorators/.*$| ^airflow-core/src/airflow/hooks/.*$| ^airflow-core/src/airflow/operators/.*$| ^providers/.*/src/airflow/providers/.*$| ^providers/.*/src/airflow/providers/standard/sensors/.*$
) and not (^.*/.*_vendor/))
  check-core-deprecation-classes: any of: \.py$ and not (^airflow-core/src/airflow/configuration\.py$|^airflow-core/tests/.*$|^providers/.*/src/airflow/providers/|^scripts/in_container/verify_providers\.py$|^providers/.*/tests/.*$|^devel-common/) and not (^.*/.*_vendor/)
  check-provide-create-sessions-imports: any of: \.py$, but not: ^.*/.*_vendor/
  check-incorrect-use-of-LoggingMixin: any of: \.py$, but not: ^.*/.*_vendor/
  check-start-date-not-used-in-defaults: any of: \.*example_dags.*\.py$, but not: ^.*/.*_vendor/
  check-apache-license-rat: any of: ^LICENSE$, but not: ^.*/.*_vendor/
  update-in-the-wild-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^INTHEWILD\.md$, but not: ^.*/.*_vendor/
  update-installed-providers-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^.*_installed_providers\.txt$, but not: ^.*/.*_vendor/
  update-spelling-wordlist-to-be-sorted: any of: ^\.pre-commit-config\.yaml$|^docs/spelling_wordlist\.txt$, but not: ^.*/.*_vendor/
  shellcheck: any of: \.(bash|sh)$|^hooks/build$|^hooks/push$ and not (^dev/breeze/autocomplete/.*$) and not (^.*/.*_vendor/)
  check-integrations-list-consistent: any of: ^scripts/ci/docker-compose/integration-.*\.yml$|^contributing-docs/testing/integration_tests\.rst$, but not: ^.*/.*_vendor/
  update-pyproject-toml: any of: (?x) ^.*/pyproject\.toml$| ^scripts/ci/prek/update_airflow_pyproject_toml\.py$| ^providers/.*/pyproject\.toml$| ^providers/.*/provider\.yaml$
, but not: ^.*/.*_vendor/
  update-reproducible-source-date-epoch: any of: ^RELEASE_NOTES\.rst$|^chart/RELEASE_NOTES\.rst$, but not: ^.*/.*_vendor/
  check-breeze-top-dependencies-limited: any of: ^dev/breeze/.*$, but not: ^.*/.*_vendor/
  check-system-tests-present: any of: ^.*/tests/system/.*/example_[^/]*\.py$, but not: ^.*/.*_vendor/
  generate-pypi-readme: any of: ^README\.md$, but not: ^.*/.*_vendor/
  lint-markdown: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$ and not (^.*/.*_vendor/)
  lint-json-schema: ((any of: .*\.schema\.json$, but not: ^.*/.*_vendor/) or (any of: ^scripts/ci/kubernetes/nodeport\.yaml$, but not: ^.*/.*_vendor/)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose\.ya?ml$ and not ((?x) ^scripts/ci/docker-compose/grafana/.| ^scripts/ci/docker-compose/gremlin/.| ^scripts/ci/docker-compose/.+-config\.ya?ml$
) and not (^.*/.*_vendor/))
  check-persist-credentials-disabled-in-github-workflows: any of: ^\.github/workflows/.*\.yml$, but not: ^.*/.*_vendor/
  check-docstring-param-types: any of: \.py$, but not: ^.*/.*_vendor/
  check-zip-file-is-not-committed: any of: \.zip$, but not: ^.*/.*_vendor/
  update-inlined-dockerfile-scripts: any of: ^Dockerfile$|^Dockerfile\.ci$|^scripts/docker/.*$, but not: ^.*/.*_vendor/
  check-changelog-has-no-duplicates: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  check-changelog-format: any of: changelog\.(rst|txt)$, but not: ^.*/.*_vendor/
  update-breeze-cmd-output: any of: (?x) ^dev/breeze/.*$| ^\.pre-commit-config\.yaml$| ^scripts/ci/prek/breeze_cmd_line\.py$| ^generated/provider_dependencies\.json$
, but not: ^.*/.*_vendor/
  check-lazy-logging: any of: \.py$, but not: ^.*/.*_vendor/
  bandit: any of: ^airflow-core/src/airflow/.* and \.py$ and not (airflow/example_dags/.*) and not (^.*/.*_vendor/)
  mypy-dev: any of: ^dev/.*\.py$|^scripts/.*\.py$, but not: ^.*/.*_vendor/
  mypy-devel-common: any of: ^devel-common/.*\.py$, but not: ^.*/.*_vendor/
  check-template-fields-valid: any of: ^(providers/.*/)?airflow-core/.*/(sensors|operators)/.*\.py$, but not: ^.*/.*_vendor/
  generate-tasksdk-datamodels: any of: ^airflow-core/src/airflow/api_fastapi/execution_api/.*\.py$, but not: ^.*/.*_vendor/
  generate-airflowctl-datamodels: any of: (?x) ^airflow-core/src/airflow/api_fastapi/core_api/datamodels/.*\.py$| ^airflow-core/src/airflow/api_fastapi/auth/managers/simple/(datamodels|routes|services|openapi)/.*\.py$, but not: ^.*/.*_vendor/
  check-contextmanager-class-decorators: any of: .*test.*\.py$, but not: ^.*/.*_vendor/

Regenerate UI TypeScript client after removing incorrect 404 from GET /pools OpenAPI spec
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Due: none

fix logic
  task-sdk/src/airflow/sdk/execution_time/callback_supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_callback_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fix logic
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fix logic
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_callbacks.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add Execution API endpoints for callback lifecycle and token swap
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/callback.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/__init__.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/callbacks.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/__init__.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/v2026_04_30.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_callbacks.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/src/airflow/sdk/execution_time/callback_supervisor.py
  task-sdk/tests/task_sdk/api/test_client.py
  task-sdk/tests/task_sdk/execution_time/test_callback_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

fix logic
  airflow-core/src/airflow/api_fastapi/execution_api/routes/callbacks.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  task-sdk/tests/task_sdk/execution_time/test_callback_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

fix logic
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/callback.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/__init__.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/v2026_05_11.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_callbacks.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels, check-contextmanager-class-decorators

fix logic
  airflow-core/src/airflow/api_fastapi/execution_api/versions/__init__.py
  airflow-core/src/airflow/api_fastapi/execution_api/versions/v2026_06_01.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels

fix logic
  airflow-core/src/airflow/api_fastapi/execution_api/routes/callbacks.py
  task-sdk/src/airflow/sdk/execution_time/callback_supervisor.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, generate-tasksdk-datamodels

Fix static checks
  providers/common/ai/provider.yaml
  providers/common/ai/src/airflow/providers/common/ai/get_provider_info.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging

UI: prefer active state over queued when colouring collapsed groups
  airflow-core/src/airflow/ui/src/components/Graph/SegmentedStateBar.tsx
  airflow-core/src/airflow/ui/src/components/Graph/TaskNode.tsx
  airflow-core/src/airflow/ui/src/components/TaskInstanceTooltip.test.tsx
  airflow-core/src/airflow/ui/src/components/TaskInstanceTooltip.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Graph/useGraphFilteredNodes.test.ts
  airflow-core/src/airflow/ui/src/layouts/Details/Graph/useGraphFilteredNodes.ts
  airflow-core/src/airflow/ui/src/layouts/Details/Graph/utils/nodeColor.ts
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/GridTI.tsx
  airflow-core/src/airflow/ui/src/pages/GroupTaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/utils/index.ts
  airflow-core/src/airflow/ui/src/utils/stateUtils.test.ts
  airflow-core/src/airflow/ui/src/utils/stateUtils.ts
Due: replace-bad-characters

Reorder backend state_priority to rank active states ahead of pending
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/ui/src/components/Graph/TaskNode.tsx
  airflow-core/src/airflow/ui/src/components/TaskInstanceTooltip.test.tsx
  airflow-core/src/airflow/ui/src/components/TaskInstanceTooltip.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Graph/utils/nodeColor.ts
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/GridTI.tsx
  airflow-core/src/airflow/ui/src/pages/GroupTaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/utils/index.ts
  airflow-core/src/airflow/ui/src/utils/stateUtils.test.ts
  airflow-core/src/airflow/ui/src/utils/stateUtils.ts
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit

refactor: Changed logging level from info to debug for _process_message method and truncate the payload
  providers/ibm/mq/src/airflow/providers/ibm/mq/hooks/mq.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

refactor: Changed timeout of thread.join in IBMMQConsumer from 0 to poll_interval + 1
  providers/ibm/mq/src/airflow/providers/ibm/mq/hooks/mq.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

IBM MQ: Prevent message loss and secure sensitive payload logging
  providers/ibm/mq/src/airflow/providers/ibm/mq/hooks/mq.py
  providers/ibm/mq/tests/unit/ibm/mq/hooks/test_mq.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

[v3-2-test] API: Return 400 instead of 500 from materialize_asset for invalid validation input (#67445) (#67526)
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/assets.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_assets.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

Fix import error stack traces not visible when modal opens
  airflow-core/newsfragments/67456.bugfix.rst
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/DAGImportErrorsModal.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/PluginImportErrorsModal.tsx
Due: replace-bad-characters

Recreate Supervisor Schema with Pydantic mechanism
  scripts/ci/prek/check_supervisor_schemas_versions.py
  scripts/ci/prek/dump_supervisor_schemas.py
  scripts/ci/prek/generate_supervisor_schemas_snapshot.py
  task-sdk/src/airflow/sdk/execution_time/schema/schema.json
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, mypy-dev

Rename newsfragment to match PR number 67597
  airflow-core/newsfragments/67456.bugfix.rst
  airflow-core/newsfragments/67597.bugfix.rst
Due: replace-bad-characters

Address review: use values/keepDirtyValues pattern instead of two useEffects
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Due: replace-bad-characters

Add community escalation process doc with private@ appeal channel (#67557)
  CODE_OF_CONDUCT.md
  COMMUNITY_ESCALATION.md
  README.md
  contributing-docs/02_how_to_communicate.rst
  contributing-docs/05_pull_requests.rst
  contributing-docs/README.rst
Due: replace-bad-characters, update-supported-versions, generate-pypi-readme, lint-markdown

fix CI
  airflow-core/src/airflow/providers_manager.py
  airflow-core/tests/unit/always/test_providers_manager.py
  providers/amazon/src/airflow/providers/amazon/aws/datafusion/object_storage.py
  providers/amazon/src/airflow/providers/amazon/get_provider_info.py
  providers/common/sql/docs/index.rst
  providers/common/sql/docs/operators.rst
  providers/common/sql/pyproject.toml
  providers/common/sql/src/airflow/providers/common/sql/datafusion/object_storage_provider.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_object_storage_provider.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

decouple using ObjectStorageProvider
  airflow-core/src/airflow/provider.yaml.schema.json
  airflow-core/src/airflow/provider_info.schema.json
  airflow-core/src/airflow/providers_manager.py
  airflow-core/tests/unit/always/test_providers_manager.py
  providers/amazon/provider.yaml
  providers/amazon/pyproject.toml
  providers/amazon/src/airflow/providers/amazon/aws/datafusion/__init__.py
  providers/amazon/src/airflow/providers/amazon/aws/datafusion/object_storage.py
  providers/amazon/src/airflow/providers/amazon/get_provider_info.py
  providers/amazon/tests/unit/amazon/aws/datafusion/__init__.py
  providers/amazon/tests/unit/amazon/aws/datafusion/test_object_storage.py
  providers/common/sql/docs/index.rst
  providers/common/sql/docs/operators.rst
  providers/common/sql/pyproject.toml
  providers/common/sql/src/airflow/providers/common/sql/datafusion/engine.py
  providers/common/sql/src/airflow/providers/common/sql/datafusion/object_storage_provider.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_engine.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_object_storage_provider.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, lint-json-schema, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

use common compat for import_string
  providers/common/sql/src/airflow/providers/common/sql/datafusion/object_storage_provider.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_object_storage_provider.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Add integration test for object_storage_providers auto-registration
  airflow-core/tests/unit/always/test_providers_manager.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

fix static checks
  providers/common/sql/src/airflow/providers/common/sql/datafusion/object_storage_provider.py
  providers/common/sql/tests/unit/common/sql/datafusion/test_object_storage_provider.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Address @dabla review: dynamic class name, add transfer() to hooks, use SFTPHookAsync in trigger
  providers/sftp/src/airflow/providers/sftp/hooks/sftp.py
  providers/sftp/src/airflow/providers/sftp/triggers/sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix ruff linting issues — sort imports and remove duplicate imports
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
  providers/sftp/tests/unit/sftp/operators/test_sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Fix CI failures: add test_constants.py, fix conf import, update exception allowlist
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
  providers/sftp/tests/unit/sftp/operators/test_sftp.py
  providers/sftp/tests/unit/sftp/test_constants.py
  scripts/ci/prek/known_airflow_exceptions.txt
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Apply ruff formatting fixes to sftp.py
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Add deferrable mode to SFTPOperator
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
  providers/sftp/src/airflow/providers/sftp/triggers/sftp.py
  providers/sftp/tests/unit/sftp/operators/test_sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Address @dabla review: move transfer logic to hook, use SFTPHookAsync in trigger
  providers/sftp/src/airflow/providers/sftp/constants.py
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix SFTPHookAsync.transfer: replace asyncio with asgiref sync_to_async
  providers/sftp/src/airflow/providers/sftp/hooks/sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

Fix test_constants.py: correct import path for SFTPOperation
  providers/sftp/tests/unit/sftp/test_constants.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Rename SFTPOperatorTrigger to SFTPTrigger, use asgiref sync_to_async in hook
  providers/sftp/pyproject.toml
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
  providers/sftp/src/airflow/providers/sftp/triggers/sftp.py
  providers/sftp/tests/unit/sftp/operators/test_sftp.py
Due: check-shared-distributions-usage, replace-bad-characters, update-version, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, update-pyproject-toml, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

Simplify operator execute() to use hook.transfer(), clean up docstrings
  providers/sftp/src/airflow/providers/sftp/hooks/sftp.py
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging

test(imap): add tests for overwrite_file logic in download_mail_attachments
  providers/imap/tests/unit/imap/hooks/test_imap.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

refactor: Allow passing open_options to produce methods
  providers/ibm/mq/src/airflow/providers/ibm/mq/hooks/mq.py
  providers/ibm/mq/tests/unit/ibm/mq/hooks/test_mq.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, check-contextmanager-class-decorators

feat(cli): add `partitions clear` to reset DagRun partition fields
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/cli/commands/partition_command.py
  airflow-core/tests/unit/cli/commands/test_partition_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators

fixup! feat(cli): add --clear-task-instances flag to partitions clear
  airflow-core/src/airflow/cli/commands/partition_command.py
  airflow-core/tests/unit/cli/commands/test_partition_command.py
Due: replace-bad-characters, check-pydevd-left-in-code, check-urlparse-usage-in-code, check-base-operator-usage, check-core-deprecation-classes, check-provide-create-sessions-imports, check-incorrect-use-of-LoggingMixin, check-docstring-param-types, check-lazy-logging, bandit, check-contextmanager-class-decorators
