Repository apache/airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, flynt, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true
  require_serial: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Address PR feedback
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/ClearRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkFailedRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkSuccessRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/QueueRun.jsx
  airflow/www/static/js/tree/details/content/taskInstance/ExtraLinks.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Run.jsx
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add timezone provider
  airflow/www/static/js/main.js
  airflow/www/static/js/tree/InstanceTooltip.jsx
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/Time.jsx
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/dagRuns/index.test.jsx
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/ConfirmDialog.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/index.jsx
  airflow/www/static/js/tree/providers/containerRef.jsx
  airflow/www/static/js/tree/providers/timezone.jsx
Due: language-matters

revert useTreeData changes
  airflow/www/static/js/tree/useTreeData.js
Due: language-matters

Code cleanup and fix task clear
  airflow/www/forms.py
  airflow/www/static/js/tree/api/useClearRun.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useMarkFailedRun.js
  airflow/www/static/js/tree/api/useMarkFailedTask.js
  airflow/www/static/js/tree/api/useMarkSuccessRun.js
  airflow/www/static/js/tree/api/useMarkSuccessTask.js
  airflow/www/static/js/tree/api/useQueueRun.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/details/content/ConfirmDialog.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/ClearRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkFailedRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/MarkSuccessRun.jsx
  airflow/www/static/js/tree/details/content/dagRun/QueueRun.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkSuccess.jsx
  airflow/www/static/js/tree/index.jsx
  airflow/www/static/js/tree/providers/containerRef.jsx
  airflow/www/static/js/tree/providers/selection.jsx
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

auto-refresh task instance details
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/details/index.jsx
Due: language-matters

autorefresh dag run details
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/index.jsx
Due: language-matters

Fix task/run label, dialog focus, dag details overflow, panel open/close
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/dagRuns/index.jsx
  airflow/www/static/js/tree/details/content/ConfirmDialog.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
Due: language-matters

Fix TimezoneEvent import
  airflow/www/static/js/datetime_utils.js
  airflow/www/static/js/main.js
  airflow/www/static/js/tree/providers/timezone.jsx
Due: language-matters

Improve button UX
  airflow/www/static/js/tree/ResetRoot.jsx
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
Due: language-matters

Fix dialog scrolling
  airflow/www/static/js/tree/details/content/ConfirmDialog.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
Due: language-matters

Clean up views.py endpoints
  airflow/www/static/js/tree/api/index.js
  airflow/www/static/js/tree/api/useClearRun.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useConfirmClearTask.js
  airflow/www/static/js/tree/api/useConfirmMarkTask.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Clear.jsx
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Anticipate when the 'Accept' header is not present
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix argument count errors
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Handle task/run action sideeffects by separating autorefresh and treeData hooks
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/api/index.js
  airflow/www/static/js/tree/api/useClearRun.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useMarkFailedRun.js
  airflow/www/static/js/tree/api/useMarkFailedTask.js
  airflow/www/static/js/tree/api/useMarkSuccessRun.js
  airflow/www/static/js/tree/api/useMarkSuccessTask.js
  airflow/www/static/js/tree/api/useQueueRun.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/api/useTreeData.js
  airflow/www/static/js/tree/api/useTreeData.test.jsx
  airflow/www/static/js/tree/dagRuns/index.jsx
  airflow/www/static/js/tree/dagRuns/index.test.jsx
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/Run.jsx
  airflow/www/static/js/tree/details/index.jsx
  airflow/www/static/js/tree/index.jsx
  airflow/www/static/js/tree/providers/autorefresh.jsx
  airflow/www/static/js/tree/treeDataUtils.js
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

pass request as arg
  airflow/www/static/js/tree/api/index.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useConfirmMarkTask.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

remove request as arg
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Split TaskInstance details component
  airflow/www/static/js/tree/details/content/taskInstance/Details.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Nav.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
Due: language-matters

Replace hard coded urls in react components
  airflow/www/static/js/tree/ResetRoot.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/templates/airflow/calendar.html
  airflow/www/templates/airflow/dag.html
Due: dont-use-safe-filter, language-matters

Update filter upstream link
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
Due: language-matters

Fix undefined variables in tests
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Fix url params, hide last item breadcrumb links
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Nav.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/utils.js
  airflow/www/templates/airflow/dag.html
Due: dont-use-safe-filter, language-matters

Replace hard coded urls
  airflow/www/static/js/tree/api/useClearRun.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useConfirmMarkTask.js
  airflow/www/static/js/tree/api/useDag.js
  airflow/www/static/js/tree/api/useMarkFailedRun.js
  airflow/www/static/js/tree/api/useMarkFailedTask.js
  airflow/www/static/js/tree/api/useMarkSuccessRun.js
  airflow/www/static/js/tree/api/useMarkSuccessTask.js
  airflow/www/static/js/tree/api/useQueueRun.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/api/useTasks.js
  airflow/www/static/js/tree/api/useTreeData.js
  airflow/www/templates/airflow/dag.html
Due: dont-use-safe-filter, language-matters

Update task run failed copy
  airflow/www/static/js/tree/details/content/dagRun/MarkFailedRun.jsx
Due: language-matters

init_api_connexion in tests
  airflow/www/static/js/tree/README.md
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/Time.jsx
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/api/useClearRun.js
  airflow/www/static/js/tree/api/useClearTask.js
  airflow/www/static/js/tree/api/useMarkFailedRun.js
  airflow/www/static/js/tree/api/useMarkFailedTask.js
  airflow/www/static/js/tree/api/useMarkSuccessRun.js
  airflow/www/static/js/tree/api/useMarkSuccessTask.js
  airflow/www/static/js/tree/api/useQueueRun.js
  airflow/www/static/js/tree/api/useRunTask.js
  airflow/www/static/js/tree/api/useTreeData.js
  airflow/www/static/js/tree/api/useTreeData.test.jsx
  airflow/www/static/js/tree/context/autorefresh.jsx
  airflow/www/static/js/tree/context/containerRef.jsx
  airflow/www/static/js/tree/context/selection.jsx
  airflow/www/static/js/tree/context/timezone.jsx
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/dagRuns/index.test.jsx
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/ConfirmDialog.jsx
  airflow/www/static/js/tree/details/index.jsx
  airflow/www/static/js/tree/index.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
  airflow/www/static/js/tree/renderTaskRows.test.jsx
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
  tests/www/views/test_views_log.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, markdownlint, flynt, mypy, pylint, flake8

Fix taskinstance/list buttons
  airflow/www/static/js/dag.js
  airflow/www/static/js/tree/details/content/taskInstance/Nav.jsx
  airflow/www/templates/airflow/dag.html
Due: dont-use-safe-filter, language-matters

Add doc and sample dag for SqlToS3Operator (#22603)
  airflow/providers/amazon/aws/example_dags/example_sql_to_s3.py
  airflow/providers/amazon/aws/transfers/sql_to_s3.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/transfer/sql_to_s3.rst
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, flynt, mypy, pylint, flake8

Remove dag parsing from db init command (#22531)
  airflow/utils/db.py
  tests/conftest.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Add waiting for ARM instance docker connection
  scripts/ci/images/ci_start_arm_instance_and_connect_to_docker.sh
  scripts/ci/images/ci_stop_arm_instance.sh
Due: language-matters, shellcheck, bats-tests

Fix StatsD casing and helm chart StatsD comments
  CHANGELOG.txt
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/stats.py
  chart/templates/_helpers.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/logging-monitoring/metrics.rst
  docs/spelling_wordlist.txt
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, helm-lint, provider-yamls, json-schema, flynt, mypy, pylint, flake8

Fix test
  tests/core/test_stats.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Standardize the `pre-commit` config
  .pre-commit-config.yaml
Due: language-matters, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names

conflict resolved
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/ci/build_image.py
  dev/breeze/src/airflow_breeze/ci/build_params.py
  dev/breeze/src/airflow_breeze/prod/prod_params.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, flake8

update tests to match fix helm nameOverride
  airflow/kubernetes_executor_templates/basic_template.yaml
  chart/templates/_helpers.yaml
  chart/templates/secrets/result-backend-connection-secret.yaml
  chart/templates/webserver/webserver-ingress.yaml
  docs/helm-chart/production-guide.rst
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_extra_configmaps_secrets.py
  tests/charts/test_extra_env_env_from.py
  tests/charts/test_flower.py
  tests/charts/test_keda.py
  tests/charts/test_pgbouncer.py
  tests/charts/test_pod_template_file.py
  tests/charts/test_rbac.py
  tests/charts/test_rbac_pod_log_reader.py
  tests/charts/test_redis.py
  tests/charts/test_scc_rolebinding.py
  tests/charts/test_scheduler.py
  tests/charts/test_statsd.py
  tests/charts/test_triggerer.py
  tests/charts/test_webserver.py
  tests/charts/test_worker.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, provider-yamls, flynt, mypy, pylint, flake8

Add waiting for ARM instance docker connection (#22672)
  scripts/ci/images/ci_start_arm_instance_and_connect_to_docker.sh
  scripts/ci/images/ci_stop_arm_instance.sh
Due: language-matters, shellcheck, bats-tests

Reset warnings.showwarning on interpreter shutdown
  airflow/settings.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Rename DagProcessor _signal_conn field to _direct_scheduler_conn
  airflow/dag_processing/manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update airflow/jobs/scheduler_job.py
  airflow/jobs/scheduler_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Update airflow/dag_processing/manager.py
  airflow/dag_processing/manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

fixes for scheduler_job.py
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flynt, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^docs/apache-airflow-providers-apache-hive/commits.rst$|git| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: .*\.schema\.json$) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: ^scripts/ci/docker-compose/.+\.ya?ml$|docker-compose.ya?ml$)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  flynt: any of: \.py$
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: ((any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart|^tests|^kubernetes_tests) or (any of: ^tests/.*\.py$)) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
